Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

Adjust tolerances of VTK test
  testsuite/python/CMakeLists.txt
  testsuite/python/lattice_vtk.py
Due: autopep8, cmake-format, pylint

Mix single/double precision with CPU/GPU
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

Add 5.0.1 release notes
  AUTHORS
  CHANGELOG.md
  CMakeLists.txt
  Readme.md
  doc/sphinx/introduction.rst
  doc/tutorials/Readme.md
Due: cmake-format

Remove unicode
  testsuite/python/interactions_dihedral.py
Due: autopep8, pylint

refine test configurations
  maintainer/benchmarks/benchmark_utils.py
  maintainer/benchmarks/espresso_benchmarks.py
  maintainer/benchmarks/reframe_config.py
Due: autopep8, pylint

Implemented virial contiribution for rigid bond
  src/core/Particle.hpp
  src/core/ghosts.cpp
  src/core/integrate.cpp
  src/core/integrators/Propagation.hpp
  src/core/pressure.cpp
  src/core/rattle.cpp
  src/core/unit_tests/Particle_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_exceptions.py
  testsuite/python/rigid_bond_virial.py
Due: clang-format, autopep8, cmake-format, pylint

Fixed style
  src/core/integrators/Propagation.hpp
  src/core/pressure.cpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/rigid_bond_virial.py
Due: clang-format, autopep8, pylint

Reshape test script
  testsuite/python/CMakeLists.txt
  testsuite/python/rigid_bond_virial.py
  testsuite/python/rigid_bond_virial_stats.py
Due: autopep8, cmake-format, pylint

Fixed style
  testsuite/python/rigid_bond_virial.py
  testsuite/python/rigid_bond_virial_stats.py
Due: autopep8, pylint

Refactor and document
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/p3m/common.hpp
  src/python/espressomd/electrostatics.py
Due: clang-format, autopep8, pylint

first version of Exscalicos interface
  CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/scafacos/include/scafacos/Coulomb.hpp
  src/scafacos/include/scafacos/Scafacos.hpp
  src/scafacos/src/Coulomb.cpp
  src/scafacos/src/Scafacos.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_cloud_wall.py
Due: clang-format, autopep8, cmake-format, pylint

added additional tests
  testsuite/python/coulomb_cloud_wall_hp.py
  testsuite/python/coulomb_dna_water.py
  testsuite/python/coulomb_silica_melt.py
  testsuite/python/data/coulomb_cloud_wall_system_hp.data
  testsuite/python/data/coulomb_dna_water_15543.data
  testsuite/python/data/coulomb_silica_melt_12960.data
Due: autopep8, pylint

formatting corrected
  CMakeLists.txt
  src/scafacos/CMakeLists.txt
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_cloud_wall_hp.py
  testsuite/python/coulomb_dna_water.py
  testsuite/python/coulomb_silica_melt.py
Due: autopep8, cmake-format, pylint

Improve compiler support
  CMakeLists.txt
  libs/Random123-1.09/include/Random123/features/nvccfeatures.h
  src/core/CMakeLists.txt
  src/core/MpiCallbacks.hpp
  src/core/aosoa_pack.hpp
  src/core/cuda/utils.cuh
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/core/random.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/field_layout_helpers_test.cpp
  src/script_interface/CMakeLists.txt
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/tests/CMakeLists.txt
  src/utils/include/utils/device_qualifier.hpp
  src/utils/include/utils/uniform.hpp
  src/walberla_bridge/CMakeLists.txt
Due: clang-format, cmake-format

Fix CMake integration
  CMakeLists.txt
  cmake/exscalicos.patch
  src/scafacos/CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: cmake-format

Fixed bug
  src/core/Particle.hpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/pressure.cpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  src/core/unit_tests/Particle_test.cpp
  testsuite/python/rigid_bond_virial.py
Due: clang-format, autopep8, pylint

Restored unnecessary modification
  src/core/ghosts.cpp
  src/core/unit_tests/Particle_test.cpp
Due: clang-format

Built new custom gaussian potential which is anisotropic
  doc/sphinx/inter_non-bonded.rst
  myconfig.hpp
  src/config/features.def
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/CMakeLists.txt
  src/core/nonbonded_interactions/gaussian_aniso.cpp
  src/core/nonbonded_interactions/gaussian_aniso.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.py
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  test_codes/test_gauss_aniso.py
Due: clang-format, autopep8, cmake-format, pylint

Apply code formatting
  myconfig.hpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/gaussian_aniso.cpp
  src/core/nonbonded_interactions/gaussian_aniso.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.py
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  test_codes/test_gauss_aniso.py
Due: clang-format, autopep8, pylint

Added noise term in dpd pressure calculation Co-authored-by: Jean-Noël Grad <jgrad@icp.uni-stuttgart.de>
  src/core/dpd.cpp
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
Due: clang-format

Expose dpd_noise() from dpd.hpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/pressure_cabana.hpp
Due: clang-format

Fix pressure standard deviation in sample test
  testsuite/samples/test_dpd.py
Due: autopep8, pylint

testsuite: add statistical test for the noise term in DPD stress
  testsuite/python/dpd.py
Due: autopep8, pylint

Fix undefined pointer behaviour during pressure calculation
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
Due: clang-format

Add missing feature guards for DPD
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
Due: clang-format

Add Gay-Berne interaction with tunable radial width
  src/config/features.def
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/CMakeLists.txt
  src/core/nonbonded_interactions/gay_berne_width.cpp
  src/core/nonbonded_interactions/gay_berne_width.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.py
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
Due: clang-format, autopep8, cmake-format, pylint

Add support for C++26
  .github/actions/build_and_check/action.yml
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/script_interface/tests/AutoParameters_test.cpp
  testsuite/python/caliper.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8, cmake-format, pylint

Fix DPD pressure and stress sign
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/pressure_cabana.hpp
  testsuite/python/dpd.py
Due: clang-format, autopep8, pylint

Rename DPD stress observables to pressure and unify sign convention
  doc/sphinx/analysis.rst
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/observables/DPDPressure.hpp
  src/python/espressomd/analyze.py
  src/python/espressomd/observables.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/observables/ParamlessObservable.hpp
  src/script_interface/observables/initialize.cpp
  testsuite/python/dpd.py
Due: clang-format, autopep8, pylint

Fix pressure tensor ordering
  src/core/electrostatics/coulomb_inline.hpp
  src/core/pressure_inline.hpp
  src/core/virtual_sites/relative.cpp
  testsuite/python/pressure.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, pylint

Formatting
  testsuite/python/dpd.py
Due: autopep8, pylint

Adjust comments and feature guards
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/pressure.cpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  testsuite/python/rigid_bond_virial.py
  testsuite/python/rigid_bond_virial_stats.py
Due: clang-format, autopep8, pylint

Minor tweaks
  testsuite/python/dpd.py
Due: autopep8, pylint

plot benchmark results
  maintainer/benchmarks/espresso_benchmarks.py
  maintainer/benchmarks/plot_benchmarks.py
  maintainer/benchmarks/reframe_config.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

Disable Kokkos CUDA for CUDA 12.0
  CMakeLists.txt
  src/core/CMakeLists.txt
Due: cmake-format

Fix CI builds
  maintainer/CI/build_cmake.sh
Due: none

More fixing
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
Due: cmake-format

More fixes
  maintainer/CI/build_cmake.sh
  src/core/p3m/common.hpp
Due: clang-format

Disable SQLite diagnostic
  CMakeLists.txt
Due: cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
