Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

script_interface: Implement LB slice via ranges
  src/python/espressomd/lb.py
  src/script_interface/walberla/LBSlice.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/LatticeWalberla.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/utils/boundary_utils.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

Re-order setters and getters
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format

walberla: Implement new setters
  maintainer/walberla_kernels/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
Due: clang-format, autopep8

script_interface: Fix regression
  src/script_interface/walberla/LBSlice.hpp
Due: clang-format

walberla: Split interface into headers and implementations
  src/python/espressomd/lb.py
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/FluidNode.cpp
  src/script_interface/walberla/FluidNode.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidSlice.cpp
  src/script_interface/walberla/FluidSlice.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/LBSlice.hpp
  src/script_interface/walberla/initialize.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8, cmake-format

walberla: Remove legacy error handling mechanism
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/FluidNode.hpp
  src/script_interface/walberla/FluidSlice.cpp
  src/script_interface/walberla/FluidSlice.hpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/LatticeWalberla.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Refactoring
  maintainer/walberla_kernels/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/ResetForce.hpp
  testsuite/python/lb_boundary.py
Due: clang-format, autopep8

walberla: Fix VTK parser
  doc/sphinx/lb.rst
  src/walberla_bridge/include/walberla_bridge/LatticeModel.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8, cmake-format

DevOps: Migrate some GitLab-CI jobs to GitHub Actions
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
Due: none

DevOps: Display runner information
  .github/workflows/push_pull.yml
Due: none

DevOps: Use multiple CPU cores in GitHub Actions
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

DevOps: Use ccache in GitHub Actions
  .github/workflows/push_pull.yml
Due: none

DevOps: Remove macOS sanitizers job
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

DevOps: Use debian as default job in forks
  .github/workflows/push_pull.yml
Due: none

core: Fix particle folding bug for vs_relative
  src/core/BoxGeometry.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

core: Fix ghost communication
  src/core/Particle.hpp
  src/core/ghosts.cpp
Due: clang-format

core: Check for dangling virtual sites
  src/core/Particle.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/particle_slice.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

walberla: Design a multi-piece VTK parser
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  src/python/espressomd/io/CMakeLists.txt
  src/python/espressomd/io/vtk.py
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: autopep8, cmake-format

tests: Check virtual sites coordinate folding
  testsuite/python/CMakeLists.txt
  testsuite/python/virtual_sites_relative_pbc.py
Due: autopep8, cmake-format

walberla: Introduce units conversion for LB VTK
  src/script_interface/walberla/FluidSlice.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Density.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Pressure.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Velocity.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk_writers.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8

tests: Remove flaky test
  testsuite/python/icc_interface.py
Due: autopep8

core: Rename chain analysis parameters
  src/core/analysis/statistics_chain.cpp
  src/core/analysis/statistics_chain.hpp
Due: clang-format

core: Add sanity checks in chain analysis
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_chains.py
Due: clang-format, autopep8

core: Handle corner cases in chain analysis
  src/core/analysis/statistics_chain.cpp
  testsuite/python/analyze_chains.py
Due: clang-format, autopep8

tests: Decrease sensitivity to rounding errors
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/core/unit_tests/periodic_fold_test.cpp
  src/core/unit_tests/specfunc_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/particle_observables/tests/algorithms.cpp
  src/shapes/unit_tests/Ellipsoid_test.cpp
  src/shapes/unit_tests/Sphere_test.cpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/interpolation_test.cpp
  src/utils/tests/matrix_vector_product.cpp
  src/utils/tests/vec_rotate_test.cpp
  testsuite/python/analyze_chains.py
  testsuite/python/integrator_npt_stats.py
Due: clang-format, autopep8

core: Support fast-math builds
  maintainer/CI/build_cmake.sh
  src/core/electrostatics/icc.cpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/unit_tests/field_coupling_couplings_test.cpp
  src/core/unit_tests/field_coupling_fields_test.cpp
  src/core/unit_tests/field_coupling_force_field_test.cpp
  src/script_interface/CMakeLists.txt
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/icc_interface.py
Due: clang-format, autopep8, cmake-format

tests: Apply code review suggestions
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

Add 4.2.1 release notes
  NEWS
Due: none

Update version number to 4.2.1
  CMakeLists.txt
  doc/sphinx/introduction.rst
Due: cmake-format

python: Update deprecated setuptools functionality
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  testsuite/python/unittest_decorators.py
Due: autopep8

Update version number of latest stable release
  Readme.md
  doc/sphinx/introduction.rst
Due: none

python: Move utility functions to subfolder
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/detail/CMakeLists.txt
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/lb.py
Due: autopep8, cmake-format

walberla: Implement EKSlice
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/lb.py
  src/python/espressomd/script_interface.pyx
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKSpeciesSlice.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/FluidSlice.cpp
  src/script_interface/walberla/LatticeSlice.hpp
  src/script_interface/walberla/LatticeSlice.impl.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_slice.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

script_interface: Factor out code duplication
  src/script_interface/walberla/EKSpeciesSlice.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/FluidSlice.cpp
  src/script_interface/walberla/FluidSlice.hpp
Due: clang-format

doc: Fixup Sphinx
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
Due: autopep8

Rewrite integrators script interface as Python code
  src/core/EspressoSystemStandAlone.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/tuning.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.py
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pyx
  src/script_interface/ObjectHandle.hpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/integrators/CMakeLists.txt
  src/script_interface/integrators/Integrator.cpp
  src/script_interface/integrators/Integrator.hpp
  src/script_interface/integrators/SteepestDescent.cpp
  src/script_interface/integrators/SteepestDescent.hpp
  src/script_interface/integrators/VelocityVerlet.hpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/interactions_bonded.py
  testsuite/python/scafacos_interface.py
  testsuite/python/sigint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

tests: Fix broken SIGINT test
  testsuite/python/CMakeLists.txt
  testsuite/python/sigint.py
  testsuite/python/sigint_child.py
Due: autopep8, cmake-format

walberla: Simplify VTK classes
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Density.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Pressure.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk/Velocity.hpp
Due: clang-format

walberla: Introduce units conversion for EK VTK
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/ek_vtk.py
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8
