Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

updated the vector field visualization to work again with zndraw v0.6
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  src/python/espressomd/zn.py
Due: autopep8, pylint

Fixe clang-sanitizer
  src/core/cell_system/CellStructure.cpp
  src/core/forces.cpp
Due: clang-format

Fixed cuda12-coverage
  src/core/cell_system/CellStructure.cpp
Due: clang-format

Refactor
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  src/python/espressomd/zn.py
Due: autopep8, pylint

Restore original code
  src/python/espressomd/zn.py
Due: autopep8, pylint

Refactoring
  src/core/bonds_kokkos.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fixed style
  src/core/bonds_kokkos.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Move warning and remove duplicated link
  doc/sphinx/installation.rst
Due: none

script_interface: fix for ParticleSlice template resolution error
  src/script_interface/particle_data/ParticleSlice.hpp
Due: clang-format

ase/zndraw: fix broken features
  doc/tutorials/mlip-water/03_MLIP_within_ESPResSo.ipynb
  doc/tutorials/mlip/mlip.ipynb
  samples/lj_liquid_ase.py
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/zn.py
  testsuite/python/CMakeLists.txt
  testsuite/python/ase_interface.py
Due: autopep8, cmake-format, pylint

zndraw: attempt in sane default values for force vectors
  src/python/espressomd/zn.py
Due: autopep8, pylint

Rewrite
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/particle_slice.py
Due: clang-format, autopep8, cmake-format, pylint

ase
  testsuite/python/ase_interface.py
  testsuite/python/particle_slice.py
Due: autopep8, pylint

Fix Sphinx documentation of ASE
  src/python/espressomd/plugins/ase.py
Due: autopep8, pylint

Fixed coverage
  src/core/bonds_kokkos.hpp
Due: clang-format

Fixed style
  src/core/bonds_kokkos.hpp
Due: clang-format

Improve CI/CD workflows
  .codecov.yml
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/ferrofluid.py
  maintainer/benchmarks/lb.py
  maintainer/benchmarks/lj.py
  maintainer/benchmarks/p3m.py
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/icc_electrodes.py
  testsuite/python/random_pairs.py
  testsuite/python/regular_decomposition.py
  testsuite/python/tests_common.py
  testsuite/python/thermostats_anisotropic.py
  testsuite/python/virtual_sites_center_of_mass.py
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8, cmake-format, pylint

path
  .codecov.yml
Due: none

delete_file
  .codecov.yml
  maintainer/CI/build_cmake.sh
Due: none

zndraw: proper startup routine, so we don't just hope that zndraw is ready
  src/python/espressomd/zn.py
Due: autopep8, pylint

max_retries
  src/python/espressomd/zn.py
Due: autopep8, pylint

replace httpx with requests
  src/python/espressomd/zn.py
Due: autopep8, pylint

Fixes
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/lj.py
  maintainer/benchmarks/p3m.py
Due: autopep8, pylint

Improve changelog and user documentation
  CHANGELOG.md
  ChangeLog
  doc/bibliography.bib
  doc/sphinx/integration.rst
  doc/sphinx/introduction.rst
  doc/tutorials/Readme.md
  doc/tutorials/boltzmann_inversion/Readme.md
  doc/tutorials/charged_system/Readme.md
  doc/tutorials/constant_pH/Readme.md
  doc/tutorials/electrodes/Readme.md
  doc/tutorials/error_analysis/Readme.md
  doc/tutorials/ferrofluid/Readme.md
  doc/tutorials/grand_canonical_monte_carlo/Readme.md
  doc/tutorials/langevin_dynamics/Readme.md
  doc/tutorials/lattice_boltzmann/Readme.md
  doc/tutorials/lennard_jones/Readme.md
  doc/tutorials/mlip-water/Readme.md
  doc/tutorials/mlip/Readme.md
  doc/tutorials/polymers/Readme.md
  doc/tutorials/raspberry_electrophoresis/Readme.md
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  doc/tutorials/widom_insertion/Readme.md
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/rattle.cpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/shapes.py
Due: clang-format, autopep8, pylint

Removed particle pointer from pair bond interaction
  src/core/aosoa_pack.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/bonds_kokkos.hpp
  src/core/forces_inline.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fixed style
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/bonds_kokkos.hpp
  src/core/forces_inline.hpp
Due: clang-format

Corrected the function's description for the documentation
  src/core/forces_inline.hpp
Due: clang-format

typo
  doc/sphinx/integration.rst
Due: none

Fixed clang-style
  src/core/bonded_interactions/thermalized_bond.hpp
Due: clang-format

Fixed style
  src/core/bonded_interactions/thermalized_bond.hpp
Due: clang-format

Removed particle pointer from three body bond interaction
  src/core/bonds_kokkos.hpp
  src/core/forces_inline.hpp
Due: clang-format

Fixed style
  src/core/bonds_kokkos.hpp
  src/core/forces_inline.hpp
Due: clang-format

Removed particle pointer form four body bond potential
  src/core/aosoa_pack.hpp
  src/core/bonds_kokkos.hpp
  src/core/forces.cpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fixed style
  src/core/aosoa_pack.hpp
  src/core/bonds_kokkos.hpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/object-in-fluid/oif_local_forces.hpp
Due: clang-format

fix ek friction forces to apply for all species
  maintainer/walberla_kernels/ekin.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision_CUDA.cu
Due: autopep8, pylint

added a testcase for the fluid coupling force
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_fluid_coupling.py
Due: autopep8, cmake-format, pylint

Adjust test tolerances
  testsuite/python/ek_fluid_coupling.py
Due: autopep8, pylint

Run test 100 times with new tolerances
  testsuite/python/ek_fluid_coupling.py
Due: autopep8, pylint
