Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

script_interface: ek: reintroduced shape paramter
  src/script_interface/walberla/EKSpecies.hpp
Due: clang-format

walberla_bridge: getter for lattice
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

core: removed on_ekboundary_change callback
  src/core/event.hpp
Due: clang-format

tests: Add missing feature guards
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_vtk.py
Due: autopep8

walberla: Remove script interface workaround
  src/core/grid_based_algorithms/lb_interface.cpp
  src/python/espressomd/lb.pyx
  src/python/espressomd/script_interface.pyx
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Re-use LatticeWalberla methods
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeWalberla.cpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LatticeWalberla_unit_tests.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

walberla: Encapsulate get_block_and_cell() arguments
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeWalberla.cpp
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

walberla: Encapsulate m_blocks
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Move BlockAndCell to separate file
  src/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeWalberla.cpp
  src/walberla_bridge/LatticeWalberla.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

python: Fix BondedInteractions serialization
  src/python/espressomd/interactions.pyx
  testsuite/python/test_checkpoint.py
Due: autopep8

python: Build BondedInteraction objects directly
  src/python/espressomd/collision_detection.pyx
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/BondedInteractions.hpp
  testsuite/python/interactions_bonded_interface.py
Due: clang-format, autopep8

script_interface: Encapsulate bonded_ia_params_size()
  src/python/espressomd/interactions.pyx
  src/python/espressomd/particle_data.pyx
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/interactions/bonded.hpp
Due: clang-format, autopep8

script_interface: Drop dependency on this_node global
  src/script_interface/Context.hpp
  src/script_interface/ContextManager.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/object_container_mpi_guard.hpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/ObjectList_test.cpp
  src/script_interface/tests/ObjectMap_test.cpp
Due: clang-format

Switch LB to stream collide
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Temporarily disable some tests
  testsuite/python/lb.py
  testsuite/python/lb_shear.py
  testsuite/python/thermostats_common.py
Due: autopep8

CMake: Remove duplicate variable
  CMakeLists.txt
  src/CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/script_interface/CMakeLists.txt
Due: cmake-format

CMake: Enable AVX2 kernels
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
Due: cmake-format

walberla: Manually patch AVX2 single-precision kernels
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
Due: clang-format

doc: Update LB user guide
  doc/sphinx/lb.rst
Due: none

lees_edwards: Progress
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwards.h
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwardsAVX.h
Due: clang-format

lees_edwards: Move communication step
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix earmark code
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Migrate to lbmpy 0.4.2
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  maintainer/walberla_kernels/relaxation_rates.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Remove unused fields
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Remove codegenCfg.json framework
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/CMakeLists.txt
Due: autopep8, cmake-format

walberla: Generate kernels with lbmpy/pystencils 0.4.3
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/generated_kernels/PushPackInfoDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/PushPackInfoDoublePrecision.h
  src/walberla_bridge/generated_kernels/PushPackInfoSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/PushPackInfoSinglePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_double_precision.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_single_precision.h
  testsuite/python/lb_density.py
Due: clang-format, autopep8

walberla: Remove unused imports
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Workaround for a bug in clang-format
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
Due: clang-format, autopep8

lees_edwards: Latest script
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

lees_edwards: Latest script
  maintainer/walberla_kernels/lees_edwards.py
Due: autopep8

Remove LB_BOUNDARIES macro
  doc/sphinx/advanced_methods.rst
  doc/sphinx/installation.rst
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  maintainer/configs/maxset-walberla.hpp
  maintainer/configs/maxset.hpp
  maintainer/configs/no_rotation.hpp
  samples/immersed_boundary/sampleImmersedBoundary.py
  samples/lb_circular_couette.py
  samples/lb_four_roller_mill.py
  samples/lb_profile.py
  samples/object_in_fluid/motivation.py
  samples/visualization_poiseuille.py
  src/config/features.def
  src/config/myconfig-default.hpp
  src/python/espressomd/visualization_opengl.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_vtk.py
  testsuite/python/virtual_sites_tracers_walberla.py
Due: clang-format, autopep8

Move LB utility functions to lb.pyx
  doc/sphinx/lb.rst
  samples/lb_circular_couette.py
  samples/lb_four_roller_mill.py
  src/python/espressomd/lb.pyx
  src/python/espressomd/lbboundaries.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_circular_couette.py
Due: autopep8

Draw lb boundaries as dots in OpenGL visualizer with `LB_draw_boundaries` flag
  src/python/espressomd/visualization_opengl.py
Due: autopep8

Remove LBBoundary and LBBoundaries classes from core, script interface and python interface
  src/core/event.cpp
  src/core/event.hpp
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.cpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
  src/python/espressomd/lbboundaries.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/lbboundaries/CMakeLists.txt
  src/script_interface/lbboundaries/LBBoundaries.hpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/lbboundaries/initialize.cpp
  src/script_interface/lbboundaries/initialize.hpp
Due: clang-format, autopep8, cmake-format

Use new LB boundary interface in testsuite, samples and doc
  doc/sphinx/advanced_methods.rst
  doc/sphinx/lb.rst
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_poiseuille_flow.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  samples/immersed_boundary/sampleImmersedBoundary.py
  samples/lb_profile.py
  samples/object_in_fluid/motivation.py
  samples/visualization_lbboundaries.py
  samples/visualization_poiseuille.py
  src/python/espressomd/lb.pyx
  src/python/espressomd/lbboundaries.py
  testsuite/python/CMakeLists.txt
  testsuite/python/engine_lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_thermo_virtual.py
  testsuite/python/lb_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_tracers_common.py
  testsuite/python/virtual_sites_tracers_gpu.py
Due: autopep8, cmake-format

lees_edwards: Move to Guo SRT and pull scheme for Lees-Edwards
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lees_edwards.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeWalberla.hpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp.orig
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwards.h
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepLeesEdwardsAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
Due: clang-format, autopep8, cmake-format

walberla: Fix RNG issues in single-precision kernels
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
Due: clang-format, autopep8

Make boundary type explicit
  src/python/espressomd/lb.pyx
Due: autopep8

tests: Remove superfluous instructions
  testsuite/python/engine_lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_vtk.py
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

tests: Disable tests while preserving formatting and linting
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_stokes_sphere.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
