Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

ROCm 3.3 support
  cmake/FindCUDACompiler.cmake
  src/core/cuda_init_cuda.cu
Due: clang-format

Migrate to the new GET syntax
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_status.sh
  maintainer/gh_post_style_patch.py
Due: autopep8

Conditionally define SKIP_MPICXX macros
  src/config/config.hpp
Due: clang-format

Fix "duplicate object description" issues
  src/python/espressomd/accumulators.py
  src/python/espressomd/constraints.py
  src/python/espressomd/drude_helpers.py
Due: autopep8

Use Ubuntu 18.04 image in Travis-CI
  .travis.yml
  maintainer/CI/build_docker.sh
Due: none

Fix deprecated syntax
  doc/sphinx/conf.py.in
Due: none

fix HIP Philox
  src/core/curand_wrapper.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
Due: clang-format

shapes: Fixed SpheroCylinder outside condition.
  src/core/shapes/SpheroCylinder.cpp
Due: clang-format

core: dd: Use interal communicator for DD
  src/core/cells.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/utils/include/utils/mpi/cart_comm.hpp
Due: clang-format

core: dd: Use internal geometry variables
  src/core/cells.cpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
Due: clang-format

core: Moved get_mi_{vector,coord} to BoxGeometry
  src/core/BoxGeometry.hpp
  src/core/grid.hpp
Due: clang-format

core: Header cleanup
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
Due: clang-format

utils: Fixed typo
  src/utils/include/utils/mpi/cart_comm.hpp
Due: clang-format

core: event: Fixed fallthrus in on_parameter_change
  src/core/event.cpp
Due: clang-format

core: nsquare: Use internal communicator
  src/core/cells.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Due: clang-format

core: nsqr: Removed geometry global dependence
  src/core/nsquare.cpp
Due: clang-format

Remove sanitizer variables from CI jobs
  .gitlab-ci.yml
Due: none

Remove old UBSAN suppression file
  tools/ubsan-suppressions.txt
Due: none

Refactor sanitizer environment variables
  cmake/unit_test.cmake
  src/python/pypresso.cmakein
Due: none

Use the correct UBSAN suppression file
  cmake/unit_test.cmake
  src/python/pypresso.cmakein
Due: none

Export ASAN variable in pypresso and core tests
  cmake/unit_test.cmake
  src/python/pypresso.cmakein
Due: none

Remove unused specfile
  maintainer/Espresso.spec
Due: none

core: cells: Leave the cells alone!
  src/core/cells.cpp
Due: clang-format

core: nsq: Switch to internall cells
  src/core/nsquare.cpp
Due: clang-format

core: nsq: Put implementation into class
  src/core/nsquare.cpp
Due: clang-format

core: remove obsolete comments
  src/core/accumulators/Correlator.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/shapes/src/Slitpore.cpp
  src/shapes/src/Stomatocyte.cpp
Due: clang-format

core: fix issues found by Clang-Tidy 10
  src/core/actor/DipolarDirectSum_cuda.cu
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/utils/include/utils/uniform.hpp
Due: clang-format

CI: build CUDA code in Travis-CI
  maintainer/CI/build_docker.sh
Due: none

Spell check and grammar check
  cmake/FindSphinx.cmake
  samples/gibbs_ensemble_client.py
  samples/gibbs_ensemble_socket.py
  src/core/CellStructure.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m_interpolation.hpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/ghosts.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/rattle.cpp
  src/core/reaction_ensemble.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/polymer.pyx
  testsuite/python/brownian_dynamics.py
  testsuite/python/lb.py
  testsuite/scripts/tutorials/test_html_runner.py
Due: clang-format, autopep8

docs: improve instructions to build with GPU
  doc/sphinx/installation.rst
Due: none

CI: use new Clang image with llvm-symbolizer
  .gitlab-ci.yml
Due: none

docs: fix issues found by Clang 10 -Wdocumentation
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/ghosts.cpp
  src/utils/include/utils/mpi/cart_comm.hpp
Due: clang-format

CI: gather Travis-CI env variables in one file
  .travis.yml
  maintainer/CI/build_docker.sh
Due: none

core: cells: Split AtomDecomposition implementation from global state mutation.
  src/core/AtomDecomposition.hpp
  src/core/CMakeLists.txt
  src/core/nsquare.cpp
  src/core/nsquare.hpp
Due: clang-format, cmake-format

core: nsq: Docstring, name
  doc/doxygen/bibliography.bib
  src/core/AtomDecomposition.hpp
  src/core/nsquare.cpp
Due: clang-format

core: AtomDecomposition: Hide implementation
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/CMakeLists.txt
Due: clang-format, cmake-format

Formatting
  src/core/CMakeLists.txt
Due: cmake-format

core: narrow and remove includes with IWYU 10
  src/core/RuntimeErrorCollector.cpp
  src/core/accumulators/Correlator.hpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/cluster_analysis/Cluster.hpp
  src/core/cluster_analysis/ClusterStructure.hpp
  src/core/communication.hpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-common.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/grid.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/thermostats_test.cpp
  src/shapes/unit_tests/Ellipsoid_test.cpp
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/shapes/unit_tests/Union_test.cpp
  src/shapes/unit_tests/Wall_test.cpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/NumeratedContainer_test.cpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/interpolation_gradient_test.cpp
  src/utils/tests/mask_test.cpp
  src/utils/tests/quaternion_test.cpp
Due: clang-format

utils: remove unincluded header files
  src/utils/include/utils/print.hpp
  src/utils/include/utils/serialization/flat_map.hpp
  src/utils/include/utils/serialization/flat_set.hpp
Due: clang-format

tests: fix edge case in checkpoint test
  testsuite/python/save_checkpoint.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
