Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Sort out NVHPC OpenMPI issues
  testsuite/python/CMakeLists.txt
  testsuite/python/mpiio_exceptions.py
  testsuite/python/sigint.py
Due: autopep8, cmake-format, pylint

Fix STL ABI mismatch
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
Due: cmake-format

Implemented pressure tensor for magnetic dipolar interaction
  doc/bibliography.bib
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m_heffte.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/magnetostatics/solver.hpp
  src/core/pressure.cpp
  src/core/pressure_cabana.hpp
  src/python/espressomd/analyze.py
  testsuite/python/CMakeLists.txt
  testsuite/python/dp3m_magnetostatics_pressure.py
Due: clang-format, autopep8, cmake-format, pylint

Simplified explanation of tests
  testsuite/python/dp3m_magnetostatics_pressure.py
Due: autopep8, pylint

More ABI bugfixes
  CMakeLists.txt
  src/core/io/writer/h5md_specification.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverNone.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/DynamicUBBSinglePrecision.cpp
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.impl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests_cuda.cu
  src/walberla_bridge/tests/PoissonSolver_test.impl.hpp
  src/walberla_bridge/tests/PoissonSolver_test_cuda.cu
Due: clang-format, cmake-format

Remove staggered FFTs
  src/core/electrostatics/p3m_heffte.impl.hpp
Due: clang-format

Modified a comment
  src/core/magnetostatics/dipoles.cpp
Due: clang-format

Added some tests
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m_heffte.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/p3m/influence_function_dipolar.hpp
  testsuite/python/long_range_actors.py
  testsuite/python/npt_thermostat.py
Due: clang-format, autopep8, pylint

Fixed style
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/p3m/influence_function_dipolar.hpp
Due: clang-format

Fixed error for macos
  testsuite/python/CMakeLists.txt
Due: cmake-format

Fixed race conditions for virial
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dp3m.hpp
Due: clang-format

Implemented pressure tensor with DipolarDirectSum
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/magnetostatics/dipolar_direct_sum.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/long_range_actors.py
  testsuite/python/npt_thermostat.py
Due: clang-format, autopep8, pylint

updated the ek tutorial
  doc/tutorials/Readme.md
  doc/tutorials/electrokinetics/CMakeLists.txt
  doc/tutorials/electrokinetics/Readme.md
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part1_advection_diffusion.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part2_electroosmotic_flow.ipynb
  doc/tutorials/electrokinetics/electrokinetics_part3_reactive_flow.ipynb
  testsuite/tutorials/CMakeLists.txt
  testsuite/tutorials/test_electrokinetics_1.py
  testsuite/tutorials/test_electrokinetics_2.py
  testsuite/tutorials/test_electrokinetics_3.py
Due: autopep8, cmake-format, pylint

Modified comments for tests
  testsuite/python/dp3m_magnetostatics_pressure.py
Due: autopep8, pylint

Fix regressions and improve code coverage
  src/core/lb/particle_coupling.hpp
  src/core/p3m/P3MFFT.hpp
  src/core/particle_node.cpp
  src/core/unit_tests/BoxGeometry_test.cpp
  src/core/unit_tests/p3m_test.cpp
Due: clang-format

implementation outline
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_init.cpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/magnetostatics/solver.hpp
  testsuite/python/dipole_field_tracking.py
Due: clang-format, autopep8, pylint

formatting
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  testsuite/python/dipole_field_tracking.py
Due: clang-format, autopep8, pylint

small tweaks
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dp3m_magnetostatic_pressure.py
  testsuite/python/p3m_electrostatic_pressure.py
Due: clang-format, autopep8, cmake-format, pylint

Add Madelung tests
  testsuite/python/p3m_madelung.py
Due: autopep8, pylint

Document Madelung pressure
  doc/sphinx/appendix.rst
Due: none

Included antisymmetric term
  src/core/forces_cabana.hpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  testsuite/python/dp3m_magnetostatic_pressure.py
Due: clang-format, autopep8, pylint

Fixed bug for cross-term
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  testsuite/python/dp3m_magnetostatic_pressure.py
Due: clang-format, autopep8, pylint

tweaks
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  testsuite/python/dp3m_magnetostatic_pressure.py
Due: clang-format, autopep8, pylint

Reduce communication overhead
  doc/sphinx/running.rst
  src/core/MpiCallbacks.hpp
  src/core/Observable_stat.cpp
  src/core/Observable_stat.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.impl.definitions.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/energy.cpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/error_handling/RuntimeErrorCollector.hpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/kokkos_helpers.hpp
  src/core/magnetostatics/dp3m_heffte.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/observables/EnergyObservable.hpp
  src/core/observables/PressureObservable.hpp
  src/core/observables/PressureTensor.hpp
  src/core/pressure.cpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/RuntimeErrorCollector_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/python/espressomd/code_info.py
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pxd
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/code_info/CodeInfo.cpp
  src/script_interface/code_info/CodeInfo.hpp
Due: clang-format, autopep8, pylint

Reduce overhead of object <-> variant conversions
  src/python/espressomd/script_interface.pyx
Due: autopep8, pylint

Replace legacy C++ method binding with PEP 487
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
Due: autopep8, pylint

Reduce overhead of string conversion
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pyx
  testsuite/python/utils.py
Due: autopep8, pylint

Address code coverage drop
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/analyze_energy.py
  testsuite/python/coulomb_interface.py
Due: clang-format, autopep8, pylint

Address regressions in CI
  doc/sphinx/conf.py.in
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/python/espressomd/accumulators.py
Due: clang-format, autopep8, pylint

pylint
  doc/sphinx/conf.py.in
Due: pylint

Fix compiler error on CUDA 12.4
  src/core/forces_cabana.hpp
Due: clang-format

Bind docstrings to synthetic methods
  doc/sphinx/conf.py.in
  src/python/espressomd/cluster_analysis.py
  src/python/espressomd/interactions.py
  src/python/espressomd/lb.py
  src/python/espressomd/script_interface.pyx
  testsuite/python/script_interface.py
Due: autopep8, pylint

Fix regression in synthetic method
  src/python/espressomd/reaction_methods.py
Due: autopep8, pylint

More performance improvements
  maintainer/CI/build_cmake.sh
  src/core/reaction_methods/ExclusionRadius.cpp
  src/core/reaction_methods/ExclusionRadius.hpp
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/utils.pyx
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/reaction_methods/ExclusionRadius.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/reaction_complex.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8, pylint

Apply code review suggestions
  src/python/espressomd/reaction_methods.py
Due: autopep8, pylint

Fix stale hdf5 EOA bug
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8, pylint

Remove unused source files
  src/core/CMakeLists.txt
  src/core/ExclusionRadius.cpp
  src/core/ExclusionRadius.hpp
  src/core/reaction_methods/CMakeLists.txt
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  src/script_interface/reaction_methods/ExclusionRadius.hpp
Due: clang-format, cmake-format

Restore surface term check
  testsuite/python/dipole_field_tracking.py
Due: autopep8, pylint
