Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

walberla_bridge: DiffusiveFluxKernelWithElectrostatic: corrected external field sign
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernelWithElectrostatic.cpp
Due: clang-format

walberla: Remove template
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format, autopep8

Revert "tests: Disable tests that depend on UBB"
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

Revert "walberla: Disable UBB"
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix UBB and VTK regressions
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: clang-format

walberla: Remove Clang-Tidy warnings that are disabled
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Cleanup
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
Due: clang-format

walberla: Remove two-stage constructor
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Recycle function from lbmpy_walberla
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Generate the macroscopic accessors
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: autopep8

walberla: Remove the old macroscopic accessors generator
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Remove unused or duplicated code
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

CI: The doxygen bug stil exists
  maintainer/CI/dox_warnings.py
Due: autopep8

samples: Don't re-implement the autocorrelation function
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/run_for_several_kT.sh
Due: autopep8

Adds checking for the non-bonded loop
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/random_pairs.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

walberla: Re-enable VTK writers
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8, cmake-format

tests: Check all VTK artifacts
  testsuite/python/lb_vtk.py
Due: autopep8

samples: Add missing feature guards
  samples/immersed_boundary/sampleImmersedBoundary.py
  samples/lb_profile.py
  samples/lbf.py
  samples/object_in_fluid/motivation.py
  samples/visualization_lbboundaries.py
  samples/visualization_poiseuille.py
Due: autopep8

walberla: Separation of concerns
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

walberla: Remove intermediate pointer
  src/walberla_bridge/lb_walberla_init.cpp
Due: clang-format

walberla: Type safety
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

CMake: Fix double patching bug
  CMakeLists.txt
Due: cmake-format

python: Make scipy a soft dependency
  src/python/espressomd/analyze.pyx
Due: autopep8

python: Use f-strings more often
  doc/doxygen/gen_doxyconfig.py
  doc/tutorials/convert.py
  maintainer/CI/dox_warnings.py
  samples/chamber_game.py
  samples/dpd.py
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/run_sim.py
  samples/load_checkpoint.py
  samples/p3m.py
  samples/rigid_body.py
  samples/visualization_constraints.py
  src/python/espressomd/script_interface.pyx
Due: autopep8

walberla: Fix shared_ptr regression
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/lees_edwards.hpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Remove LE swap sweep
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Printing interpolation indexes
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix LE indices
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Printing indexes
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Run LE after streaming
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

lees_edwards: Fix Sphinx issues
  src/python/espressomd/lees_edwards.py
  src/python/espressomd/system.pyx
Due: autopep8

tests: Remove unused code
  testsuite/python/collision_detection.py
  testsuite/python/engine_lb.py
  testsuite/python/observables.py
  testsuite/python/tests_common.py
Due: autopep8

tests: Refactor code
  samples/gibbs_ensemble/create_fits.py
  samples/reaction_ensemble.py
  testsuite/python/collision_detection.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/langevin_thermostat_stats.py
  testsuite/python/observables.py
  testsuite/python/particle.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/tests_common.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8

walberla: Add LE observer
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Comment out ekin docs
  doc/sphinx/advanced_methods.rst
Due: none

walberla: Restore Sphinx documentation
  doc/sphinx/advanced_methods.rst
  doc/sphinx/lb.rst
  doc/sphinx/running.rst
  doc/sphinx/zrefs.bib
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  src/python/espressomd/lb.pyx
  testsuite/python/lb_vtk.py
Due: autopep8

CI: Fix regressions in maxset-walberla.hpp
  maintainer/configs/maxset-walberla.hpp
Due: clang-format

CI: Re-enable Sphinx job
  .gitlab-ci.yml
Due: none

Revert "walberla: Add LE observer"
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix LE write operation
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format
