Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Document sign convention
  src/core/grid.hpp
Due: clang-format

core: Improve unit test for fold_position()
  src/core/unit_tests/grid_test.cpp
Due: clang-format

docs: Cleanup API policy
  doc/sphinx/introduction.rst
Due: none

docs: Format GNU GPL license
  Readme.md
Due: none

docs: Add links to documentation resources
  Readme.md
Due: none

docs: Explain how to get ESPResSo releases
  Readme.md
  doc/sphinx/introduction.rst
Due: none

docs: Explain release workflow and mailing list
  Readme.md
  doc/sphinx/contributing.rst
  doc/sphinx/introduction.rst
Due: none

docs: Show how to cite ESPResSo and its algorithms
  Readme.md
  doc/sphinx/introduction.rst
  doc/sphinx/zrefs.bib
Due: none

docs: Move mailing list up
  Readme.md
Due: none

docs: Shorten license section
  Readme.md
Due: none

Revert "cmake: Decouple CMake logic from myconfig.hpp"
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/config/features.def
Due: cmake-format

Add option to define unit system used in the simulation according to the H5MD module units defined here: https://nongnu.org/h5md/modules/units.html#unit-string
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.hpp
Due: clang-format, autopep8

Remove unnecessary import
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

Adjust to the code style
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.hpp
Due: clang-format, autopep8

Fix after code style patch..
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

formatting: Disable autopep8 error E701
  .pre-commit-config.yaml
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

Add missing externals
  cmake/cmake_config.cmakein
Due: none

docs: Document SD dependencies and CMake flag
  doc/sphinx/installation.rst
Due: none

Adapt to new repa::ExtraParams interface
  src/core/generic-dd/generic_dd.cpp
Due: clang-format

python: Feature guard
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

docs: Document H5MD with units
  doc/sphinx/io.rst
  samples/h5md.py
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

testsuite: Check H5MD units
  testsuite/python/h5md.py
Due: autopep8

testsuite: Check H5MD charges
  testsuite/python/h5md.py
Due: autopep8

CMake: Pin Walberla Version
  CMakeLists.txt
Due: cmake-format

Walberla: Remove unused code
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

core: Remove dependency on dataclasses
  doc/sphinx/io.rst
  src/python/espressomd/io/writer/h5md.py
Due: autopep8

cmake: convert SD to FetchContent project
  CMakeLists.txt
  libs/CMakeLists.txt
  libs/stokesian_dynamics/CMakeLists.txt
  libs/stokesian_dynamics/include/stokesian_dynamics/device_matrix.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/lubrication_data.inl
  libs/stokesian_dynamics/include/stokesian_dynamics/multi_array.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/sd.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/sd_cpu.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/sd_gpu.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/thrust_wrapper.hpp
  libs/stokesian_dynamics/src/CMakeLists.txt
  libs/stokesian_dynamics/src/sd_cpu.cpp
  libs/stokesian_dynamics/src/sd_gpu.cu
  src/core/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: cmake-format

cmake: Use SD with add_subdirectory
  CMakeLists.txt
  libs/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: cmake-format

docs: Fix links and bash variables
  doc/sphinx/installation.rst
  doc/sphinx/sd.rst
Due: none

docs: Explain how to install without network
  doc/sphinx/installation.rst
Due: none

sd: Fix compiler guards
  libs/stokesian_dynamics/include/stokesian_dynamics/multi_array.hpp
Due: none

CI: Use latest ROCm image with all dependencies
  .gitlab-ci.yml
Due: none

WIP: Walberla with auto-generated thermalized lb
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.h
  src/core/grid_based_algorithms/LbWalberlaD3Q19Thermalized.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format, cmake-format

Simply abort on 0 local cells
  src/core/generic-dd/generic_dd.cpp
Due: clang-format

Always reinit
  src/core/generic-dd/generic_dd.cpp
Due: clang-format

Reformat + 2 asserts
  src/core/generic-dd/generic_dd.cpp
Due: clang-format

sd: Fix compiler issue with CUDA 10.1 + thrust 1.9.5
  libs/stokesian_dynamics/src/sd_cpu.cpp
Due: none

sd: Remove license headers
  libs/stokesian_dynamics/include/stokesian_dynamics/device_matrix.hpp
  libs/stokesian_dynamics/include/stokesian_dynamics/multi_array.hpp
Due: none

core: Removed unused return value from mpi_bcast_parameter
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

sd: Move header files to /src
  libs/stokesian_dynamics/src/device_matrix.hpp
  libs/stokesian_dynamics/src/lubrication_data.inl
  libs/stokesian_dynamics/src/multi_array.hpp
  libs/stokesian_dynamics/src/sd.hpp
  libs/stokesian_dynamics/src/sd_cpu.cpp
  libs/stokesian_dynamics/src/sd_gpu.cu
  libs/stokesian_dynamics/src/thrust_wrapper.hpp
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
