Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Regenerate pylint config file
  .pylintrc
Due: pylint

Use latest Docker images
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  maintainer/CI/jupyter_warnings.py
  requirements.txt
  src/python/espressomd/analyze.py
  src/scafacos/CMakeLists.txt
Due: autopep8, cmake-format, pylint

walberla: Use more efficient LB GPU communicator
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

Re-enable more LB GPU test cases
  samples/lbf.py
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_boundary_ghost_layer.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
  testsuite/python/propagation_lb.py
  testsuite/scripts/samples/CMakeLists.txt
Due: autopep8, cmake-format, pylint

docs: Mention Python environments
  doc/sphinx/installation.rst
Due: none

Update Python requirements
  requirements.txt
  src/python/espressomd/utils.pyx
  testsuite/python/cutoffs.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/lb_stats.py
  testsuite/python/particle.py
Due: autopep8, pylint

Update CI runners and installation docs
  .clang-tidy
  .github/actions/build_and_check/action.yml
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  doc/sphinx/installation.rst
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  src/config/config.hpp
  src/core/statistics.cpp
  src/python/espressomd/CMakeLists.txt
  testsuite/python/sigint_child.py
Due: clang-format, autopep8, cmake-format, pylint

Add 4.2.2 release notes
  NEWS
Due: none

Update version number to 4.2.1
  CMakeLists.txt
  doc/sphinx/introduction.rst
Due: cmake-format

Add 4.2.2 release notes
  NEWS
  Readme.md
  doc/sphinx/introduction.rst
Due: none

Invitation summer school 2024
  Readme.md
Due: none

Add ASE interface
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/plugins/CMakeLists.txt
  src/python/espressomd/plugins/ase.py
  src/python/espressomd/system.py
  testsuite/python/CMakeLists.txt
  testsuite/python/ase_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, cmake-format, pylint

Remove Barnes-Hut feature
  doc/bibliography.bib
  doc/sphinx/magnetostatics.rst
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/magnetostatics/CMakeLists.txt
  src/core/magnetostatics/barnes_hut_gpu.cpp
  src/core/magnetostatics/barnes_hut_gpu.hpp
  src/core/magnetostatics/barnes_hut_gpu_cuda.cu
  src/core/magnetostatics/barnes_hut_gpu_cuda.cuh
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarBarnesHutGpu.hpp
  src/script_interface/magnetostatics/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dds-and-bh-gpu.py
  testsuite/python/dipolar_interface.py
Due: clang-format, autopep8, cmake-format, pylint

Remove MMM1D GPU feature
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  doc/sphinx/io.rst
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/CMakeLists.txt
  src/core/electrostatics/CMakeLists.txt
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/mmm1d_gpu.cpp
  src/core/electrostatics/mmm1d_gpu.hpp
  src/core/electrostatics/mmm1d_gpu_cuda.cu
  src/core/electrostatics/specfunc.cuh
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombMMM1DGpu.hpp
  src/script_interface/electrostatics/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_interface.py
  testsuite/python/long_range_actors.py
  testsuite/python/mmm1d.py
Due: clang-format, autopep8, cmake-format, pylint

Add experimental multi-GPU support
  CMakeLists.txt
  doc/sphinx/lb.rst
  src/core/cuda/common_cuda.cu
  src/core/cuda/init_cuda.cu
  src/core/cuda/utils.cuh
  src/script_interface/system/CudaInitHandle.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/lb_walberla_init.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_walberla_init.cu
  testsuite/python/lb.py
  testsuite/python/lb_boundary_ghost_layer.py
Due: clang-format, autopep8, cmake-format, pylint

Use modern CMake
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/FindCython.cmake
  cmake/espresso_resource_files.cmake
  cmake/unit_test.cmake
  doc/sphinx/CMakeLists.txt
  doc/tutorials/CMakeLists.txt
  src/core/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/io/CMakeLists.txt
  src/python/espressomd/io/writer/CMakeLists.txt
  src/python/espressomd/plugins/CMakeLists.txt
  src/python/espressomd/plugins/__init__.py
  src/python/object_in_fluid/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/cmake/test_install.sh
  testsuite/python/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
Due: autopep8, cmake-format, pylint

Bump to C++20
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

Rewrite and test CUDA and FFT interfaces
  src/core/cuda/common_cuda.cu
  src/core/cuda/utils.cuh
  src/core/cuda/utils.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/p3m/fft.cpp
  src/core/p3m/fft.hpp
  src/core/system/GpuParticleData_cuda.cu
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/cuda_test.cu
  src/core/unit_tests/fft_test.cpp
Due: clang-format, cmake-format

Use std::optional
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/cell_system/AtomDecomposition.hpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/ParticleDecomposition.hpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/immersed_boundary/ibm_common.cpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/immersed_boundary/ibm_triel.hpp
  src/core/lb/particle_coupling.cpp
  src/core/particle_node.cpp
  src/core/polymer.cpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/unit_tests/particle_management.hpp
  src/script_interface/scafacos/scafacos.cpp
  src/utils/include/utils/serialization/memcpy_archive.hpp
  src/utils/tests/memcpy_archive_test.cpp
  src/utils/tests/serialization_test.cpp
Due: clang-format

Redesign P3M grid operations
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_error_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/influence_function_dipolar.hpp
  src/core/p3m/math.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/fft_test.cpp
  src/core/unit_tests/math_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/abs.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/include/utils/math/sqr.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Vector_test.cpp
  src/utils/tests/abs_test.cpp
  src/utils/tests/sinc_test.cpp
Due: clang-format, cmake-format

Fix image box folding
  src/core/BoxGeometry.hpp
  src/core/io/writer/h5md_core.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/coordinates_folding.py
Due: clang-format, autopep8, cmake-format, pylint

Fix propagation flag checkpointing
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/thermostat/thermostat.hpp
  testsuite/python/analyze_chains.py
  testsuite/python/lb_thermostat.py
  testsuite/python/particle.py
  testsuite/python/propagation_langevin.py
  testsuite/python/propagation_newton.py
  testsuite/python/propagation_npt.py
  testsuite/python/rotate_system.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, pylint

Rewrite LB field accessors
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecisionCUDA.cuh
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_field_accessors_tests.cu
  src/walberla_bridge/tests/lb_kernels_unit_tests.cpp
  testsuite/python/lb.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format, pylint

CMake: Rewrite unit_test() framework
  cmake/espresso_unit_test.cmake
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/unit_tests/CMakeLists.txt
  src/particle_observables/tests/CMakeLists.txt
  src/particle_observables/tests/algorithms_test.cpp
  src/particle_observables/tests/observables_test.cpp
  src/particle_observables/tests/properties_test.cpp
  src/script_interface/tests/CMakeLists.txt
  src/shapes/unit_tests/CMakeLists.txt
  src/utils/tests/CMakeLists.txt
  src/utils/tests/accumulator_test.cpp
  src/utils/tests/coordinate_transformation_test.cpp
  src/utils/tests/cylindrical_transformation_test.cpp
  src/utils/tests/histogram_test.cpp
  src/utils/tests/matrix_vector_product_test.cpp
  src/walberla_bridge/src/lattice_boltzmann/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards_tests.cpp
  testsuite/CMakeLists.txt
Due: clang-format, cmake-format

Shell scripts hardening
  maintainer/CI/build_cmake.sh
  src/python/pypresso.cmakein
Due: none

Adjust code coverage workflow
  cmake/FindCUDACompilerNVCC.cmake
  maintainer/CI/build_cmake.sh
  maintainer/CI/run_lcov.sh
Due: none

Document propagation flags
  doc/sphinx/advanced_methods.rst
  doc/sphinx/integration.rst
  doc/sphinx/particles.rst
  src/python/espressomd/particle_data.py
Due: autopep8, pylint

Extract historic FFT algorithm
  src/core/CMakeLists.txt
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/fft/CMakeLists.txt
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/fft/vector.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/data_struct.hpp
  src/core/p3m/for_each_3d.hpp
  src/core/p3m/influence_function.hpp
  src/core/p3m/interpolation.hpp
  src/core/p3m/send_mesh.cpp
  src/core/p3m/send_mesh.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/fft_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format, cmake-format

Hide FFT dipolar flag
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format

Remove the bind_three_particles collision method
  doc/sphinx/advanced_methods.rst
  src/core/collision.cpp
  src/core/collision.hpp
  src/python/espressomd/collision_detection.py
  src/script_interface/collision_detection/CollisionDetection.hpp
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
Due: clang-format, autopep8, pylint

Fix and test LB Lees-Edwards particle coupling
  src/core/lb/particle_coupling.cpp
  src/walberla_bridge/src/lattice_boltzmann/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb_lees_edwards_particle_coupling.py
Due: clang-format, autopep8, pylint

Refactor Lees-Edwards code
  src/core/lb/particle_coupling.cpp
  src/walberla_bridge/src/lattice_boltzmann/InterpolateAndShiftAtBoundary.hpp
  testsuite/python/lb_lees_edwards_particle_coupling.py
Due: clang-format, autopep8, pylint

Rewrite ParticleForce operator+ to improve performance.
  src/core/Particle.hpp
Due: clang-format

Restrict valid types for periodic fold
  src/core/algorithm/periodic_fold.hpp
Due: clang-format
