Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Move mpi_iccp3m_init()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/python/espressomd/electrostatic_extensions.pxd
Due: clang-format, autopep8

core: Move mpi_set_time_step()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: Extract cell structure communication
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/python/espressomd/cellsystem.pxd
Due: clang-format, autopep8

core: Extract LB boundary force communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

core: Move mpi_get_pairs()
  src/core/cells.cpp
  src/core/communication.cpp
Due: clang-format

core: Extract CUDA communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/cuda_interface.cpp
Due: clang-format

core: Cleanup headers
  src/core/RuntimeErrorCollector.cpp
  src/core/RuntimeErrorCollector.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
Due: clang-format

core: Remove 'using namespace std;'
  src/core/RuntimeErrorCollector.cpp
  src/core/communication.cpp
  src/shapes/src/Slitpore.cpp
Due: clang-format

Update Readme.md
  Readme.md
Due: none

Remove ROCm integration
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindCUDACompilerHIP.cmake
  doc/sphinx/installation.rst
  src/core/CudaDeviceAllocator.hpp
  src/core/CudaHostAllocator.cu
  src/core/EspressoSystemInterface_cuda.cu
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/mmm-common_cuda.hpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_init_cuda.cu
  src/core/cuda_utils.hpp
  src/core/cuda_wrapper.hpp
  src/core/cufft_wrapper.hpp
  src/core/curand_wrapper.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/fd-electrostatics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/utils/include/utils/device_qualifier.hpp
Due: clang-format, cmake-format

core: Cleanup comments
  src/core/EspressoSystemInterface.hpp
  src/core/cuda_init.hpp
  src/core/cuda_interface.hpp
Due: clang-format

CI: Remove Intel job
  .gitlab-ci.yml
Due: none

CI: Use Fedora image with MPICH
  .gitlab-ci.yml
Due: none

core: Add missing include
  src/core/grid_based_algorithms/fd-electrostatics.cuh
Due: clang-format

Walberla: Update lb thermlization tests
  testsuite/python/lb.py
Due: autopep8

Fix typos
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
Due: clang-format

Walberla: Extended unit test (thermalization, momentum conservation)
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Walberla: Mor thermlization force testing
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Walberla: Fix warnings
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

Remove 'Current' observable.
  doc/sphinx/analysis.rst
  src/core/observables/Current.hpp
  src/python/espressomd/observables.py
  src/script_interface/observables/initialize.cpp
  testsuite/python/observables.py
Due: clang-format, autopep8

Remove HarmonicDumbbell.
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/harmonic_dumbbell.cpp
  src/core/bonded_interactions/harmonic_dumbbell.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  testsuite/python/interactions_bonded_interface.py
Due: clang-format, autopep8, cmake-format

core: Remove unused parameter
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
Due: clang-format

core: Add missing header guard
  src/core/electrostatics_magnetostatics/common.hpp
Due: clang-format

Fix -Wfloat-conversion
  CMakeLists.txt
  src/core/DomainDecomposition.cpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.hpp
  src/core/grid.cpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
  src/python/espressomd/electrostatics.pyx
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/checks/charge_neutrality.hpp
  src/utils/include/utils/interpolation/detail/ll_and_dist.hpp
  src/utils/include/utils/sampling.hpp
Due: clang-format, autopep8, cmake-format

Fix -Wfloat-conversion in waLBerla code
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19MRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19TRT.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Re-enable LB checkpointing
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/lb_walberla.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Remove Vector19d type
  src/python/espressomd/lb.pxd
  src/python/espressomd/utils.pxd
  src/utils/include/utils/Vector.hpp
Due: clang-format, autopep8

Fix regressions
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

Fix includes
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
Due: clang-format

Fix regression from 884fb55b0
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Fix typos
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

re-enable test
  testsuite/python/array_properties.py
Due: autopep8

remove unused typedef
  src/core/grid_based_algorithms/lb_boundaries.hpp
Due: clang-format

Formatting
  testsuite/python/array_properties.py
Due: autopep8

add missing ghost communication
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
Due: clang-format

defer ghost communication during checkpointing
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
Due: clang-format

speed-up LB checkpointing test
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

LB checkpointing: separation of concerns
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
Due: clang-format

python: Accept integer values for fluid velocities
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
Due: autopep8

python: Catch incorrect LB positions
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
