Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

docs: Centralize information about debuggers
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
Due: none

script_interface: Deallocate waLBerla fields
  src/python/espressomd/system.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/LBFluid.cpp
Due: clang-format, autopep8, pylint

Rewrite Valgrind integration
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  doc/sphinx/installation.rst
  src/config/features.def
  src/core/integrate.cpp
  src/profiler/CMakeLists.txt
Due: clang-format, cmake-format

Rewrite Caliper integration
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/config/features.def
  src/core/forces.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/integrate.cpp
  src/core/short_range_loop.hpp
  src/profiler/CMakeLists.txt
  src/profiler/include/profiler/profiler.hpp
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/c_profiler.pxd
  src/python/espressomd/profiler.py
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/profiler/CMakeLists.txt
  src/script_interface/profiler/Caliper.hpp
  src/script_interface/profiler/initialize.cpp
  src/script_interface/profiler/initialize.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/caliper.py
  testsuite/python/caliper_child.py
Due: clang-format, autopep8, cmake-format, pylint

Add support for CUDA-GDB
  cmake/FindCUDACompilerNVCC.cmake
Due: none

Add support for kernprof
  doc/sphinx/running.rst
  src/python/pypresso.cmakein
Due: none

docs: Document all debuggers and profilers
  doc/sphinx/running.rst
  maintainer/CI/doc_warnings.sh
Due: none

docs: Cite third-party software
  doc/bibliography.bib
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
Due: none

WIP: Correct VirtualSitesCenterOfMass methods
  src/core/virtual_sites/VirtualSitesCenterOfMass.cpp
  src/core/virtual_sites/VirtualSitesCenterOfMass.hpp
Due: clang-format

docs: Improve support for BibTeX containing macros
  doc/bibliography.bib
  doc/doxygen/CMakeLists.txt
  doc/sphinx/conf.py.in
  requirements.txt
Due: cmake-format, pylint

core: Encapsulate electrostatics globals
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/electrostatics/actor.hpp
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu.cpp
  src/core/electrostatics/registration.hpp
  src/core/electrostatics/solver.hpp
  src/core/energy.cpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/interactions.cpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/thole.hpp
  src/core/npt.cpp
  src/core/pair_criteria/EnergyCriterion.hpp
  src/core/pressure.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/python/espressomd/system.py
Due: clang-format, autopep8, pylint

core: Encapsulate magnetostatics globals
  src/core/energy.cpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/interactions.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/registration.hpp
  src/core/magnetostatics/solver.hpp
  src/core/npt.cpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/system/System.hpp
Due: clang-format

Changed integrate to work on filtered list
  src/core/ParticleRange.hpp
  src/core/PropagationModes.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

bugfix
  src/core/integrate.cpp
Due: clang-format

core: Use pointer-to-implementation
  src/core/EspressoSystemStandAlone.cpp
  src/core/actor/optional.hpp
  src/core/actor/visit_try_catch.hpp
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/icc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m_gpu.cpp
  src/core/electrostatics/solver.hpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/solver.hpp
  src/core/npt.cpp
  src/core/pressure_inline.hpp
  src/core/system/System.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/EspressoSystem_test.cpp
  src/core/unit_tests/ResourceCleanup_test.cpp
  src/script_interface/electrostatics/Actor_impl.hpp
  src/script_interface/electrostatics/Container.hpp
  src/script_interface/electrostatics/ICCStar.hpp
  src/script_interface/magnetostatics/Actor_impl.hpp
  src/script_interface/magnetostatics/Container.hpp
  src/script_interface/system/System.cpp
  src/script_interface/tests/Actors_test.cpp
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/long_range_actors.py
Due: clang-format, autopep8, pylint

script_interface: Add automatic feature checks
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/electrostatics.py
  src/python/espressomd/lb.py
  src/python/espressomd/magnetostatics.py
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/code_info/CodeInfo.cpp
  src/script_interface/code_info/CodeInfo.hpp
  testsuite/python/script_interface.py
Due: clang-format, autopep8, pylint

fix
  src/core/integrate.cpp
Due: clang-format

benchmarks: Add GPU support
  maintainer/benchmarks/lb.py
  maintainer/benchmarks/lj.py
  maintainer/benchmarks/p3m.py
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/benchmarks/test_ferrofluid.py
  testsuite/scripts/benchmarks/test_lb.py
  testsuite/scripts/benchmarks/test_lj.py
  testsuite/scripts/benchmarks/test_p3m.py
Due: autopep8, cmake-format, pylint

core: Improve performance of LB particle coupling
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

CI: Require Cython 0.29
  requirements.txt
Due: none

Add support for Compute Sanitizer
  doc/bibliography.bib
  doc/sphinx/running.rst
  src/python/pypresso.cmakein
Due: none

core: Fix all GPU memory leaks
  src/core/electrostatics/mmm1d_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu.cpp
  src/core/electrostatics/p3m_gpu.hpp
  src/core/electrostatics/p3m_gpu_cuda.cu
  src/core/electrostatics/p3m_gpu_cuda.cuh
  src/core/system/GpuParticleData_cuda.cu
Due: clang-format

Remove virtual sites script interface and python bindings
  src/python/espressomd/virtual_sites.py
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/virtual_sites/ActiveVirtualSitesHandle.hpp
  src/script_interface/virtual_sites/CMakeLists.txt
  src/script_interface/virtual_sites/VirtualSites.hpp
  src/script_interface/virtual_sites/VirtualSitesInertialessTracers.hpp
  src/script_interface/virtual_sites/VirtualSitesOff.hpp
  src/script_interface/virtual_sites/VirtualSitesRelative.hpp
  src/script_interface/virtual_sites/initialize.cpp
  src/script_interface/virtual_sites/initialize.hpp
Due: clang-format, autopep8, cmake-format, pylint

Rapid prototyping of Monte Carlo methods
  doc/sphinx/reaction_methods.rst
  samples/monte_carlo.py
  src/python/espressomd/analyze.py
  src/python/espressomd/reaction_methods.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_monte_carlo.py
Due: clang-format, autopep8, cmake-format, pylint

WIP: cast virtual sites into propagation scheme
  src/core/EspressoSystemStandAlone.cpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/ghosts.cpp
  src/core/integrate.cpp
  src/core/pressure.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites.hpp
  src/core/virtual_sites/CMakeLists.txt
  src/core/virtual_sites/VirtualSites.hpp
  src/core/virtual_sites/VirtualSitesRelative.hpp
  src/core/virtual_sites/lb_tracers.cpp
  src/core/virtual_sites/lb_tracers.hpp
  src/core/virtual_sites/relative.cpp
  src/core/virtual_sites/relative.hpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/propagation.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/swimmer_helpers.py
  src/python/espressomd/system.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
  testsuite/python/engine_lb.py
  testsuite/python/ibm.py
  testsuite/python/lees_edwards.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_relative.py
  testsuite/python/virtual_sites_tracers_common.py
Due: clang-format, autopep8, cmake-format, pylint

changed integration, brownian
  src/core/ParticleRange.hpp
  src/core/integrate.cpp
  src/core/propagation.hpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8, pylint

Re-implement vs_relative cutoff override check
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, pylint

core: Refactor MPI code
  src/core/communication.hpp
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/observables/PidObservable.hpp
  src/core/observables/utils_histogram.hpp
  src/core/particle_node.cpp
Due: clang-format

core: Remove MpiCallbacks tag dispatch
  src/core/MpiCallbacks.hpp
  src/core/communication.hpp
  src/core/unit_tests/MpiCallbacks_test.cpp
Due: clang-format

core: Reserve vector capacity before MPI gather
  src/core/observables/utils_histogram.hpp
Due: clang-format

Separate short forces by signature
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
Due: clang-format

core: Serialize STL types
  src/utils/include/utils/serialization/optional.hpp
  src/utils/include/utils/serialization/unordered_map.hpp
  src/utils/tests/serialization_test.cpp
Due: clang-format

stage 1
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/event.cpp
  src/script_interface/cell_system/CellSystem.cpp
Due: clang-format

walberla: Remove Boost dependency
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/EKWalberlaNodeState.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/script_interface/walberla/LBFluidNode.cpp
  src/script_interface/walberla/LBFluidSlice.hpp
  src/script_interface/walberla/LBWalberlaNodeState.hpp
  src/script_interface/walberla/LatticeSlice.impl.hpp
  src/utils/include/utils/mpi/reduce_optional.hpp
  src/utils/tests/reduce_optional_test.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/utils/boundary_utils.hpp
  src/walberla_bridge/src/LatticeWalberla.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.cpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/CMakeLists.txt
Due: clang-format, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
