Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Fixed docstring regression
  src/core/BoxGeometry.hpp
Due: clang-format

cmake formatting
  src/core/unit_tests/CMakeLists.txt
Due: cmake-format

docstrings...
  src/core/CellStructure.hpp
Due: clang-format

core: Header cleanup
  src/core/dpd.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: cells: Simplify short_range_loop
  src/core/energy.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: CellStructre: pair_loop -> non_bonded_loop, version without vl
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/debug.cpp
  src/core/debug.hpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: cells: Moved find_current_cell to CellStructure
  src/core/CellStructure.hpp
  src/core/cells.cpp
Due: clang-format

core: Docstrings and better name
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
Due: clang-format

core: CellStructure: made execute_bond_handler private.
  src/core/CellStructure.hpp
Due: clang-format

core: CellStructure: Made particle_to_cell private
  src/core/CellStructure.hpp
Due: clang-format

core: cells: Moved checking functions into CellStructure.
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/debug.cpp
  src/core/debug.hpp
Due: clang-format, cmake-format

core: CellStructure: made local_cells private.
  src/core/CellStructure.hpp
Due: clang-format

core: coldet: const-correctness
  src/core/collision.cpp
Due: clang-format

core: Inline cells_resort_particles
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
Due: clang-format

core: Removed n_verlet_updates global
  src/core/cells.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
Due: clang-format

core: Add missing include guards
  src/core/actor/mmm-common_cuda.hpp
  src/core/debug.hpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/forcecap.hpp
  src/core/rotate_system.hpp
  src/scafacos/Scafacos.hpp
  src/utils/tests/random_sequence.hpp
Due: clang-format

cmake: Turn FFTW3 into imported target
  cmake/FindFFTW3.cmake
  src/core/CMakeLists.txt
Due: cmake-format

core: Simplify code
  src/script_interface/packed_variant.hpp
Due: clang-format

core: Add license headers
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/utils/include/utils/serialization/pack.hpp
Due: clang-format, cmake-format

Formatting and style
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/packed_variant.hpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/utils/include/utils/Factory.hpp
  src/utils/tests/pack_test.cpp
Due: clang-format, autopep8

core: Update ScriptInterface docstrings
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/packed_variant.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

core: Silence Clang-Tidy warning
  src/script_interface/packed_variant.hpp
Due: clang-format

maintainer: perform mac jobs on github. (#3827)
  .github/workflows/build.yml
  doc/sphinx/installation.rst
Due: none

Cython: build with -Wno-deprecated-declarations
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

docs: Fix incorrect code samples
  doc/sphinx/advanced_methods.rst
  doc/sphinx/constraints.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/io.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  doc/sphinx/system_manipulation.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
Due: none

CMake: Document CTEST_ARGS string format
  CMakeLists.txt
Due: cmake-format

Formatting
  CMakeLists.txt
Due: cmake-format

core: Fix infinite loop in electrostatics tuning
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

python: Fix broken 'metallic' case for P3M methods
  src/python/espressomd/electrostatics.pyx
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

core: Refactor exception handling in (D)P3M tuning
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
Due: clang-format, autopep8

docs: Update electrostatic/magnetostatics docs
  doc/sphinx/electrostatics.rst
  doc/sphinx/magnetostatics.rst
Due: none

tests: Check exception mechanism in (D)P3M tuning
  testsuite/python/CMakeLists.txt
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8, cmake-format

python: Fix epsilon bug in P3M actors
  src/python/espressomd/electrostatics.pyx
Due: autopep8

python: Fix epsilon range check
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
Due: autopep8

tests: Simplify (D)P3M tuning test class
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

docs: Clarify limitation of the P3M algorithm
  doc/sphinx/electrostatics.rst
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

CMake: Add support for CUDA 11
  cmake/FindCUDACompilerNVCC.cmake
Due: none

CI: Update image tags and remove unused options
  .gitlab-ci.yml
  maintainer/CI/build_docker.sh
Due: none

CI: Add CUDA 11 job
  .gitlab-ci.yml
Due: none

CI: Move CUDA 11 job to nightly builds
  .gitlab-ci.yml
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
