Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Restore checkpoint tests on 3 cores
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Keep ScaFaCoS direct sum
  testsuite/python/CMakeLists.txt
Due: cmake-format

CI: Drop coverage of generated kernels
  .codecov.yml
Due: none

CI: Lower patch and core thresholds
  .codecov.yml
Due: none

ekin: Trivial interface change
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

ekin: Remove code duplication with parameter packs
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/utils.hpp
Due: clang-format, cmake-format

tests: Improve testing of EK script interface
  testsuite/python/ek_interface.py
Due: autopep8

walberla: Fix a few regressions
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/system.pyx
  src/script_interface/walberla/VTKHandle.hpp
Due: clang-format, autopep8

walberla: Improve interface testing
  testsuite/python/ek_interface.py
  testsuite/python/ek_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

CI: Small fix
  .codecov.yml
Due: none

walberla: Fix MPI exception
  src/script_interface/walberla/EKReaction.hpp
Due: clang-format

walberla: Remove VTK code duplication
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/VTKHandle.hpp
  testsuite/python/ek_vtk.py
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8

walberla: Include what you use and fix Clang warnings
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/electrokinetics/ek_walberla_init.cpp
  src/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactant.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionBase.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

walberla: Fix destructor bugs in abstract classes
  src/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionBase.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

ekin: Add clear_*_boundary() methods and tests
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKSpecies.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_boundary.py
  testsuite/python/ek_vtk.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8, cmake-format

walberla: Harmonize VTK and boundaries with ekin, add documentation
  doc/sphinx/ek.rst
  doc/sphinx/lb.rst
  doc/tutorials/active_matter/active_matter.ipynb
  src/python/espressomd/lb.py
  testsuite/python/ek_vtk.py
  testsuite/python/lb_vtk.py
  testsuite/python/save_checkpoint.py
Due: autopep8

ekin: Remove unused code
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

walberla: Move VTK to new LatticeModel base class
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeModel.cpp
  src/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format, cmake-format

walberla: Roll out get_lattice() method
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

walberla: Declutter class definitions
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

doc: Fix links
  doc/sphinx/constraints.rst
  doc/sphinx/lb.rst
Due: none

ekin: Include what you use
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/grid_based_algorithms/EKReactions.hpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
  src/core/grid_based_algorithms/ek_reactions.cpp
  src/core/grid_based_algorithms/ek_reactions.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

ekin: Test runtime errors
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

ekin: Remove unused code
  src/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format

ekin: Formatting
  src/core/grid_based_algorithms/EKContainer.hpp
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_indexed_reactions.py
Due: clang-format, autopep8

CI: Small fixes
  .codecov.yml
Due: none

ekin: Test invalid combinations
  testsuite/python/ek_interface.py
Due: autopep8

Formatting
  maintainer/walberla_kernels/generate_ek_kernels.py
Due: autopep8

ekin: Automatically generate switch statement
  maintainer/walberla_kernels/ReactionKernelSelector.tmpl.h
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_all.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_all.h
Due: clang-format, autopep8

Formatting
  src/core/grid_based_algorithms/ek_container.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision.h
Due: clang-format

core: Fix regressions
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

walberla: Write common lattice node interface
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/LatticeIndices.hpp
  src/script_interface/walberla/initialize.cpp
  src/script_interface/walberla/initialize.hpp
  testsuite/python/ek_interface.py
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Merge the LB and EK slice classes
  doc/sphinx/ek.rst
  doc/sphinx/lb.rst
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

ekin: Naming convention for abstract classes
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplIndexed.hpp
Due: clang-format, cmake-format

ekin: Remove unused code
  src/script_interface/walberla/EKSpecies.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

ekin: Check node equality
  testsuite/python/ek_interface.py
  testsuite/python/lb.py
Due: autopep8

walberla: Move set_boundary_from_shape() to free functions
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/boundary_utils.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

script_interface: Fix regressions revealed by CI
  src/python/espressomd/utils.pyx
  src/python/espressomd/version.py
  src/script_interface/code_info/CMakeLists.txt
  src/script_interface/code_info/CodeVersion.cpp
  src/script_interface/code_info/CodeVersion.hpp
  src/script_interface/code_info/initialize.cpp
Due: clang-format, autopep8, cmake-format

walberla: Use LB namespace
  src/core/event.cpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_reactions.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/integrate.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/LBFluidPressureTensor.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/statistics.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/python/espressomd/thermostat.pxd
  src/script_interface/lees_edwards/LeesEdwards.hpp
Due: clang-format, autopep8
