Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

CMake: Remove redundant variable
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/shapes/CMakeLists.txt
Due: cmake-format

CMake: Fix CTEST_ARGS variable
  CMakeLists.txt
Due: cmake-format

CMake: Run tests on 4 MPI ranks
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/unit_test.cmake
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

CMake: Simplify conditionals
  maintainer/benchmarks/CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: cmake-format

tests: Improve coverage of DomainDecomposition
  testsuite/python/domain_decomposition.py
Due: autopep8

tests: Improve coverage of LB halo communication
  testsuite/python/lb_poiseuille_cylinder.py
Due: autopep8

core: Remove unused LB halo communication code
  src/core/grid_based_algorithms/halo.cpp
  src/core/grid_based_algorithms/halo.hpp
Due: clang-format

core: Make variables const
  src/core/grid_based_algorithms/halo.cpp
Due: clang-format

core: Fix UB in halo communication
  src/core/grid_based_algorithms/halo.cpp
Due: clang-format

core: Fix mixed type expressions
  src/core/grid_based_algorithms/lattice.cpp
  src/core/grid_based_algorithms/lb.cpp
Due: clang-format

core: Remove harmonic dumbbell bond
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
Due: clang-format, autopep8

core: Remove umbrella bond
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/umbrella.cpp
  src/core/bonded_interactions/umbrella.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.pxd
Due: clang-format, autopep8, cmake-format

docs: Fix thermostat/integrator/cellsystem names
  doc/sphinx/advanced_methods.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
Due: none

docs: Restructure chapter on integrators
  doc/sphinx/running.rst
Due: none

docs: Re-arrange integrators and thermostats
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
Due: none

docs: Move thermostats into integrators chapter
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
Due: none

docs: Add section on Brownian Dynamics
  doc/sphinx/running.rst
Due: none

docs: Update link in Jupyter notebook
  doc/tutorials/charged_system/charged_system-1.ipynb
Due: none

docs: Clarify Brownian text
  doc/sphinx/running.rst
Due: none

tests: Simplify expression
  src/utils/tests/bspline_test.cpp
Due: clang-format

CMake: Use the same GPU archs with Clang and NVCC
  cmake/FindCUDACompilerClang.cmake
Due: none

core: Remove unused constants
  src/utils/include/utils/constants.hpp
Due: clang-format

core: Use utils functions for integer powers
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/utils/include/utils/sampling.hpp
Due: clang-format

core: Fix Clang's -Wimplicit-float-conversion
  src/core/accumulators/Correlator.cpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/specfunc_cuda.hpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/script_interface/get_value.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/constants.hpp
  src/utils/include/utils/math/bspline.hpp
  src/utils/include/utils/math/make_lin_space.hpp
  src/utils/include/utils/math/sinc.hpp
  src/utils/include/utils/sampling.hpp
  src/utils/include/utils/uniform.hpp
Due: clang-format

CMake: Upgrade to latest Stokesian Dynamics commit
  CMakeLists.txt
Due: cmake-format

CMake: Add Clang's -Wimplicit-float-conversion
  CMakeLists.txt
Due: cmake-format

CMake: Exclude external libraries from Clang-Tidy
  src/core/stokesian_dynamics/CMakeLists.txt
  src/scafacos/CMakeLists.txt
Due: cmake-format

core: Remove unused thermostat update function
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond.hpp
Due: clang-format

tests: Check P3M actor loaded from checkpoint
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Check P3M tuning edge case
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

tests: Check P3M/DP3M dipole correction
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_p3m.py
  testsuite/python/electrostaticInteractions.py
Due: autopep8, cmake-format

tests: Check FFT plans
  .gitlab-ci.yml
  testsuite/python/CMakeLists.txt
  testsuite/python/p3m_fft.py
Due: autopep8, cmake-format

tests: Coding style
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/ek_common.py
  testsuite/python/lb_electrohydrodynamics.py
Due: autopep8

core: Coding style
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
Due: clang-format

core: Cleanup magnetostatics code
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.hpp
Due: clang-format

tests: Remove unused function
  testsuite/python/ek_common.py
Due: autopep8

tests: Remove unused function
  testsuite/python/brownian_dynamics_stats.py
Due: autopep8

core: Remove redundant check
  src/utils/include/utils/quaternion.hpp
Due: clang-format

CMake: Remove unused CUDA compat library
  cmake/FindCUDACompilerNVCC.cmake
Due: none

core: Fix several -Wshadow warnings
  src/core/grid.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/integrate.cpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
