Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Add missing feature guards
  testsuite/python/hybrid_decomposition.py
  testsuite/python/lb.py
  testsuite/python/lb_thermostat.py
  testsuite/python/lees_edwards.py
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

Fix Doxygen pipeline
  doc/doxygen/CMakeLists.txt
  doc/doxygen/bibtex_postprocess.cmake
  doc/doxygen/bibtex_preprocess.cmake
  src/core/cell_system/CellStructure.hpp
Due: clang-format, cmake-format

Fix CI timeout issues
  .gitlab-ci.yml
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
Due: cmake-format

Fix checkpointing bug
  src/python/espressomd/checkpointing.py
  src/python/espressomd/system.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

Add new ZnDraw features
  doc/sphinx/installation.rst
  doc/sphinx/visualization.rst
  src/python/espressomd/zn.py
  testsuite/scripts/importlib_wrapper.py
Due: autopep8, pylint

Add Zndraw in tutorials
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrodes/electrodes_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part3.ipynb
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
Due: none

Edit and format tutorials
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrodes/electrodes_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part3.ipynb
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/widom_insertion/widom_insertion.ipynb
Due: none

Account for review comments
  doc/tutorials/mlip/mlip.ipynb
Due: none

Add Zndraw in tutorials
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/polymers/polymers.ipynb
Due: none

Rewrite collision detection feature
  doc/sphinx/advanced_methods.rst
  src/core/CMakeLists.txt
  src/core/collision.cpp
  src/core/collision.hpp
  src/core/collision_detection/ActiveProtocol.hpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/collision_detection/BindAtPointOfCollision.hpp
  src/core/collision_detection/BindCenters.cpp
  src/core/collision_detection/BindCenters.hpp
  src/core/collision_detection/CMakeLists.txt
  src/core/collision_detection/CollisionDetection.cpp
  src/core/collision_detection/CollisionDetection.hpp
  src/core/collision_detection/CollisionPair.hpp
  src/core/collision_detection/GlueToSurface.cpp
  src/core/collision_detection/GlueToSurface.hpp
  src/core/collision_detection/Off.hpp
  src/core/collision_detection/common.hpp
  src/core/collision_detection/utils.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/collision_detection.py
  src/script_interface/collision_detection/BindAtPointOfCollision.hpp
  src/script_interface/collision_detection/BindCenters.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/collision_detection/GlueToSurface.hpp
  src/script_interface/collision_detection/Off.hpp
  src/script_interface/collision_detection/Protocol.hpp
  src/script_interface/collision_detection/initialize.cpp
  src/script_interface/interactions/BondedInteractions.hpp
  testsuite/python/bond_breakage.py
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
  testsuite/python/lees_edwards.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format, pylint

Apply code review suggestions
  doc/sphinx/advanced_methods.rst
  src/core/collision_detection/BindAtPointOfCollision.hpp
  src/core/collision_detection/BindCenters.hpp
  src/core/collision_detection/GlueToSurface.hpp
  src/core/collision_detection/Off.hpp
  src/core/collision_detection/common.hpp
  src/script_interface/collision_detection/Off.hpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, pylint

replace decltype by typename for some compilers
  src/utils/include/utils/flatten.hpp
Due: clang-format

Apply code review suggestions
  testsuite/python/collision_detection_interface.py
Due: autopep8, pylint

Some cleanup and figuring out environment issues
  doc/tutorials/mlip/mlip.ipynb
Due: none

Update LB kernels on periodicity change
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/lb/Solver.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/lees_edwards/LeesEdwards.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb_lees_edwards.py
Due: clang-format, autopep8, pylint

Treat Off and None protocols of LEbc as identical
  src/core/lb/LBWalberla.cpp
  src/script_interface/lees_edwards/LeesEdwards.hpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/lb_lees_edwards.py
Due: clang-format, autopep8, pylint

Updated wordings and started adding tasks
  doc/tutorials/mlip/mlip.ipynb
Due: none

Isolate CI job due to repeated linker failures
  .gitlab-ci.yml
Due: none

Add support for CMake 3.30
  CMakeLists.txt
Due: cmake-format

Add support for NumPy 2.1
  requirements.txt
  samples/lb_planar_couette.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_interface.py
  testsuite/python/lb.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lees_edwards.py
  testsuite/python/propagation_brownian.py
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

Formatting
  CMakeLists.txt
Due: cmake-format

Attempt in more wordings and editing tasks
  doc/tutorials/mlip/mlip.ipynb
Due: none

removed last task and hopefully clarified mapping
  doc/tutorials/mlip/mlip.ipynb
Due: none

removed comment
  doc/tutorials/mlip/mlip.ipynb
Due: none

removed prints
  doc/tutorials/mlip/mlip.ipynb
Due: none

Copy editing
  doc/tutorials/mlip/mlip.ipynb
Due: none

Rewrite plotting and drawing code cells
  doc/tutorials/mlip/mlip.ipynb
Due: none

removed ground state mentioning, since it's wrong anyway
  doc/tutorials/mlip/mlip.ipynb
Due: none

General LB maintenance
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
  src/script_interface/walberla/LBFluid.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  testsuite/python/lb.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/regular_decomposition.py
Due: clang-format, autopep8, cmake-format, pylint

Added Tutor Notes
  doc/tutorials/mlip/NotesForTutor.md
Due: none

Split LB communicators
  src/core/integrate.cpp
  src/core/lb/LBNone.hpp
  src/core/lb/LBWalberla.cpp
  src/core/lb/LBWalberla.hpp
  src/core/lb/Solver.cpp
  src/core/lb/Solver.hpp
  src/core/lb/particle_coupling.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

Generate PackInfo
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
Due: clang-format, autopep8, cmake-format, pylint

PackInfo MPI buffer alignment bugfix
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
Due: clang-format

bond breakage
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/python/espressomd/bond_breakage.py
  src/script_interface/bond_breakage/BondBreakage.cpp
  src/script_interface/bond_breakage/BondBreakage.hpp
  src/script_interface/bond_breakage/CMakeLists.txt
  src/script_interface/bond_breakage/initialize.cpp
Due: clang-format, autopep8, cmake-format, pylint

bond-breakage-style-correction
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/python/espressomd/bond_breakage.py
  src/script_interface/bond_breakage/BondBreakage.cpp
  src/script_interface/bond_breakage/initialize.cpp
Due: clang-format, autopep8, pylint

bond-breakage-formatting
  src/python/espressomd/bond_breakage.py
  src/script_interface/bond_breakage/CMakeLists.txt
  src/script_interface/bond_breakage/initialize.cpp
Due: clang-format, autopep8, cmake-format, pylint

update MLIP tutorial
  doc/tutorials/mlip/mlip.ipynb
Due: none

rename EtOH to water
  doc/tutorials/mlip/mlip.ipynb
Due: none

bond-breakage
  src/python/espressomd/bond_breakage.py
Due: autopep8, pylint

bugfix
  doc/tutorials/mlip/mlip.ipynb
Due: none
