Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

walberla_bridge: EK: FixedFlux kernel update with testcase
  src/walberla_bridge/generated_kernels/FixedFlux.cpp
  testsuite/python/ek_fixedflux.py
Due: clang-format, autopep8

Switch domain decomposition to minimum image distance
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
  testsuite/python/random_pairs.py
Due: clang-format, autopep8

Domain decomposition: Remove ghost shifts
  src/core/DomainDecomposition.cpp
Due: clang-format

Remove debug output
  src/core/DomainDecomposition.cpp
Due: clang-format

walberla_bridge: FFT: removed fft-leakage by forward-declaration
  src/script_interface/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/PoissonSolver/FFT.cpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
Due: clang-format, cmake-format

tests: Simplify VTK test case
  testsuite/python/lb_vtk.py
Due: autopep8

walberla_bridge: FFT: fixup for fft-leakage compilation issues
  src/script_interface/walberla/EKFFT.hpp
  src/walberla_bridge/PoissonSolver/FFT.cpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
Due: clang-format

testsuite: ek_fixedflux: run longer
  testsuite/python/ek_fixedflux.py
Due: autopep8

walberla: Decouple node_is_boundary() from BlockAndCell
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla_bridge: PoissonSolver: removed unused fields
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

walberla_bridge: PoissonSolver: private BlockDataID and use std::size_t for interfacing
  src/core/grid_based_algorithms/EKContainer.hpp
  src/walberla_bridge/PoissonSolver/FFT.cpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
  src/walberla_bridge/PoissonSolver/None.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

walberla: Remove add_boundary_from_list()
  doc/sphinx/lb.rst
  samples/lb_circular_couette.py
  samples/lb_four_roller_mill.py
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/lb_boundary.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_interpolation.py
Due: clang-format, autopep8

walberla_bridge: PoissonSolver: further repalced BlockDataID with std::size_t
  src/core/grid_based_algorithms/EKContainer.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/PoissonSolver/FFT.cpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
  src/walberla_bridge/PoissonSolver/None.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

walberla_bridge: PoissonSolver: removed unnecessary includes
  src/walberla_bridge/PoissonSolver/None.hpp
Due: clang-format

CI: Shorten job names
  .gitlab-ci.yml
Due: none

CI: Switch to new docker image registry
  .gitlab-ci.yml
Due: none

le: Re-enable particle interpolation tests
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_couette_flow.py
  testsuite/python/lb_lees_edwards.py
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8, cmake-format

le: Add test and sample
  samples/lb_planar_couette.py
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_couette_flow.py
  testsuite/python/lb_planar_couette.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_planar_couette.py
Due: autopep8, cmake-format

le: Fluid interpolation test
  testsuite/python/lb_lees_edwards.py
Due: autopep8

merge regressions
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8

LE: interpolate velocities in the right direction and test it
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format

walberla_bridge: EK: started EKReactions
  src/walberla_bridge/EKReactions.hpp
Due: clang-format

CMake: Detect MPI backend
  CMakeLists.txt
  cmake/FindMpiexecBackend.cmake
  cmake/unit_test.cmake
Due: cmake-format

maintainer: Improve benchmark scripts
  maintainer/benchmarks/runner.sh
  maintainer/benchmarks/suite.sh
Due: none

maintainer: Skip benchmarks with missing features
  maintainer/benchmarks/CMakeLists.txt
Due: cmake-format

CMake: Fix race condition in OpenMPI
  CMakeLists.txt
  cmake/unit_test.cmake
  maintainer/CI/build_cmake.sh
  testsuite/python/CMakeLists.txt
Due: cmake-format

CMake: Fix MAX_NUM_PROC logic
  testsuite/python/CMakeLists.txt
Due: cmake-format

le: Reduce diff with walberla branch
  maintainer/benchmarks/CMakeLists.txt
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/core/integrate.cpp
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/python/thermostats_common.py
Due: clang-format, autopep8, cmake-format

Rename DomainDecomposition->RegularDecomposition.
  doc/sphinx/system_setup.rst
  doc/sphinx/under_the_hood.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/RegularDecomposition.cpp
  src/core/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/event.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
Due: clang-format, autopep8, cmake-format

le: Reset walberla generated kernels
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
Due: clang-format

walberla_bridge: EKReactant to ScriptInterface
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKReactant.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/EKReactions.hpp
Due: clang-format, autopep8

walberla_bridge: EKReaction: added getters/setters
  src/walberla_bridge/EKReactions.hpp
Due: clang-format

Make polymer_linear test deterministic.
  testsuite/python/polymer_linear.py
Due: autopep8

Use in samples and tests.
  samples/chamber_game.py
  samples/visualization_cellsystem.py
  samples/visualization_charged.py
  testsuite/python/CMakeLists.txt
  testsuite/python/brownian_dynamics.py
  testsuite/python/brownian_dynamics_stats.py
  testsuite/python/cellsystem.py
  testsuite/python/collision_detection.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/ek_eof_one_species.py
  testsuite/python/elc_vs_analytic.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/langevin_thermostat_stats.py
  testsuite/python/lj.py
  testsuite/python/mass-and-rinertia_per_particle.py
  testsuite/python/mmm1d.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/pairs.py
  testsuite/python/particle.py
  testsuite/python/random_pairs.py
  testsuite/python/regular_decomposition.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8, cmake-format

le: Fix regression in push scheme
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Use regular decomposition in p3m benchmark.
  maintainer/benchmarks/p3m.py
Due: autopep8

le: Remove unused UpdateVelocityFromPDF kernels
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepSinglePrecision.h
Due: clang-format, autopep8, cmake-format

le: Comment out failing test
  src/core/unit_tests/CMakeLists.txt
Due: cmake-format

Walberla: Generate GPU kernels (except macroscopi value accessors)
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla_bridge: EK: added EKReaction object
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKReactant.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/EKReactions.hpp
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
