Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Add virtual_site_id_for_mol_id boadcasting, WIP
  src/core/virtual_sites/com.cpp
Due: clang-format

Make FENE bond symmetric
  src/core/bonded_interactions/fene.hpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8, pylint

Thermalized Lees-Edwards LB Kernels
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/core/lb/LBWalberla.cpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionCUDA.h
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards_tests.cpp
  testsuite/python/lb_lees_edwards.py
Due: clang-format, autopep8, pylint

LE Tracing
  maintainer/walberla_kernels/lees_edwards.py
Due: autopep8, pylint

Debug vs_com_update_particles()
  src/core/virtual_sites/com.cpp
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, pylint

Debug vs_com_back_transfer_forces_and_torques()
  src/core/virtual_sites/com.cpp
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, pylint

post review revisions implemented
  doc/sphinx/magnetodynamics.rst
  src/core/Particle.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.hpp
  src/core/random.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, pylint

Replace repeated communication logic
  src/core/virtual_sites/com.cpp
Due: clang-format

Clean up and document script
  src/core/virtual_sites/com.cpp
Due: clang-format

Correct tests
  src/core/virtual_sites/com.cpp
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, pylint

Change syntax to vs_com_relate_to
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, pylint

Fix for LHS mismatch
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lees_edwards.py
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepLeesEdwardsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedDoublePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamCollideSweepThermalizedSinglePrecisionCUDA.cu
Due: autopep8, pylint

Add mass communication im vs_com_back_transfer_forces_and_torques
  src/core/virtual_sites/com.cpp
Due: clang-format

Debug exception tests
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, pylint

Fix formatting
  src/core/Particle.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/system/System.cpp
  src/core/virtual_sites/CMakeLists.txt
  src/core/virtual_sites/com.cpp
  src/core/virtual_sites/com.hpp
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format, autopep8, cmake-format, pylint

Fix unused variable
  testsuite/python/virtual_sites_center_of_mass.py
Due: autopep8, pylint

Fix formatting
  testsuite/python/particle.py
  testsuite/python/virtual_sites_center_of_mass.py
Due: autopep8, pylint

fixup
  doc/tutorials/boltzmann_inversion/CMakeLists.txt
  doc/tutorials/boltzmann_inversion/NotesForTutor.md
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8, cmake-format, pylint

REfactor Stoner Wolfarth particle acces
  src/core/Particle.hpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format

constify
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
Due: clang-format

anisotropy energy
  src/core/Particle.hpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, pylint

Python property namews
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/core/virtual_sites/relative.cpp
  src/core/virtual_sites/relative.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, pylint

Duplicate docstring
  src/core/virtual_sites/relative.cpp
Due: clang-format

revert step count in test
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, pylint

efficient conversion between nested variant vectors and numpy arrays
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pyx
Due: autopep8, pylint

update documentation and tests
  doc/sphinx/magnetodynamics.rst
  testsuite/python/thermal_stoner_wohlfarth.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8, pylint

bugfix in rot_vs_independent test
  testsuite/python/virtual_sites_relative.py
Due: autopep8, pylint

formatting
  src/python/espressomd/particle_data.py
Due: autopep8, pylint

Run Stoner Wolfarth test on 4 cores
  testsuite/python/CMakeLists.txt
Due: cmake-format

Enable nlopt dependency in cuda12-maxset CI pipeline
  .gitlab-ci.yml
Due: none

WIP: getter/setter consistency to fix particle.py to_dict() test
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, pylint

fixup
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, pylint

Bring docs in line.
  doc/sphinx/magnetodynamics.rst
Due: none

Cleanup documentation
  doc/bibliography.bib
  doc/sphinx/installation.rst
  doc/sphinx/magnetodynamics.rst
  src/config/features.def
  src/core/Particle.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.hpp
  src/python/espressomd/propagation.py
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, pylint

Enable NLopt in CI/CD pipelines
  .gitlab-ci.yml
Due: none

Refactoring
  CMakeLists.txt
  doc/sphinx/magnetodynamics.rst
  src/core/CMakeLists.txt
  src/core/Particle.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.hpp
  src/core/virtual_sites/relative.cpp
  src/core/virtual_sites/relative.hpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/thermal_stoner_wohlfarth.py
Due: clang-format, autopep8, cmake-format, pylint

Move block to fix Drude particle issue
  testsuite/python/save_checkpoint.py
Due: autopep8, pylint
