Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

script_interface: Fix quaternion checkpointing bug
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleList.cpp
  testsuite/python/particle.py
Due: clang-format, autopep8

tests: Fix broken force calculation
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Check serialization of particle properties
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

CI: Bump all GitHub Actions version requirements
  .github/workflows/deploy.yml
  .github/workflows/push_pull.yml
Due: none

Install Python dependencies with version constraints
  .github/actions/build_and_check/action.yml
  doc/sphinx/installation.rst
Due: none

tests: Modernize test case with subtests
  testsuite/python/virtual_sites_relative.py
Due: autopep8

tests: Add diagnostics to flaky test case
  testsuite/python/virtual_sites_relative.py
Due: autopep8

tests: Check reaction algorithm more thoroughly
  testsuite/python/CMakeLists.txt
  testsuite/python/reaction_complex.py
Due: autopep8, cmake-format

CMake: Fix broken test target for label parallel_odd
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_mixed_periodicity.py
Due: autopep8, cmake-format

CMake: Use modern CMake to handle CUDA
  .clang-tidy
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
Due: cmake-format

CMake: Disable Clang-Tidy on FetchContent projects
  CMakeLists.txt
  cmake/unit_test.cmake
  src/config/CMakeLists.txt
  src/core/CMakeLists.txt
  src/particle_observables/CMakeLists.txt
  src/profiler/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: cmake-format

CMake: Remove experimental filesystem
  .gitlab-ci.yml
  CMakeLists.txt
Due: cmake-format

CMake: Remove property from header-only targets
  src/particle_observables/CMakeLists.txt
  src/profiler/CMakeLists.txt
  src/utils/CMakeLists.txt
Due: cmake-format

CMake: Disable Clang-Tidy on FetchContent projects
  CMakeLists.txt
  cmake/unit_test.cmake
  src/config/CMakeLists.txt
  src/core/CMakeLists.txt
  src/profiler/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
Due: cmake-format

tests: Modernize test cases
  testsuite/python/ek_eof_one_species.py
  testsuite/python/particle.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8

core: Reset type tracker on particle clear
  src/core/particle_node.cpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

core: Restore LB boundaries during checkpointing
  src/core/grid_based_algorithms/lb.cpp
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

script_interface: LatticeWalberla: exposed read-only shape
  src/script_interface/walberla/LatticeWalberla.hpp
  testsuite/python/lattice.py
Due: clang-format, autopep8

ek: EKReactant: make order read-only to prevent breaking unit-conversion
  src/script_interface/walberla/EKReactant.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

ek: units: reactions
  src/script_interface/walberla/EKReaction.hpp
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_indexed_reactions.py
Due: clang-format, autopep8

ek: added and exposed unit conversion for boundary handlings
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  testsuite/python/ek_boundary.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_vtk.py
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

ek: units: permittivity
  src/script_interface/walberla/EKFFT.hpp
  testsuite/python/ek_eof.py
Due: clang-format, autopep8

walberla: Re-enable Ekin checkpointing
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/system.py
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/VTKHandle.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Fix auto-exclusions bugs
  src/core/particle_data.cpp
  src/script_interface/system/System.cpp
Due: clang-format

tests: Write more thorough auto-exclusion test case
  testsuite/python/CMakeLists.txt
  testsuite/python/auto_exclusions.py
Due: autopep8, cmake-format

Update type map when clearing the particle list (#4648)
  src/core/particle_node.cpp
  testsuite/python/ek_eof_one_species.py
  testsuite/python/particle.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Restore LB boundaries during checkpointing (#4649)
  src/core/grid_based_algorithms/lb.cpp
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Add support for Boost 1.81
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Bump NB convert toolchain and improve testing
  .gitlab-ci.yml
  maintainer/CI/jupyter_warnings.py
  requirements.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/utils/test_maintainer_CI_jupyter_warnings.py
Due: autopep8, cmake-format

tests: Remove unused visitor
  testsuite/scripts/importlib_wrapper.py
  testsuite/scripts/test_importlib_wrapper.py
Due: autopep8

Make particle property setters MPI-parallel
  src/core/Particle.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/collision.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites.hpp
  src/python/espressomd/particle_data.py
  src/python/espressomd/system.py
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/system/System.cpp
  src/utils/include/utils/Bag.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/auto_exclusions.py
  testsuite/python/nsquare.py
  testsuite/python/particle.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/regular_decomposition.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, cmake-format

ek: added checkpointing
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/WalberlaCheckpoint.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKWalberlaNodeState.hpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

walberla: Remove code duplication
  src/core/grid_based_algorithms/LBCheckpointFile.hpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/WalberlaCheckpoint.hpp
Due: clang-format

Fix testsuite
  .gitlab-ci.yml
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/FluidWalberla.cpp
Due: clang-format

Revert "Bump NB convert toolchain and improve testing"
  maintainer/CI/jupyter_warnings.py
  requirements.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/utils/test_maintainer_CI_jupyter_warnings.py
Due: autopep8, cmake-format

Debian: Github action to build package
  .github/actions/debian_package/action.yml
Due: none

Debian: Add package build to workflow
  .github/workflows/push_pull.yml
Due: none

Debian: relax version dependency for debhelper-compat
  debian/compat
  debian/control
Due: none

Initial debianization
  debian/changelog
  debian/control
  debian/copyright
  debian/gbp.conf
  debian/rules
  debian/source/format
  debian/watch
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
