Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

Fixed style
  testsuite/python/caliper.py
Due: autopep8, pylint

Fixed unused variables
  src/core/energy_cabana.hpp
Due: clang-format

use a vector to save the vtk data in memory before writting
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

Improve OIF documentation and testing
  .codecov.yml
  doc/bibliography.bib
  doc/sphinx/CMakeLists.txt
  doc/sphinx/advanced_methods.rst
  doc/sphinx/autodoc_overrides.py
  doc/sphinx/index.rst
  src/core/object-in-fluid/oif_local_forces.hpp
  src/python/espressomd/shapes.py
  src/python/object_in_fluid/__init__.py
  src/python/object_in_fluid/oif_classes.py
  src/python/object_in_fluid/oif_utils.py
  testsuite/python/CMakeLists.txt
  testsuite/python/interactions_bonded.py
  testsuite/python/oif_local_forces.py
Due: clang-format, autopep8, cmake-format, pylint

also changed ek and poisson vtk writers
  .claude/.nfs000000000350e8c600000003
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

remove host_field_allocator
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

fix fedora build
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

fix fedora build II
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

fix fedora build III
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

Update Sphinx tree
  doc/sphinx/CMakeLists.txt
  doc/sphinx/autodoc_overrides.cmake
  doc/sphinx/index.rst
  src/python/object_in_fluid/oif_classes.py
Due: autopep8, cmake-format, pylint

Remove unused function
  src/core/energy_inline.hpp
Due: clang-format

set content by reference
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

Drop extraneous hdf5 library/target commands that break highfigh (fixes #5295)
  CMakeLists.txt
Due: cmake-format

Support hdf5 1.x and 2.x
  CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
Due: cmake-format

Rewrite features parser and config file generator
  src/config/featuredefs.py
  src/config/gen_featureconfig.py
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/test_featuredefs.py
Due: autopep8, cmake-format, pylint

Improve NVHPC toolchain support
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVHPC.cmake
  cmake/espresso_unit_test.cmake
  src/core/aosoa_pack.hpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/myintrin.h
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/myintrin.h
Due: clang-format, cmake-format

simplify the vtk_reader
  src/python/espressomd/io/vtk.py
Due: autopep8, pylint

added the possibility to inlcude boundary cells in the vtk writer
  src/python/espressomd/lb.py
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/LatticeModel.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format, autopep8, pylint

ek vtk can now also be enabled to write the boundary cells
  src/python/espressomd/electrokinetics.py
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format, autopep8, pylint

include boundaries in the lattice vtk testcase
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

boundaries can now be selected as observabes for lb and ek vtk
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/LBFluid.cpp
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format, autopep8, pylint

fix cherry picked commit
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

Refactoring
  CMakeLists.txt
  src/core/cell_system/CellStructure.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

adjusted lattice_vtk testcase for the includion of boundaries
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

modified lattice_vtk testcase to check for inner boundaries
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

fix test
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

doc: EK: fixed documentation about boundaries
  doc/sphinx/ek.rst
Due: none

testsuite: updated params and tightened tolerances in ek_diffusion
  testsuite/python/ek_diffusion.py
Due: autopep8, pylint

EK: Implement missing EKNone on GPU
  src/script_interface/walberla/EKNone.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/PoissonSolverNone.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_none_init_cuda.cu
  testsuite/python/ek_interface.py
Due: clang-format, autopep8, cmake-format, pylint

EK: fix testcases
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_diffusive_flux.py
  testsuite/python/ek_ext_efield.py
  testsuite/python/ek_ion_conductivity.py
Due: autopep8, cmake-format, pylint

testsuite: added new testcase for the potential
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_potential_periodic.py
Due: autopep8, cmake-format, pylint

EK: fix unit conversion of FFT-solvers
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
  testsuite/python/ek_interface.py
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

testsuite: replace ek friction coupling - why GPU gives slightly different results than CPU?!
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_fluid_coupling.py
  testsuite/python/ek_friction_coupling.py
Due: autopep8, cmake-format, pylint

testsuite: fix ek_eof
  testsuite/python/ek_eof.py
Due: autopep8, pylint

script_interface: remove ifdef duplication
  src/script_interface/walberla/initialize.cpp
Due: clang-format

testsuite: rework ek_fluctuations
  testsuite/python/ek_fluctuations.py
Due: autopep8, pylint

tesuite: cleanup ek testcases and update params
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_friction_coupling.py
  testsuite/python/ek_indexed_reactions.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_potential.py
  testsuite/python/ek_slice.py
Due: autopep8, pylint

EK: added setters to PoissonSolvers with tests
  doc/sphinx/ek.rst
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolverNode.cpp
  src/script_interface/walberla/EKPoissonSolverNode.hpp
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverFFT.hpp
  src/walberla_bridge/src/electrokinetics/PoissonSolverNone.hpp
  src/walberla_bridge/tests/PoissonSolver_test.cpp
  testsuite/python/ek_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, pylint

unit_test: fixed EK unit tests
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/PoissonSolver_test.cpp
Due: clang-format

testsuite: ek: fix testcases for github runners
  testsuite/python/ek_ext_efield.py
  testsuite/python/ek_friction_coupling.py
Due: autopep8, pylint

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
