Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

SI: added EKReactions container
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/system.pyx
  src/script_interface/walberla/EKReactions.hpp
  src/script_interface/walberla/initialize.cpp
Due: clang-format, autopep8

cmake: Requrei c++17 for c++ and cuda sources
  CMakeLists.txt
Due: cmake-format

Walberla: Compile Cuda Kernels
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

le: Refactor test and use lower tolerance for AppleClang
  testsuite/python/lees_edwards.py
Due: autopep8

core: added EKReactions core representation
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/EKReactions.hpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_reactions.cpp
  src/core/grid_based_algorithms/ek_reactions.hpp
  src/script_interface/walberla/EKReactant.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKReactions.hpp
  src/walberla_bridge/EKReaction.hpp
Due: clang-format, cmake-format

obtain up to date particle iterators
  src/core/integrate.cpp
Due: clang-format

Rewrite reaction methods as script interface classes
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  samples/widom_insertion.py
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/SingleReaction.hpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.py
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/script_interface.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/reaction_methods/CMakeLists.txt
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/SingleReaction.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  src/script_interface/reaction_methods/initialize.cpp
  src/script_interface/reaction_methods/initialize.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods.py
  testsuite/python/widom_insertion.py
Due: clang-format, autopep8, cmake-format

docs: Document reaction attributes constant_pH and gamma
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/reaction_ensemble.py
Due: autopep8

core: Refactor MPI-IO exception mechanism
  src/core/io/mpiio/mpiio.cpp
  testsuite/python/mpiio_exceptions.py
Due: clang-format, autopep8

core: Improve MPI-IO documentation
  doc/sphinx/io.rst
  src/core/io/mpiio/mpiio.cpp
  src/core/io/mpiio/mpiio.hpp
Due: clang-format

tests: Extend MPI-IO test case
  testsuite/python/CMakeLists.txt
  testsuite/python/mpiio.py
  testsuite/python/mpiio_exceptions.py
Due: autopep8, cmake-format

core: Make MPI-IO exceptions testable
  src/core/io/mpiio/mpiio.cpp
Due: clang-format

python: Remove MPI-IO global variable
  doc/sphinx/io.rst
  src/python/espressomd/io/mpiio.py
  testsuite/python/mpiio.py
  testsuite/python/mpiio_exceptions.py
Due: autopep8

core: Refactor MPI-IO
  src/core/io/mpiio/mpiio.cpp
  src/core/io/mpiio/mpiio.hpp
  src/script_interface/mpiio/si_mpiio.hpp
Due: clang-format

walberla_bridge: ek: first attempt in reactions
  src/core/grid_based_algorithms/ek_container.cpp
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKReaction.cpp
  src/walberla_bridge/EKReaction.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_1.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_1.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_2.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_2.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_3.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_3.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_4.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_4.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_5.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernel_5.h
Due: clang-format, cmake-format

walberla_bridge: ek: moved boundary kernels to separate folder
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/Dirichlet.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/Dirichlet.h
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/FixedFlux.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/FixedFlux.h
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/NoFlux.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/NoFlux.h
Due: clang-format, cmake-format

walberla_bridge: ek: moved kernels to separate folder
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernelWithElectrostatic.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/AdvectiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/AdvectiveFluxKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/ContinuityKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/ContinuityKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernelWithElectrostatic.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernelWithElectrostatic.h
  src/walberla_bridge/generated_kernels/electrokinetics/FrictionCouplingKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/FrictionCouplingKernel.h
Due: clang-format, cmake-format

Make CellStructureType an enum class.
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/CellStructureType.hpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/event.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
Due: clang-format, autopep8

Add CellStructureType to LocalBox test.
  src/core/unit_tests/LocalBox_test.cpp
Due: clang-format

Store cell_structure_type in LocalBox.
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/LocalBox.hpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/cells.cpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/grid.cpp
  src/core/grid_based_algorithms/lb.cpp
Due: clang-format

core: Modernize MPI-IO
  src/core/io/mpiio/mpiio.cpp
  src/core/io/mpiio/mpiio.hpp
  src/script_interface/mpiio/initialize.cpp
  src/script_interface/mpiio/mpiio.hpp
Due: clang-format

walberla_bridge: EK: extraced EKReactant to separate file
  src/script_interface/walberla/EKReactant.hpp
  src/walberla_bridge/EKReactant.hpp
  src/walberla_bridge/EKReaction.hpp
Due: clang-format

walberla_bridge: EK: fixed copy pasta assert
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

walberla_bridge: EK: removed old EK implementation
  src/walberla_bridge/EKReaction.cpp
  src/walberla_bridge/EKReaction.hpp
Due: clang-format

walberla_bridge: EK: EKReaction Base class
  src/core/grid_based_algorithms/ek_reactions.cpp
  src/core/grid_based_algorithms/ek_reactions.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKReactionBase.hpp
  src/walberla_bridge/EKReactionImplBulk.cpp
  src/walberla_bridge/EKReactionImplBulk.hpp
Due: clang-format, cmake-format

walberla_bridge: EK: renamed Bulk kernels
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKReactionImplBulk.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_1.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_1.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_2.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_2.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_3.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_3.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_4.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_4.h
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_5.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/reactions/ReactionKernelBulk_5.h
Due: clang-format, cmake-format

walberla_bridge: EK: move reactions into subfolder
  src/core/grid_based_algorithms/ek_reactions.hpp
  src/script_interface/walberla/EKReactant.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/electrokinetics/reactions/EKReactant.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionBase.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5.h
Due: clang-format, cmake-format

Walberla: allow getting populations from ghost layer
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Lees Edwards: sort out interpolation direction
  src/walberla_bridge/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Lees Edwards: Add shift to image positions in b coupling
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Make VerletCriterion a class template
  src/core/forces.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
Due: clang-format

Create unit test for VerletCriterion
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/VerletCriterion_test.cpp
Due: clang-format, cmake-format

Implement bond breakage
  src/core/CMakeLists.txt
  src/core/bond_breakage.cpp
  src/core/bond_breakage.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/bond_breakage.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectMap.hpp
  src/script_interface/bond_breakage/BreakageSpec.hpp
  src/script_interface/bond_breakage/BreakageSpecs.hpp
  src/script_interface/bond_breakage/CMakeLists.txt
  src/script_interface/bond_breakage/initialize.cpp
  src/script_interface/bond_breakage/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/bond_breakage.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

Extend testcase for bond breakage with a random network
  testsuite/python/bond_breakage.py
Due: autopep8

Maps between enum action type and string
  src/script_interface/bond_breakage/BreakageSpec.hpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

Test case for bond breakage with new strings as parameter
  testsuite/python/bond_breakage.py
Due: autopep8

Lees Edwards: particle coupling again
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

CMake: Fix regression
  CMakeLists.txt
Due: cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
