Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

WIP: n_replicas added to DDS_GPU
  src/core/magnetostatics/dipolar_direct_sum_gpu.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.hpp
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cuh
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarDirectSumGpu.hpp
Due: clang-format, autopep8, pylint

Corrected following clang
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Corrected a code for clang
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Formatting a code
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Corrected a code for following clang
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Formatting the code
  src/core/io/writer/h5md_core.cpp
Due: clang-format

fixed mpi boundary buf_size not matching
  src/walberla_bridge/src/BoundaryPackInfo.hpp
Due: clang-format

test for rank consistency dds GPU
  testsuite/python/dipolar_direct_summation.py
Due: autopep8, pylint

BoundaryFlagPackInfo and removed omp single nowait
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

mpi send also inside omp critical
  src/walberla_bridge/src/BoundaryPackInfo.hpp
Due: clang-format

Modified size_t tp std::size_t
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Added new argument 'chunk_size' for H5MD
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8, pylint

Formatting codes
  src/core/io/writer/h5md_core.cpp
  src/script_interface/h5md/h5md.cpp
Due: clang-format

Formatting a code
  src/python/espressomd/io/writer/h5md.py
Due: autopep8, pylint

Deleted unneccesary comment
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

Small improvements
  CMakeLists.txt
  src/config/features.def
  src/core/io/writer/hdf5_patches.hpp
Due: clang-format, cmake-format

Replaced HighFive to highfive-dev
  src/core/io/writer/h5md_core.cpp
Due: clang-format

experiment
  src/walberla_bridge/src/BoundaryPackInfo.hpp
Due: clang-format

cleanup packinfo kernel generation
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8, pylint

LE: explicitly test consistency between push step and vel and pos difference functions, respectively
  testsuite/python/lees_edwards.py
Due: autopep8, pylint

Refactoring
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8, pylint

VS relative: try to address flaky test
  testsuite/python/virtual_sites_relative.py
Due: autopep8, pylint

Remove outdated patches
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/BoundaryPackInfo.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/tests/CMakeLists.txt
Due: clang-format, cmake-format

Revert kernels
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.cpp
  testsuite/python/lb_momentum_conservation.py
Due: autopep8, pylint

Fix regression
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
Due: clang-format

Fix typos
  testsuite/python/lees_edwards.py
Due: autopep8, pylint

Fix pylint
  testsuite/python/lees_edwards.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8, pylint

Fix regressions
  src/core/PropagationMode.hpp
  src/core/electrostatics/p3m.cpp
  src/core/integrate.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/integrators/velocity_verlet_npt_Andersen.cpp
  src/core/integrators/velocity_verlet_npt_MTK.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/npt.cpp
  src/core/npt.hpp
  testsuite/python/integrator_npt_stats.py
Due: clang-format, autopep8, pylint

Add files via upload
  src/python/espressomd/zn.py
Due: autopep8, pylint

dip_fld_trackiing added
  src/core/forces.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cuh
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/system/GpuParticleData.cpp
  src/core/system/GpuParticleData.hpp
  src/core/system/GpuParticleData_cuda.cu
  testsuite/python/dipole_field_tracking.py
Due: clang-format, autopep8, pylint

cuda guard added
  src/core/magnetostatics/dipoles.hpp
Due: clang-format

remove LongRangeField path
  src/core/energy.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/observables/ParticleDipoleFields.hpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  testsuite/python/dipolar_interface.py
  testsuite/python/dipole_field_tracking.py
  testsuite/python/observables.py
Due: clang-format, autopep8, pylint

add missing feature checks in tests
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipole_field_tracking.py
Due: autopep8, pylint

formatting
  testsuite/python/dipole_field_tracking.py
Due: autopep8, pylint
