Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Use consistent types in Lees-Edwards code
  src/core/io/writer/h5md_core.cpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/script_interface/lees_edwards/LeesEdwards.hpp
  src/utils/include/utils/Vector.hpp
Due: clang-format

DevOps: Bump version requirements
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/FindClangTidy.cmake
  cmake/FindCython.cmake
  maintainer/CI/dox_warnings.py
Due: autopep8, cmake-format

tests: Factor out code duplication
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/unit_tests/particle_management.hpp
Due: clang-format

walberla: More simplifications
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/script_interface/walberla/LBFluid.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
Due: clang-format, cmake-format

python: Simplify VTK
  src/python/espressomd/detail/__init__.py
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/python/espressomd/system.py
  testsuite/python/test_checkpoint.py
Due: autopep8

CMake: Fix regression
  CMakeLists.txt
Due: cmake-format

walberla: Write extra EK unit tests
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/electrokinetics_test.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/script_interface/walberla/LBFluid.hpp
  src/script_interface/walberla/LBFluidNode.hpp
  src/script_interface/walberla/LBFluidSlice.hpp
  src/script_interface/walberla/LatticeSlice.hpp
  src/script_interface/walberla/LatticeSlice.impl.hpp
  src/script_interface/walberla/LatticeWalberla.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format, cmake-format

walberla: More cleanup, more unit testing
  src/core/unit_tests/electrokinetics_test.cpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  src/walberla_bridge/src/LatticeWalberla.cpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.cpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/ResetForce.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

walberla: Document codegen
  .pre-commit-config.yaml
  doc/sphinx/ek.rst
  doc/sphinx/lb.rst
  maintainer/walberla_kernels/Readme.md
Due: none

CMake: Remove obsolete patch
  cmake/waLBerla.patch
Due: none

Bond breakage support for angle bonds
  doc/sphinx/advanced_methods.rst
  src/core/bond_breakage/actions.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/core/forces_inline.hpp
  src/core/unit_tests/bond_breakage_test.cpp
  testsuite/python/bond_breakage.py
Due: clang-format, autopep8

tests: Cleanup
  testsuite/python/lb_shear.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_vtk.py
  testsuite/python/lb_walberla.py
Due: autopep8

tests: Re-organize tests
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/ek_interface_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_walberla.py
  testsuite/python/virtual_sites_tracers.py
Due: clang-format, autopep8, cmake-format

tests: Merge EK and LB VTK tests
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_vtk.py
  testsuite/python/lattice_vtk.py
  testsuite/python/lb_vtk.py
Due: autopep8, cmake-format

walberla: Fix more regressions
  doc/sphinx/ek.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/tutorials/electrokinetics/CMakeLists.txt
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/integrate.cpp
  src/core/unit_tests/ek_interface_test.cpp
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/LBFluid.cpp
  src/script_interface/walberla/LBFluid.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/ek_eof.py
  testsuite/python/ek_interface.py
  testsuite/python/lattice_vtk.py
  testsuite/python/lb.py
  testsuite/python/test_checkpoint.py
  testsuite/scripts/tutorials/test_electrokinetics.py
  testsuite/scripts/tutorials/test_raspberry_electrophoresis.py
Due: clang-format, autopep8, cmake-format

walberla: Rename VTK fields
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lattice_vtk.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Restore all LB samples
  samples/object_in_fluid/motivation.py
  testsuite/python/ek_diffusion.py
  testsuite/python/tests_common.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_object_in_fluid__motivation.py
Due: autopep8, cmake-format

walberla: More refactoring
  src/python/espressomd/detail/walberla.py
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/LBFluid.cpp
  testsuite/python/lattice_vtk.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

python: Fix particle radius calculation
  src/python/espressomd/visualization.py
Due: autopep8

script_interface: Rewrite ObjectList as AutoParameters
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectContainer.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/tests/serialization_mpi_guard_test.cpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Fix EK checkpointing
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/initialize.cpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Add EKPoissonSolver checks
  doc/sphinx/ek.rst
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

walberla: Add optional parameters
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  testsuite/python/ek_boundary.py
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_indexed_reactions.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_slice.py
  testsuite/python/lattice_vtk.py
Due: autopep8

walberla: Simplify boundaries interface
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
Due: autopep8

walberla: Add checks for solver tau
  src/script_interface/walberla/EKContainer.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

walberla: Fix regressions
  doc/sphinx/ek.rst
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  src/core/unit_tests/ek_interface_test.cpp
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/lattice_vtk.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Fix race condition in MPI communicators
  src/core/communication.cpp
  src/script_interface/walberla/LatticeModel.hpp
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/utils/ResourceManager.hpp
  src/walberla_bridge/include/walberla_bridge/walberla_init.hpp
  src/walberla_bridge/src/walberla_init.cpp
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LatticeWalberla_unit_tests.cpp
  src/walberla_bridge/tests/ResourceManager_test.cpp
Due: clang-format, cmake-format

walberla: Cleanup
  src/python/espressomd/electrokinetics.py
  src/python/espressomd/lb.py
  src/walberla_bridge/include/walberla_bridge/utils/ResourceManager.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/ResourceManager_test.cpp
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8

script_interface: Rewrite ObjectMap as AutoParameters
  doc/sphinx/io.rst
  src/python/espressomd/interactions.py
  src/python/espressomd/script_interface.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectMap.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/object_container_mpi_guard.cpp
  src/script_interface/object_container_mpi_guard.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/serialization_mpi_guard_test.cpp
  testsuite/python/bond_breakage.py
Due: clang-format, autopep8, cmake-format

python: Reduce diff
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  testsuite/scripts/samples/test_lb_four_roller_mill.py
Due: autopep8

walberla: Remove unused kernels
  maintainer/walberla_kernels/templates/FieldAccessors.tmpl.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  testsuite/python/lb.py
Due: autopep8

walberla: Bump version
  CMakeLists.txt
Due: cmake-format

CMake: Silence C++20 warning in Cython-generated code
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

walberla: Update docs
  doc/sphinx/installation.rst
  maintainer/walberla_kernels/Readme.md
Due: none

walberla: Adjust single-precision test tolerances
  CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/kernels_unit_tests.cpp
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_thermostat.py
  testsuite/python/linear_momentum_lb.py
Due: clang-format, autopep8, cmake-format

walberla: Coding style
  testsuite/python/ek_boundary.py
  testsuite/python/engine_lb.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_circular_couette.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_lees_edwards.py
  testsuite/python/lb_mass_conservation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_streaming.py
  testsuite/python/lb_thermostat.py
  testsuite/python/linear_momentum_lb.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_tracers.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
