Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

clean with clang
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision_CUDA.cu
Due: clang-format, autopep8, pylint

fix docu
  src/python/espressomd/electrokinetics.py
Due: autopep8, pylint

fix gpu tests
  testsuite/python/ek_boundary.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_ion_conductivity.py
  testsuite/python/ek_potential.py
Due: autopep8, pylint

cuda friction coupling kernels after merge
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision_CUDA.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision_CUDA.h
Due: clang-format

fix style
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

gpu fft kernels are only generated once
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
Due: clang-format

removed unused variable
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
Due: clang-format

Sort out ifdefs
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
Due: clang-format

Refactoring
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Formatting
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fixed missing hpp file
  src/core/cell_system/particle_enumeration.hpp
Due: clang-format

Fixed bugs
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
  src/core/forces_cabana.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Formatting
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
Due: clang-format

Deleted unnecessary comments
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/custom_verlet_list.hpp
  src/core/forces_inline.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Refactor
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
Due: clang-format

Refactor
  src/core/BoxGeometry.hpp
  src/core/aosoa_pack.hpp
  src/core/cabana_data.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/particle_enumeration.hpp
  src/core/communication.cpp
  src/core/custom_verlet_list.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  testsuite/python/caliper.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/scafacos_interface.py
  testsuite/python/unittest_decorators.py
Due: clang-format, autopep8, pylint

Fix regressions
  src/core/cell_system/CellStructure.hpp
  src/core/system/System.cpp
Due: clang-format

Fix regressions
  src/core/cell_system/CellStructure.cpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
  testsuite/python/caliper.py
Due: clang-format, autopep8, pylint

Avoid copies
  CMakeLists.txt
  src/core/BoxGeometry.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
Due: clang-format, cmake-format

add flux to vtk
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKSpecies.cpp
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format, autopep8, pylint

Fixed bug for NPT with P3M
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  testsuite/python/integrator_npt_stats.py
Due: clang-format, autopep8, pylint

Formatting
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  testsuite/python/integrator_npt_stats.py
Due: clang-format, autopep8, pylint

Apply SOLID principles
  src/core/aosoa_pack.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/custom_verlet_list.hpp
  src/core/forces.cpp
  src/core/forces_cabana.hpp
  src/core/short_range_cabana.hpp
  src/core/system/System.hpp
  testsuite/python/integrator_exceptions.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/npt_thermostat.py
Due: clang-format, autopep8, pylint

style
  testsuite/python/integrator_exceptions.py
Due: autopep8, pylint

disable test with instrumentation
  src/script_interface/code_info/CodeInfo.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_exceptions.py
Due: clang-format, autopep8, cmake-format, pylint

Fix regression
  testsuite/python/integrator_exceptions.py
Due: autopep8, pylint

Fix error message
  testsuite/python/integrator_exceptions.py
Due: autopep8, pylint

Fix npt test
  testsuite/python/integrator_exceptions.py
Due: autopep8, pylint

fixup
  testsuite/python/integrator_exceptions.py
Due: autopep8, pylint

added vtk potential writer
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKFFT_GPU.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format, autopep8, pylint

updated lattice_vtk testcase
  src/walberla_bridge/include/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/src/LatticeModel.cpp
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

fix macos
  src/script_interface/walberla/EKNone.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format

skip ek gpu vtk test for n_nodes != 1
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

fix clang
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKFFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format

fix macos
  src/script_interface/walberla/EKFFT.hpp
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

Re-organize waLBerla FFT
  CMakeLists.txt
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/fft_gpu/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/FFT_CUDA.cu
  src/walberla_bridge/src/electrokinetics/FFT_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_ion_conductivity.py
  testsuite/python/ek_potential.py
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, cmake-format, pylint

Fix regressions
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_ek_generation.py
  src/script_interface/walberla/EKFFT_GPU.hpp
  src/script_interface/walberla/EKPoissonSolverNode.cpp
  src/script_interface/walberla/EKPoissonSolverNode.hpp
  src/script_interface/walberla/EKPoissonSolverNodeState.hpp
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_poisson_fft_gpu_init.hpp
  src/walberla_bridge/src/electrokinetics/FFT_CUDA.cu
  src/walberla_bridge/src/electrokinetics/FFT_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/ek_kernels.cuh
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

Add fixture
  testsuite/python/lattice_vtk.py
Due: autopep8, pylint

speed up flux and density vtk writers on gpu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
