Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

throw if lb boundaries do not fit lb algorithm
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

walberla_bridge: EKReactionIndexed: working version
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionBase.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5.h
Due: clang-format, autopep8

particle getters for always-there-properties
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/visualization_mayavi.pyx
Due: autopep8

SI: EKReaction: allow negative indices for nodes
  src/script_interface/walberla/EKReaction.hpp
Due: clang-format

walberla_bridge: EKReactionIndexed: added slicing support
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format, autopep8

SI: EKSpecies: removed custom mpi reduction
  src/script_interface/walberla/EKSpecies.hpp
Due: clang-format

more getters
  src/core/particle_data.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

walberla_bridge: EKReactionsIndexed: removed TODOs
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

alberla_bridge: EKReactionIndexed: moved FlagField to detail namespace
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

walberla_bridge: PoissonSolver: moved to directory and reduced header leakage
  src/core/grid_based_algorithms/EKContainer.hpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/electrokinetics/PoissonSolver/FFT.cpp
  src/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format, cmake-format

walberla_bridge: EKWalberlaBase: nodiscard
  src/walberla_bridge/EKinWalberlaBase.hpp
Due: clang-format

walberla_bridge: reactions: added some noexcepts
  src/walberla_bridge/electrokinetics/reactions/EKReactant.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionBase.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

Walberla: Move LB kernel selection and includes to separate file
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_kernels.hpp
Due: clang-format

Use correct lattice size
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Convert shear velocity and offset to LB units
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

Use correct sign for epsilon check
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

core: Fix regressions std::unordered_map objects
  src/core/PartCfg.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/tests/AutoParameters_test.cpp
  src/utils/include/utils/Cache.hpp
  src/utils/include/utils/Factory.hpp
  src/utils/include/utils/NumeratedContainer.hpp
Due: clang-format

python: Rename bond breakage actions
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/bond_breakage.py
  src/script_interface/bond_breakage/BreakageSpec.hpp
  testsuite/python/bond_breakage.py
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

core: Use compact vectors in Particle struct
  src/core/BondList.hpp
  src/core/Particle.hpp
  src/core/unit_tests/Particle_serialization_test.cpp
  src/core/unit_tests/Particle_test.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/utils/include/utils/compact_vector.hpp
  src/utils/tests/serialization_test.cpp
Due: clang-format, autopep8

Check for correct cells also if offset if larger than a box
  src/walberla_bridge/InterpolateAndShiftAtBoundary.hpp
Due: clang-format

maintainer: Minor fixes
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/Readme.md
Due: autopep8, cmake-format

Formatting
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_kernels.hpp
Due: clang-format

reaction_methods: new optional keyword exclusion_radius_per_type
  doc/sphinx/advanced_methods.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/python/espressomd/reaction_ensemble.py
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods.py
Due: clang-format, autopep8

testsuite: Fix regressions in test cases
  samples/grand_canonical.py
  src/core/unit_tests/Particle_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/field_test.py
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/lb_vtk.py
  testsuite/python/particle.py
  testsuite/python/random_pairs.py
  testsuite/python/reaction_methods.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, cmake-format

testsuite: Simplify python tests
  testsuite/python/h5md.py
  testsuite/scripts/test_importlib_wrapper.py
  testsuite/scripts/tutorials/test_convert.py
Due: autopep8

core: Unit test the rotation code
  src/core/rotation.cpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/Particle_test.cpp
  src/core/unit_tests/rotation_test.cpp
Due: clang-format, cmake-format

core: MPI-safe virtual sites relative exceptions
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Improve exception mechanism
  src/core/integrate.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/integrate.pyx
  src/python/espressomd/interactions.pyx
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/system.pyx
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/field_test.py
  testsuite/python/h5md.py
  testsuite/python/integrator_exceptions.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/particle.py
  testsuite/python/reaction_methods.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, cmake-format

script_interface: Refactor get_value() framework
  src/script_interface/ObjectMap.hpp
  src/script_interface/constraints/couplings.hpp
  src/script_interface/get_value.hpp
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  src/script_interface/tests/get_value_test.cpp
Due: clang-format

core: Fix undefined behavior
  src/core/grid_based_algorithms/lb_collective_interface.cpp
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8

python: Fix OpenGL visualization
  samples/lj-demo.py
  src/python/espressomd/visualization_opengl.py
Due: autopep8

testsuite: Fix regressions
  src/core/unit_tests/rotation_test.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

Improve particle exception handling
  src/core/particle_data.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  testsuite/python/particle.py
Due: clang-format, autopep8

walberla: Cleanup codegen scripts
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/le_markus.py
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/generated_kernels/LeesEdwards_Collision.cpp
  src/walberla_bridge/generated_kernels/LeesEdwards_Collision.h
Due: clang-format, autopep8, cmake-format

doc: Apply code review suggestions
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/interactions.pyx
  src/python/espressomd/script_interface.pyx
Due: autopep8

core: Store Lees-Edwards offset in H5MD output
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
Due: clang-format

core: Fix typo in const overload
  src/core/BoxGeometry.hpp
  src/core/CellStructure.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/lees_edwards/lees_edwards.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

core: Refactor H5MD
  src/core/io/writer/h5md_core.cpp
Due: clang-format

python: Make H5md a script interface class
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/python/espressomd/io/writer/__init__.py
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

docs: Rewrite H5MD feature documentation
  doc/sphinx/io.rst
  samples/h5md_trajectory.py
  src/core/io/writer/h5md_core.cpp
  src/python/espressomd/io/writer/h5md.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_h5md_trajectory.py
Due: clang-format, autopep8, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
