Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Fix C++20 compiler warnings
  .gitlab-ci.yml
  src/core/analysis/statistics.cpp
  src/core/observables/RDF.cpp
  src/shapes/src/Rhomboid.cpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/mpi/scatter_buffer.hpp
Due: clang-format

CMake: Bump OpenMPI/MPICH version requirements
  CMakeLists.txt
  cmake/espresso_get_mpiexec_vendor.cmake
  src/core/communication.cpp
  src/core/event.cpp
Due: clang-format, cmake-format

CMake: Bump linter/formatter version requirements
  .gitlab-ci.yml
  doc/tutorials/convert.py
  maintainer/format/autopep8.sh
  maintainer/format/clang-format.sh
  src/core/MpiCallbacks.hpp
  src/core/communication.hpp
  src/core/constraints/ExternalField.hpp
  src/core/constraints/ExternalPotential.hpp
  src/core/electrostatics/specfunc.cuh
  src/core/galilei/Galilei.cpp
  src/core/grid_based_algorithms/lattice.cpp
  src/core/grid_based_algorithms/lattice.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/magnetostatics/barnes_hut_gpu.cpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/electrostatics/ElectrostaticLayerCorrection.hpp
  src/script_interface/get_value.hpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/magnetostatics/DipolarLayerCorrection.hpp
  src/utils/include/utils/cartesian_product.hpp
  src/utils/include/utils/integral_parameter.hpp
  src/utils/include/utils/tuple.hpp
Due: clang-format, autopep8

script_interface: Implement MPI reduction of optionals
  src/script_interface/communication.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/reduction_test.cpp
Due: clang-format, cmake-format

CMake: Bump FindCython version
  cmake/FindCython.cmake
Due: none

CMake: Cleanup dependencies version checks
  CMakeLists.txt
  cmake/FindCython.cmake
  requirements.txt
Due: cmake-format

CI: Fix Open MPI and CMake issues in the testsuite
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  src/script_interface/CMakeLists.txt
Due: cmake-format

CI: Add debug information for CUDA builds
  maintainer/CI/build_cmake.sh
Due: none

test: Reduce EK test runtime in UBSAN/ASAN builds
  testsuite/python/ek_indexed_reactions.py
Due: autopep8

ekin: Separation of concerns
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
  src/core/integrate.cpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/None.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.cpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
Due: clang-format

lb: Fix Clang-Tidy 14 diagnostics
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/LatticeIndices.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

CMake: Disable Clang-Tidy on FetchContent projects
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

tests: Fix UBSAN/ASAN errors
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LatticeWalberla_unit_tests.cpp
Due: clang-format

Fix regressions
  src/core/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.cpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

CMake: Bump CUDA standard
  CMakeLists.txt
Due: cmake-format

CMake: Silence C++20 warning from Cython
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

python: Fix regression
  samples/immersed_boundary/sampleImmersedBoundary.py
  samples/lb_circular_couette.py
  samples/lb_four_roller_mill.py
  samples/lb_planar_couette.py
  samples/lb_profile.py
  samples/lbf.py
  samples/object_in_fluid/motivation.py
  samples/visualization_lbboundaries.py
  samples/visualization_poiseuille.py
Due: autopep8

CI: Remove redundant jobs
  .gitlab-ci.yml
  doc/sphinx/installation.rst
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
Due: cmake-format

CI: Fix build script
  maintainer/CI/build_cmake.sh
Due: none

CI: Fix CMake flags
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/lb.py
  maintainer/benchmarks/runner.sh
Due: autopep8

CMake: Fix regression
  .gitlab-ci.yml
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
Due: cmake-format

Implement override_cutoff_check property for vs.
  doc/sphinx/particles.rst
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSites.hpp
  src/script_interface/virtual_sites/VirtualSites.hpp
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

Fulfill preconditions for non_bonded_loop_trace()
  src/script_interface/cell_system/CellSystem.cpp
Due: clang-format

bugfix: reaction_methods always check for empty ids before performing reaction steps
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/WidomInsertion.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/reaction_bookkeeping.py
Due: clang-format, autopep8, cmake-format

core: Use O(N) algorithm instead of O(N^2)
  src/core/reaction_methods/ReactionAlgorithm.cpp
  testsuite/python/reaction_bookkeeping.py
Due: clang-format, autopep8

fixed particle pair function
  src/python/espressomd/particle_data.py
  testsuite/python/pairs.py
Due: autopep8

add ParticleDirectors observable
  doc/sphinx/analysis.rst
  src/core/observables/ParticleDirectors.hpp
  src/core/observables/ParticleTraits.hpp
  src/particle_observables/include/particle_observables/observable.hpp
  src/particle_observables/include/particle_observables/properties.hpp
  src/python/espressomd/observables.py
  src/script_interface/observables/initialize.cpp
  testsuite/python/observables.py
Due: clang-format, autopep8

Run waLBerla in Clang with GPU support
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, cmake-format

waLBerla+cuda
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/lb_walberla_init.cpp
  src/walberla_bridge/src/lattice_boltzmann/lb_walberla_init.cu
Due: clang-format, cmake-format

Fix CMake
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

Modernize, optimize and unit test OIF code
  src/core/object-in-fluid/oif_local_forces.hpp
  src/python/object_in_fluid/oif_classes.py
  testsuite/python/oif_volume_conservation.py
Due: clang-format, autopep8

core: Remove unreachable code
  src/core/MpiCallbacks.hpp
  src/core/p3m/common.cpp
  src/utils/include/utils/index.hpp
Due: clang-format

Fix regressions in user guide and doxygen
  doc/sphinx/analysis.rst
  doc/sphinx/installation.rst
  src/core/analysis/statistics.hpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
Due: clang-format

Document and unit test virtual sites interface
  doc/sphinx/system_setup.rst
  src/python/espressomd/virtual_sites.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_relative.py
Due: autopep8

Modernize, document and unit test special functions
  src/core/electrostatics/specfunc.cpp
  src/core/electrostatics/specfunc.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/specfunc_test.cpp
Due: clang-format, cmake-format

Improve code coverage
  .gitlab-ci.yml
  src/core/MpiCallbacks.hpp
  src/core/unit_tests/MpiCallbacks_test.cpp
  src/core/unit_tests/Particle_serialization_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/unit_tests/p3m_test.cpp
  src/utils/tests/Factory_test.cpp
  src/utils/tests/gatherv_test.cpp
  testsuite/python/ek_eof_one_species.py
  testsuite/python/integrator_npt.py
Due: clang-format, autopep8

tests: Replace deprecated numpy option
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
Due: autopep8
