Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

Test: add test for lb pressure tensor acf agaisnt viscosity
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_pressure_tensor_acf.py
Due: autopep8, cmake-format

h5md: do not use generator expression in order to not trigger rebuild.
  src/core/io/writer/CMakeLists.txt
Due: cmake-format

script_interface: Test for variant packing
  src/script_interface/packed_variant.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/packed_variant_test.cpp
Due: clang-format, cmake-format

Typo
  testsuite/python/lb_pressure_tensor_acf.py
Due: autopep8

Fix unused import
  testsuite/python/lb_pressure_tensor_acf.py
Due: autopep8

core: Removed globals derived from the time step
  src/core/communication.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/rotation.cpp
Due: clang-format

Walberla: work on particle thermalization
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/unit_tests/LbWalberla.cpp
  testsuite/python/lb.py
  testsuite/python/lb_thermostat.py
Due: clang-format, autopep8

core: sd: Moved sd particle struct into implementation
  src/core/serialization/SD_particle_data.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

core: sd: Removed unneeded headers
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

obsolete comment
  testsuite/python/lb_interpolation.py
Due: autopep8

core: sd: Removed unused memebers from particle struct 1/n
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

Walberla: Add remaining engine_lb test part
  testsuite/python/engine_lb.py
Due: autopep8

core: sd: Removed unused memebers from particle struct 2/n
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

core: sd: Removed unused memebers from particle struct 3/3
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

Walberla: Temporarily deactivate momentum conservation w fluctuation test
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Test engine lb: add comment explaining momentum check
  testsuite/python/engine_lb.py
Due: autopep8

core: sd: Simplified particle packing and distribution
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

core: sd: Moved sanity checks to setters
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

CMake: Disable SD GPU feature
  CMakeLists.txt
  cmake/cmake_config.cmakein
  testsuite/python/CMakeLists.txt
Due: cmake-format

LB inertialess tracers: velocity interpolation after lb propagation
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  testsuite/python/virtual_sites_tracers_common.py
Due: clang-format, autopep8

core: sd: Removed dependency on global communicator
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

core: sd: Removed dependency on inegration globals
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

core: sd: Fixed regression
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

core: sd: Removed const from function decl
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

Walberla: Activate some samples and tutorials tests
  .gitlab-ci.yml
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution.py
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/solutions/flow_field.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  samples/immersed_boundary/sampleImmersedBoundary.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lbf.py
  testsuite/scripts/tutorials/CMakeLists.txt
Due: autopep8, cmake-format

Formatting
  doc/tutorials/06-active_matter/solutions/flow_field.py
  samples/immersed_boundary/sampleImmersedBoundary.py
  src/core/communication.cpp
  src/core/unit_tests/LbWalberla.cpp
  testsuite/python/engine_lb.py
  testsuite/python/virtual_sites_tracers_common.py
  testsuite/scripts/samples/test_lbf.py
Due: clang-format, autopep8

Formatting
  src/core/communication.cpp
Due: clang-format

un-comment code
  testsuite/python/lb.py
Due: autopep8

docs: Explain GB notation
  doc/doxygen/bibliography.bib
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/zrefs.bib
  src/core/nonbonded_interactions/gay_berne.hpp
Due: clang-format

core: p3m: Initial import of general influence function
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: p3m: Modernize
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Reduce global use
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Fixed regression
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Turned influence function calc into functor
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Reuse generic influence function for energy
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: p3m: Removed stored meshift
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
Due: clang-format

core: p3m: Collect influence function precalc into single class
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: p3m: Lit ref for influence function
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: p3m: Switched influence funcion calculation to regular function by using cao as runtime parameter, more docs
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
