Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

speed up potential vtk writers on gpu
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
  testsuite/python/lattice_vtk.py
Due: clang-format, autopep8, pylint

Bug fixes
  src/python/espressomd/zn.py
Due: autopep8, pylint

Testing ZnDraw Interface
  testsuite/python/zn_interface.py
Due: autopep8, pylint

Update zn_interface.py
  testsuite/python/zn_interface.py
Due: autopep8, pylint

Update zn.py
  src/python/espressomd/zn.py
Due: autopep8, pylint

Modified rebuild_local_properties
  src/core/BoxGeometry.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/custom_verlet_list.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/forces_inline.hpp
Due: clang-format

flux boundary kernel call after advection and reactivate lattice_vtk testcase
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

Modified coulomb_energy_kernel for not using particle pointer
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/solver.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/thole.hpp
Due: clang-format

Refactoring ForecesKernel
  src/core/forces_cabana.hpp
  src/core/forces_inline.hpp
Due: clang-format

Formatting
  src/core/BoxGeometry.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/custom_verlet_list.hpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/elc.hpp
  src/core/electrostatics/solver.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
Due: clang-format

Simplify and organize #ifdef directives in forces_inline.hpp
  src/core/forces_inline.hpp
Due: clang-format

better name for ek_solver_sip
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
Due: clang-format, autopep8, pylint

minor fixes
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
Due: clang-format

generate flux accessor stencils lists
  maintainer/walberla_kernels/walberla_ek_generation.py
Due: autopep8, pylint

fix style
  maintainer/walberla_kernels/walberla_ek_generation.py
Due: autopep8, pylint

added diffusive flux testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_diffusive_flux.py
Due: autopep8, cmake-format, pylint

clean up flux accessor generation
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_ek_generation.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
Due: clang-format, autopep8, pylint

Fix regressions
  src/script_interface/walberla/EKReaction.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_diffusive_flux.py
  testsuite/python/ek_interface.py
Due: clang-format, autopep8, cmake-format, pylint

Implemented cell_list_loop by Kokkos
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Formatting
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Added missing ifdef
  src/core/forces_cabana.hpp
Due: clang-format

Formatting
  src/core/forces_cabana.hpp
Due: clang-format

Added integ_switch in argument of cabana_short_range()
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Formatting
  src/core/short_range_cabana.hpp
Due: clang-format

Add interface for VS_COM
  src/config/myconfig-default.hpp
  src/core/Particle.hpp
  src/core/PropagationMode.hpp
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format, autopep8, pylint

Changed interaction interface from AOS to SOA
  src/core/aosoa_pack.hpp
  src/core/forces_cabana.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Used use_verlet_list in cabana_short_range
  src/core/short_range_cabana.hpp
Due: clang-format

Formatting
  src/core/aosoa_pack.hpp
  src/core/forces_cabana.hpp
Due: clang-format

Added missing ESPRESSO prefix
  src/core/forces_cabana.hpp
Due: clang-format

Added missing ESPRESSO_ prefix for SHARED_MEMORY_PARALLELISM
  src/core/forces_inline.hpp
Due: clang-format

Added ifdef ESPRESSO_SHARED_MEMORY_PARALLELISM in forces_inline.hpp
  src/core/forces_inline.hpp
Due: clang-format

Added integ_switch in the argument of update_cabana_state()
  src/core/cell_system/CellStructure.cpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
Due: clang-format

step
  src/core/cell_system/CellStructure.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fix flaky feature check
  src/config/check_myconfig.py
  src/config/defines.py
Due: autopep8, pylint

Sketches for ESPREsSo bindings from initial integration work
  src/core/ml_metatensor/sketches_espresso_bindings/add_neighbor_list.hpp
  src/core/ml_metatensor/sketches_espresso_bindings/compute.hpp
  src/core/ml_metatensor/sketches_espresso_bindings/stub.cpp
  src/core/ml_metatensor/sketches_espresso_bindings/stub.hpp
  src/core/ml_metatensor/sketches_espresso_bindings/system.hpp
Due: clang-format

Finish first implementation vs_com
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/Particle.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/propagation.cpp
  src/core/system/System.cpp
  src/core/virtual_sites/CMakeLists.txt
  src/core/virtual_sites/com.cpp
  src/core/virtual_sites/com.hpp
  src/python/espressomd/propagation.py
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format, autopep8, cmake-format, pylint

Debug vs com
  src/core/virtual_sites/com.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format
