Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

observables: remove force from particle traits.
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/observables/TotalForce.hpp
  src/particle_observables/include/particle_observables/observable.hpp
  src/particle_observables/include/particle_observables/properties.hpp
  src/particle_observables/tests/mock.hpp
  src/particle_observables/tests/observables.cpp
  src/particle_observables/tests/properties.cpp
Due: clang-format

Switch walberla instance to bare pointer
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

doxygen
  src/core/grid_based_algorithms/lb_interface.hpp
Due: clang-format

Update .gitignore for visual studio code.
  .gitignore
Due: none

doc: fix installation instruction with macports.
  doc/sphinx/installation.rst
Due: none

fixed elc testcase violating charge free space_layer
  testsuite/python/elc_vs_analytic.py
Due: autopep8

Revert "Restrict all walberla Tests to a single core"
  testsuite/python/CMakeLists.txt
Due: cmake-format

Walberla: Fix and enable more of lb_boundaries test
  testsuite/python/lb_boundary.py
Due: autopep8

Walberla: ghost comm after manually setting node velocity
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
Due: clang-format

cmake: Rewrite optional dependency build system
  CMakeLists.txt
  cmake/option_if_available.cmake
Due: cmake-format

iWalberla: Test single viscous coupling steps
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/unit_tests/LbWalberla.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

CI: Only test ScaFaCoS when available
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
Due: none

LB: Coupling and force rescaling bugfix
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/unit_tests/LbWalberla.cpp
  src/python/espressomd/lb.pyx
  testsuite/python/lb.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

core: elc and mmm2d: fixed coulomb prefactors in dielectric layers correction
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/elc_vs_analytic.py
Due: clang-format, autopep8, cmake-format

Unuserd var
  testsuite/python/lb.py
  testsuite/python/tests_common.py
Due: autopep8

cmake: Remove unused FindPythonModule
  CMakeLists.txt
  cmake/FindPythonModule.cmake
Due: cmake-format

cmake: Check python packages availability in tests
  CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/python/h5md.py
Due: autopep8, cmake-format

Walberla: Partial fix of inertialess tracers (1 core)
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/virtual_sites_tracers_common.py
Due: clang-format, autopep8, cmake-format

core: Remove unused globals
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/reaction_ensemble.pxd
Due: clang-format, autopep8

core: Remove unused globals
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/core/statistics_chain.cpp
  src/core/statistics_chain.hpp
  src/python/espressomd/reaction_ensemble.pxd
Due: clang-format, autopep8

observables: documentation.
  src/core/observables/PidObservable.hpp
Due: clang-format

unused import
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

Walberla: Let caller decide whether to consider ghosts in node_is_boundary
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

Walberla: Execute more tests in parallel
  testsuite/python/CMakeLists.txt
Due: cmake-format

pedantic
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
Due: clang-format

Walberla: request boundary info from ghost layers in unit test
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

SD: Add missing dependency
  libs/stokesian_dynamics/CMakeLists.txt
Due: none

SD: Add CUDA libraries for the Clang compiler
  cmake/FindCUDACompilerClang.cmake
Due: none

config: Remove feature _P3M_GPU_FLOAT
  doc/sphinx/installation.rst
  src/config/features.def
Due: none

config: Remove feature NO_INTRA_NB
  doc/sphinx/installation.rst
  src/config/features.def
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
Due: clang-format

config: Remove notestfeatures attribute
  src/config/featuredefs.py
Due: autopep8

config: Remove commented out debug code
  src/config/featuredefs.py
  src/config/gen_sampleconfig.py
Due: autopep8

config: Update scripts shebang to Python3
  src/config/featuredefs.py
  src/config/gen_sampleconfig.py
Due: autopep8

config: Remove inexistent features
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/config/myconfig-default.hpp
Due: clang-format

config: Remove duplicated features
  src/config/features.def
Due: none

docs: Improve documentation of interaction features
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/introduction.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
  samples/dpd.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
