Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

tests: Make MMM1D test more readable
  testsuite/python/mmm1d.py
Due: autopep8

core: Refactor exception mechanism for MMM1D
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/python/espressomd/electrostatics.pxd
  testsuite/python/mmm1d.py
Due: clang-format, autopep8

core: short_range_loop: Execute bond loop only when needed
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: Replace magic number by named constant
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
Due: clang-format

python: Simplify code
  src/python/espressomd/scafacos.pyx
Due: autopep8

core: Use standard exception mechanism
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/scafacos.pxd
  testsuite/python/scafacos_interface.py
Due: clang-format, autopep8

python: Validate ScaFaCoS parameters
  src/python/espressomd/scafacos.pyx
  testsuite/python/scafacos_interface.py
Due: autopep8

core: mmm1d: replaced strcat_alloc with std::printf and added verbose parameter
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
Due: clang-format, autopep8

core: p3m: replaced strcat_alloc with std::printf and added verbose parameter
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

python: p3m: missing handle_errors call after p3m_gpu_init
  src/python/espressomd/electrostatics.pxd
Due: autopep8

core: utils: removed strcat_alloc with unit tests
  src/utils/include/utils/strcat_alloc.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/strcat_alloc_test.cpp
Due: clang-format, cmake-format

core: dp3m: replaced strcat_alloc with std::printf and added verbose parameter
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

utils: Remove redundant assertion
  src/utils/include/utils/quaternion.hpp
Due: clang-format

samples: Fix regression
  samples/minimal-polymer.py
Due: autopep8

core: Cleanup code and comments
  src/core/DomainDecomposition.cpp
  src/core/cells.cpp
  src/python/espressomd/particle_data.pyx
  testsuite/python/elc_vs_analytic.py
Due: clang-format, autopep8

docs: Update contributors list
  AUTHORS
Due: none

tests: Speed up ELC testcase
  testsuite/python/elc_vs_analytic.py
Due: autopep8

add pep8 issue on purpose
  maintainer/gh_post_style_patch.py
Due: autopep8

add doxygen issue, fix pep8 issue
  maintainer/gh_post_style_patch.py
  src/core/particle_data.hpp
Due: clang-format, autopep8

add pep8 and pylint errors
  testsuite/python/elc.py
Due: autopep8

tests with dash and bash
  .gitlab-ci.yml
  maintainer/CI/fix_style.sh
  maintainer/gh_post_status.sh
Due: none

fix style issues
  src/core/particle_data.hpp
  testsuite/python/elc.py
Due: clang-format, autopep8

add bashisms ($SHELL is an empty string)
  maintainer/CI/fix_style.sh
  maintainer/gh_post_status.sh
Due: none

CI: Rewrite fix_style script
  maintainer/CI/fix_style.sh
Due: none

Style patch
  doc/tutorials/convert.py
  samples/gibbs_ensemble_socket.py
  src/core/particle_data.hpp
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/interactions.pxd
  testsuite/scripts/importlib_wrapper.py
Due: clang-format, autopep8

CI: Skip resorting of python import statements
  .pre-commit-config.yaml
Due: none

maintainer: Fix shellcheck warnings
  maintainer/CI/doc_warnings.sh
  maintainer/CI/dox_warnings.sh
  maintainer/CI/fix_style.sh
  maintainer/add_missing_headers.sh
  maintainer/benchmarks/suite.sh
  maintainer/find_potentially_missing_authors.sh
  maintainer/gh_post_status.sh
  maintainer/update_header.sh
Due: none

CI: Use Dash instead of Bash
  .gitlab-ci.yml
Due: none

CI: Skip formatting checks in libraries
  .pre-commit-config.yaml
Due: none

CI: Remove code duplication from gh_post_* scripts
  maintainer/gh_post.py
  maintainer/gh_post_docs_warnings.py
  maintainer/gh_post_pylint.py
  maintainer/gh_post_style_patch.py
Due: autopep8

core: Document utils functions
  src/utils/include/utils/math/bspline.hpp
  src/utils/include/utils/math/triangle_functions.hpp
Due: clang-format

core: Fix serialization mechanism
  src/utils/include/utils/Accumulator.hpp
Due: clang-format

tests: Replace deprecated header file
  src/utils/tests/matrix_test.cpp
Due: clang-format

tests: Add test cases for Utils
  src/utils/tests/CMakeLists.txt
  src/utils/tests/Counter_test.cpp
  src/utils/tests/accumulator.cpp
  src/utils/tests/bspline_test.cpp
  src/utils/tests/histogram.cpp
  src/utils/tests/linear_interpolation_test.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/unordered_map_test.cpp
Due: clang-format, cmake-format

tests: Fix test case for Utils::Mpi::gatherv()
  src/utils/tests/CMakeLists.txt
  src/utils/tests/gatherv_test.cpp
Due: clang-format, cmake-format

tests: Fix test case for Utils::Mpi::gather_buffer()
  src/utils/tests/gather_buffer_test.cpp
Due: clang-format

utils: Remove superfluous braces
  src/utils/include/utils/math/bspline.hpp
Due: clang-format

core: Fix broken Utils::Mpi::gather_buffer()
  src/utils/include/utils/mpi/gather_buffer.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/gather_buffer_test.cpp
Due: clang-format, cmake-format

tests: Re-enable test case for 4 MPI ranks
  src/utils/tests/CMakeLists.txt
  src/utils/tests/gather_buffer_test.cpp
Due: clang-format, cmake-format

CMake: Remove obsolete FindMPI backport
  CMakeLists.txt
Due: cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
