Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

docs: Add links to documentation resources
  Readme.md
Due: none

docs: Format GNU GPL license
  Readme.md
Due: none

docs: Explain how to get ESPResSo releases
  Readme.md
  doc/sphinx/introduction.rst
Due: none

docs: Explain release workflow and mailing list
  Readme.md
  doc/sphinx/contributing.rst
  doc/sphinx/introduction.rst
Due: none

docs: Show how to cite ESPResSo and its algorithms
  Readme.md
  doc/sphinx/introduction.rst
  doc/sphinx/zrefs.bib
Due: none

ROCm 3.5 CMake fixes
  cmake/FindCUDACompilerHIP.cmake
Due: none

SD: add ROCm support
  cmake/FindCUDACompilerHIP.cmake
  libs/stokesian_dynamics/CMakeLists.txt
  libs/stokesian_dynamics/device_matrix.hpp
  libs/stokesian_dynamics/sd.hpp
  libs/stokesian_dynamics/thrust_wrapper.hpp
Due: none

engine_lb test: check fluid force position
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  testsuite/python/engine_lb.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

ROCm 3.5 compiler flags need a different variable
  cmake/FindCUDACompilerHIP.cmake
Due: none

Walberla: Try on 4 nodes
  testsuite/python/CMakeLists.txt
Due: cmake-format

core: Document BoxGeometry-related functions
  src/core/BoxGeometry.hpp
  src/core/grid.hpp
Due: clang-format

core: Add unit test for fold_position()
  src/core/unit_tests/grid_test.cpp
Due: clang-format

core: Update domain decomposition docs
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
Due: clang-format

CI: check_procs=4 for maxset-walberla
  .gitlab-ci.yml
Due: none

core: Fix literature references
  doc/doxygen/bibliography.bib
  src/core/rotation.cpp
Due: clang-format

core: Document quaternion formalism
  src/core/rotation.cpp
Due: clang-format

core: Remove duplicated docs
  src/core/rotation.cpp
  src/core/rotation.hpp
Due: clang-format

core: Catch incorrect quaternion derivatives
  src/core/rotation.cpp
Due: clang-format

core: Use vector operations
  src/core/rotation.cpp
Due: clang-format

cmake: Make Stokesian Dynamics optional
  CMakeLists.txt
  testsuite/python/stokesian_dynamics.py
Due: autopep8, cmake-format

cmake: Make Stokesian Dynamics external
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  maintainer/configs/maxset.hpp
  src/config/features.def
Due: clang-format

cmake: Decouple CMake logic from myconfig.hpp
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/config/features.def
Due: cmake-format

sd: Add support for ROCm 3.3
  libs/stokesian_dynamics/multi_array.hpp
  libs/stokesian_dynamics/sd.hpp
  libs/stokesian_dynamics/sd_gpu.cu
Due: none

docs: Shorten license section
  Readme.md
Due: none

docs: Move mailing list up
  Readme.md
Due: none

docs: Force capping limitation and alternative
  doc/sphinx/system_manipulation.rst
Due: none

docs: Fix description of steepest descent
  doc/sphinx/system_manipulation.rst
Due: none

core: Document sign convention
  src/core/BoxGeometry.hpp
Due: clang-format

core: Improve unit test for fold_position()
  src/core/unit_tests/grid_test.cpp
Due: clang-format

core: Fix literature references
  src/core/rotation.cpp
Due: clang-format

core: Document BoxGeometry-related functions
  src/core/grid.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
