Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

walberla: Document regression
  src/script_interface/walberla/FluidNodeWalberla.hpp
Due: clang-format

CI: Workaround for the OpenMPI bug on NUMA runners
  .gitlab-ci.yml
Due: none

walberla: Move LB checkpointing to script interface
  src/core/grid_based_algorithms/LBCheckpointFile.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8, cmake-format

walberla: Encapsulate LB checkpointing
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8, cmake-format

walberla: Remove unused includes
  src/python/espressomd/lb.pyx
Due: autopep8

walberla: Encapsulate clear_boundaries()
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidWalberla.hpp
Due: clang-format, autopep8

tests: Temporarily disable slow test
  testsuite/python/lb_thermostat.py
Due: autopep8

CI: Reduce load on numa-deactivated runners
  .gitlab-ci.yml
Due: none

CMake: Document support for MPICH
  CMakeLists.txt
Due: cmake-format

walberla: Remove unreachable code
  src/script_interface/walberla/FluidNodeWalberla.cpp
Due: clang-format

walberla: Remove code duplication
  src/script_interface/walberla/FluidWalberla.cpp
Due: clang-format

tests: Check LB checkpointing exception mechanism
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

walberla: Adapt codegen script for lbmpy 0.4.4
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Remove unused code
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Updated the particle access in the visualizer
  src/python/espressomd/visualization_opengl.py
Due: autopep8

formatting
  src/python/espressomd/visualization_opengl.py
Due: autopep8

core: Apply suggested changes
  src/core/EspressoSystemInterface.hpp
Due: clang-format

walberla_bridge: EK: corrected FixedFlux kernels
  src/walberla_bridge/generated_kernels/FixedFlux.cpp
  src/walberla_bridge/generated_kernels/FixedFlux.h
Due: clang-format

walberla_bridge: EK: fixed boundary handling calls
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

python: EK: typo
  src/python/espressomd/EKSpecies.py
Due: autopep8

python: EK: added properties for tau and solver
  src/python/espressomd/EKSpecies.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_noflux.py
Due: autopep8

core: Reduce struct memory footprint
  src/core/Particle.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
Due: clang-format

core: Reduce size of serialized Array and Vector
  src/utils/include/utils/Array.hpp
Due: clang-format

walberla: Remove LB nodes MPI callbacks
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/FluidNodeWalberla.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8, cmake-format

walberla: Remove boundary velocity MPI callbacks
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/python/espressomd/script_interface.pyx
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.hpp
Due: clang-format, autopep8

python: Convert LB from Cython to Python
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.py
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: autopep8

walberla: Fix regression for GNU GCC 8.4
  src/script_interface/walberla/FluidNodeWalberla.hpp
Due: clang-format

utils: Use BOOST_CLASS_IMPLEMENTATION on Array/Vector
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/serialization/array.hpp
Due: clang-format

utils: Use BOOST_CLASS_TRACKING on Array/Vector
  .clang-tidy
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/serialization/array.hpp
Due: clang-format

tests: Check serialization of Array and Vector
  src/utils/tests/CMakeLists.txt
  src/utils/tests/serialization_test.cpp
Due: clang-format, cmake-format

utils: Mark Array and Vector as MPI data types
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/serialization/array.hpp
  src/utils/tests/serialization_test.cpp
Due: clang-format

utils: Mark Array and Vector as bitwise serializable
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/serialization/array.hpp
  src/utils/tests/serialization_test.cpp
Due: clang-format

utils: Optimize Quaternion serialization
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/serialization_test.cpp
Due: clang-format

core: Optimize Particle serialization
  src/core/Particle.hpp
Due: clang-format

tests: Check particle serialization
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/Particle_serialization_test.cpp
Due: clang-format, cmake-format

python: Improve type-checking functions
  src/python/espressomd/integrate.pyx
  src/python/espressomd/utils.pyx
  testsuite/python/integrator_npt.py
  testsuite/python/save_checkpoint.py
  testsuite/python/utils.py
Due: autopep8

tests: Check DPD on a wall constraint
  testsuite/python/dpd.py
Due: autopep8

tests: Check NpT in one direction
  testsuite/python/npt_thermostat.py
Due: autopep8

walberla: EK: re-introduced VTK output
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/VTKHandle.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/VTKHandle.hpp
  testsuite/python/ek_vtk.py
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
