Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

utils: Fix regressions
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/tests/interval_test.cpp
Due: clang-format

utils: Simplify transformation code
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/tests/vec_rotate_test.cpp
Due: clang-format

tests: Fix numpy seed mistake
  testsuite/python/analyze_acf.py
Due: autopep8

utils: Fix doxygen documentation
  src/utils/include/utils/math/coordinate_transformation.hpp
Due: clang-format

tests: Remove duplicated checks
  src/utils/tests/coordinate_transformation.cpp
Due: clang-format

pairs by type
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/pairs.py
  testsuite/python/random_pairs.py
Due: clang-format, autopep8

move maximum range to ParticleComposition
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
  src/core/cells.cpp
  src/core/integrate.cpp
  src/core/tuning.cpp
Due: clang-format

cells: Made mutable access to the particle decommposittion private
  src/core/CellStructure.hpp
Due: clang-format

cells: Avoid copy of particles when switch the decomposition.
  src/core/CellStructure.hpp
Due: clang-format

cells: Split velet list/link cell non-bonded loop.
  src/core/CellStructure.hpp
Due: clang-format

cells: Made verlet lists private, removed inconsistent perferct forwarding for pair kernels.
  src/core/CellStructure.hpp
Due: clang-format

core: Removed default cutoff range from short_range_loop
  src/core/short_range_loop.hpp
Due: clang-format

tests: Cleanup NpT testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_npt_stats.py
Due: autopep8, cmake-format

cython: Use standard exception mechanism
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_npt.py
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/stokesian_thermostat.py
Due: clang-format, autopep8, cmake-format

core: Feature guard NpT global variables
  src/core/global.cpp
  src/core/integrate.hpp
  src/core/npt.hpp
  src/core/pressure.cpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: Fix doxygen
  src/config/config.hpp
  src/core/global.hpp
Due: clang-format

core: Move integrators init to relevant files
  src/core/global.cpp
  src/core/integrate.cpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
  src/core/npt.cpp
  src/core/npt.hpp
  src/core/pressure.cpp
Due: clang-format

core: Make NpT and Steepest Descent init failsafe
  src/core/integrators/steepest_descent.cpp
  src/core/npt.cpp
  testsuite/python/integrator_npt.py
  testsuite/python/integrator_steepest_descent.py
Due: clang-format, autopep8

core: Remove unused FIELD_NPTISO_* enum values
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: Remove FIELD_NPTISO_PISTON communication
  src/core/global.cpp
  src/core/global.hpp
  src/core/npt.cpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: Simplify NpT, narrow integrate.hpp includes
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole_inline.hpp
  src/core/npt.cpp
  src/core/npt.hpp
Due: clang-format

core: Prevent combination NpT + P3M GPU
  src/core/npt.cpp
  testsuite/python/integrator_npt.py
Due: clang-format, autopep8

pairs: allow lists of length 1
  src/python/espressomd/cellsystem.pyx
  testsuite/python/pairs.py
Due: autopep8

tests: Fix regression
  testsuite/python/integrator_npt_stats.py
Due: autopep8

core: Remove redundant feature guards
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
Due: clang-format

core: Narrow NpT includes
  src/core/electrostatics_magnetostatics/dipole_inline.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
Due: clang-format

core: Simplify conditionals
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
Due: clang-format

core: Use boost::mpi instead of MPI primitives
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

utils: Improve documentation
  src/utils/include/utils/math/coordinate_transformation.hpp
Due: clang-format

utils: vector: normalize fixed.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator+.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator+=.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator-.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator- (unary).
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator-=.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: remove unused function.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator*.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator*(2).
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator*=.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm operator/.
  src/utils/include/utils/Vector.hpp
Due: clang-format
