Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Restrict lb poiseuille cylindrical test to one core
  testsuite/python/CMakeLists.txt
Due: cmake-format

Config: Remvoe LB_WALBERLA from default config
  src/config/myconfig-default.hpp
Due: clang-format

clang-tidy
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Formatting
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Clang tidy
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

Clang tidy
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

docs: Document Torus shape
  doc/sphinx/constraints.rst
Due: none

samples: Add Torus shape visualization example
  samples/visualization_constraints.py
Due: autopep8

samples: Place particles far from surface
  samples/visualization_constraints.py
Due: autopep8

docs: Update documentation of Slitpore shape
  doc/sphinx/constraints.rst
  doc/sphinx/figures/slitpore.pdf
  doc/sphinx/figures/slitpore.png
  doc/sphinx/figures/slitpore.svg
  src/python/espressomd/shapes.py
Due: autopep8

shapes: Fix wrong sign in Torus shape
  src/shapes/src/Torus.cpp
  testsuite/python/constraint_shape_based.py
Due: clang-format, autopep8

python: Fix OpenGL visualization of the Slitpore
  src/python/espressomd/visualization_opengl.py
Due: autopep8

samples: Fix broken Slitpore shape example
  samples/visualization_constraints.py
Due: autopep8

samples: Lower gamma and remove initial velocities
  samples/visualization_constraints.py
Due: autopep8

tests: Add Torus sample
  testsuite/scripts/samples/CMakeLists.txt
Due: cmake-format

tests: Add more checks for Slitpore
  testsuite/python/constraint_shape_based.py
Due: autopep8

samples: Fix broken Wall shape example
  samples/visualization_constraints.py
Due: autopep8

Clang-tidy
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.cpp
Due: clang-format

Walberla: include paths
  src/core/CMakeLists.txt
Due: cmake-format

clang tidy
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

Revert changes in lb_boundaries
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

Remove Stomatocyte shape
  doc/sphinx/constraints.rst
  doc/sphinx/figures/shape-stomatocyte1.png
  doc/sphinx/figures/shape-stomatocyte2.png
  samples/visualization_constraints.py
  src/python/espressomd/shapes.py
  src/script_interface/shapes/Stomatocyte.hpp
  src/script_interface/shapes/initialize.cpp
  src/shapes/CMakeLists.txt
  src/shapes/include/shapes/Stomatocyte.hpp
  src/shapes/src/Stomatocyte.cpp
  testsuite/scripts/samples/CMakeLists.txt
Due: clang-format, autopep8, cmake-format

Typo.
  doc/sphinx/io.rst
Due: none

Walberla: Only use one ghost layer
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

Unused var
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

added missing coulomb prefactors in ELCIC and adapted testcase
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  testsuite/python/elc_vs_analytic.py
Due: clang-format, autopep8

python: Fix OpenGL visualization of the Slitpore
  src/python/espressomd/visualization_opengl.pyx
Due: autopep8

shapes: Fix wrong sign in Torus shape
  src/core/shapes/Torus.cpp
  testsuite/python/constraint_shape_based.py
Due: clang-format, autopep8

samples: Lower epsilon and remove initial velocities
  samples/visualization_constraints.py
Due: autopep8

Unused var
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Formatting
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Restrict all walberla Tests to a single core
  testsuite/python/CMakeLists.txt
Due: cmake-format
