Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

walberla: Fix codegen regressions
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.tmpl.h
Due: clang-format

LBFluidRoutines a script interface object
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/LBFluidRoutinesWalberla.hpp
  src/script_interface/walberla/initialize.cpp
Due: clang-format, autopep8

core: Cleanup header includes
  src/core/EspressoSystemInterface.cpp
  src/core/EspressoSystemInterface.hpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.hpp
  src/core/cuda_interface.cpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
  src/core/event.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/pair_criteria/pair_criteria.hpp
Due: clang-format

core: Cleanup globals and remove unnecessary macros
  src/core/EspressoSystemInterface.hpp
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.cpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/cuda_interface.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/energy.cpp
  src/core/forces.cpp
Due: clang-format

core: Modernize CUDA code
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
Due: clang-format

tests: Check EspressoSystemInterface class
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystemInterface_test.cpp
Due: clang-format, cmake-format

core: Reduce visibility of magnetostatics globals
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.hpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/scafacos.pyx
Due: clang-format, autopep8

core: Remove broken past-the-end device pointers
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/SystemInterface.hpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
Due: clang-format

core: Simplify SystemInterface class
  src/core/EspressoSystemInterface.hpp
  src/core/SystemInterface.hpp
Due: clang-format

core: Narrow CUDA electrostatics interface
  src/core/EspressoSystemInterface.hpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
Due: clang-format, autopep8

core: Extract GPU check logic
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
Due: clang-format

core: Remove magnetostatics global variables
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarBarnesHut_cuda.cuh
  src/core/actor/DipolarDirectSum.cpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
Due: clang-format, autopep8

core: Re-organize SystemInterface
  src/core/EspressoSystemInterface.cpp
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/SystemInterface.hpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarDirectSum.hpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.cpp
  src/core/cuda_interface.hpp
Due: clang-format

core: Separation of concerns for GPU methods
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum.cpp
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/DipolarDirectSum_cuda.cuh
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
Due: clang-format

core: Remove unused GPU interface for AoS->SoA
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/SystemInterface.hpp
Due: clang-format

core: Document SystemInterface class
  src/core/EspressoSystemInterface.hpp
  src/core/EspressoSystemInterface_cuda.cu
  src/core/SystemInterface.hpp
Due: clang-format

core: Proper error propagation
  src/core/EspressoSystemInterface.hpp
  src/core/SystemInterface.hpp
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarDirectSum.cpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/python/espressomd/magnetostatics.pxd
Due: clang-format, autopep8

core: Remove unused GPU kernels
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers.hpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

core: Hide GPU interface implementation details
  src/core/EspressoSystemInterface.cpp
  src/core/EspressoSystemInterface.hpp
Due: clang-format

core: Pass global variable this_node by value
  src/core/EspressoSystemInterface.cpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_interface.hpp
  src/core/electrostatics_magnetostatics/p3m-common.cpp
  src/core/forces.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/core/virtual_sites/lb_inertialess_tracers.hpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.hpp
Due: clang-format

core: Remove code duplication
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarBarnesHut.hpp
Due: clang-format

core: Improve separation of concerns
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/core/energy_inline.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  src/python/espressomd/particle_data.pxd
Due: clang-format, autopep8

walberla: Finish LBFluidRoutines refactor
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/LBFluidRoutinesWalberla.hpp
  src/script_interface/walberla/initialize.cpp
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

walberla: Rename class LBFluidRoutines
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/initialize.cpp
Due: clang-format, autopep8

Fixes
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Recycle the LB node in a LB slice
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidNodeWalberla.hpp
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

tests: Restore pressure tensor accessor check
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: autopep8

Hard coded relaxation reate for now
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Minimize diferences to le_hotwired branch in LBWalberlaImpl
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepSinglePrecision.cpp
Due: clang-format, autopep8

walberla: Hide MPI callbacks
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/FluidNodeWalberla.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
Due: clang-format, autopep8, cmake-format

walberla: Narrow LB interface in the core
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/observables/LBFluidPressureTensor.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/lb.py
  testsuite/python/virtual_sites_tracers_common.py
Due: clang-format, autopep8

walberla: Store non-owning pointer
  src/script_interface/walberla/FluidNodeWalberla.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/VTKHandle.hpp
Due: clang-format

walberla: Partial revert to fix shared_ptr bug
  src/python/espressomd/lb.pyx
Due: autopep8

Formatting
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidNodeWalberla.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Fix regressions
  src/python/espressomd/lb.pyx
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Revert std::weak_ptr changes in FluidNodeWalberla
  src/script_interface/walberla/FluidNodeWalberla.cpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
Due: clang-format

towards le
  maintainer/walberla_kernels/lees_edwards.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepSinglePrecision.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format, autopep8

Using markus kernel
  maintainer/walberla_kernels/le_markus.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/LeesEdwards_Collision.cpp
  src/walberla_bridge/generated_kernels/LeesEdwards_Collision.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/UpdateVelocityFromPDFSweepSinglePrecision.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format, autopep8, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
