Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Add missing feature guard
  testsuite/python/test_checkpoint.py
Due: autopep8

docs: Improve raspberry electrophoresis tutorial
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  testsuite/scripts/tutorials/test_raspberry_electrophoresis.py
Due: autopep8

docs: Copyediting
  doc/tutorials/raspberry_electrophoresis/NotesForTutor.md
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
Due: none

tests: Cleanup LB tests
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_thermostat.py
Due: autopep8

core: Add missing feature guards
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

core: Fix flipped boolean flag in Shape::is_inside()
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/shapes/include/shapes/Shape.hpp
  src/shapes/include/shapes/Union.hpp
  src/shapes/unit_tests/Wall_test.cpp
Due: clang-format

walberla: Fix regressions
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/script_interface/Variant.hpp
  src/script_interface/shapes/Shape.hpp
  src/shapes/include/shapes/Shape.hpp
  src/shapes/include/shapes/Union.hpp
  testsuite/python/lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_velocity.py
Due: clang-format, autopep8

walberla: Cleanup
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/python/espressomd/lb.pyx
  src/python/espressomd/lbboundaries.py
  testsuite/python/array_properties.py
  testsuite/python/lb_boundary_velocity.py
Due: clang-format, autopep8

docs: in Raspberry Electrophoresis tutorial discuss pos vs pos_folded
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
Due: none

walberla: Fix regression in dynamic UBB kernel
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB.cpp
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
Due: clang-format, autopep8

walberla: Remove LM from macroscopic values accessors
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: clang-format

walberla: Implement PressureTensorVTKWriter
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8

walberla: Move VTK classes to new file
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/vtk_writers.hpp
Due: clang-format

walberla: Remove LatticeModel framework
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
  src/walberla_bridge/vtk_writers.hpp
Due: clang-format, autopep8

core: Refactor code
  src/core/lees_edwards.hpp
  src/python/espressomd/particle_data.pxd
  src/utils/include/utils/Vector.hpp
Due: clang-format, autopep8

walberla: Copy original walberla lattice model codegen
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Adapt walberla codegen
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Import macroscopic codegen function
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Remove unused macroscopic values
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: autopep8

walberla: Simplify macroscopic codegen further
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: autopep8

walberla: Simplify codegen
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

docs: Example for energy minimization
  doc/sphinx/running.rst
Due: none

docs: Modernize visualization tutorial
  doc/tutorials/visualization/visualization.ipynb
Due: none

docs: Use steepest descent instead of force capping
  doc/tutorials/visualization/visualization.ipynb
Due: none

walberla: Remove 2D-specific code
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
Due: none

core: Cleanup
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
Due: clang-format

tests: Synchronize with upstream
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  testsuite/python/engine_lb.py
  testsuite/python/lb.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_pressure_tensor.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_thermostat.py
  testsuite/python/observable_profileLB.py
Due: clang-format, autopep8

core: Cleanup comments, error messages, globals
  src/core/DomainDecomposition.cpp
  src/core/cells.cpp
  src/core/communication.cpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/event.cpp
  src/core/ghosts.hpp
  src/core/grid.cpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
Due: clang-format

tests: Cleanup LB test cases
  testsuite/python/ibm.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

tests: Fix tests for CentOS and no-rotation builds
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/python/field_test.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

docs: Update python package requirements
  doc/sphinx/installation.rst
  requirements.txt
Due: none

python: Fix observables documentation
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Due: autopep8

Minor corrections
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  src/python/espressomd/shapes.py
Due: autopep8

docs: Observables documentation maintenance and restructuring to make it less confusing
  doc/sphinx/analysis.rst
Due: none

docs: Cleanup Sphinx code examples
  doc/sphinx/analysis.rst
  doc/sphinx/installation.rst
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  src/python/espressomd/MDA_ESP/__init__.py
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/reaction_ensemble.pyx
Due: autopep8

core: Fix duplicate docstrings
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
Due: clang-format

docs: Rephrase MSD description
  doc/sphinx/analysis.rst
Due: none

maintainer: Cleanup build script
  maintainer/CI/build_cmake.sh
  maintainer/configs/maxset-walberla.hpp
Due: clang-format

tests: Fix broken LB boundary velocity check
  testsuite/python/lb_boundary_velocity.py
Due: autopep8

jean noel implemented fast dict part-neighbours search
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
Due: clang-format, autopep8
