Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

script_interface: Cleanup doxygen blocks
  src/core/RuntimeErrorStream.cpp
  src/script_interface/constraints/couplings.hpp
  src/script_interface/get_value.hpp
Due: clang-format

docs: Fix parameter types
  src/python/espressomd/constraints.py
Due: autopep8

python: electrostatics: base class for P3M and P3MGPU
  src/python/espressomd/electrostatics.pyx
Due: autopep8

python: Make P3M parent class private
  src/python/espressomd/electrostatics.pyx
Due: autopep8

python: Encapsulate utility function
  src/python/espressomd/electrostatics.pyx
Due: autopep8

tests: Improve testing of shapes
  src/shapes/unit_tests/CMakeLists.txt
  src/shapes/unit_tests/NoWhere_test.cpp
  testsuite/python/constraint_shape_based.py
Due: clang-format, autopep8, cmake-format

python: OpenGL: Draw open cylinders
  src/python/espressomd/visualization_opengl.py
Due: autopep8

tests: Simplify NoWhere checks
  src/shapes/unit_tests/NoWhere_test.cpp
Due: clang-format

python: Make ELC an actor via composition
  doc/sphinx/electrostatics.rst
  samples/visualization_elc.py
  src/python/espressomd/electrostatic_extensions.pxd
  src/python/espressomd/electrostatic_extensions.pyx
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/elc.py
  testsuite/python/elc_vs_analytic.py
Due: autopep8

tests: Add DP3M/ELC/Scafacos checkpointing checks
  testsuite/python/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, cmake-format

core: Remove P3M member additional_mesh
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m-common.cpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/p3m_common.pxd
Due: clang-format, autopep8

tests: Check ELC exception mechanism
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

python: Improve ELC and MDLC docstrings
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatic_extensions.pyx
Due: autopep8

tests: Fix regression
  testsuite/python/save_checkpoint.py
Due: autopep8

Maintainer: refactor github actions and fix address sanatizer build for mac os.
  .github/actions/build_and_check/action.yml
  .github/workflows/build.yml
  .github/workflows/push_pull.yml
  src/python/CMakeLists.txt
  src/python/pypresso.cmakein
Due: cmake-format

docs: Apply suggested changes
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatic_extensions.pyx
Due: autopep8

core: Cleanup RATTLE doxygen blocks
  src/core/rattle.cpp
  src/core/rattle.hpp
Due: clang-format

core: Cleanup RATTLE function prototypes
  src/core/rattle.cpp
Due: clang-format

core: Cleanup ifdef comments
  src/core/Particle.hpp
Due: clang-format

core: Cleanup Particle doxygen blocks
  src/core/Particle.hpp
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

core: Fix union shape bug
  src/script_interface/shapes/Union.hpp
Due: clang-format

WIP: New kernels
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/philox_rand.h
  testsuite/python/lb.py
  testsuite/python/lb_stats.py
Due: clang-format, autopep8

tests: Disable ScaFaCoS tuning checks
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/save_checkpoint.py
  testsuite/python/scafacos_interface.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Make rectification test deterministic
  testsuite/scripts/tutorials/test_active_matter__rectification_simulation.py
Due: autopep8

Walberla: Generate kernels with and w/o avx
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.h
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.h
Due: clang-format, autopep8

python: Fix script interface documentation
  src/python/espressomd/script_interface.pyx
Due: autopep8

python: Remove unnecessary check
  src/python/espressomd/observables.py
Due: autopep8

LB: Sorten thermalization test
  testsuite/python/lb.py
Due: autopep8

CMake: Introduce flag to turn on Walberla AVX kernels
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

script_interface: Instructions to extend Variant
  src/script_interface/Variant.hpp
Due: clang-format

core: Add guard for boost 1.74.0
  src/script_interface/Variant.hpp
Due: clang-format

cleanup.
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

Core: Skip ibm bond loop if no ibm objects
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
Due: clang-format

cyltrafoparams as a standalone class
  src/python/espressomd/math.py
  src/script_interface/CylTrafoParams.hpp
  src/script_interface/initialize.cpp
  src/utils/include/utils/math/cyl_trafo_params.hpp
Due: clang-format, autopep8

use cyltrafoparams in observables
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/utils/include/utils/math/cyl_trafo_params.hpp
Due: clang-format

fix tests, tests common
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/python/espressomd/observables.py
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/coordinate_transformation.hpp.orig
  src/utils/tests/coordinate_transformation.cpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

better handling for default orientations
  src/python/espressomd/observables.py
  src/shapes/include/shapes/HollowConicalFrustum.hpp
Due: clang-format, autopep8

separate and test orthonormal vector generation
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/utils/include/utils/math/orthonormal_vec.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/orthonormal_vec_test.cpp
Due: clang-format, cmake-format

fix undefined behaviour in density interpolation, remove debug clutter
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
Due: clang-format
