Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

DevOps: Fix tutorial scripts and CI/CD
  doc/tutorials/Readme.md
  doc/tutorials/convert.py
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  testsuite/scripts/tutorials/test_convert.py
Due: autopep8, pylint

cleanup
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/ml_metatensor/CMakeLists.txt
  src/core/ml_metatensor/add_neighbor_list.hpp
  src/core/ml_metatensor/compute.hpp
  src/core/ml_metatensor/stub.cpp
  src/core/ml_metatensor/stub.hpp
  src/core/ml_metatensor/system.hpp
Due: clang-format, cmake-format

LB: Avoid patched bounce back code
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
Due: autopep8, pylint

Formatting
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
Due: cmake-format

passing expression instead of bool
  src/core/bond_breakage/bond_breakage.cpp
Due: clang-format

docs: Improve tutorials
  Readme.md
  doc/bibliography.bib
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  src/python/espressomd/lb.py
Due: autopep8, pylint

removing def execute
  src/python/espressomd/bond_breakage.py
Due: autopep8, pylint

Formatting
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
Due: clang-format

Regressoin: Restore CMakeList
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CMakeLists.txt
Due: cmake-format

Formatting...
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionCUDA.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionCUDA.h
Due: clang-format

LB kernels: Delete unsupported pragmas
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precisionCUDA.cu
Due: none

Remove more pragmas
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precisionCUDA.cu
Due: none

PackInfo MPI buffer alignment bugfix
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoPdfSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PackInfoVecSinglePrecision.h
Due: clang-format

Disable mpi process pinning in test suite
  CMakeLists.txt
  testsuite/python/CMakeLists.txt
Due: cmake-format

DevOps: Adapt testsuite to new hardware
  .github/workflows/push_pull.yml
  CMakeLists.txt
  cmake/espresso_unit_test.cmake
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  samples/drude_bmimpf6.py
  testsuite/python/CMakeLists.txt
  testsuite/python/resources.json
Due: autopep8, cmake-format, pylint

add metatensor to cmake
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  src/config/features.def
Due: cmake-format

update
  src/core/ml_metatensor/compute.hpp
  src/core/ml_metatensor/load_model.hpp
Due: clang-format

add metatensor lj test
  lennard-jones.pt
Due: none

system
  src/core/ml_metatensor/system.hpp
Due: clang-format

load model
  src/core/ml_metatensor/load_model.hpp
Due: clang-format

neighbor list
  src/core/ml_metatensor/CMakeLists.txt
  src/core/ml_metatensor/add_neighbor_list.hpp
Due: clang-format, cmake-format

s
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/ml_metatensor/CMakeLists.txt
  src/core/ml_metatensor/load_model.hpp
  src/core/ml_metatensor/stub.cpp
Due: clang-format, cmake-format

metatensor dependencies cmake
  src/core/ml_metatensor/stub.cpp
  src/core/ml_metatensor/stub.hpp
Due: clang-format

Setup Cabana
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  cmake/patch_cabana_doxygen.diff
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/forces.cpp
Due: clang-format, cmake-format

initialize Kokkos before communication
  src/core/communication.cpp
Due: clang-format

Adding cabana-loop
  src/core/CMakeLists.txt
  src/core/cabana_data.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/communication.cpp
  src/core/custom_verlet_list.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.cpp
Due: clang-format, cmake-format

Fix merge conflicts
  cmake/espresso_cmake_config.cmakein
  src/config/features.def
Due: none

Add profile marks and fix ghosts
  src/core/cabana_data.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/communication.cpp
  src/core/short_range_cabana.cpp
Due: clang-format

fix ek MPI stage 1
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

formatting
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

Add flag for ghost force reduction
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/system/System.cpp
  src/script_interface/cell_system/CellSystem.cpp
Due: clang-format

Implement force calculation without ghost force reduction
  src/core/cell_system/RegularDecomposition.cpp
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/cell_system.py
  testsuite/python/lj.py
Due: clang-format, autopep8, pylint

Add kokkos and cabana
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  src/config/features.def
  src/core/CMakeLists.txt
Due: cmake-format

Add patch for doxygen conflict
  cmake/patch_cabana_doxygen.diff
Due: none

Initialize kokkos
  src/core/communication.cpp
Due: clang-format

Minor changes
  CMakeLists.txt
  src/core/communication.cpp
Due: clang-format, cmake-format
