Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

walberla: Test new kernels
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/engine_lb.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_density.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_streaming.py
  testsuite/python/lb_thermostat.py
  testsuite/python/lb_vtk.py
  testsuite/python/linear_momentum_lb.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
  testsuite/python/test_checkpoint.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8, cmake-format

benchmarks: Add option for single-precision
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

doc: Fix broken tutorial
  doc/tutorials/polymers/polymers.ipynb
Due: none

walberla: Don't fail tests when features are not compiled in
  src/python/espressomd/lb.pyx
Due: autopep8

python: Allow importing features not compiled in
  src/python/espressomd/lb.pyx
Due: autopep8

walberla: Improve code coverage for macroscopic accessor
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

walberla: Manually patch kernels
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_double_precision.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_single_precision.h
Due: none

walberla: Test kernels
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/kernels_unit_tests.cpp
Due: clang-format, cmake-format

core: Rename non-callback functions
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/script_interface/walberla/FluidWalberla.hpp
Due: clang-format

walberla: Test LatticeWalberla class
  src/walberla_bridge/LatticeWalberla.cpp
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/LatticeWalberla_unit_tests.cpp
Due: clang-format, cmake-format

walberla: Test exception mechanism
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

python: Clear the list of actors upon exit
  src/python/espressomd/actors.pyx
Due: autopep8

walberla: Remove unused callbacks
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
Due: clang-format

CMake: Fix broken features.def
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cmake_config.cmakein
  maintainer/configs/maxset-walberla.hpp
  src/config/features.def
Due: clang-format, cmake-format

walberla: More unit tests
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/walberla_bridge/tests/kernels_unit_tests.cpp
Due: clang-format

tests: Remove code duplication in LB test cases
  testsuite/python/engine_lb.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_density.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_streaming.py
  testsuite/python/lb_thermostat.py
  testsuite/python/lb_vtk.py
  testsuite/python/linear_momentum_lb.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
Due: autopep8

walberla: Fix dynamic UBB data type
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
Due: clang-format, autopep8

walberla: Fix stream/collide data type
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  testsuite/python/lb_streaming.py
Due: clang-format, autopep8

walberla: Check exception mechanism
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/python/espressomd/lb.pxd
  src/script_interface/walberla/FluidWalberla.hpp
Due: clang-format, autopep8

walberla: Remove intermediate function
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

samples: Fix LB keyword arguments in OIF
  samples/object_in_fluid/motivation.py
Due: autopep8

tests: Check LB exception mechanism
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/lb_exceptions.cpp
Due: clang-format, cmake-format

core: Cleanup comments and doxygen
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
Due: clang-format

core: Cleanup LB interface
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
  src/core/unit_tests/lb_exceptions.cpp
Due: clang-format

walberla: Rewrite VTK code
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/python/espressomd/system.pyx
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/VTKHandle.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/vtk_writers.hpp
  testsuite/python/lb_vtk.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

tests: Re-enable benchmark tests
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
Due: cmake-format

python: Fix script interface attribute lookup bug
  src/python/espressomd/script_interface.pyx
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/script_interface.py
Due: autopep8

tests: Fix regression in bond setter check
  src/python/espressomd/interactions.pyx
  testsuite/python/interactions_bonded_interface.py
Due: autopep8

python: Fix regression in bond classes
  src/python/espressomd/interactions.pyx
Due: autopep8

merge regression
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format

walberla_bridge: adaption to WalberlaLattice
  src/walberla_bridge/PoissonSolver/FFT.hpp
  src/walberla_bridge/PoissonSolver/None.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

core: removed ek_boundaries
  src/core/event.cpp
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/ek_boundaries.cpp
  src/core/grid_based_algorithms/ek_boundaries.hpp
  src/core/grid_based_algorithms/lbboundaries/EKBoundary.hpp
  src/python/espressomd/ekboundaries.py
  src/python/espressomd/system.pyx
  src/script_interface/initialize.cpp
  src/script_interface/lbboundaries/EKBoundaries.hpp
  src/script_interface/lbboundaries/EKBoundary.hpp
  src/script_interface/lbboundaries/initialize.cpp
  src/script_interface/lbboundaries/initialize.hpp
Due: clang-format, autopep8, cmake-format

core: removed walberla_blockforest
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/walberla_blockforest.cpp
  src/core/grid_based_algorithms/walberla_blockforest.hpp
  src/python/espressomd/walberla.pxd
  src/python/espressomd/walberla.pyx
Due: clang-format, autopep8, cmake-format

walberla_bridge: walberla::domain_decomposition::BlockDataID -> std::size_t to prevent header-leakage into the espresso core
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla_bridge: ek adaption to LatticeWalberla
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

script_interface: ek adaption to LatticeWalberla
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/PoissonSolver/None.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

core: lb_walberla_interface: added field_id getters
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
Due: clang-format

script_interace: removed WalberlaBlockforest
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
Due: clang-format

script_interface: cmake: temp leak WalberlaLibs to scriptinterface
  src/script_interface/CMakeLists.txt
Due: cmake-format

walberla_bridge: ek BlockDataID -> std::size_t
  src/core/grid_based_algorithms/ek_container.cpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
