Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: cells: Split CellStructure::pair_loop()
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/debug.cpp
  src/core/debug.hpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: Header cleanup
  src/core/dpd.cpp
  src/core/short_range_loop.hpp
Due: clang-format

utils: Remove NoOp class
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/utils/include/utils/NoOp.hpp
Due: clang-format

core: Header cleanup
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/collision.cpp
  src/core/communication.cpp
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/event.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/particle_data.hpp
Due: clang-format

core: cells: Skip non-bonded kernels when inactive
  src/core/CellStructure.hpp
Due: clang-format

Make test buxfix-ready.
  testsuite/python/lb_pressure_tensor_acf.py
Due: autopep8

CI: Update to ROCm 3.7 image
  .gitlab-ci.yml
Due: none

core: cells: Narrow inclusion of header file
  src/core/CellStructure.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: electrostatics: Group P3M & DP3M data structs
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.hpp
Due: clang-format

Bump CMake minimal version to 3.11
  CMakeLists.txt
Due: cmake-format

Bump Python minimal version to 3.6
  CMakeLists.txt
Due: cmake-format

tests: Check espressomd.utils functions
  testsuite/python/CMakeLists.txt
  testsuite/python/utils.py
Due: autopep8, cmake-format

python: Check length in check_type_or_throw_except
  src/python/espressomd/utils.pyx
  testsuite/python/interactions_bonded_interface.py
Due: autopep8

python: Use f-strings
  src/python/espressomd/actors.pyx
  src/python/espressomd/analyze.pyx
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/checkpointing.py
  src/python/espressomd/collision_detection.pyx
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/highlander.py
  src/python/espressomd/interactions.pyx
  src/python/espressomd/lb.pyx
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/polymer.pyx
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/system.pyx
  src/python/espressomd/utils.pyx
  src/python/espressomd/version.pyx
Due: autopep8

core: magnetostatics: Refactor aliasing sums
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

core: magnetostatics: Remove P3M_EPSILON_MAGNETIC
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

core: magnetostatics: Modernize code
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

core: magnetostatics: Pull out aliasing sums code
  src/core/electrostatics_magnetostatics/dp3m_influence_function.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

core: magnetostatics: Combine aliasing sums
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

core: electrostatics: Pull out calc_meshift
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/p3m_test.cpp
Due: clang-format, cmake-format

core: electrostatics: Factor out dp3m_calc_meshift
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
Due: clang-format

core: magnetostatics: Remove calc_meshift() method
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
Due: clang-format

core: magnetostatics: Declutter aliasing sums
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
Due: clang-format

tests: Check DP3M non-metallic case
  testsuite/python/magnetostaticInteractions.py
Due: autopep8

tests: Properly handle teardowns
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/electrostaticInteractions.py
  testsuite/python/magnetostaticInteractions.py
Due: autopep8

tests: Improve formula in P3M non-metallic case
  testsuite/python/electrostaticInteractions.py
Due: autopep8

python: DipolarP3M works with odd-numberd meshes
  src/python/espressomd/magnetostatics.pyx
Due: autopep8

core: magnetostatics: Fix regressions
  src/core/electrostatics_magnetostatics/dp3m_influence_function.hpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

python: Fix bug in DipolarP3M class
  src/python/espressomd/magnetostatics.pyx
Due: autopep8

tests: Workaround for buffer overflow in the core
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

tests: Add checks for DP3M torques
  testsuite/python/magnetostaticInteractions.py
Due: autopep8

core: magnetostatics: Fix heap-buffer-overflow
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

core: electrostatics: Improve (d)p3m_init() readability
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: electrostatics: Replace macros by scoped enums
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: magnetostatics: Modernize code
  src/core/electrostatics_magnetostatics/dp3m_influence_function.hpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: magnetostatics: Remove interpolation parameter
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/magnetostaticInteractions.py
Due: clang-format, autopep8

change indexing in the sampling loop
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
Due: none

python: Add missing thermostats decorators
  src/python/espressomd/thermostat.pyx
Due: autopep8
