Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Remove time_step from LB code
  src/core/event.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/integrate.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
Due: clang-format, autopep8

updated lb_poiseuille_cylinder.py
  testsuite/python/lb_poiseuille_cylinder.py
Due: autopep8

removed unnecesary test sripts
  .DS_Store
  test_scripts/.DS_Store
  test_scripts/velocity.ipynb
Due: none

Delete .DS_Store
  .DS_Store
Due: none

Update myconfig-default.hpp
  src/config/myconfig-default.hpp
Due: clang-format

core: Call LB integrator in the main integration loop
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/integrate.cpp
Due: clang-format

core: Only increment LB RNG during LB integration
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/integrate.cpp
Due: clang-format

implemented logical tests for LBNode and LBSlice objects
  src/python/espressomd/lb.pyx
Due: autopep8

fixed formatting
  src/python/espressomd/lb.pyx
Due: autopep8

fixed bug
  src/python/espressomd/lb.pyx
Due: autopep8

core/python: integrate: implemented mpi_set_skin
  src/core/EspressoSystemStandAlone.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/tuning.cpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: removed FIELD_MIN_GLOBAL_CUT
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core/python: nonbonded_interaction_data: implemented mpi_set_min_global_cut
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
Due: clang-format, autopep8

core: removed FIELD_SKIN
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: event: implemented on_thermostat_param change and on_timestep_change
  src/core/event.cpp
  src/core/event.hpp
  src/core/integrate.cpp
Due: clang-format

core/python: thermostat: implemented mpi_set_brownian_gamma
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: thermostat: implemented mpi_set_nptiso_gammas
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: integrate: implemented mpi_set_integ_switch
  src/core/integrate.cpp
  src/core/integrate.hpp
Due: clang-format

core: removed FIELD_NPTISO_G0/FIELD_NPTISO_GV
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: thermostat: implemented mpi_set_langevin_gamma/rot
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_NODEGRID
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: removed FIELD_THERMO_VIRTUAL
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_TEMPERATURE
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: implemented mpi_set_time
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
Due: clang-format, autopep8

core: removed FIELD_TIMESTEP
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: removed FIELD_INTEG_SWITCH
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: rigid_bond: implemented mpi_set_n_rigidbonds
  src/core/bonded_interactions/rigid_bond.cpp
  src/core/bonded_interactions/rigid_bond.hpp
Due: clang-format

core: removed FIELD_SIMTIME
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core/python: thermostat: implemented mpi_set_temperature
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: cellsystem: implemented mpi_set_node_grid
  src/core/event.cpp
  src/core/event.hpp
  src/core/grid.cpp
  src/core/grid.hpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: removed FIELD_LANGEVIN_GAMMA/FIELD_LANGEVIN_GAMMA_ROTATION
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: thermostat: implemented mpi_set_thermo_virtual
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: event: implemented on_simtime_change
  src/core/event.cpp
  src/core/event.hpp
Due: clang-format

core: removed FIELD_FORCE_CAP
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: removed FIELD_THERMO_SWITCH
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_BROWNIAN_GAMMA_ROTATION
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core/python: forcecap: implemented mpi_set_forcecap
  src/core/event.cpp
  src/core/event.hpp
  src/core/forcecap.cpp
  src/core/forcecap.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
Due: clang-format, autopep8

core/python: thermostat: implemented mpi_set_thermo_switch
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
