Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Walberla:: avoid mem leak
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

docs: Document constant pH implementation details
  doc/doxygen/bibliography.bib
  src/core/reaction_methods/utils.cpp
  src/core/reaction_methods/utils.hpp
  src/python/espressomd/reaction_ensemble.pyx
Due: clang-format, autopep8

Walberla: Disable broken vectorization for fluctuating mrt
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
  src/walberla_bridge/philox_rand.h
Due: clang-format, autopep8

Walberla: Avoid some communication
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Walberla: Use floats for random numbers as long as rng vectorization doesn't work
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
Due: clang-format, autopep8

core: Sanity checks for LB profile observables
  src/core/observables/LBProfileObservable.hpp
  testsuite/python/observable_profileLB.py
Due: clang-format, autopep8

tests: Fix -Wunused-but-set-variable
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
Due: clang-format

core: Sanity checks for profile observable ranges
  src/core/observables/RDF.hpp
  testsuite/python/observable_profile.py
  testsuite/python/rdf.py
Due: clang-format, autopep8

core: Sanity checks for profile observable bin sizes
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/core/observables/RDF.hpp
  testsuite/python/observable_profile.py
  testsuite/python/rdf.py
Due: clang-format, autopep8

core: Sanity checks for chain observables
  src/core/observables/BondAngles.hpp
  src/core/observables/BondDihedrals.hpp
  src/core/observables/CosPersistenceAngles.hpp
  src/core/observables/ParticleDistances.hpp
  testsuite/python/observable_chain.py
Due: clang-format, autopep8

core: Add sanity checks in PidObservable
  src/core/observables/BondAngles.hpp
  src/core/observables/BondDihedrals.hpp
  src/core/observables/CosPersistenceAngles.hpp
  src/core/observables/ParticleDistances.hpp
Due: clang-format

core: Fix Clang-Tidy warning
  src/core/observables/ParticleDistances.hpp
Due: clang-format

first changes to the cph tutorial
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Changed non-const vector arguments in ReactionAlgorithm::make_reaction_attempt to be return variables of the function. Espresso compiles properly and pass the reaction ensamble test
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

update lb tutorial theory (part1)
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part1.ipynb
Due: none

rename first LB tutorial
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
Due: cmake-format

rename second LB tutorial (->poiseuille flow)
  doc/tutorials/langevin_dynamics/CMakeLists.txt
  doc/tutorials/langevin_dynamics/NotesForTutor.md
  doc/tutorials/langevin_dynamics/polymers_part1.ipynb
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_poiseuille_flow.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_lattice_boltzmann_poiseuille_flow.py
Due: autopep8, cmake-format

reduced units and unit conversions now hopefully consistent
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Changed generic_oneway_reaction() to to decouple the reaction from the storage of the reactions. Pendent doing the same change to do the same decoupling in other functions such as WidomInsertion
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

Walberla: Fluid seed setter/getter + activate related tests
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

separate polymers tutorial into polymers & langevin_dynamics
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.rst
  doc/tutorials/langevin_dynamics/CMakeLists.txt
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/polymers/CMakeLists.txt
  doc/tutorials/polymers/NotesForTutor.md
  doc/tutorials/polymers/polymers.ipynb
  doc/tutorials/polymers/polymers_part1.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_langevin_dynamics.py
  testsuite/scripts/tutorials/test_polymers.py
Due: autopep8, cmake-format

Feature guards
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Add LB+LJ benchmark. Supports 4.1 and Walberla branches
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/lb.py
Due: autopep8, cmake-format

fixup lb theory tutorial
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
Due: none

move flory theory from langevin tutorial to polymer tutorial
  doc/tutorials/polymers/polymers.ipynb
Due: none

prob_reaction, more on Bjerrum, Thermodynamics and easier-to-read nested cycles for non-bonded interactions between all particle pairs
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Walberla: Centralize relaxation rate <-> viscosity mapping
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/relaxation_rates.hpp
Due: clang-format

core: Pull out sim_time global
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/script_interface/h5md/h5md.cpp
Due: clang-format

core: Pass temperature as argument
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Pass time_step as argument
  src/core/accumulators/Correlator.hpp
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond_utils.cpp
  src/core/bonded_interactions/thermalized_bond_utils.hpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/event.cpp
  src/core/event.hpp
  src/core/forces.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/virtual_sites/VirtualSites.hpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.hpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/core/virtual_sites/lb_inertialess_tracers.hpp
  src/script_interface/h5md/h5md.cpp
Due: clang-format

core: Reduce code duplication
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Due: clang-format

core: Update thermalized bonds at integration start
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/event.cpp
Due: clang-format

core: Pass ParticleRange by const reference
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/core/virtual_sites/lb_inertialess_tracers.hpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.hpp
Due: clang-format

variuos small cleanups, save the work before working on the performance
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

enable Walblerla vecotrizaiton for thermalized lb
  maintainer/benchmarks/lb.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
Due: clang-format, autopep8

Walberla: tempalte floating point type (partial)
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

DH interaction, non_interacting_type and other tricks to speed-up the calculation
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Decoupled ReactionAlgorithm::generic_oneway_reaction() from the storage of the reactions.
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

formatting fixed
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format
