Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

python: ekin_walberla: name change of _add_lb_slice_properties
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

rollout
  src/core/grid_based_algorithms/ek_boundaries.cpp
  src/core/grid_based_algorithms/ek_boundaries.hpp
  src/python/espressomd/ekin_walberla.pxd
Due: clang-format, autopep8

rollout of C-Flags
  src/python/espressomd/system.pyx
Due: autopep8

rollout
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
Due: clang-format

rollout
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
Due: clang-format

FIXUP: script_interface: EKBoundary wrong header
  src/script_interface/lbboundaries/EKBoundary.hpp
Due: clang-format

core: missed switch for EKBoundary implementation
  src/core/event.cpp
  src/core/grid_based_algorithms/ek_boundaries.hpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
Due: clang-format

extraction fixup of EKBoundary
  src/script_interface/lbboundaries/EKBoundary.hpp
Due: clang-format

rollout
  src/python/espressomd/ekboundaries.py
Due: autopep8

rollout
  src/core/communication.cpp
Due: clang-format

rollout
  src/core/event.cpp
Due: clang-format

python: ek: added tau to _get_params_from_es_core
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

core: event: ek_init_boundaries added to on_boxl_change
  src/core/event.cpp
Due: clang-format

core: ek: introduced ek_interface to introduce interface layer
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/ek_boundaries.cpp
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
  src/core/integrate.cpp
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
Due: clang-format, autopep8, cmake-format

core: ek_interface: removed deprecated ek_get_lattice_switch
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
Due: clang-format

fixup: python: ekin_Walberla: fstring
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

core: ek: create_vtk interface
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
Due: clang-format

walberla_bridge: ek: added VTKWriter
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

core: ek: added write_vtk and switch_vtk interface
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
Due: clang-format

fixup: core: ek: creat_vtk interface
  src/core/grid_based_algorithms/ek_interface.cpp
Due: clang-format

python: ek: added VTK interface
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

fixup: core: ek: switch_vtk interface
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
Due: clang-format

fixup: python: ek: docstrings
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

fixup: removed vtk todo
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

core: ek_walberla_instance: added ek_walberla_instances
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
Due: clang-format

TODO: added more concrete boundary todo
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

core: ek_walberla_instance: added get_ek_instance_walberla and id selector
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
Due: clang-format

core: ek_walberla_instance: init_ek_walberla_local now uses the vector
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
Due: clang-format

core: ek_walberla_interface: added id and replaced ekin_walberla with get_ek_walberla
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
Due: clang-format

core: ek_walberla_instance: added get_ek_walberla
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
Due: clang-format

core: ek_boundaries: apply boundaries to all species. This should be changed in the future to apply the boundaries per species
  src/core/grid_based_algorithms/ek_boundaries.cpp
Due: clang-format

fixup: core: ek_interface: added id
  src/core/grid_based_algorithms/ek_interface.hpp
Due: clang-format

core: ek_interface: added ids
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
Due: clang-format

fixup: core: ekin_walberla_interface: missing } for ek_propagate
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
Due: clang-format

python: ekin_walberla: uint -> unsigned int
  src/python/espressomd/ekin_walberla.pxd
Due: autopep8

script_interface: added EKSpecies to scripinterface
  src/python/espressomd/EKSpecies.py
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/initialize.cpp
  src/script_interface/walberla/initialize.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
Due: clang-format, autopep8, cmake-format

script_interface: added EKContainer
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/system.pyx
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/initialize.cpp
Due: clang-format, autopep8

script_interface: EKSpecies: added getters, setters and []-access
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKSpecies.hpp
Due: clang-format, autopep8

core: ek_walberla_interface: added id and replaced ekin_walberla with get_ek_walberla
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
Due: clang-format, cmake-format

script_interface: EKContainer: added timestep and propagation to integration loop
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/integrate.cpp
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKContainer.hpp
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
