Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Implement dynamic H5MD specifications
  doc/sphinx/io.rst
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/packed_variant.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

Implement H5MD checkpointing
  doc/sphinx/io.rst
  src/python/espressomd/io/writer/h5md.py
  src/python/espressomd/script_interface.pyx
  testsuite/python/h5md.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Check H5md edge cases
  src/script_interface/tests/get_value_test.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

script_interface: Use shared pointers
  src/script_interface/bond_breakage/BreakageSpec.hpp
  src/script_interface/constraints/HomogeneousMagneticField.hpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/script_interface/observables/ParamlessObservable.hpp
  src/script_interface/pair_criteria/pair_criteria.hpp
  src/script_interface/shapes/Cylinder.hpp
  src/script_interface/shapes/Ellipsoid.hpp
  src/script_interface/shapes/NoWhere.hpp
  src/script_interface/shapes/Rhomboid.hpp
  src/script_interface/shapes/SimplePore.hpp
  src/script_interface/shapes/Slitpore.hpp
  src/script_interface/shapes/Sphere.hpp
  src/script_interface/shapes/SpheroCylinder.hpp
  src/script_interface/shapes/Torus.hpp
  src/script_interface/shapes/Union.hpp
  src/script_interface/shapes/Wall.hpp
  src/script_interface/virtual_sites/VirtualSitesInertialessTracers.hpp
  src/script_interface/virtual_sites/VirtualSitesOff.hpp
  src/script_interface/virtual_sites/VirtualSitesRelative.hpp
Due: clang-format

docs: Remove outdated information
  doc/sphinx/advanced_methods.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/lb.rst
  doc/sphinx/particles.rst
  src/python/espressomd/reaction_ensemble.py
Due: autopep8

python: Modernize samples
  doc/sphinx/under_the_hood.rst
  maintainer/benchmarks/lb.py
  samples/constraints.py
  samples/drude_bmimpf6.py
  samples/gibbs_ensemble/run_sim.py
  samples/grand_canonical.py
  samples/minimal-charged-particles.py
  samples/reaction_ensemble.py
Due: autopep8

python: Cleanup import statements
  src/python/espressomd/__init__.py
  src/python/espressomd/analyze.pyx
  src/python/espressomd/checkpointing.py
  src/python/espressomd/constraints.py
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/highlander.py
  src/python/espressomd/integrate.pyx
  src/python/espressomd/interactions.pyx
  src/python/espressomd/lb.pyx
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/thermostat.pyx
  src/python/espressomd/version.pyx
Due: autopep8

python: Rename reaction_ensemble to reaction_methods
  doc/sphinx/advanced_methods.rst
  doc/sphinx/particles.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  samples/reaction_ensemble_complex_reaction.py
  samples/reaction_methods.py
  samples/widom_insertion.py
  src/python/espressomd/reaction_methods.py
  testsuite/python/CMakeLists.txt
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/widom_insertion.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_reaction_methods.py
Due: autopep8, cmake-format

python: Add quotes around Python/C++ types
  src/python/espressomd/script_interface.pyx
  src/script_interface/get_value.hpp
  src/script_interface/tests/get_value_test.cpp
  testsuite/python/script_interface.py
Due: clang-format, autopep8

python: Make benchmarks deterministic
  maintainer/benchmarks/lj.py
  maintainer/benchmarks/p3m.py
  maintainer/benchmarks/runner.sh
Due: autopep8

docs: Cleanup documentation
  doc/sphinx/advanced_methods.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/under_the_hood.rst
  src/core/Particle.hpp
  src/python/espressomd/particle_data.pyx
  testsuite/python/collision_detection.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

samples: Remove lj-demo.py
  samples/lj-demo.py
Due: autopep8

Test case for Lees-Edwards and collision detection / bond breakage
  testsuite/python/lees_edwards.py
Due: autopep8

maintainer: Fix waLBerla benchmarks
  maintainer/benchmarks/runner.sh
  maintainer/benchmarks/suite.sh
Due: none

walberla: Minor fixes
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/walberla_bridge/InterpolateAndShiftAtBoundary.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

core: Remove unused EXPERIMENTAL_FEATURES
  doc/sphinx/installation.rst
  maintainer/configs/maxset.hpp
  samples/immersed_boundary/sampleImmersedBoundary.py
  src/config/features.def
  src/python/espressomd/utils.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/experimental_decorator.py
Due: clang-format, autopep8, cmake-format

core: Refactor collision detection exceptions
  src/core/collision.cpp
  src/core/collision.hpp
  src/python/espressomd/collision_detection.pyx
  src/script_interface/collision_detection/CollisionDetection.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
Due: clang-format, autopep8, cmake-format

python: Rewrite collision detection ScriptInterface
  src/core/collision.cpp
  src/core/collision.hpp
  src/python/espressomd/collision_detection.py
  src/python/espressomd/system.pyx
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/get_value.hpp
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
Due: clang-format, autopep8

python: Require three integers for EK node indices
  src/python/espressomd/electrokinetics.pyx
Due: autopep8

core: Dihedral code maintenance
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
Due: clang-format

tests: Properly check dihedral bonds
  src/core/bonded_interactions/bonded_tab.hpp
  testsuite/python/interactions_dihedral.py
Due: clang-format, autopep8

CMake: Bump Python requirements
  CMakeLists.txt
  testsuite/scripts/importlib_wrapper.py
Due: autopep8, cmake-format

docs: Fix broken link
  doc/sphinx/lb.rst
Due: none

tests: Refactor IO test cases
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/coulomb_tuning.py
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/ek_eof_one_species.py
  testsuite/python/h5md.py
  testsuite/python/integrator_npt_stats.py
  testsuite/python/lb_vtk.py
  testsuite/python/lj.py
  testsuite/python/mmm1d.py
  testsuite/python/npt_thermostat.py
  testsuite/python/oif_volume_conservation.py
  testsuite/python/save_checkpoint.py
  testsuite/python/scafacos_dipoles_1d_2d.py
  testsuite/python/sigint.py
  testsuite/python/stokesian_dynamics.py
  testsuite/python/test_checkpoint.py
  testsuite/python/tests_common.py
  testsuite/python/unittest_generator.py
  testsuite/scripts/importlib_wrapper.py
  testsuite/scripts/samples/test_ekboundaries.py
  testsuite/scripts/samples/test_immersed_boundary.py
  testsuite/scripts/samples/test_object_in_fluid__motivation.py
  testsuite/scripts/samples/test_save_checkpoint.py
  testsuite/scripts/test_importlib_wrapper.py
  testsuite/scripts/tutorials/test_convert.py
Due: autopep8

tests: Cleanup python testsuite
  src/python/espressomd/analyze.pyx
  testsuite/python/analyze_chains.py
  testsuite/python/cluster_analysis.py
  testsuite/python/decorators.py
  testsuite/python/ek_eof_one_species.py
  testsuite/python/h5md.py
  testsuite/python/integrator_npt.py
  testsuite/python/lb_vtk.py
  testsuite/python/mdanalysis.py
  testsuite/python/mmm1d.py
  testsuite/python/p3m_electrostatic_pressure.py
  testsuite/python/script_interface.py
  testsuite/python/test_checkpoint.py
  testsuite/scripts/importlib_wrapper.py
  testsuite/scripts/test_importlib_wrapper.py
Due: autopep8

maintainer: Use pathlib module
  maintainer/CI/deploy_tutorials.py
  maintainer/CI/dox_warnings.py
  maintainer/CI/jupyter_warnings.py
  maintainer/benchmarks/benchmarks.py
Due: autopep8

python: Document Python classes
  doc/sphinx/system_setup.rst
  src/python/espressomd/lees_edwards.py
  testsuite/scripts/importlib_wrapper.py
Due: autopep8

core: Add initial_pos_offset to Oscillatory LEbc
  src/core/lees_edwards/protocols.hpp
  src/core/unit_tests/lees_edwards_test.cpp
  src/python/espressomd/lees_edwards.py
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

CI: Use new CI infrastructure
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
Due: none

testsuite: ek: added reaction testcases
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_indexed_reactions.py
Due: autopep8, cmake-format

CI: Remove flaky test on macOS
  testsuite/python/script_interface.py
Due: autopep8

core: Separate particle storage from particle data
  src/core/CMakeLists.txt
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/python/espressomd/particle_data.pxd
Due: clang-format, autopep8, cmake-format

core: Narrow interface of particle management
  src/core/PartCfg.cpp
  src/core/cells.cpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/event.cpp
  src/core/observables/fetch_particles.hpp
  src/core/pair_criteria/pair_criteria.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/statistics_chain.cpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/core/virtual_sites.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/system.pxd
  testsuite/python/particle.py
Due: clang-format, autopep8

core: Use consistent argument names
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/python/espressomd/particle_data.pxd
Due: clang-format, autopep8

core: Simplify particle callbacks
  src/core/exclusions.cpp
  src/core/exclusions.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

core: Rewrite particle exclusion exception mechanism
  src/core/particle_data.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  testsuite/python/particle.py
Due: clang-format, autopep8

walberla_bridge: ek: removed unused list-functions
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

walberla_bridge: ek: added density boundary condition interface
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format, autopep8

script_interface: Fix regression in type conversion
  src/python/espressomd/script_interface.pyx
  testsuite/python/script_interface.py
Due: autopep8

core: Make particle insertion run in constant time
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  testsuite/python/particle.py
Due: clang-format, autopep8
