Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Modernize
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/lb_walberla.py
Due: clang-format, autopep8

python: Modernize visualizer
  src/python/espressomd/visualization.py
Due: autopep8

core: Correct multiplication order in transformation
  src/core/rotation.hpp
  src/core/unit_tests/rotation_test.cpp
Due: clang-format

doc: Add missing OpenGL dependency
  doc/sphinx/installation.rst
Due: none

core: Workaround for MPI serialization bug on 1 rank
  src/core/bond_breakage/bond_breakage.cpp
  src/core/collision.cpp
Due: clang-format

add reamde
  README.md
Due: none

renaming the viscocity to kinematic viscocity
  src/python/espressomd/lb.py
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/engine_lb.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_density.py
  testsuite/python/lb_electrohydrodynamics.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_planar_couette.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/lb_shear.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_stokes_sphere.py
  testsuite/python/lb_streaming.py
  testsuite/python/lb_thermostat.py
  testsuite/python/linear_momentum_lb.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profileLB.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Various improvements
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/include/walberla_bridge/Architecture.hpp
  src/walberla_bridge/include/walberla_bridge/utils/boundary_utils.hpp
  src/walberla_bridge/src/BoundaryHandling.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_walberla_init.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/tests_common.hpp
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_streaming.py
Due: clang-format, autopep8, cmake-format

walberla: Bump CMake requirements
  CMakeLists.txt
Due: cmake-format

Fix Clang warning
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

CMake: Fixup
  CMakeLists.txt
Due: cmake-format

walberla: GPU accessors (WIP)
  maintainer/walberla_kernels/macroscopic_value_access.py
Due: autopep8

maintainer: Modernize codegen scripts
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/macroscopic_value_access.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

walberla: Completely rewrite macroscopic accessors
  maintainer/walberla_kernels/FieldAccessors.tmpl.h
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/ResetForce.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/macroscopic_values_accessors_double_precision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/macroscopic_values_accessors_single_precision.h
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk_writers.hpp
  src/walberla_bridge/tests/kernels_unit_tests.cpp
Due: clang-format, autopep8

walberla: Regenerate all kernels with lbmpy 1.1.1
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwards.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionLeesEdwardsAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/Dynamic_UBB_single_precision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PushPackInfoDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PushPackInfoDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PushPackInfoSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/PushPackInfoSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/StreamSweepSinglePrecisionAVX.h
Due: clang-format, autopep8

Formatting
  .pre-commit-config.yaml
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_all.h
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_all.h
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_kernels.hpp
  src/walberla_bridge/src/lattice_boltzmann/vtk_writers.hpp
Due: clang-format

CMake: Optimize GPU usage in the testsuite
  testsuite/python/CMakeLists.txt
  testsuite/python/long_range_actors.py
  testsuite/python/resources.json
Due: autopep8, cmake-format

Fix particle anisotropy in thermostats
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/rotation_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/thermostats_anisotropic.py
Due: clang-format, autopep8, cmake-format

Remove duplicated code
  maintainer/walberla_kernels/macroscopic_value_access.py
Due: autopep8

Formatting
  maintainer/walberla_kernels/walberla_lbm_generation.py
Due: autopep8

Catch invalid reaction method argument
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

python: Check for GLE features
  doc/sphinx/installation.rst
  src/python/espressomd/visualization.py
Due: autopep8

Fix regression in OpenGL visualizer
  src/python/espressomd/visualization.py
Due: autopep8

core: partially inline LB particle coupling
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Due: clang-format

added propagation filter + templates
  src/core/Particle.hpp
  src/core/ParticleRange.hpp
  src/core/PropagationModes.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/python/espressomd/propagation.py
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format, autopep8

Added stokesian, changed velocity verlet npt
  src/core/ParticleRange.hpp
  src/core/integrate.cpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
Due: clang-format

fix stokesian
  src/core/stokesian_dynamics/sd_interface.cpp
Due: clang-format

core: Make Particle substructs private
  src/core/Particle.hpp
  src/core/constraints/Constraints.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/ghosts.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/unit_tests/Particle_test.cpp
Due: clang-format

doc: Document chain observables caveats
  doc/sphinx/analysis.rst
Due: none

core: Cleanup comments
  src/core/BoxGeometry.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/analyze_chains.py
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

tests: Modernize python tests
  testsuite/python/analyze_chains.py
  testsuite/python/cluster_analysis.py
Due: autopep8

core: Disable cluster analysis for Lees-Edwards
  src/core/cluster_analysis/Cluster.cpp
  src/core/cluster_analysis/Cluster.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/cluster_analysis/ClusterStructure.hpp
Due: clang-format

tests: Check analysis functions with Lees-Edwards
  testsuite/python/analyze_chains.py
  testsuite/python/cluster_analysis.py
Due: autopep8

doc: Move chain analysis documentation to docstrings
  doc/sphinx/analysis.rst
  src/python/espressomd/analyze.py
Due: autopep8

Cython fix
  src/python/espressomd/particle_data.pyx
Due: autopep8

Add bonded interaction TorsionBond.
  src/core/bonded_interactions/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/torsion_bond.cpp
  src/core/bonded_interactions/torsion_bond.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.py
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
Due: clang-format, autopep8, cmake-format

core: Implement TorsionBond::energy
  src/core/bonded_interactions/torsion_bond.hpp
  src/core/forces_inline.hpp
  src/python/espressomd/interactions.py
Due: clang-format, autopep8

tests: Fix numpy deprecation warning
  testsuite/python/ek_noflux.py
Due: autopep8

maintainer: Update comments
  maintainer/walberla_kernels/FieldAccessors.tmpl.h
Due: none
