Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

CMake: Fix Clang 14 version checks
  cmake/FindCUDACompilerClang.cmake
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

CI: Bump Docker images
  .gitlab-ci.yml
Due: none

WIP: investigate PNFFT MPI error
  .gitlab-ci.yml
  testsuite/python/scafacos.CMakeLists.txt
Due: cmake-format

Revert "WIP: investigate PNFFT MPI error"
  .gitlab-ci.yml
  testsuite/python/scafacos.CMakeLists.txt
Due: cmake-format

CI: Use new codecov uploader
  maintainer/CI/build_cmake.sh
Due: none

MPI-parallel DDS with replicas
  doc/sphinx/magnetostatics.rst
  src/core/magnetostatics/CMakeLists.txt
  src/core/magnetostatics/dds.cpp
  src/core/magnetostatics/dds.hpp
  src/core/magnetostatics/dds_replica.cpp
  src/core/magnetostatics/dds_replica.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dlc.hpp
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarDirectSum.hpp
  src/script_interface/magnetostatics/DipolarDirectSumWithReplica.hpp
  src/script_interface/magnetostatics/DipolarLayerCorrection.hpp
  src/script_interface/magnetostatics/initialize.cpp
  src/script_interface/tests/Actors_test.cpp
  src/utils/include/utils/cartesian_product.hpp
  src/utils/include/utils/mpi/iall_gatherv.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/iall_gatherv_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
Due: clang-format, autopep8, cmake-format

core: Rename source files and iterator variables
  src/core/CMakeLists.txt
  src/core/magnetostatics/CMakeLists.txt
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/magnetostatics/dipolar_direct_sum.hpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.cpp
  src/core/magnetostatics/dipolar_direct_sum_gpu.hpp
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cuh
  src/core/magnetostatics/dipoles.hpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dlc.hpp
  src/script_interface/magnetostatics/DipolarDirectSum.hpp
  src/script_interface/magnetostatics/DipolarDirectSumGpu.hpp
  src/script_interface/tests/Actors_test.cpp
Due: clang-format, cmake-format

core: Split particle creation function
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format

core: Improve separation of concerns
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/WidomInsertion.cpp
Due: clang-format

tests: Check reaction algorithm more thoroughly
  testsuite/python/CMakeLists.txt
  testsuite/python/reaction_complex.py
Due: autopep8, cmake-format

EK: fixed heap-use-after-free
  maintainer/walberla_kernels/ReactionKernelSelector.tmpl.h
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_all.h
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_all.h
Due: none

core: Fix clang-analyzer-security.FloatLoopCounter
  .clang-tidy
  src/core/electrostatics/mmm1d.cpp
  src/core/electrostatics/mmm1d_gpu_cuda.cu
  src/core/electrostatics/p3m.cpp
  src/core/p3m/influence_function_dipolar.hpp
  src/utils/tests/AS_erfc_part_test.cpp
  src/utils/tests/sinc_test.cpp
Due: clang-format

core: Address compiler diagnostics
  src/core/io/writer/h5md_core.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/p3m/influence_function_dipolar.hpp
  src/script_interface/math/CylindricalTransformationParameters.hpp
Due: clang-format

core: Fix visitor patterns
  src/core/actor/visitors.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb_inline.hpp
  src/core/electrostatics/icc.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/particle_data.cpp
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/packed_variant.hpp
  src/script_interface/scafacos/scafacos.cpp
  src/script_interface/tests/packed_variant_test.cpp
Due: clang-format

core: Remove superfluous typedefs
  src/core/forces_inline.hpp
  src/python/espressomd/gen_pxiconfig.py
  src/utils/tests/gather_buffer_test.cpp
  src/utils/tests/mask_test.cpp
Due: clang-format, autopep8

CMake: Fix broken unit tests environment variables
  cmake/unit_test.cmake
  src/script_interface/tests/CMakeLists.txt
Due: cmake-format

CMake: Add Open MPI singleton guard
  CMakeLists.txt
  cmake/unit_test.cmake
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  src/python/pypresso.cmakein
Due: cmake-format

python: Fix docstrings
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/io.rst
  src/python/espressomd/bond_breakage.py
  src/python/espressomd/collision_detection.py
  src/python/espressomd/constraints.py
  src/python/espressomd/integrate.pyx
  src/python/espressomd/interactions.py
  src/python/espressomd/lb.pyx
  src/python/espressomd/lees_edwards.py
  src/python/espressomd/particle_data.py
  src/python/espressomd/script_interface.pyx
  testsuite/python/tests_common.py
  testsuite/scripts/importlib_wrapper.py
Due: autopep8

core: Reduce diff between default and maxset files
  maintainer/configs/maxset.hpp
  src/config/myconfig-default.hpp
Due: clang-format

doc: Document all available CMake options
  doc/sphinx/installation.rst
Due: none

CMake: Use modern CMake
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/FindMpiexecBackend.cmake
  cmake/espresso_get_mpiexec_vendor.cmake
  src/CMakeLists.txt
Due: cmake-format

CMake: Enable ccache for CUDA object files
  CMakeLists.txt
Due: cmake-format

CMake: Rewrite config file generator
  src/config/check_myconfig.py
  src/config/defines.py
  src/config/gen_featureconfig.py
  testsuite/scripts/utils/CMakeLists.txt
  testsuite/scripts/utils/test_check_myconfig.py
Due: autopep8, cmake-format

CMake: Check integrity of external features
  cmake/cmake_config.cmakein
  src/config/CMakeLists.txt
  src/config/check_myconfig.py
  src/config/featuredefs.py
  src/config/features.def
  testsuite/scripts/utils/test_check_myconfig.py
Due: autopep8, cmake-format

maintainer: Fix regression
  maintainer/configs/maxset.hpp
Due: clang-format

Formatting
  src/core/CMakeLists.txt
Due: cmake-format

doc: Add support for KaTeX
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  doc/tutorials/polymers/polymers.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
Due: none

core: Remove unused parameter
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/forces.cpp
  src/core/interactions.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/thole.hpp
Due: clang-format

doc: Add support for VS Code Jupyter backend
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  doc/tutorials/convert.py
Due: autopep8

CMake: Bump Boost, CMake, Python, Cython requirements
  .github/workflows/push_pull.yml
  CMakeLists.txt
Due: cmake-format

CMake: Bump python dependencies requirements
  cmake/FindSphinx.cmake
  doc/sphinx/CMakeLists.txt
  doc/tutorials/convert.py
  requirements.txt
Due: autopep8, cmake-format

CMake: Bump version requirements to CUDA 11
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/core/magnetostatics/barnes_hut_gpu_cuda.cu
Due: clang-format, cmake-format

CMake: Bump requirements to C++17
  CMakeLists.txt
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

core: Use C++17 structured bindings
  src/core/bonded_interactions/angle_common.hpp
  src/core/electrostatics/mmm1d.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/particle_data.cpp
  src/core/unit_tests/random_test.cpp
  src/core/virtual_sites.cpp
  src/script_interface/cluster_analysis/Cluster.hpp
  src/shapes/src/Cylinder.cpp
  src/shapes/src/SimplePore.cpp
  src/utils/tests/gather_buffer_test.cpp
Due: clang-format

core: Use C++17 std::as_const
  src/core/MpiCallbacks.hpp
  src/core/cells.cpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/tests/Accumulators_test.cpp
  src/script_interface/tests/Actors_test.cpp
  src/script_interface/tests/Constraints_test.cpp
  src/utils/include/utils/as_const.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/as_const_test.cpp
Due: clang-format, cmake-format

core: Remove unused tuple algorithms
  src/core/MpiCallbacks.hpp
  src/utils/include/utils/tuple.hpp
  src/utils/tests/tuple_test.cpp
Due: clang-format

core: Use C++17 algorithms
  src/core/BondList.hpp
  src/core/PartCfg.cpp
  src/core/TabulatedPotential.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonded_interactions/bonded_interaction_utils.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/collision.cpp
  src/core/electrostatics/elc.cpp
  src/core/grid.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/integrators/steepest_descent.cpp
  src/core/observables/BondAngles.hpp
  src/core/observables/fetch_particles.hpp
  src/core/particle_node.cpp
  src/shapes/include/shapes/Union.hpp
  src/utils/include/utils/interpolation/detail/ll_and_dist.hpp
  src/utils/include/utils/math/triangle_functions.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
