Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

CMake: Fix more regressions
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
Due: cmake-format

Walberla: Abosrb Lees Edwards interpolations into ghost communication
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Walberla: Test Lees Edwards interpolation
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format

Lees Edwards: Python test for particle coupling
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_lees_edwards_particle_coupling.py
Due: autopep8, cmake-format

core: Rewrite Particle fix flag
  src/core/Particle.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/thermostats/brownian_inline.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

core: Roll out new Particle interface
  src/core/AtomDecomposition.cpp
  src/core/CellStructure.hpp
  src/core/ComFixed.hpp
  src/core/RegularDecomposition.cpp
  src/core/RegularDecomposition.hpp
  src/core/cluster_analysis/Cluster.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/field_coupling/couplings/Charge.hpp
  src/core/field_coupling/couplings/Mass.hpp
  src/core/field_coupling/couplings/Viscous.hpp
  src/core/forcecap.cpp
  src/core/forces.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/field_coupling_couplings_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
  src/utils/include/utils/checks/charge_neutrality.hpp
Due: clang-format

core: Rewrite Particle rotation flag
  src/core/Particle.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/unit_tests/thermostats_test.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

core: Modernize VirtualSitesRelative
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

core: Cleanup header files
  src/core/MpiCallbacks.hpp
  src/core/Particle.hpp
  src/core/bond_breakage.cpp
  src/core/lees_edwards_protocol.hpp
  src/core/particle_data.cpp
  src/core/unit_tests/lees_edwards_test.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
Due: clang-format

core: Cleanup comments
  src/core/cells.hpp
  src/core/event.hpp
  src/core/field_coupling/fields/PlaneWave.hpp
  src/core/forces.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/integrate.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/particle_data.cpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/script_interface/h5md/h5md.hpp
Due: clang-format

core: Minor fixes
  src/core/BoxGeometry.hpp
  src/core/field_coupling/fields/Interpolated.hpp
  src/core/integrate.cpp
  src/core/observables/LBFluidPressureTensor.hpp
  src/python/espressomd/cellsystem.pxd
Due: clang-format, autopep8

core: Move files to submodules
  src/core/BoxGeometry.hpp
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/bond_breakage/CMakeLists.txt
  src/core/bond_breakage/actions.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/core/lees_edwards/lees_edwards.hpp
  src/core/lees_edwards/protocols.hpp
  src/core/unit_tests/lees_edwards_test.cpp
  src/script_interface/bond_breakage/BreakageSpec.hpp
  src/script_interface/bond_breakage/BreakageSpecs.hpp
  src/script_interface/lees_edwards/LeesEdwards.hpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/script_interface/lees_edwards/Protocol.hpp
Due: clang-format, cmake-format

core: Unit test bond breakage actions
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/bond_breakage_test.cpp
Due: clang-format, cmake-format

maintainer: Move post-processing tools to dedicated file
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/post_process_kernels.py
Due: autopep8

maintainer: Use qualified import statements
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

maintainer: Remove debug code and commented out code
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

maintainer: Move dependencies checks
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

maintainer: Encapsulate kernels post-processing logic
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

maintainer: Move patched UBB classes to a dedicated file
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
Due: autopep8

maintainer: Move field definitions to a dedicated file
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
Due: autopep8

python: Remove code duplication in ScriptObjectMap
  src/python/espressomd/bond_breakage.py
  src/python/espressomd/interactions.pyx
  src/python/espressomd/script_interface.pyx
  testsuite/python/bond_breakage.py
Due: autopep8

python: Allow bond objects as key in bond breakage
  src/python/espressomd/bond_breakage.py
  testsuite/python/bond_breakage.py
Due: autopep8

docs: Bond breakage framework
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/bond_breakage.py
Due: autopep8

docs: Modeling reversible bonds
  doc/sphinx/advanced_methods.rst
  src/python/espressomd/bond_breakage.py
Due: autopep8

core: Fix LE particle coupling regression
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/integrate.cpp
  src/core/lees_edwards.hpp
Due: clang-format

core: Minimize diff with walberla branch
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/walberla_bridge/InterpolateAndShiftAtBoundary.hpp
Due: clang-format

testsuite: Formatting and np.copy
  testsuite/python/lb_lees_edwards_particle_coupling.py
Due: autopep8

CMake: Don't rename test files when possible
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_eof_one_species.py
Due: autopep8, cmake-format

CMake: Remove FILE_SUFFIX
  .codecov.yml
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_eof_one_species.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/unittest_generator.py
Due: autopep8, cmake-format

CMake: Configure python test files with COPYONLY
  testsuite/python/CMakeLists.txt
  testsuite/python/sigint.py
Due: autopep8, cmake-format

testsuite: Move utility functions to client code
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_common.py
  testsuite/python/ek_eof_one_species.py
  testsuite/python/interactions_bonded.py
  testsuite/python/interactions_non-bonded.py
  testsuite/python/pressure.py
  testsuite/python/tests_common.py
Due: autopep8, cmake-format

CMake: Cleanup python test dependencies
  testsuite/python/CMakeLists.txt
Due: cmake-format

CMake: Simplify tests LABELS
  testsuite/python/CMakeLists.txt
Due: cmake-format

Allow use of LB with n square cell system on a single MPI node
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Engine LB coupling with n square cell system
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  testsuite/python/engine_lb.py
Due: clang-format, autopep8

tests: Run N-square LB tests in CI
  testsuite/python/CMakeLists.txt
  testsuite/python/engine_lb.py
  testsuite/python/engine_lb_nsquare.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_momentum_conservation_nsquare.py
Due: autopep8, cmake-format

walberla_bridge: EKReactions: extracted utils functions
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/utils.hpp
Due: clang-format

throw error for bonded interactions if particles are at the same position
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8

walberla_bridge: EKReactionsIndexed: first attempt
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4.h
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5.h
Due: clang-format, autopep8, cmake-format
