Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Check non-cubic boxes in (D)P3M tuning
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

tests: Check P3M energies for non-metallic epsilon
  testsuite/python/electrostaticInteractions.py
Due: autopep8

core: Document Context infrastructure
  src/script_interface/Context.hpp
  src/script_interface/ContextManager.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/packed_variant.hpp
Due: clang-format

core: Add missing header file
  src/script_interface/None.hpp
Due: clang-format

CMake: Fix directory include in INTERFACE target
  src/utils/CMakeLists.txt
Due: cmake-format

CMake: Guard re-declaration of FFTW3 IMPORTED target
  cmake/FindFFTW3.cmake
Due: none

tutorials: Refactor html_runner code
  doc/tutorials/CMakeLists.txt
  doc/tutorials/html_runner.py
  testsuite/scripts/tutorials/test_html_runner.py
Due: autopep8, cmake-format

tutorials: Add support for exercise2
  doc/sphinx/installation.rst
  doc/tutorials/CMakeLists.txt
  doc/tutorials/html_runner.py
  requirements.txt
  testsuite/scripts/tutorials/test_html_runner.py
Due: autopep8, cmake-format

tutorial 04: Merge solution into notebook
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/04-lattice_boltzmann/CMakeLists.txt
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution.py
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution_cut.cmake
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part4.py
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part4_solution.py
Due: autopep8, cmake-format

tutorial 04: Improve plot
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
Due: none

ROCm 3.7 support
  cmake/FindCUDACompilerHIP.cmake
Due: none

CMake: Make EspressoUtils self-contained
  src/utils/CMakeLists.txt
Due: cmake-format

core: Add missing include guards
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/specfunc_cuda.hpp
  src/core/observables/EnergyObservable.hpp
  src/core/observables/PressureObservable.hpp
  src/core/observables/PressureTensor.hpp
Due: clang-format

core: Remove P3M_N_INTERPOL
  src/config/config.hpp
Due: clang-format

core: Move P3M_EPSILON_MAGNETIC
  src/config/config.hpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
Due: clang-format

core: Simplify expressions
  src/core/collision.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: Remove CA_INCREMENT and P3M_TUNE_MAX_CUTS
  src/core/electrostatics_magnetostatics/p3m-common.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

core: Remove P3M_EPSILON macro
  src/config/config.hpp
  src/core/electrostatics_magnetostatics/p3m-common.hpp
Due: clang-format

core: Remove math constants macros
  src/config/config.hpp
  src/core/actor/specfunc_cuda.hpp
  src/core/collision.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/specfunc.cpp
  src/core/nonbonded_interactions/ljcos2.hpp
  src/shapes/unit_tests/Ellipsoid_test.cpp
  src/utils/include/utils/constants.hpp
  src/utils/include/utils/math/triangle_functions.hpp
  src/utils/tests/triangle_functions_test.cpp
Due: clang-format

core: short_range_loop: Split particle kernels
  src/core/algorithm/for_each_pair.hpp
  src/core/algorithm/link_cell.hpp
  src/core/algorithm/verlet_ia.hpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/verlet_ia_test.cpp
Due: clang-format

core: short_range_loop: Refactor code
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/algorithm/verlet_ia.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/collision.cpp
  src/core/collision.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/link_cell_test.cpp
Due: clang-format

core: cells: Move distance functions
  src/core/CellStructure.hpp
  src/core/short_range_loop.hpp
Due: clang-format

core: Style and documentation
  src/core/BoxGeometry.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
Due: clang-format

core: Clear particle node on CellStructure change
  src/core/event.cpp
Due: clang-format

core: short_range_loop: Specialization without particle kernel
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: cells: Return box object
  src/core/AtomDecomposition.hpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
Due: clang-format

core: short_range_loop: Pull up DistanceFunction
  src/core/algorithm/for_each_pair.hpp
  src/core/algorithm/link_cell.hpp
  src/core/algorithm/verlet_ia.hpp
  src/core/short_range_loop.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/link_cell_test.cpp
  src/core/unit_tests/verlet_ia_test.cpp
Due: clang-format, cmake-format

core: cells: Hide implementation details
  src/core/CellStructure.hpp
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
Due: clang-format

core: cells: Move pair_loop() to CellStructure
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/pressure.cpp
  src/core/pressure_inline.hpp
  src/core/short_range_loop.hpp
Due: clang-format

core: Reduce use of CellStructure.local_particles
  src/core/CellStructure.hpp
  src/core/event.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/rattle.cpp
Due: clang-format

core: short_range_loop: Pull distance function out
  src/core/CellStructure.hpp
  src/core/short_range_loop.hpp
Due: clang-format

core: cells: Docstrings and better name
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
Due: clang-format

core: cells: Move find_current_cell() to CellStructure
  src/core/CellStructure.hpp
  src/core/cells.cpp
Due: clang-format

core: cells: Moved checking functions to CellStructure
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/debug.cpp
  src/core/debug.hpp
Due: clang-format, cmake-format

core: Remove n_verlet_updates global
  src/core/cells.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
Due: clang-format

core: short_range_loop: Use default argument
  src/core/energy.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: short_range_loop: Factor out non-bonded loop
  src/core/EspressoSystemInterface.hpp
  src/core/cells.cpp
  src/core/cuda_common_cuda.cu
  src/core/cuda_init_cuda.cu
  src/core/dpd.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/particle_data.cpp
  src/core/short_range_loop.hpp
Due: clang-format

core: Inline cells_resort_particles
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
Due: clang-format

core: cells: Make CellStructure::local_cells() private
  src/core/CellStructure.hpp
Due: clang-format

core: coldet: const-correctness
  src/core/collision.cpp
Due: clang-format
