Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Remove assertCanIntegrate checks
  testsuite/python/integrator_exceptions.py
Due: autopep8

tests: Write one check per integrator
  testsuite/python/integrator_exceptions.py
Due: autopep8

Disable test with coverage; check GK viscosity for GPU LB.
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_pressure_tensor.py
Due: autopep8, cmake-format

core: Fix silent regression
  src/core/communication.cpp
Due: clang-format

CMake: Fix conditional
  CMakeLists.txt
Due: cmake-format

Disable test with sanitizers
  testsuite/python/CMakeLists.txt
Due: cmake-format

core: Remove namespace alias
  src/core/integrators/steepest_descent.cpp
Due: clang-format

docs: Fix code examples
  doc/sphinx/running.rst
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/02-charged_system/scripts/nacl.py
Due: autopep8

WIP: adding text and exercises
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
Due: none

all exercises added
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
Due: none

python: Pickle counter without altering params
  src/python/espressomd/interactions.pyx
  testsuite/python/test_checkpoint.py
Due: autopep8

docs: Update thermostat counter/seed explanation
  doc/sphinx/system_setup.rst
Due: none

core: Use boost::mpi
  src/core/integrators/velocity_verlet_npt.cpp
Due: clang-format

core: Remove unused NpT parameter
  src/core/integrate.cpp
  src/core/npt.cpp
  src/core/npt.hpp
Due: clang-format

core: Move NpT communication to npt.cpp
  src/core/communication.cpp
  src/core/npt.cpp
  src/core/npt.hpp
Due: clang-format

core: Guard NpT callback
  src/core/communication.cpp
  src/core/npt.cpp
Due: clang-format

Add thermostat compatibility checks (#3880)
  doc/sphinx/system_setup.rst
  src/python/espressomd/thermostat.pyx
Due: autopep8

python: p3m/gpu: override tune-functions to fix provided parameters
  src/python/espressomd/electrostatics.pyx
Due: autopep8

docs: Fix broken links in tutorials
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/07-electrokinetics/07-electrokinetics.ipynb
Due: none

tests: Check tutorial links to the Sphinx docs
  .gitlab-ci.yml
  maintainer/CI/jupyter_warnings.py
Due: autopep8

tests: Check the URL detection mechanism
  .gitlab-ci.yml
  maintainer/CI/jupyter_warnings.py
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/utils/CMakeLists.txt
  testsuite/scripts/utils/test_maintainer_CI_jupyter_warnings.py
Due: autopep8, cmake-format

cmake: Fix function name
  testsuite/scripts/utils/CMakeLists.txt
Due: cmake-format

tests: Remove calls to private methods
  testsuite/python/test_checkpoint.py
Due: autopep8

WIP: Gibbs ensemble scripts
  samples/gibbs_ensemble/gibbs_ensemble_client.py
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
  testsuite/scripts/samples/test_gibbs_ensemble.py
Due: autopep8

docs: Fix documentation
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  src/python/espressomd/lb.pyx
Due: autopep8

tutorial 04: part 3: Move solution to the notebook
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/CMakeLists.txt
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part3_solution.py
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3.py
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3_solution.py
Due: autopep8, cmake-format

tutorial 04: part 3: Provide solutions
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3.py
Due: autopep8

Gibbs: move LJ params to client, centralize command msgs
  samples/gibbs_ensemble/gibbs.py
  samples/gibbs_ensemble/gibbs_ensemble_client.py
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
Due: autopep8

tutorial 13: p3m.tune() and docu links
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
Due: none

Add references to relevant papers.
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

charged rod: replace old tutorial 2
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
  doc/tutorials/13-charged_rod/CMakeLists.txt
  doc/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_02-charged_system-1.py
  testsuite/scripts/tutorials/test_13-charged_rod.py
Due: autopep8, cmake-format

tutorial 2:2 steepest descent instead of minimize energy, small text changes
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
Due: none

More detailed comment on expected stress tensor.
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

tutorial 2-2: exercises and text structuring
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
Due: none

Make RDF comparison work
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/01-lennard_jones/NotesForTutor.md
Due: none

tut 2-2: units
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
Due: none

tut 2-1: fixed rod setup bug
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
Due: none

core: Remove call to cuda_init() on worker nodes
  src/core/event.cpp
Due: clang-format

Remove MSD and redundant parts
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/01-lennard_jones/NotesForTutor.md
Due: none

Remove obsolete test for global standard error
  testsuite/scripts/tutorials/test_01-lennard_jones.py
Due: autopep8
