Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Narrow Particle.hpp includes
  src/core/forces.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
Due: clang-format

testsuite: Remove obsolete command
  testsuite/python/CMakeLists.txt
Due: cmake-format

core: Add license headers
  src/core/CudaDeviceAllocator.hpp
  src/core/CudaHostAllocator.cu
  src/core/CudaHostAllocator.hpp
  src/core/exclusions.cpp
  src/core/exclusions.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
  src/python/espressomd/communication.pxd
  src/python/espressomd/rotation.py
  src/utils/include/utils/Bag.hpp
  testsuite/python/rotation.py
  testsuite/python/shapes.py
Due: clang-format, autopep8

core: Dependency inversion for DPD interaction
  src/core/dpd.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
Due: clang-format, autopep8

core: Narrow particle_data.hpp includes
  src/core/Particle.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/particle_data.hpp
  src/core/thermostats/brownian_inline.hpp
Due: clang-format

core: Fix regression from 9ac2f919c5
  src/core/integrators/velocity_verlet_npt.cpp
Due: clang-format

core: Remove static globals
  src/core/actor/Mmm1dgpuForce_cuda.cu
Due: clang-format

core: Narrow Particle.hpp includes
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interaction_utils.hpp
Due: clang-format

core: Make MMM1D code self-contained
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/mmm-common_cuda.hpp
Due: clang-format

CMake: Register test
  src/utils/tests/CMakeLists.txt
  src/utils/tests/u32_to_u64_test.cpp
Due: clang-format, cmake-format

core: Remove redundant ifdefs
  src/core/integrators/velocity_verlet_npt.cpp
Due: clang-format

Update grand_canonical.py
  samples/grand_canonical.py
Due: autopep8

testsuite: Fix edge case in non-deterministic test
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

testsuite: Remove superfluous GPU label
  testsuite/python/CMakeLists.txt
Due: cmake-format

maintainer: Simplify html_runner.py
  doc/tutorials/html_runner.py
Due: autopep8

docs: Remove tutorial 02 part 2
  doc/sphinx/introduction.rst
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
  doc/tutorials/02-charged_system/CMakeLists.txt
  doc/tutorials/02-charged_system/figures/nacl-rdf.pdf
  doc/tutorials/02-charged_system/figures/nacl_units.jpg
  doc/tutorials/02-charged_system/figures/nacl_units_confined.jpg
  doc/tutorials/02-charged_system/figures/salt.png
  doc/tutorials/02-charged_system/scripts/nacl.py
  doc/tutorials/02-charged_system/scripts/nacl_units.py
  doc/tutorials/02-charged_system/scripts/nacl_units_confined.py
  doc/tutorials/02-charged_system/scripts/nacl_units_confined_vis.py
  doc/tutorials/02-charged_system/scripts/nacl_units_vis.py
  doc/tutorials/Readme.rst
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_02-charged_system-2.py
  testsuite/scripts/tutorials/test_02-charged_system__scripts__nacl.py
  testsuite/scripts/tutorials/test_02-charged_system__scripts__nacl_units.py
  testsuite/scripts/tutorials/test_02-charged_system__scripts__nacl_units_confined.py
  testsuite/scripts/tutorials/test_02-charged_system__scripts__nacl_units_confined_vis.py
  testsuite/scripts/tutorials/test_02-charged_system__scripts__nacl_units_vis.py
Due: autopep8, cmake-format

python: Add pylint check W0199 (assert-on-tuple)
  .pylintrc
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  testsuite/python/observables.py
Due: autopep8

maintainer: Make html_runner.py modular
  doc/tutorials/CMakeLists.txt
  doc/tutorials/html_runner.py
  testsuite/scripts/tutorials/test_html_runner.py
Due: autopep8, cmake-format

maintainer: Add exercise2 converter
  doc/tutorials/html_runner.py
  testsuite/scripts/tutorials/test_html_runner.py
Due: autopep8

maintainer: Add autopep8 tool for tutorials
  doc/tutorials/html_runner.py
  testsuite/scripts/tutorials/test_html_runner.py
Due: autopep8

tutorials: Formatting with autopep8
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/05-raspberry_electrophoresis/05-raspberry_electrophoresis.ipynb
  doc/tutorials/07-electrokinetics/07-electrokinetics.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part3.ipynb
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: none

tutorials: Standardize plots, reduce verbosity
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
Due: none

docs: Document shape-based constraints pitfalls
  doc/sphinx/constraints.rst
Due: none

python: Implement autocorrelation function
  doc/sphinx/zrefs.bib
  src/python/espressomd/analyze.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/analyze_acf.py
Due: autopep8, cmake-format

tutorials: Re-use autocorrelation function
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
Due: none

tutorials: Tag difficulty level
  doc/sphinx/introduction.rst
  doc/tutorials/Readme.rst
Due: none

CMake: Bump Boost version requirement to 1.66
  CMakeLists.txt
Due: cmake-format

CMake: Fix GPU tests logic
  testsuite/python/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
Due: cmake-format

tests: Use setUp and tearDown
  testsuite/python/brownian_dynamics.py
  testsuite/python/langevin_thermostat.py
Due: autopep8

tests: Make Langevin/Brownian/DPD tests more similar
  testsuite/python/brownian_dynamics.py
  testsuite/python/dpd.py
  testsuite/python/langevin_thermostat.py
Due: autopep8

tests: Use observables
  testsuite/python/thermostats_common.py
Due: autopep8

tests: Move common thermostat checks to base class
  testsuite/python/CMakeLists.txt
  testsuite/python/brownian_dynamics.py
  testsuite/python/dpd.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/lb_thermostat.py
  testsuite/python/tests_common.py
  testsuite/python/thermalized_bond.py
  testsuite/python/thermostats_common.py
Due: autopep8, cmake-format

tests: Make numpy array slices more readable
  testsuite/python/dpd.py
  testsuite/python/lb_thermostat.py
  testsuite/python/thermostats_common.py
Due: autopep8

accumulator: interface for std error.
  src/core/accumulators/MeanVarianceCalculator.cpp
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/reaction_ensemble.cpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/tests/accumulator.cpp
  testsuite/python/accumulator.py
Due: clang-format, autopep8

python: name functions consistent to resp. core functions.
  doc/sphinx/analysis.rst
  doc/tutorials/charged_system/charged_system-1.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  samples/drude_bmimpf6.py
  samples/electrophoresis.py
  samples/lb_profile.py
  src/core/accumulators/MeanVarianceCalculator.cpp
  src/core/reaction_ensemble.cpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/tests/accumulator.cpp
  testsuite/python/accumulator.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Store observable parameters in arrays
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfile.hpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/observables/LBVelocityProfile.hpp
  src/core/observables/PidObservable.cpp
  src/core/observables/PidProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/ProfileObservable.hpp
Due: clang-format
