Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

python: Fix error message in LB nodegrid
  src/python/espressomd/lb.pyx
Due: autopep8

core: Fix -Wrange-loop-analysis
  CMakeLists.txt
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/particle_data.cpp
Due: clang-format, cmake-format

core: Add guard for boost 1.74.0
  src/utils/tests/memcpy_archive_test.cpp
Due: clang-format

cleanup comments
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

Fix several Clang-Tidy warnings in LB code
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

Linguistic corrections.
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
Due: none

Formatting; simplifications using numpy.
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part3.ipynb
  testsuite/scripts/tutorials/test_11-ferrofluid_3.py
Due: autopep8

Typo, fix test.
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  testsuite/scripts/tutorials/test_11-ferrofluid_3.py
Due: autopep8

Linguistic corrections.
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part3.ipynb
Due: none

Fix regression in CMake and tutorial test
  doc/tutorials/11-ferrofluid/11-ferrofluid_part3.ipynb
  doc/tutorials/11-ferrofluid/CMakeLists.txt
  testsuite/scripts/tutorials/test_11-ferrofluid_3.py
Due: autopep8, cmake-format

CMake: Drop support for CUDA 8 and 9
  CMakeLists.txt
Due: cmake-format

CMake: Bump Cython version to 0.29
  CMakeLists.txt
Due: cmake-format

CI: Remove CentOS 7 job
  .gitlab-ci.yml
  doc/sphinx/installation.rst
Due: none

CI: Remove CUDA 9 job
  .gitlab-ci.yml
Due: none

docs: Give Ubuntu 20.04 installation instructions
  doc/sphinx/installation.rst
Due: none

CMake: Bump CMake version to 3.16
  .gitlab-ci.yml
  CMakeLists.txt
Due: cmake-format

CI: Update LGTM deps and fix PATH warning
  .lgtm.yml
Due: none

CI: Add GPU canary
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
Due: none

CI: Use newer CUDA 11 docker image
  .gitlab-ci.yml
Due: none

CI: Tag jobs with Kepler GPUs
  .gitlab-ci.yml
Due: none

Walberla: Update kernels, thermalization test
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.h
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19MRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19TRT.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
  src/core/grid_based_algorithms/MRT_LatticeModel.h
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

CI: Make coverage verbose
  maintainer/CI/build_cmake.sh
Due: none

CI: Run python coverage once
  maintainer/CI/build_cmake.sh
Due: none

CI: Remove code duplication
  maintainer/CI/build_cmake.sh
Due: none

CI: Print curl error message on failure
  maintainer/CI/build_cmake.sh
Due: none

Walberla: Move unit conversion for lb initialization
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/python/espressomd/lb.pyx
Due: clang-format, autopep8

Walberla: remove un-needed constructor arg
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19MRT.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

Remove GPU implementation of Stokesian Dynamics
  doc/sphinx/installation.rst
  samples/dancing.py
  src/config/features.def
  src/core/CMakeLists.txt
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/stokesian_dynamics.py
  testsuite/python/stokesian_dynamics_cpu.py
  testsuite/python/stokesian_dynamics_gpu.py
  testsuite/python/test_checkpoint.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_dancing.py
Due: clang-format, autopep8, cmake-format

CMake: Separate C++ from Python coverage
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  testsuite/python/CMakeLists.txt
Due: cmake-format

CI: Get coverage for tutorial and sample tests
  .codecov.yml
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  src/python/pypresso.cmakein
  testsuite/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

shapes: added smooth corner
  doc/doxygen/figs/quarterpipe_detailed.png
  doc/sphinx/constraints.rst
  doc/sphinx/figures/quarterpipe.png
  samples/visualization_constraints.py
  src/python/espressomd/shapes.py
  src/script_interface/shapes/Quarterpipe.hpp
  src/script_interface/shapes/initialize.cpp
  src/shapes/CMakeLists.txt
  src/shapes/include/shapes/Quarterpipe.hpp
  src/shapes/src/Quarterpipe.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/scripts/samples/CMakeLists.txt
Due: clang-format, autopep8, cmake-format

quarterpipe: apply suggestions from code review
  samples/visualization_constraints.py
  src/shapes/src/Quarterpipe.cpp
Due: clang-format, autopep8

Merge regressions
  doc/sphinx/advanced_methods.rst
  testsuite/python/CMakeLists.txt
Due: cmake-format

Walberla: Particle coupling testing
  testsuite/python/lb.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_thermostat.py
Due: autopep8

CI: Re-enable sphinx job
  .gitlab-ci.yml
Due: none

docs: Fix regression
  doc/sphinx/advanced_methods.rst
Due: none

testsuite: Fix regression
  testsuite/python/CMakeLists.txt
Due: cmake-format

Revert "CI: Re-enable sphinx job"
  .gitlab-ci.yml
Due: none

core: Cleanup doxygen blocks and comments
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/cuda_common_cuda.cu
  src/core/electrostatics_magnetostatics/debye_hueckel.hpp
  src/core/grid_based_algorithms/fd-electrostatics_cuda.cu
  src/core/particle_data.hpp
  src/core/reaction_ensemble.cpp
  src/core/unit_tests/u32_to_u64_test.cpp
  src/utils/tests/RunningAverage_test.cpp
  src/utils/tests/gatherv_test.cpp
  src/utils/tests/sgn_test.cpp
  src/utils/tests/sinc_test.cpp
Due: clang-format
