Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

doc: tutorials 12: typos
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: none

doc: tutorials 12: include assert_features
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: none

doc: tutorials 2-1: typos
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
Due: none

doc: tutorials 1: removed unused energy convergence criteria text, typos
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
Due: none

tutorials: Fix typos
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: none

tutorials: Fix variable names and CI substitutions
  doc/tutorials/02-charged_system/CMakeLists.txt
  doc/tutorials/11-ferrofluid/CMakeLists.txt
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: cmake-format

Config: Include WCA in default myconfig.hpp
  src/config/myconfig-default.hpp
Due: clang-format

tutorial 04: part 3: Green-Kubo diffusion coefficient
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3.py
Due: autopep8

tutorial 04: Add tutor notes
  doc/tutorials/04-lattice_boltzmann/tutor_notes.md
Due: none

tutorial 04: part 4: Switch exercise
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/04-lattice_boltzmann/tutor_notes.md
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part4.py
Due: autopep8

tutorial 04: Create solution cells
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part4.ipynb
  doc/tutorials/04-lattice_boltzmann/tutor_notes.md
Due: none

tutorial 04: part 1: Update text, add links
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
Due: none

tutorial 04: Polymer diffusion with implicit solvent
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/tutor_notes.md
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part2.py
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3.py
Due: autopep8, cmake-format

tutorial 04: Remove mentions of LB
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
Due: none

tutorials: Fix typos
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
Due: none

tutorials: Fix mathematical formula
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
Due: none

tutorial 04: part 3: Clarify instructions
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
Due: none

tutorial 04: part 3: Improve statistics
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/CMakeLists.txt
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part3.py
Due: autopep8, cmake-format

tutorial 11: Fix CMake for HTML output
  doc/tutorials/11-ferrofluid/CMakeLists.txt
Due: cmake-format

Revert "Invitation summer school 2020"
  Readme.md
Due: none

core: Remove torque pointers
  src/core/electrostatics_magnetostatics/dipole_inline.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/forces_inline.hpp
Due: clang-format

core: Remove pair force kernel indirections
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
Due: clang-format

core: Return ParticleForce from pair force kernel
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/pressure_inline.hpp
Due: clang-format

docs: Document ESPResSo version requirements
  doc/sphinx/installation.rst
Due: none

core: Wrap counter-force logic
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/forces_inline.hpp
Due: clang-format

core: Skip unnecessary shape-based force calculations
  src/core/constraints/ShapeBasedConstraint.cpp
Due: clang-format

docs: Remove dependency versions
  doc/sphinx/installation.rst
Due: none

Walberla: Update generated kernels due to changes in lbmpy (Schiller force model)
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/MRT_LatticeModel.cpp
Due: clang-format

CI: Change HTML tutorials schedule
  .gitlab-ci.yml
Due: none

Formatting
  cmake/MyConfig.cmake
Due: none

docs: Normalize filenames
  doc/sphinx/Readme.rst
  doc/tutorials/02-charged_system/NotesForTutor.md
  doc/tutorials/04-lattice_boltzmann/NotesForTutor.md
Due: none

docs: Update tutorials Readme
  doc/tutorials/Readme.rst
Due: none

docs: Update sphinx Readme
  doc/sphinx/Readme.rst
Due: none

CI: Move HTML tutorials to nightly builds
  .gitlab-ci.yml
Due: none

tests: Disable thermalized LB test
  testsuite/python/CMakeLists.txt
Due: cmake-format

Spellcheck and grammar check
  cmake/MyConfig.cmake
  doc/sphinx/appendix.rst
  doc/sphinx/introduction.rst
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/07-electrokinetics/07-electrokinetics.ipynb
  doc/tutorials/10-reaction_ensemble/scripts/RE_vs_cpH_poly.py
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
  maintainer/benchmarks/p3m.py
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/mmm2d.cpp
  src/core/electrostatics_magnetostatics/mmm2d.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/grid_based_algorithms/halo.hpp
  src/core/rattle.cpp
  src/python/espressomd/particle_data.pyx
  testsuite/python/data/mmm1d_data.txt
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

CI: Remove ROCm 3.3 job
  .gitlab-ci.yml
Due: none

CI: Run emulated archs on compatible runners
  .gitlab-ci.yml
Due: none

Add 4.1.4 release notes
  NEWS
Due: none

tests: Add missing module guard
  testsuite/python/lb_pressure_tensor.py
Due: autopep8
