Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: p3m: cleanup
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

core: p3m: Narrow interface of influence function calculation
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m_influence_function.hpp
Due: clang-format

tutorials: Remove unnecessary feature
  doc/tutorials/06-active_matter/exercises/flow_field.py
  doc/tutorials/06-active_matter/solutions/flow_field.py
Due: autopep8

CMake: Fix package name
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerHIP.cmake
  cmake/FindCUDACompilerNVCC.cmake
Due: none

maintainer: remove gitlab ci job for mac.
  .gitlab-ci.yml
Due: none

oif: raise instantiated exceptions.
  src/python/object_in_fluid/oif_classes.py
Due: autopep8

samples and oif: unused loop variables.
  samples/billiard.py
  samples/minimal-diamond.py
  src/python/object_in_fluid/oif_classes.py
Due: autopep8

accumulators: Use size_t to avoid casts
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/observables/Observable.hpp
Due: clang-format

accumulators: Provide shape() method
  src/core/accumulators/AccumulatorBase.hpp
  src/core/accumulators/Correlator.hpp
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/accumulators/TimeSeries.hpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/AccumulatorBase.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
Due: clang-format, autopep8

Fix regression in CPU LB thermalization.
  src/core/grid_based_algorithms/lb.cpp
  testsuite/python/lb_pressure_tensor_acf.py
Due: clang-format, autopep8

Make lb_pressure_tensor_acf test faster.
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_pressure_tensor_acf.py
Due: autopep8, cmake-format

accumulators: Calculate the correlated shape
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part3_solution.py
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/solutions/enhanced_diffusion.py
  samples/diffusion_coefficient.py
  samples/observables_correlators.py
  src/core/accumulators/AccumulatorBase.hpp
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/Correlator.hpp
  testsuite/python/brownian_dynamics.py
  testsuite/python/correlation.py
  testsuite/python/langevin_thermostat.py
Due: clang-format, autopep8

testsuite: Clear accumulators after each test
  testsuite/python/correlation.py
Due: autopep8

Disable dlopen trick on OpenMPI >= 3.0.0
  src/core/communication.cpp
Due: clang-format

fix style
  src/core/communication.cpp
Due: clang-format

Fix CMake warning (#3830)
  CMakeLists.txt
Due: cmake-format

maintainer: added config file for lgtm.
  .lgtm.yml
Due: none

CMake: Remove re-definition of CMAKE_CXX_FLAGS
  CMakeLists.txt
Due: cmake-format

accumulators: Remove matrix assertions
  src/core/accumulators/Correlator.cpp
Due: clang-format

docs: Document Correlator methods
  src/python/espressomd/accumulators.py
Due: autopep8

accumulators: Rename Correlator methods
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part3_solution.py
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/solutions/enhanced_diffusion.py
  samples/diffusion_coefficient.py
  samples/observables_correlators.py
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/python/espressomd/accumulators.py
  src/script_interface/accumulators/Correlator.hpp
  testsuite/python/brownian_dynamics.py
  testsuite/python/correlation.py
  testsuite/python/langevin_thermostat.py
Due: clang-format, autopep8

python: Don't catch BaseException
  samples/chamber_game.py
  samples/lj-demo.py
  src/python/espressomd/reaction_ensemble.pyx
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/visualization.pyx
  src/python/espressomd/visualization_mayavi.pyx
  src/python/espressomd/visualization_opengl.py
  testsuite/python/rotation.py
Due: autopep8

core: Cleanup variable declarations
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/electrostatics_magnetostatics/specfunc.hpp
  src/core/global.cpp
  src/core/io/mpiio/mpiio.cpp
Due: clang-format

core: Add missing include guards
  src/core/debug.hpp
  src/core/forcecap.hpp
Due: clang-format

CMake: Add check for -Wextern-initializer
  CMakeLists.txt
Due: cmake-format

Formatting
  CMakeLists.txt
Due: cmake-format

python: Remove unused code, simplify conditionals
  samples/chamber_game.py
  samples/lj-demo.py
  samples/save_checkpoint.py
  src/config/featuredefs.py
  src/python/object_in_fluid/oif_classes.py
Due: autopep8

core: Simplify code
  samples/save_checkpoint.py
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/global.cpp
  src/python/espressomd/reaction_ensemble.pyx
Due: clang-format, autopep8

core: Revert rounding operation change
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

accumulators: Rename Correlator member
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
Due: clang-format

accumulators: Replace Correlator member by method
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
Due: clang-format

testsuite: Test Correlator checkpointing
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

Create VTK callback infrastructure
  doc/sphinx/lb.rst
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/exercises/flow_field.py
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/flow_field.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/lb_vtk.py
  testsuite/scripts/tutorials/test_06-active_matter__flow_field.py
Due: clang-format, autopep8

Fix regression
  doc/tutorials/06-active_matter/exercises/flow_field.py
  doc/tutorials/06-active_matter/solutions/flow_field.py
  testsuite/scripts/tutorials/test_06-active_matter__flow_field.py
Due: autopep8

Add VTK checkpointing mechanism
  doc/sphinx/lb.rst
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/python/espressomd/system.pyx
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

CI: Use recent image tags
  .gitlab-ci.yml
  maintainer/CI/build_docker.sh
Due: none

core: Fix GCC -Werror=stringop-truncation
  src/core/cuda_init.cpp
Due: clang-format

CMake: Guard compiler flag
  CMakeLists.txt
Due: cmake-format

core: Fix function name collision in CUDA code
  src/core/actor/mmm-common_cuda.hpp
  src/core/electrostatics_magnetostatics/mmm-base.hpp
Due: clang-format

CMake: Fix incorrect CMake commands
  doc/sphinx/installation.rst
  maintainer/CI/dox_warnings.sh
Due: none
