Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

formatting2
  testsuite/python/dipole_field_tracking.py
Due: autopep8, pylint

addresed implicit conversion warnign and fixed caliper test fail
  src/core/magnetostatics/dipolar_direct_sum_gpu_cuda.cu
  testsuite/python/caliper.py
Due: clang-format, autopep8, pylint

Performance fix
  src/python/espressomd/zn.py
Due: autopep8, pylint

Add Register feature
  src/python/espressomd/zn.py
Due: autopep8, pylint

style
  src/python/espressomd/zn.py
Due: autopep8, pylint

Update zn.py
  src/python/espressomd/zn.py
Due: autopep8, pylint

dpd_pair_force without particle params
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/forces_inline.hpp
Due: clang-format

add gpu ek kernels to ekinwalberlaimpl
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_kernels.cuh
  src/walberla_bridge/src/electrokinetics/ek_kernels.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/CMakeLists.txt
Due: clang-format, cmake-format

use the field accessors
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format

ek gpu to script interface
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_kernels.cuh
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CPU.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CPU.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
Due: clang-format, autopep8, cmake-format, pylint

updated test to test gpu_ek
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_fluctuations.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_slice.py
Due: autopep8, pylint

test ek_interface to gpu and other fixes
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  src/core/ek/EKNone.hpp
  src/core/ek/EKWalberla.cpp
  src/core/ek/EKWalberla.hpp
  src/core/ek/Solver.cpp
  src/core/ek/Solver.hpp
  src/core/integrate.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
  testsuite/python/ek_interface.py
Due: clang-format, autopep8, pylint

fix style
  maintainer/walberla_kernels/generate_ek_kernels.py
  maintainer/walberla_kernels/walberla_ek_generation.py
  src/python/espressomd/electrokinetics.py
  src/walberla_bridge/include/walberla_bridge/BlockAndCell.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKContainer.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_kernels.cuh
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cpp
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/CMakeLists.txt
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_fluctuations.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_slice.py
Due: clang-format, autopep8, cmake-format, pylint

fix float conversion warning
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

fix unit test
  src/core/unit_tests/ek_interface_test.cpp
Due: clang-format

compilable ek fft gpu solver
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKFFT_GPU.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/fft_gpu/CMakeLists.txt
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_poisson_fft_gpu_init.hpp
  src/walberla_bridge/src/electrokinetics/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
  testsuite/python/ek_eof.py
Due: clang-format, autopep8, cmake-format, pylint

fix style
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKFFT_GPU.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/fft_gpu/CMakeLists.txt
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_poisson_fft_gpu_init.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
  testsuite/python/ek_eof.py
Due: clang-format, autopep8, cmake-format, pylint

added a node potential getter for the poisson solver
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKPoissonSolverNode.cpp
  src/script_interface/walberla/EKPoissonSolverNode.hpp
  src/script_interface/walberla/EKPoissonSolverNodeState.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format, autopep8, cmake-format, pylint

added slice potential getter
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/CMakeLists.txt
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKPoissonSolverNode.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.cpp
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
Due: clang-format, autopep8, cmake-format, pylint

first working FFT
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
Due: clang-format

advection fix GPU
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_single_precision_CUDA.cu
Due: clang-format, autopep8, pylint

small fixes
  src/script_interface/walberla/EKPoissonSolverNode.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/ek_eof.py
Due: clang-format, autopep8, pylint

missing include
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
Due: clang-format

split potential in one with and one without ghostlayers
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
Due: clang-format

clean up linking
  src/walberla_bridge/fft_gpu/CMakeLists.txt
  src/walberla_bridge/fft_gpu/FFT_CUDA.cu
  src/walberla_bridge/fft_gpu/FFT_CUDA.cuh
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT_GPU.hpp
  src/walberla_bridge/src/electrokinetics/ek_poisson_fft_gpu_init.cu
Due: clang-format, cmake-format

Fix CI warning
  src/script_interface/walberla/EKPoissonSolverSlice.hpp
Due: clang-format

deactivated unittest to check for stencils size of 9
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
Due: clang-format

added node getter for flux vector
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  maintainer/walberla_kernels/walberla_ek_generation.py
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/PoissonSolver/FFT.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_kernels.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
Due: clang-format, autopep8, pylint

added get_slice_flux_vector
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cuh
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  src/python/espressomd/electrokinetics.py
  src/script_interface/walberla/EKSpeciesSlice.cpp
  src/script_interface/walberla/EKSpeciesSlice.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cuh
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cuh
Due: clang-format, autopep8, pylint

added testcase for the ionic conductivity
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.cu
  maintainer/walberla_kernels/templates/EK_FieldAccessors.tmpl.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision.h
  src/walberla_bridge/src/electrokinetics/generated_kernels/EK_FieldAccessors_single_precision_CUDA.cu
  testsuite/python/ek_ion_conductivity.py
Due: clang-format, autopep8, pylint

fix style
  testsuite/python/ek_ion_conductivity.py
Due: autopep8, pylint

added testcase for ek potential
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_potential.py
Due: autopep8, cmake-format, pylint

EK gpu reactions
  maintainer/walberla_kernels/generate_ek_kernels.py
  maintainer/walberla_kernels/templates/ReactionKernelSelector.tmpl.h
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/reactions/EKReactant.hpp
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cpp
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cu
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplBulk.hpp
  src/walberla_bridge/src/electrokinetics/reactions/EKReactionImplIndexed.hpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_all.h
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_all.h
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_indexed_reactions.py
Due: clang-format, autopep8, pylint

fix CI
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/script_interface/walberla/EKReaction.hpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision_CUDA.cu
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision_CUDA.cu
Due: clang-format, autopep8, pylint

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
