Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

testsuite: EK: added ek_vtk
  testsuite/python/CMakeLists.txt
Due: cmake-format

script_interface: Include what you use
  src/core/constraints/Constraint.hpp
  src/core/forces.hpp
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/constraints/ExternalField.hpp
  src/script_interface/constraints/ExternalPotential.hpp
  src/script_interface/shapes/Cylinder.hpp
  src/script_interface/shapes/Ellipsoid.hpp
  src/script_interface/shapes/NoWhere.hpp
  src/script_interface/shapes/Rhomboid.hpp
  src/script_interface/shapes/SimplePore.hpp
  src/script_interface/shapes/Slitpore.hpp
  src/script_interface/shapes/Sphere.hpp
  src/script_interface/shapes/SpheroCylinder.hpp
  src/script_interface/shapes/Torus.hpp
  src/script_interface/shapes/Wall.hpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/get_value_test.cpp
Due: clang-format

script_interface: Narrow includes of MpiCallbacks
  src/core/interactions.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/script_interface/ScriptInterface.hpp
Due: clang-format

script_interface: Generate a clear error message
  src/script_interface/get_value.hpp
  src/script_interface/tests/get_value_test.cpp
Due: clang-format

core: Fix various regressions
  src/core/RuntimeErrorCollector.hpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/math/bspline.hpp
Due: clang-format

tests: Improve unit tests
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/RuntimeErrorCollector_test.cpp
  src/core/unit_tests/field_coupling_fields_test.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/Exception_test.cpp
  src/script_interface/tests/None_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/get_value_test.cpp
  src/shapes/unit_tests/Ellipsoid_test.cpp
  src/shapes/unit_tests/NoWhere_test.cpp
  src/utils/tests/Array_test.cpp
  src/utils/tests/Cache_test.cpp
  src/utils/tests/Factory_test.cpp
  src/utils/tests/Span_test.cpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/as_const_test.cpp
  src/utils/tests/bspline_test.cpp
  src/utils/tests/histogram.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/memcpy_archive_test.cpp
  src/utils/tests/quaternion_test.cpp
  src/utils/tests/type_traits_test.cpp
Due: clang-format, cmake-format

walberla: EK: FixedFlux added factor
  src/walberla_bridge/generated_kernels/FixedFlux.cpp
Due: clang-format

tests: Unit test accumulators script interface
  src/script_interface/tests/Accumulators_test.cpp
  src/script_interface/tests/CMakeLists.txt
Due: clang-format, cmake-format

tests: Unit test constraints script interface
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/Constraints_test.cpp
Due: clang-format, cmake-format

tests: Handle AppleClang symbol
  src/script_interface/tests/get_value_test.cpp
Due: clang-format

ek: fixed wrong scaling factors for FixedFlux
  src/walberla_bridge/generated_kernels/FixedFlux.cpp
Due: clang-format

walberla_bridge: BoundaryHandling: removed domain_flag from boundary cells
  src/walberla_bridge/BoundaryHandling.hpp
Due: clang-format

python: ek: allow single density value
  src/python/espressomd/EKSpecies.py
Due: autopep8

ek: introduced get_node_is_boundary that checks both boundary options
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

testsuite: ek_fixedflux: added fixed flux testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_fixedflux.py
Due: autopep8, cmake-format

walberla: Remove a MPI bottleneck
  src/python/espressomd/lb.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary_volume_force.py
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_thermostat.py
  testsuite/python/save_checkpoint.py
  testsuite/python/tests_common.py
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

tests: Rewrite NpT directional test
  testsuite/python/npt_thermostat.py
Due: autopep8

walberla: Pull out LB kernels
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_kernels.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/optional_reduction.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Rewrite LBSlice setter/getter
  src/python/espressomd/lb.py
  testsuite/python/lb.py
  testsuite/python/lb_boundary_velocity.py
  testsuite/python/lb_slice.py
Due: autopep8

walberla: Allow interpolation at the local domain edge
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

walberla: Hide LB kernels implementation details
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_kernels.hpp
  src/core/observables/LBFluidPressureTensor.hpp
  src/python/espressomd/lb.py
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format, autopep8, cmake-format

walberla: Remove two-step constructor logic
  src/python/espressomd/lb.py
  src/python/espressomd/script_interface.pyx
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: clang-format, autopep8

utils: Convert triangular matrices to square matrices
  src/utils/include/utils/index.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/tests/matrix_test.cpp
Due: clang-format

walberla: Disable LB node/slice checkpointing
  src/python/espressomd/lb.py
  testsuite/python/lb.py
Due: autopep8

walberla: Simplify code
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/observables/LBFluidPressureTensor.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/optional_reduction.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/walberla_utils.hpp
  testsuite/python/lb.py
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8

walberla: Remove unused utility functions
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

Revert "utils: Convert triangular matrices to square matrices"
  src/utils/include/utils/index.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/tests/matrix_test.cpp
Due: clang-format

le
  src/core/CellStructure.hpp
  src/core/integrators/brownian_inline.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format

walberla: Fix constructor regression
  src/script_interface/walberla/FluidWalberla.hpp
Due: clang-format

lees_edwards: Fix std::move regression
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: More cleanup
  src/script_interface/walberla/FluidWalberla.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: Fix broken unit tests
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
Due: clang-format

walberla: Fix -Wunused-variable
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
Due: clang-format

Le Unit Test partial
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
Due: clang-format

testsuite: ek_noflux replace manual mask with is_boundary callback
  testsuite/python/ek_noflux.py
Due: autopep8

testsuite: ek_eof: adaption to LFLuidWalberla interface change
  testsuite/python/ek_eof.py
Due: autopep8

core: ek_container: adaption to LB-interface change
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
Due: clang-format

tests: Improve code coverage
  src/core/unit_tests/ParticleFactory.hpp
  src/core/unit_tests/field_coupling_force_field_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/serialization_mpi_guard_test.cpp
  src/utils/tests/sampling_test.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/collision_detection.py
  testsuite/python/es_math.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/lb_boundary.py
  testsuite/python/pair_criteria.py
Due: clang-format, autopep8, cmake-format
