Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

Debian: Build dpendencies
  debian/control
Due: none

iDebian: compat
  debian/compat
  debian/control
Due: none

Debian: Build script
  .github/actions/debian_package/entrypoint.sh
Due: none

Typo
  .github/actions/debian_package/entrypoint.sh
Due: none

Debian: Dependencies
  .github/actions/debian_package/Dockerfile
Due: none

Debian: ls created image
  .github/actions/debian_package/entrypoint.sh
Due: none

Debian: apt build-dep non-interactive
  .github/actions/debian_package/entrypoint.sh
Due: none

Debian: Noninteractive
  .github/actions/debian_package/Dockerfile
Due: none

Debian: Update package cache
  .github/actions/debian_package/Dockerfile
Due: none

Debian: non-interactive
  .github/actions/debian_package/Dockerfile
Due: none

Debian: Entrypoint
  .github/actions/debian_package/Dockerfile
  .github/actions/debian_package/action.yml
Due: none

Debian: Test package
  .github/actions/build_ubuntu_package/Dockerfile
  .github/actions/build_ubuntu_package/action.yml
  .github/actions/build_ubuntu_package/entrypoint.sh
  .github/actions/debian_package/action.yml
  .github/actions/debian_package/entrypoint.sh
  .github/actions/test_ubuntu_package/Dockerfile
  .github/actions/test_ubuntu_package/action.yml
  .github/actions/test_ubuntu_package/entrypoint.sh
  .github/workflows/mac_test.yml
  .github/workflows/packaging.yml
  debian/control
Due: none

Debian: dependencies
  debian/control
Due: none

fix a missing python3 installation and add get
  .github/actions/test_ubuntu_package/Dockerfile
Due: none

debug and display github/workflow
  .github/actions/test_ubuntu_package/entrypoint.sh
Due: none

ubuntu version update
  .github/actions/build_ubuntu_package/Dockerfile
Due: none

added ppa publish settings on workflow
  .github/workflows/packaging.yml
Due: none

comment build and test settings in workflow
  .github/workflows/packaging.yml
Due: none

name: Publish PPAw
  .github/workflows/packaging.yml
Due: none

added yml file for ppa package creation
  .github/workflows/packageppa.yml
Due: none

changes in packaging yml for pkgdir
  .github/workflows/packageppa.yml
  .github/workflows/packaging.yml
Due: none

latest package to publish ppa
  .github/workflows/packaging.yml
Due: none

Revert "Revert "Bump NB convert toolchain and improve testing""
  .gitlab-ci.yml
  maintainer/CI/jupyter_warnings.py
  requirements.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/utils/test_maintainer_CI_jupyter_warnings.py
Due: autopep8, cmake-format

Check combination ScaFaCoS + waLBerla on Ubuntu 22.04
  testsuite/python/CMakeLists.txt
Due: cmake-format

Revert "Check combination ScaFaCoS + waLBerla on Ubuntu 22.04"
  testsuite/python/CMakeLists.txt
Due: cmake-format

created a new build run to create an artifact
  .github/workflows/packaging.yml
Due: none

replaced git-archive-all with git archive
  .github/workflows/packaging.yml
Due: none

importted publish-ppa-package to make changes to it
  .github/actions/publish-ppa-package/Dockerfile
  .github/actions/publish-ppa-package/LICENSE
  .github/actions/publish-ppa-package/action.yml
  .github/actions/publish-ppa-package/build.sh
  .github/actions/publish-ppa-package/entrypoint.sh
Due: none

modified settings in the ppa-package
  .github/actions/publish-ppa-package/Dockerfile
  .github/actions/publish-ppa-package/build.sh
  .github/workflows/packaging.yml
Due: none

modified .sh files with git update-index command
  .github/actions/publish-ppa-package/build.sh
  .github/actions/publish-ppa-package/entrypoint.sh
Due: none

work in progress- hardcoded package version
  .github/workflows/packaging.yml
Due: none

Revert "Revert "Check combination ScaFaCoS + waLBerla on Ubuntu 22.04""
  testsuite/python/CMakeLists.txt
Due: cmake-format

change log file edited
  debian/changelog
Due: none

modification of control: cmake version, and version updated in changelog
  debian/changelog
  debian/control
Due: none

modification of control file for versions of libraries
  debian/changelog
  debian/control
Due: none

version change for dbhelper-compat in control file
  debian/control
Due: none

Sort out LB tests
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_buoyancy_force.py
  testsuite/python/lb_interpolation.py
  testsuite/python/lb_shear.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, cmake-format

Sort out Cartesian communicator and checkpointing
  cmake/waLBerla.patch
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

Update copyright headers
  maintainer/walberla_kernels/code_generation_context.py
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/ekin.py
  maintainer/walberla_kernels/generate_ek_kernels.py
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lbmpy_espresso.py
  maintainer/walberla_kernels/lees_edwards.py
  maintainer/walberla_kernels/pystencils_espresso.py
  maintainer/walberla_kernels/relaxation_rates.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/CMakeLists.txt
Due: autopep8, cmake-format

Remove addressed TODOs
  .codecov.yml
  src/core/BoxGeometry.hpp
  src/python/espressomd/EKSpecies.py
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format
