Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Use type erasure
  src/core/electrostatics_magnetostatics/ScafacosContext.cpp
  src/core/electrostatics_magnetostatics/ScafacosContext.hpp
  src/core/electrostatics_magnetostatics/ScafacosContextBase.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/event.cpp
Due: clang-format

tests: Add testcase for the ScaFaCoS interface
  testsuite/python/CMakeLists.txt
  testsuite/python/scafacos_interface.py
Due: autopep8, cmake-format

python: Allow two instances of ScaFaCoS
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/magnetostatics.rst
  src/python/espressomd/scafacos.pyx
Due: autopep8

core: Inline the short-range energy/force kernels
  src/core/electrostatics_magnetostatics/ScafacosContext.hpp
  src/core/electrostatics_magnetostatics/ScafacosContextBase.hpp
Due: clang-format

tests: Avoid DP3M bisection error on 3 MPI ranks
  testsuite/python/CMakeLists.txt
Due: cmake-format

scafacos: Fix undefined behavior
  src/scafacos/Scafacos.cpp
Due: clang-format

python: Fix bug in Actors.clear()
  src/python/espressomd/actors.pyx
Due: autopep8

tests: Add test case for the Actors class
  testsuite/python/actor.py
Due: autopep8

Fix visualizer freezes.
  src/python/espressomd/visualization_opengl.py
Due: autopep8

utils: new matrix type to enable boost qvm interoperability.
  src/utils/include/utils/matrix.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/matrix_test.cpp
Due: clang-format, cmake-format

Coding style ...
  src/python/espressomd/visualization_opengl.py
Due: autopep8

tests: Add floating point tolerance
  src/utils/tests/coordinate_transformation.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/vec_rotate_test.cpp
Due: clang-format

utils: Calculate the angle between vectors
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/tests/vec_rotate_test.cpp
Due: clang-format

CI: Remove obsolete options
  maintainer/CI/build_cmake.sh
  maintainer/CI/build_docker.sh
Due: none

CI: Remove Travis-CI config file
  .travis.yml
  maintainer/CI/build_docker.sh
Due: none

maintainer: Update license header tool
  maintainer/files_with_header.sh
Due: none

CI: Run all GPU jobs on runners with Turing GPUs
  .gitlab-ci.yml
Due: none

tests: Add test case for dipolar direct sum
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_mdlc_dds_scafacos_direct.py
Due: autopep8, cmake-format

tests: Fix dipolar feature guards
  doc/sphinx/installation.rst
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/magnetostaticInteractions.py
Due: autopep8

tests: Split DDS interface from DP3M test case
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_interface.py
  testsuite/python/dipolar_p3m.py
Due: autopep8, cmake-format

core: Use standard exception mechanism
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/dipolar_interface.py
Due: clang-format, autopep8

utils: Refactor coordinate transformation code
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/tests/coordinate_transformation.cpp
  src/utils/tests/vec_rotate_test.cpp
Due: clang-format

tests: Comment out testcases with under-defined phi
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/tests/coordinate_transformation.cpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Due: clang-format, autopep8

tests: Add feature guards
  testsuite/python/dipolar_interface.py
  testsuite/python/dipolar_p3m.py
Due: autopep8

tests: Check LB interface setter/getters and exceptions
  testsuite/python/lb.py
Due: autopep8

core: Add guard for VTK output
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

python: Add docs, throw on invalid VTK bounding box
  src/python/espressomd/lb.pyx
Due: autopep8

tests: Add testcase for VTK functions
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: autopep8, cmake-format

Improved error message for type error.
  src/core/particle_data.cpp
  src/python/espressomd/system.pyx
Due: clang-format, autopep8

tests: Add testcase for non-VTK write functions
  src/python/espressomd/lb.pyx
  testsuite/python/lb_vtk.py
Due: autopep8

Formatting fix in error code
  src/core/particle_data.cpp
Due: clang-format

Added check if particles are not in ELC gap region
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

Split LB tutorial and create polymers tutorial (#3939)
  doc/tutorials/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/lattice_boltzmann/NotesForTutor.md
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part2.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part4.ipynb
  doc/tutorials/polymers/CMakeLists.txt
  doc/tutorials/polymers/NotesForTutor.md
  doc/tutorials/polymers/polymers_part1.ipynb
  doc/tutorials/polymers/polymers_part2.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_lattice_boltzmann_part2.py
  testsuite/scripts/tutorials/test_polymers_part1.py
  testsuite/scripts/tutorials/test_polymers_part2.py
Due: autopep8, cmake-format

Improve formatting
  doc/tutorials/lattice_boltzmann/CMakeLists.txt
  doc/tutorials/polymers/CMakeLists.txt
Due: cmake-format

Implement setter for particle director.
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  testsuite/python/particle.py
Due: clang-format, autopep8

tests: Use our _id() instead of unittest.case._id()
  testsuite/python/h5md.py
  testsuite/python/lb_vtk.py
  testsuite/python/mdanalysis.py
Due: autopep8

Update notebook titles
  doc/tutorials/polymers/polymers_part1.ipynb
  doc/tutorials/polymers/polymers_part2.ipynb
Due: none

Remove unused references from notebooks
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part1.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part2.ipynb
  doc/tutorials/polymers/polymers_part1.ipynb
  doc/tutorials/polymers/polymers_part2.ipynb
Due: none

Remove outdated numbering
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part1.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part2.ipynb
Due: none

core: Simplify VTK velocity function
  src/core/grid_based_algorithms/lb_interface.cpp
  src/python/espressomd/lb.pyx
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8
