Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

walberla: Fix regression
  src/walberla_bridge/boundary_utils.hpp
Due: clang-format

python: Fix merge regressions
  src/python/espressomd/system.py
Due: autopep8

rotation - fix -interaction
  src/core/thermostats/brownian_inline.hpp
  testsuite/python/brownian_dynamics.py
Due: clang-format, autopep8

CMake: Modernize handling of Python dependencies
  CMakeLists.txt
  cmake/FindCython.cmake
  cmake/FindNumPy.cmake
  cmake/FindPythonHeaders.cmake
  cmake/FindSphinx.cmake
  doc/doxygen/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
  src/CMakeLists.txt
  src/config/CMakeLists.txt
  src/core/CMakeLists.txt
  src/particle_observables/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/python/pypresso.cmakein
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/cmake/test_install.sh
Due: cmake-format

CMake: Fix various regressions
  CMakeLists.txt
  cmake/FindSphinx.cmake
  doc/doxygen/gen_doxyconfig.py
Due: autopep8, cmake-format

CMake: Update license headers
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  cmake/FindClangTidy.cmake
  cmake/FindFFTW3.cmake
  cmake/FindSphinx.cmake
  cmake/MyConfig.cmake
  cmake/option_enum.cmake
  cmake/unit_test.cmake
  doc/doxygen/gen_doxyconfig.py
  src/CMakeLists.txt
  src/config/CMakeLists.txt
  src/config/defines.py
  src/config/featuredefs.py
  src/config/features.def
  src/config/gen_sampleconfig.py
  src/core/unit_tests/CMakeLists.txt
  src/python/CMakeLists.txt
  src/scafacos/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/tests/CMakeLists.txt
  testsuite/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/scripts/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Due: autopep8, cmake-format

maintainer: Update rules in header detection tool
  maintainer/files_with_header.sh
Due: none

script_interface: Simplify Cython bindings
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: autopep8

script_interface: Make CUDA interface parallel
  src/core/EspressoSystemInterface.cpp
  src/core/EspressoSystemInterface.hpp
  src/core/cuda_init.cpp
  src/core/cuda_interface.cpp
  src/core/cuda_interface.hpp
  src/core/electrostatics/mmm1d_gpu.cpp
  src/core/electrostatics/p3m_gpu.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/magnetostatics/barnes_hut_gpu.cpp
  src/core/magnetostatics/dds_gpu.cpp
  src/python/espressomd/cuda_init.py
  src/script_interface/system/CudaInitHandle.cpp
Due: clang-format, autopep8

core: Reduce usage of MPI callbacks
  src/core/EspressoSystemStandAlone.cpp
  src/core/collision.cpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/dpd.cpp
  src/core/energy.cpp
  src/core/energy_inline.hpp
  src/core/event.cpp
  src/core/forces_inline.hpp
  src/core/grid.cpp
  src/core/grid.hpp
  src/core/interactions.cpp
  src/core/nonbonded_interactions/VerletCriterion.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/pair_criteria/EnergyCriterion.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/pressure_inline.hpp
  src/core/tuning.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/system/System.cpp
Due: clang-format

CMake: Fix regressions
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

walberla: Unify thermalized and unthermalized kernels
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/lb_kernels.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_lees_edwards.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format, autopep8, cmake-format

Invitation summer school 2022
  Readme.md
Due: none

doc: Use https to avoid url redirection
  Readme.md
  doc/sphinx/conf.py.in
  doc/sphinx/introduction.rst
Due: none

py: don't ignore Lees Edwards shift in system.distance_vec and system.distance
  src/python/espressomd/system.py
Due: autopep8

walberla: Refactor reactions interface
  src/script_interface/walberla/EKReaction.hpp
Due: clang-format

walberla: Disable failing test
  testsuite/python/CMakeLists.txt
Due: cmake-format

walberla: Fix more regressions
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/reactions/CMakeLists.txt
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/CMakeLists.txt
Due: cmake-format

WIP: LE decrapification
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/lees_edwards.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

Revert "py: don't ignore Lees Edwards shift in system.distance_vec and system.distance"
  src/python/espressomd/system.py
Due: autopep8

Core: Always fold share_plane_normal dir in Lees Edwards get_mi_vector
  src/core/BoxGeometry.hpp
Due: clang-format

Revert "walberla: Disable failing test"
  testsuite/python/CMakeLists.txt
Due: cmake-format

WIP: LE
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/lees_edwards.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

Write new non-bonded interaction interface
  src/core/event.cpp
  src/core/event.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pyx
  src/python/espressomd/script_interface.pyx
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
  src/script_interface/interactions/initialize.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Rewrite WCA interaction interface
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/nonbonded_interactions/wca.cpp
  src/core/nonbonded_interactions/wca.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite LJ interaction interface
  src/core/nonbonded_interactions/lj.cpp
  src/core/nonbonded_interactions/lj.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

core: Include what you use
  src/core/io/writer/h5md_core.cpp
  src/core/p3m/common.hpp
  src/core/particle_data.cpp
  src/core/pressure.cpp
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/core/unit_tests/energy_test.cpp
  src/utils/include/utils/u32_to_u64.hpp
Due: clang-format

core: Cleanup interface code
  src/core/analysis/statistics.cpp
  src/core/analysis/statistics.hpp
  src/core/constraints/Constraints.hpp
  src/core/magnetostatics/dds_gpu_cuda.cu
  src/script_interface/electrostatics/ICCStar.hpp
  src/shapes/include/shapes/Union.hpp
  src/utils/include/utils/u32_to_u64.hpp
Due: clang-format

tests: Improve testing
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/utils/tests/gatherv_test.cpp
  src/utils/tests/serialization_test.cpp
  src/utils/tests/u32_to_u64_test.cpp
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dds-and-bh-gpu.py
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/integrator_npt.py
  testsuite/python/mmm1d.py
  testsuite/python/p3m_madelung.py
  testsuite/python/random_pairs.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Remove redundant feature guards
  src/core/constraints/HomogeneousMagneticField.cpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/observables/ParticleTraits.hpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.hpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Due: clang-format

core: Fix broken FFT check
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/p3m/fft.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  testsuite/python/coulomb_interface.py
  testsuite/python/icc_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

python: Improve long-range parameter checks
  src/core/electrostatics/mmm1d.cpp
  src/core/electrostatics/mmm1d_gpu.cpp
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/barnes_hut_gpu.cpp
  src/core/magnetostatics/barnes_hut_gpu_cuda.cu
  src/core/magnetostatics/dp3m.cpp
  src/python/espressomd/electrostatics.py
  src/python/espressomd/magnetostatics.py
  src/script_interface/magnetostatics/DipolarBarnesHutGpu.hpp
  testsuite/python/coulomb_interface.py
  testsuite/python/dipolar_interface.py
  testsuite/python/electrostatic_interactions.py
  testsuite/python/long_range_actors.py
Due: clang-format, autopep8

CI: Skip statistical tests on macOS
  .github/actions/build_and_check/action.yml
  .github/workflows/push_pull.yml
Due: none

WIP: RegularSingleCoreDecomposition w/o ghost cells and comms
  src/core/cell_system/RegularSingleCoreDecomposition.cpp
  src/core/cell_system/RegularSingleCoreDecomposition.hpp
Due: clang-format

WIP: Simplify VS_Relative, fix VS support for Lees Edwards
  src/core/BoxGeometry.hpp
  src/core/integrate.cpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/core/lees_edwards/lees_edwards.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
