Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

script_interface: Consistent namening in ObjectHandle
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ScriptInterface_test.cpp
Due: clang-format

script_interface: Removed ClassName contraption
  src/script_interface/ClassName.hpp
  src/script_interface/constraints/initialize.cpp
  src/script_interface/shapes/initialize.cpp
Due: clang-format

script_interface: Inlined recursive_visitor, docstrings
  src/script_interface/PackedVariant.hpp
  src/script_interface/Variant.hpp
Due: clang-format

script_interface: Fixed docstring
  src/python/espressomd/script_interface.pyx
Due: autopep8

script_interface: Added exception type, don't swallow unrelated exceptions in script interface
  src/script_interface/Exception.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/get_value.hpp
  src/script_interface/tests/AutoParameters_test.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/Exception_test.cpp
  src/script_interface/tests/Variant_test.cpp
Due: clang-format, cmake-format

script_interface: Removed unused function
  src/script_interface/get_value.hpp
  src/script_interface/tests/Variant_test.cpp
Due: clang-format

script_interface: Test for notify_ interface of ObjectHandle
  src/script_interface/tests/ScriptInterface_test.cpp
Due: clang-format

script_interface: Fixed merge regressions
  src/core/io/writer/h5md_specification.cpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/h5md/initialize.cpp
Due: clang-format

script_interface: (c) header
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
  src/script_interface/ObjectState.hpp
  src/script_interface/PackedVariant.hpp
  src/script_interface/get_value.hpp
Due: clang-format

script_interface: Renamed test
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ObjectHandle_test.cpp
Due: clang-format, cmake-format

utils: Factory: Name lookup by dynamic type
  src/utils/include/utils/Factory.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

script_interface: docstrings
  src/python/espressomd/script_interface.pxd
  src/script_interface/ContextManager.hpp
Due: clang-format, autopep8

Formatting
  src/script_interface/CMakeLists.txt
  src/utils/include/utils/Factory.hpp
Due: clang-format, cmake-format

utils: Factory::stable_name -> type_name
  src/script_interface/GlobalContext.cpp
  src/script_interface/LocalContext.hpp
  src/utils/include/utils/Factory.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

script_interface: Docstrings
  src/script_interface/Context.cpp
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/tests/ObjectHandle_test.cpp
Due: clang-format

script_interface: Removed per instance stored name from ObjectHandle
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/utils/include/utils/Factory.hpp
Due: clang-format

script_interface: Made Context::deserialize static
  src/script_interface/Context.cpp
  src/script_interface/Context.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
Due: clang-format

script_interface: ObjectManager -> ContextManager
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ContextManager.cpp
  src/script_interface/ContextManager.hpp
  src/script_interface/ScriptInterface.hpp
Due: clang-format, autopep8, cmake-format

script_interface: Moved serialization from Context to Objecthandle 1/2
  src/script_interface/Context.cpp
  src/script_interface/Context.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
Due: clang-format

script_interface: Moved serialization from Context to Objecthandle 2/2
  src/script_interface/CMakeLists.txt
  src/script_interface/Context.cpp
  src/script_interface/Context.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
Due: clang-format, cmake-format

python: Fixed missing interface decl
  src/python/espressomd/thermostat.pxd
Due: autopep8

script_interface: Fixed build with c++17
  src/script_interface/accumulators/Correlator.hpp
Due: clang-format

tutorial 06: Simplify imports, cleanup comments
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/exercises/rectification_simulation.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/rectification_simulation.py
Due: autopep8

tutorial 06: Remove unnecessary dependency on GPU LB
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_06-active_matter__rectification_geometry.py
Due: autopep8, cmake-format

Formatting
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/exercises/rectification_simulation.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/rectification_simulation.py
Due: autopep8

tutorial 06: Increase shape quality
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/CMakeLists.txt
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/figures/rectify.jpg
  doc/tutorials/06-active_matter/figures/rectify.pdf
  doc/tutorials/06-active_matter/figures/rectify.svg
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/solutions.txt
Due: autopep8, cmake-format

Remove legacy VTK mechanism
  doc/sphinx/advanced_methods.rst
  doc/sphinx/lb.rst
  doc/tutorials/06-active_matter/exercises/flow_field.py
  doc/tutorials/06-active_matter/solutions/flow_field.py
  samples/ekboundaries.py
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
Due: clang-format, autopep8

tutorial 06: Adapt VTK code for walberla, re-enable test
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  doc/tutorials/06-active_matter/exercises/rectification_geometry.py
  doc/tutorials/06-active_matter/solutions/rectification_geometry.py
  testsuite/scripts/tutorials/CMakeLists.txt
Due: autopep8, cmake-format

fix regressions
  doc/tutorials/06-active_matter/06-active_matter.ipynb
  testsuite/scripts/tutorials/test_06-active_matter__rectification_geometry.py
Due: autopep8

tutorial 06: Re-enable other tests
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

script_interface: Docstrings
  src/script_interface/PackedVariant.hpp
Due: clang-format

script_interface: Improve impl of object_id.
  src/script_interface/PackedVariant.hpp
Due: clang-format

script_interface: PackedVariant.hpp -> packed_variant.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectState.hpp
  src/script_interface/packed_variant.hpp
Due: clang-format

maintainer: perform mac jobs on github.
  .github/workflows/build.yml
  doc/sphinx/installation.rst
Due: none

docs: Split macOS X command line tools
  doc/sphinx/installation.rst
Due: none

CMake: Move language definition up
  CMakeLists.txt
Due: cmake-format

docs: Link to official installation instructions
  doc/sphinx/installation.rst
Due: none

CI: Increase macOS test timeout
  .github/workflows/build.yml
Due: none

CMake: Extract linker workaround
  CMakeLists.txt
Due: cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
