Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

python: Move cellsystem globals out of globals.pyx
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/system.pxd
  src/python/espressomd/system.pyx
Due: autopep8

core: Remove external linkage of time_step, sim_time
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/lb.pyx
Due: clang-format, autopep8

core: Remove external linkage of skin_set
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/tuning.cpp
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/integrate.pxd
  src/python/espressomd/system.pxd
Due: clang-format, autopep8

core: Remove unimplemented functions
  src/core/tuning.hpp
Due: clang-format

core: Simplify force cap code
  src/core/forcecap.cpp
  src/core/forcecap.hpp
Due: clang-format

python: Move skin global out of globals.pyx
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
Due: autopep8

python: Move integrator globals out of globals.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/lb.pyx
  src/python/espressomd/system.pyx
  testsuite/python/integrator_npt.py
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/test_checkpoint.py
Due: autopep8

python: Remove globals.pyx
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/system.pyx
Due: autopep8

python: Remove integ_switch global from interface
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/system.pyx
Due: autopep8

python: Remove cell_system code duplication
  src/python/espressomd/cellsystem.pyx
Due: autopep8

tests: Check cell_system checkpointing
  testsuite/python/test_checkpoint.py
Due: autopep8

docs: Remove link to global variable
  doc/sphinx/electrostatics.rst
Due: none

first try cpH ensemble complex reactions
  doc/tutorials/constant_pH/constant_pH.ipynb
  samples/constant_pH_ensemble_complex_reaction.py
  samples/grand_canonical.py
  samples/reaction_ensemble.py
  samples/wang_landau_reaction_ensemble.py
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/SingleReaction.hpp
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/core/reaction_methods/tests/WangLandauReactionEnsemble_test.cpp
  src/core/reaction_methods/utils.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/wang_landau.py
  testsuite/python/wang_landau_stats.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_constant_pH_ensemble_complex_reaction.py
Due: clang-format, autopep8, cmake-format

remove discussion of unit conversion
  doc/sphinx/advanced_methods.rst
Due: none

python: Move System globals to system.pyx
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/system.pxd
  src/python/espressomd/system.pyx
Due: autopep8

core: Fix cell resort bug
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/cells.cpp
Due: clang-format

tests: Check particle resort
  testsuite/python/domain_decomposition.py
  testsuite/python/nsquare.py
Due: autopep8

test: Check particle resort doesn't affect energy
  testsuite/python/domain_decomposition.py
  testsuite/python/nsquare.py
Due: autopep8

script_interface: Fix serialization of containers
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/tests/ObjectHandle_test.cpp
Due: clang-format

python: Document LB load_checkpoint() pitfall
  src/python/espressomd/lb.pyx
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Check object removal from checkpointed container
  testsuite/python/test_checkpoint.py
Due: autopep8

core: Sanitize script interface shared pointers
  src/core/accumulators.cpp
  src/core/constraints/Constraints.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

script_interface: Remove outdated documentation
  src/script_interface/get_value.hpp
Due: clang-format

Add property "propagation" for particles
  src/core/Particle.hpp
  src/core/Propagation.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

fixups
  src/core/event.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Due: clang-format, autopep8, cmake-format

Add new contributors
  AUTHORS
Due: none

python: Fix DeprecationWarning in numpy >= 1.20
  src/python/espressomd/system.pyx
Due: autopep8

tests: Fix merge regression
  testsuite/python/lb_slice.py
Due: autopep8

Spellcheck and grammar check
  src/python/espressomd/polymer.pyx
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: autopep8

tests: Use alias
  testsuite/python/lb_slice.py
Due: autopep8

tests: Check all system globals
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

python: Avoid double deserialization of globals
  src/python/espressomd/system.pyx
Due: autopep8

tests: Restore coverage of MD cell resort event
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/scafacos_interface.py
Due: autopep8

fix system.part choice
  samples/gibbs_ensemble/gibbs_ensemble.py
  samples/gibbs_ensemble/run_sim.py
Due: autopep8

tests: Move IBM checks to self-contained testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ibm.py
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8, cmake-format

tests: Check IBM volume conservation
  testsuite/python/ibm.py
Due: autopep8

core: Skip IBM bonds in Observable_stat
  src/core/energy_inline.hpp
  testsuite/python/ibm.py
Due: clang-format, autopep8

core: Refactor IBM_VolCons constructor
  src/config/config.hpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/immersed_boundary/ibm_volcons.cpp
  src/python/espressomd/interactions.pyx
  testsuite/python/ibm.py
Due: clang-format, autopep8

python: IBM_VolCons is no longer experimental
  src/python/espressomd/interactions.pyx
Due: autopep8
