Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

Rewrite LJcos interaction interface
  src/core/nonbonded_interactions/ljcos.cpp
  src/core/nonbonded_interactions/ljcos.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite LJcos2 interaction interface
  src/core/nonbonded_interactions/ljcos2.cpp
  src/core/nonbonded_interactions/ljcos2.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite Gaussian interaction interface
  src/core/nonbonded_interactions/gaussian.cpp
  src/core/nonbonded_interactions/gaussian.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite Hertzian interaction interface
  src/core/nonbonded_interactions/hertzian.cpp
  src/core/nonbonded_interactions/hertzian.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite generic Lennard-Jones interaction interface
  src/core/nonbonded_interactions/ljgen.cpp
  src/core/nonbonded_interactions/ljgen.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded.py
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite BMHTF interaction interface
  src/core/nonbonded_interactions/bmhtf-nacl.cpp
  src/core/nonbonded_interactions/bmhtf-nacl.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Add missing guard for ext_torque.
  src/core/Particle.hpp
Due: clang-format

Add missing feature guards in tests.
  src/core/unit_tests/Verlet_list_test.cpp
  testsuite/python/bond_breakage.py
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

Simplify VS_Relative, fix VS support for Lees Edwards
  src/core/BoxGeometry.hpp
  src/core/integrate.cpp
  src/core/lees_edwards/LeesEdwardsBC.hpp
  src/core/lees_edwards/lees_edwards.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

Rewrite Morse interaction interface
  src/core/nonbonded_interactions/morse.cpp
  src/core/nonbonded_interactions/morse.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite Buckingham interaction interface
  src/core/nonbonded_interactions/buckingham.cpp
  src/core/nonbonded_interactions/buckingham.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite SoftSphere interaction interface
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/nonbonded_interactions/soft_sphere.cpp
  src/core/nonbonded_interactions/soft_sphere.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Add missing feature guards
  doc/sphinx/inter_non-bonded.rst
  src/core/Particle.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/python/espressomd/drude_helpers.py
  testsuite/python/bond_breakage.py
  testsuite/python/collision_detection.py
  testsuite/python/constraint_shape_based.py
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
  testsuite/python/lees_edwards.py
  testsuite/python/long_range_actors.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Rewrite Hat interaction interface
  src/core/nonbonded_interactions/hat.cpp
  src/core/nonbonded_interactions/hat.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

Rewrite Gay-Berne interaction interface
  src/core/nonbonded_interactions/gay_berne.cpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
Due: clang-format, autopep8

Rewrite Tabulated interaction interface
  src/core/CMakeLists.txt
  src/core/TabulatedPotential.cpp
  src/core/TabulatedPotential.hpp
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/nonbonded_interactions/CMakeLists.txt
  src/core/nonbonded_interactions/nonbonded_tab.cpp
  src/core/nonbonded_interactions/nonbonded_tab.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/tabulated.py
Due: clang-format, autopep8, cmake-format

Rewrite DPD interaction interface
  src/core/dpd.cpp
  src/core/dpd.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
Due: clang-format, autopep8

Rewrite Thole interaction interface
  src/core/nonbonded_interactions/CMakeLists.txt
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/nonbonded_interactions/thole.cpp
  src/core/nonbonded_interactions/thole.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
Due: clang-format, autopep8, cmake-format

Rewrite SmoothStep interaction interface
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/nonbonded_interactions/smooth_step.cpp
  src/core/nonbonded_interactions/smooth_step.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/initialize.cpp
  testsuite/python/interactions_non-bonded_interface.py
Due: clang-format, autopep8

tests: Fix regressions in Lees-Edwards unit tests
  src/core/unit_tests/grid_test.cpp
  src/core/unit_tests/lees_edwards_test.cpp
Due: clang-format

Remove old non-bonded interaction interface
  src/core/TabulatedPotential.hpp
  src/core/interactions.cpp
  src/core/interactions.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/serialization/IA_parameters.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
Due: clang-format, autopep8

Refactor new non-bonded interface
  doc/sphinx/inter_non-bonded.rst
  src/core/nonbonded_interactions/bmhtf-nacl.cpp
  src/core/nonbonded_interactions/buckingham.cpp
  src/core/nonbonded_interactions/gaussian.cpp
  src/core/nonbonded_interactions/hat.cpp
  src/core/nonbonded_interactions/hertzian.cpp
  src/core/nonbonded_interactions/lj.cpp
  src/core/nonbonded_interactions/lj.hpp
  src/core/nonbonded_interactions/ljcos.cpp
  src/core/nonbonded_interactions/ljcos2.cpp
  src/core/nonbonded_interactions/ljgen.cpp
  src/core/nonbonded_interactions/morse.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/nonbonded_interactions/smooth_step.cpp
  src/core/nonbonded_interactions/soft_sphere.cpp
  src/core/nonbonded_interactions/wca.cpp
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  testsuite/python/collision_detection.py
  testsuite/python/constraint_shape_based.py
  testsuite/python/cutoffs.py
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dds-and-bh-gpu.py
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/p3m_fft.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8

doc: Clarify CUDA installation instructions
  doc/sphinx/installation.rst
Due: none

core: Pass quaternions to Gay-Berne kernels
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
Due: clang-format

CMake: Integrate librepa and kdpart
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/cmake_config.cmakein
  cmake/kdpart.patch
  cmake/librepa.patch
  doc/sphinx/installation.rst
  maintainer/CI/build_cmake.sh
Due: cmake-format

Decythonize non-bonded interactions
  .gitlab-ci.yml
  src/core/nonbonded_interactions/thole.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
  testsuite/python/dpd.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/tabulated.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Decythonize bonded interactions
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.py
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/interactions/bonded.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Add draft for sedimentation tutorial.
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_sedimentation.ipynb
Due: none

script_interface: Make MPI communicator public
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/ObjectMap.hpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/object_container_mpi_guard.cpp
  src/script_interface/object_container_mpi_guard.hpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/serialization_mpi_guard_test.cpp
Due: clang-format

script_interface: Make main analysis methods parallel
  src/core/analysis/statistics.cpp
  src/core/energy.cpp
  src/core/energy.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/observables/EnergyObservable.hpp
  src/core/observables/PressureTensor.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/communication.hpp
Due: clang-format, autopep8

core: Remove MPI dependency from OIF code
  src/core/forces.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
Due: clang-format

script_interface: Remove dependency on core/communication.hpp
  src/script_interface/ParallelExceptionHandler.cpp
  src/script_interface/communication.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.cpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/optional_reduction.hpp
Due: clang-format

Fix various regressions found by Clang
  src/script_interface/communication.hpp
  src/walberla_bridge/src/electrokinetics/reactions/CMakeLists.txt
Due: clang-format, cmake-format

script_interface: Make MPI communicator public
  src/script_interface/Context.hpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/ObjectMap.hpp
  src/script_interface/ParallelExceptionHandler.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/object_container_mpi_guard.cpp
  src/script_interface/object_container_mpi_guard.hpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/serialization_mpi_guard_test.cpp
Due: clang-format

script_interface: Make main analysis methods parallel
  src/core/analysis/statistics.cpp
  src/core/energy.cpp
  src/core/energy.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/observables/EnergyObservable.hpp
  src/core/observables/PressureTensor.hpp
  src/core/pressure.cpp
  src/core/pressure.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/communication.hpp
Due: clang-format, autopep8

Small typos in the reaction ensemble tutorial
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Update doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/constant_pH/constant_pH.ipynb
Due: none

Apply code review suggestions
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/python/espressomd/interactions.py
Due: clang-format, autopep8

python: Fix checkpointing code and documentation
  doc/sphinx/io.rst
  src/script_interface/integrators/IntegratorHandle.cpp
Due: clang-format

python: Document how to checkpoint local objects
  doc/sphinx/io.rst
  testsuite/python/save_checkpoint.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
