Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

test commit for actions
  .github/workflows/packaging.yml
Due: none

Make reaction methods run in parallel
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/reaction_methods/CMakeLists.txt
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/ReactionEnsemble.hpp
  src/core/reaction_methods/SingleReaction.hpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/reaction_methods/tests/SingleReaction_test.cpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/reaction_methods/tests/reaction_methods_utils_test.cpp
  src/core/reaction_methods/utils.cpp
  src/core/reaction_methods/utils.hpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/reaction_methods/CMakeLists.txt
  src/script_interface/reaction_methods/ConstantpHEnsemble.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  src/script_interface/reaction_methods/ReactionEnsemble.hpp
  src/script_interface/reaction_methods/SingleReaction.hpp
  src/script_interface/reaction_methods/WidomInsertion.hpp
  src/script_interface/system/System.cpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ConstantpHEnsemble_test.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8, cmake-format

Remove particle_data.cpp
  src/core/CMakeLists.txt
  src/core/EspressoSystemStandAlone.cpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/collision.cpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/electrostatics/scafacos_impl.cpp
  src/core/event.cpp
  src/core/grid.cpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/scafacos_impl.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/tests/CMakeLists.txt
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/EspressoSystemInterface_test.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
  src/core/unit_tests/VerletCriterion_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/tests/CMakeLists.txt
Due: clang-format, cmake-format

WIP: re-introduction virtual sites at COM
  src/core/virtual_sites/VirtualSitesCenterOfMass.cpp
  src/core/virtual_sites/VirtualSitesCenterOfMass.hpp
Due: clang-format

doc: electrokinetics: adapted tutorial code
  doc/tutorials/electrokinetics/electrokinetics.ipynb
Due: none

testsuite: ek: removed old testcases
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_eof_one_species.py
Due: autopep8, cmake-format

add a description of missing features in the documentation
  doc/sphinx/installation.rst
Due: none

maintainer: ek: fixed thermalization codegen
  maintainer/walberla_kernels/ekin.py
Due: autopep8

core: Give MC functions more descriptive names
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/tests/ReactionEnsemble_test.cpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

python: Rename MC method reaction argument
  doc/tutorials/constant_pH/constant_pH.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/grand_canonical.py
  samples/reaction_ensemble_complex_reaction.py
  samples/reaction_methods.py
  src/python/espressomd/reaction_methods.py
  testsuite/python/constant_pH.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_complex.py
  testsuite/python/reaction_ensemble.py
Due: autopep8

doc: Improve user guide
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
  doc/sphinx/particles.rst
  doc/sphinx/reaction_methods.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/visualization/visualization.ipynb
Due: none

doc: Synchronize BibTeX with icp.bib
  doc/bibliography.bib
  doc/sphinx/appendix.rst
  doc/sphinx/electrostatics.rst
Due: none

doc: Spellcheck and grammar check
  doc/bibliography.bib
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/inter_non-bonded.rst
Due: none

script_interface: Fix dict_keys, list merge bug
  src/python/espressomd/script_interface.pyx
Due: autopep8

Remove 1-core restriction for NSquare and HybridDecomposition + LB.
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/engine_lb.py
  testsuite/python/lb_momentum_conservation.py
  testsuite/python/lb_stats.py
Due: clang-format, autopep8, cmake-format

docu update: use reuse_force=True when loading checkpoint
  doc/sphinx/io.rst
Due: none

python: Add pylint check W0109 (duplicate-key)
  .pylintrc
  src/python/espressomd/reaction_methods.py
Due: autopep8

python: Make trajectories more reproducible
  doc/sphinx/io.rst
  samples/load_checkpoint.py
  samples/save_checkpoint.py
  src/python/espressomd/electrostatics.py
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/electrostatics/CoulombP3MGPU.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
  testsuite/scripts/samples/test_load_checkpoint.py
  testsuite/scripts/samples/test_save_checkpoint.py
Due: clang-format, autopep8

core: Remove unused MPI callbacks
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/cell_system/CellSystem.cpp
Due: clang-format

core: Refactor short-range loop algorithms
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/utils/include/utils/mpi/gather_buffer.hpp
Due: clang-format

Add particle neighbor kernel method
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/analyze.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/analyze_distance.py
Due: clang-format, autopep8, cmake-format

CMake: Remove MPI linker commands
  CMakeLists.txt
Due: cmake-format

walberla: Document how to prototype new methods
  doc/sphinx/lb.rst
  requirements.txt
  src/script_interface/walberla/EKSpecies.hpp
Due: clang-format

walberla: Re-enable tests on 4 MPI ranks
  cmake/FindFFTW3.cmake
  samples/immersed_boundary/sampleImmersedBoundary.py
  samples/lb_circular_couette.py
  samples/lb_four_roller_mill.py
  samples/lb_planar_couette.py
  src/script_interface/walberla/VTKHandle.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8, cmake-format

Enable P3M for hybrid decomposition with one MPI node
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/dp3m.cpp
  testsuite/python/hybrid_decomposition.py
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

script_interface: Forbid particles with negative mass
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/particle.py
Due: clang-format, autopep8

CMake: Fix broken patch command
  CMakeLists.txt
Due: cmake-format

CMake: Move AVX2 logic to dedicated file
  CMakeLists.txt
  cmake/espresso_enable_avx2_support.cmake
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

CMake: Add workaround for patch command
  CMakeLists.txt
Due: cmake-format

core: Check reaction gamma
  src/core/reaction_methods/SingleReaction.hpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

Fix merge conflicts
  testsuite/python/CMakeLists.txt
Due: cmake-format

tests: Workaround for an OSError on Fedora
  testsuite/python/h5md.py
Due: autopep8

Cleanup documentation
  cmake/FindFFTW3.cmake
  doc/bibliography.bib
  doc/sphinx/advanced_methods.rst
  doc/sphinx/analysis.rst
  doc/sphinx/conf.py.in
  doc/sphinx/reaction_methods.rst
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  maintainer/benchmarks/benchmarks.py
  samples/lbf.py
  src/core/cell_system/RegularDecomposition.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/python/espressomd/particle_data.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

Fix bugs in testcases.
  src/core/unit_tests/Verlet_list_test.cpp
  testsuite/python/save_checkpoint.py
Due: clang-format, autopep8

added particle property for propagation #4603
  src/core/Particle.hpp
  src/core/PropagationModes.hpp
  src/python/espressomd/propagation.py
  src/script_interface/particle_data/ParticleHandle.cpp
  testsuite/python/particle.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

Fixup ToC
  doc/tutorials/electrokinetics/electrokinetics.ipynb
Due: none

Bump waLBerla version
  CMakeLists.txt
  cmake/waLBerla.patch
Due: cmake-format

python: Implement arrow materials
  src/python/espressomd/visualization.py
Due: autopep8

python: Fix exception handling in visualizer
  src/python/espressomd/visualization.py
Due: autopep8

CMake: Add missing CUDA flags
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
