Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

walberla: Refactor LE sweep
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Add LE swap sweep
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Make LE swap in the LE shift sweep
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix LE update kernel
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Run LE update before streaming
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

tests: Refactor cluster analysis testcase
  testsuite/python/cluster_analysis.py
Due: autopep8

tests: Remove RNG seed randomizer
  testsuite/scripts/importlib_wrapper.py
  testsuite/scripts/samples/test_electrophoresis.py
  testsuite/scripts/samples/test_reaction_ensemble_complex_reaction.py
  testsuite/scripts/test_importlib_wrapper.py
Due: autopep8

walberla: Refactor LE code
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
Due: clang-format

walberla: Separation of concerns
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/LeesEdwardsPack.hpp
  src/walberla_bridge/LeesEdwardsUpdate.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
Due: clang-format

tests: Remove debug plotting function
  testsuite/python/lb_lees_edwards.py
Due: autopep8

tests: Check Lees-Edwards integration
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_couette_flow.py
  testsuite/python/lb_lees_edwards.py
Due: autopep8, cmake-format

walberla: Document MPI caveat for LE
  src/walberla_bridge/LeesEdwardsUpdate.hpp
Due: clang-format

walberla: Remove old LatticeModel includes
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Re-use destructor free function
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
Due: clang-format

fixup: walberla_bridge: EKinWalberlaImpl: old implementation of non-domain flag causes assert in debug build
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

fix: python: EKSpecies: wrong function name for is_boundary
  src/python/espressomd/EKSpecies.py
Due: autopep8

python: More maintenance
  .codecov.yml
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/lb.py
  samples/gibbs_ensemble/run_sim.py
  samples/load_checkpoint.py
  testsuite/python/cluster_analysis.py
  testsuite/python/test_checkpoint.py
Due: autopep8

Add video links
  doc/tutorials/Readme.md
Due: none

add get_anion_slice method
  src/python/espressomd/particle_data.pyx
Due: autopep8

fix math in error calculation
  samples/gibbs_ensemble/Readme.md
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/run_sim.py
Due: autopep8

walberla: Add pressure tensor kernel
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Re-enable LB pressure tensor
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/core/grid_based_algorithms/lb_interface.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8, cmake-format

walberla: Increase test tolerances
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

walberla: Implement global LB pressure tensor
  src/core/grid_based_algorithms/lb_interface.cpp
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

walberla: Correct off-diagonal terms in pressure tensor
  src/core/grid_based_algorithms/lb_interface.cpp
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

walberla: Remove MPI overhead from LB pressure tensor
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

tests: Fix broken LB test cases
  testsuite/python/lb.py
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

core: Replace printf by std::cout
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
Due: clang-format

walberla: Fix docstring
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

core: Remove unused includes
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

core: Remove dead code
  src/core/grid_based_algorithms/lb_constants.hpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
Due: clang-format

core: Header files ordering
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
Due: clang-format

CI: Add cleanup action
  .github/actions/deploy_docs/action.yml
Due: none

CI: Generate videos landing page
  .github/actions/deploy_docs/action.yml
Due: none

testsuite: added ek_eof testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_eof.py
Due: autopep8, cmake-format

core: EKPoissonSolver: added dielectric permittivity prefactor
  src/script_interface/walberla/EKFFT.hpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
  src/walberla_bridge/PoissonSolver/None.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
  testsuite/python/ek_eof.py
Due: clang-format, autopep8

tests: Fix shear stress checks
  testsuite/python/lb_pressure_tensor.py
Due: autopep8

core: Fix LB docstrings
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/python/espressomd/lbboundaries.py
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

Formatting
  src/walberla_bridge/generated_kernels/Dynamic_UBB.h
Due: none
