Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

Engine LB coupling with n square cell system
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  testsuite/python/engine_lb.py
Due: clang-format, autopep8

walberla_bridge: LBWalberlaImpl: replaced m_blocks with m_blockforest
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla_bridge: WalberlaBlockForest: unified getters
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format

python/core/walberla_bridge: added walberla-lb blockforest in constructors
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
Due: clang-format, autopep8

walberla_bridge: WalberlaBlockForest: protected -> private
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format

walberla_bridge: shared_ptr -> regual ptr
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
Due: clang-format

core: walberla_blockforest: shared_ptr -> regual ptr
  src/core/grid_based_algorithms/walberla_blockforest.cpp
  src/core/grid_based_algorithms/walberla_blockforest.hpp
Due: clang-format

core: walberla_blockforest: removed unnecessary ;
  src/core/grid_based_algorithms/walberla_blockforest.cpp
Due: clang-format

test
  src/core/CMakeLists.txt
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
  src/core/integrate.cpp
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
  src/walberla_bridge/generated_kernels/ContinuityKernel.cpp
  src/walberla_bridge/generated_kernels/ContinuityKernel.h
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernel.h
  testsuite/python/lb_density.py
Due: clang-format, autopep8, cmake-format

walberla_bridge: added NoFlux kernels
  src/walberla_bridge/generated_kernels/NoFlux.cpp
  src/walberla_bridge/generated_kernels/NoFlux.h
Due: clang-format

walberla_bridge: EKinWalberla: first step in boundary handling
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

walberla_bridge: EKinWalberla: implemented set_node_noflux_boundary
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

TODO: core: grid_based_algorithms: first try in EKBoundaries
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.hpp
Due: clang-format

TODO: missing file to last commit
  src/python/espressomd/ekboundaries.py
Due: autopep8

TODO: script_interface: ekboundaries
  src/script_interface/lbboundaries/EKBoundaries.hpp
  src/script_interface/lbboundaries/EKBoundary.hpp
  src/script_interface/lbboundaries/initialize.cpp
Due: clang-format

fixup: walberla_bridge: cmake: missing noflux
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

TODO: fixup naming collision in VTK output of EKin
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

fixup: core: ekboundaries missing vector
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

core: event: added on_ekboundary_change
  src/core/event.cpp
  src/core/event.hpp
Due: clang-format

fixup: core: ekboundaries: missing add and remove methods
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

fixup: script_interface: ekboundaries missing declaration
  src/script_interface/lbboundaries/initialize.cpp
  src/script_interface/lbboundaries/initialize.hpp
Due: clang-format

python: added ekboundaries to system class
  src/python/espressomd/system.pyx
Due: autopep8

fixup: script_interface: EKBoundaries missing register
  src/script_interface/initialize.cpp
Due: clang-format

walberla_bridge: EKinWalberla: use constructor
  src/walberla_bridge/ekin_walberla_init.cpp
Due: clang-format

walberla_bridge: EKinWalberla: switched noflux boundary to pointer
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

core: walberla_blockforest: added WalberlaBlockForestParams
  src/core/grid_based_algorithms/walberla_blockforest.cpp
  src/core/grid_based_algorithms/walberla_blockforest.hpp
Due: clang-format

fixup: walberla_bridge: EkinWalberlaImpl typo
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

ek_walberla: added tau parameter
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
Due: clang-format, autopep8

core: ekin_walberla_instance: added EKWalberlaParams
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
Due: clang-format

core: lb_boundaries: ek_boundaries: proper agrid
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

testsuite: ek_diffusion: added simple diffusion testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_diffusion.py
Due: autopep8, cmake-format

python: ek_walberla: remove default params
  src/python/espressomd/ekin_walberla.pyx
Due: autopep8

testsuite: ek_noflux: added simple noflux testcase
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_noflux.py
Due: autopep8, cmake-format

core: integrate: separated ek from lb timestep
  src/core/integrate.cpp
Due: clang-format

walberla_bridge: EKinWalberlaImpl: added nodiscard
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

walberla_bridge: EKinWalberlaImpl: added dirty flag for noflux boundary
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

core: EKBoundaries: moved implementation to separate files
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/ek_boundaries.cpp
  src/core/grid_based_algorithms/ek_boundaries.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_boundaries.hpp
  src/core/grid_based_algorithms/lbboundaries/EKBoundary.hpp
  src/script_interface/lbboundaries/EKBoundaries.hpp
Due: clang-format, cmake-format

walberla_bridge: EKinWalberlaImpl: replace boundary cell detection with isPartOfMaskSet
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

python: ekin_walberla: added is_boundary property
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
Due: clang-format, autopep8

rollout of C-Flags
  maintainer/configs/maxset-walberla.hpp
  src/config/features.def
  src/python/espressomd/ekin_walberla.pyx
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
