Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

tutorial 13: cleaned vesrion of SMII worksheet
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
  doc/tutorials/13-charged_rod/CMakeLists.txt
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.rst
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_13-charged_rod.py
Due: autopep8, cmake-format

core: Return ParticleForce object
  src/core/forces_inline.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
Due: clang-format

core: Simplify code
  src/core/rotation.cpp
Due: clang-format

testsuite: Add test case for rotational dynamics
  testsuite/python/CMakeLists.txt
  testsuite/python/rotational_dynamics.py
Due: autopep8, cmake-format

core: Add extra check for Brownian Dynamics
  src/core/integrate.cpp
  testsuite/python/integrator_exceptions.py
Due: clang-format, autopep8

tests: Reduce code duplication
  testsuite/python/integrator_exceptions.py
Due: autopep8

core: Use seed+salt in key of Philox
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/dpd.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/langevin_inline.hpp
  src/core/random.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/random_test.cpp
  src/core/unit_tests/thermostats_test.cpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/brownian_dynamics.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Use Philox infrastructure for SD thermostat
  doc/sphinx/system_setup.rst
  src/core/integrate.cpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/test_checkpoint.py
  testsuite/scripts/samples/test_electrophoresis.py
Due: clang-format, autopep8

core: Break integrator/thermostat cyclic dependency
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/langevin_inline.hpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Make statistical unit tests faster
  src/core/unit_tests/random_test.cpp
  src/core/unit_tests/random_test.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

docs: Document unified thermostat infrastructure
  doc/sphinx/system_setup.rst
  src/core/random.hpp
Due: clang-format

core: Make statistical unit tests faster
  src/core/unit_tests/random_test.cpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Move NpT functions to dedicated file
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/integrators/velocity_verlet_npt_inline.hpp
  src/core/thermostat.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Header cleanup
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/global.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/integrate.cpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Split thermostats from integrators
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/core/thermostats/npt_inline.hpp
  src/core/unit_tests/thermostats_test.cpp
Due: clang-format

core: Cleanup code
  src/core/integrate.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/integrators/velocity_verlet_npt.cpp
Due: clang-format

core: Remove redundant thermostat free functions
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

Remove minimize_energy from samples and tutorials
  doc/tutorials/02-charged_system/02-charged_system-1.ipynb
  doc/tutorials/02-charged_system/02-charged_system-2.ipynb
  doc/tutorials/02-charged_system/scripts/nacl.py
  doc/tutorials/02-charged_system/scripts/nacl_units_confined.py
  doc/tutorials/02-charged_system/scripts/nacl_units_confined_vis.py
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part3.ipynb
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part3_solution.py
  maintainer/benchmarks/p3m.py
  samples/chamber_game.py
  samples/drude_bmimpf6.py
  samples/visualization_bonded.py
  samples/visualization_cellsystem.py
  samples/visualization_charged.py
  samples/visualization_elc.py
  samples/visualization_npt.py
Due: autopep8

Remove minimize_energy feature
  doc/sphinx/running.rst
  src/python/espressomd/integrate.pyx
  src/python/espressomd/minimize_energy.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/integrator_steepest_descent.py
  testsuite/python/save_checkpoint.py
Due: autopep8, cmake-format

tut 13: reproduce figures from deserno 10.1021/ma990897o
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
Due: none

core: p3m: reset r_cut when default value is provided in tuning
  src/core/electrostatics_magnetostatics/p3m.cpp
Due: clang-format

tests: Remove redundant checks
  testsuite/python/integrator_steepest_descent.py
Due: autopep8

core: Remove max_steps parameter of steepest descent
  doc/sphinx/running.rst
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  testsuite/python/integrator_steepest_descent.py
Due: clang-format, autopep8

core: Simplify steepest descent broadcast
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/integrate.cpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
Due: clang-format

core: Simplify steepest descent callback
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
Due: clang-format

Improve overlap removal
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/01-lennard_jones/NotesForTutor.md
Due: none

tests: Improve interaction checkpointing tests
  testsuite/python/test_checkpoint.py
Due: autopep8

docs: Custom convergence criteria for steepest descent
  doc/sphinx/running.rst
Due: none

wip: PB solution with salt
  doc/tutorials/13-charged_rod/13-charged_rod.ipynb
Due: none

formatting of a function that will go away
  testsuite/scripts/tutorials/test_13-charged_rod.py
Due: autopep8

tutorial 04: part 2: Simplify code
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part2.py
Due: autopep8

Tutorial 04: Spell check and grammar check
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
Due: none

tutorial 04: part 2: Provide solutions
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part2.ipynb
  testsuite/scripts/tutorials/test_04-lattice_boltzmann_part2.py
Due: autopep8

python: Document LB parameters
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
  src/python/espressomd/lb.pyx
Due: autopep8

tutorial 04: part 1: Update text
  doc/tutorials/04-lattice_boltzmann/04-lattice_boltzmann_part1.ipynb
Due: none

Fix energy minimization
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/01-lennard_jones/NotesForTutor.md
Due: none

Rewrite main integration loop
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
Due: none

Remove standard deviation estimate
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
Due: none

(Re-)add RDF calculation
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
Due: none

core: Use boost::mpi
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
