Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

samples: Remove infinite loop
  samples/load_checkpoint.py
  testsuite/scripts/samples/test_load_checkpoint.py
Due: autopep8

samples: Give hints for input parameters
  samples/grand_canonical.py
  samples/widom_insertion.py
Due: autopep8

samples: Fix lb_profile sample test
  samples/lb_profile.py
  testsuite/scripts/samples/CMakeLists.txt
Due: autopep8, cmake-format

docs: Explain how to install without network
  doc/sphinx/installation.rst
Due: none

SD: Test feature in CI
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
Due: none

core: Fix Intel compiler warning
  src/core/unit_tests/reaction_ensemble_utils_test.cpp
Due: clang-format

SD: Move to FetchContent project
  .gitlab-ci.yml
  CMakeLists.txt
  doc/sphinx/installation.rst
  libs/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: cmake-format

SD: Test CPU/GPU, FT/FTS, checkpointing, sample
  samples/dancing.py
  testsuite/python/CMakeLists.txt
  testsuite/python/save_checkpoint.py
  testsuite/python/stokesian_dynamics.py
  testsuite/python/stokesian_dynamics_cpu.py
  testsuite/python/stokesian_dynamics_gpu.py
  testsuite/python/test_checkpoint.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_dancing.py
Due: autopep8, cmake-format

SD: Rename integrator and thermostat
  samples/dancing.py
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pyx
  testsuite/python/save_checkpoint.py
  testsuite/python/stokesian_dynamics.py
Due: autopep8

SD: Move docs to the integrator + thermostat pages
  doc/sphinx/running.rst
  doc/sphinx/sd.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/ug.rst
Due: none

Spell check and grammar check
  Readme.md
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/zrefs.bib
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/particle_data.cpp
  src/core/rotation.cpp
  src/python/espressomd/accumulators.py
  src/python/espressomd/io/mpiio.py
Due: clang-format, autopep8

change VS Code setup to general IDE setup
  doc/sphinx/installation.rst
Due: none

add hint for other IDEs
  doc/sphinx/installation.rst
Due: none

Spell check and grammar check
  Readme.md
  doc/sphinx/zrefs.bib
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/particle_data.cpp
  src/core/rotation.cpp
  src/python/espressomd/accumulators.py
  src/python/espressomd/io/mpiio.py
Due: clang-format, autopep8

Formatting
  doc/logo/cup.vmd
  doc/logo/generate_animation.sh
  doc/logo/generate_pixmaps.sh
  doc/sphinx/analysis.rst
  doc/sphinx/lb.rst
  doc/sphinx/particles.rst
  doc/sphinx/zrefs.bib
  doc/tutorials/04-lattice_boltzmann/scripts/04-lattice_boltzmann_part4_solution.py
  doc/tutorials/06-active_matter/exercises/rectification_simulation.py
  doc/tutorials/06-active_matter/solutions/solutions.txt
  samples/gibbs_ensemble_client.py
  samples/gibbs_ensemble_socket.py
  src/python/espressomd/polymer.pyx
  testsuite/python/data/mmm1d_data.txt
  testsuite/python/dpd.py
  testsuite/python/lb_interpolation.py
  testsuite/python/polymer_diamond.py
Due: autopep8

docs: Modernize introduction
  doc/sphinx/introduction.rst
Due: none

SD: Update docs based on code reviews
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
Due: none

testsuite: Test on 4 MPI ranks
  .gitlab-ci.yml
  cmake/unit_test.cmake
  maintainer/CI/build_cmake.sh
  maintainer/benchmarks/CMakeLists.txt
  testsuite/python/CMakeLists.txt
  testsuite/scripts/benchmarks/CMakeLists.txt
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

Update badges to 4.1 branch
  Readme.md
Due: none

Add 4.1.3 release notes
  NEWS
Due: none

Update version number to 4.1.3
  CMakeLists.txt
  Readme.md
Due: cmake-format

Add 4.1.3 release notes
  NEWS
  Readme.md
Due: none

Add pystencils philx_rand.h
  src/core/grid_based_algorithms/philox_rand.h
Due: none

CI: Use latest images with CMake 3.11
  .gitlab-ci.yml
Due: none

Topology (#3780)
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/BoxGeometry.hpp
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/domain_decomposition.cpp
  src/core/domain_decomposition.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/event.cpp
  src/core/forces.cpp
  src/core/ghosts.cpp
  src/core/ghosts.hpp
  src/core/grid.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/integrate.cpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/io/mpiio/mpiio.cpp
  src/core/nsquare.cpp
  src/core/nsquare.hpp
  src/core/particle_data.cpp
  src/core/random.hpp
  src/core/short_range_loop.hpp
  src/core/tuning.cpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/visualization_opengl.py
  testsuite/python/cellsystem.py
Due: clang-format, autopep8, cmake-format

Fix regressions in lb thermostat test
  testsuite/python/lb_thermostat.py
Due: autopep8

h5md: cleanup.
  doc/sphinx/io.rst
  samples/h5md.py
  src/core/io/writer/CMakeLists.txt
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/io/writer/h5md_specification.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/h5md/initialize.cpp
  testsuite/python/h5md.py
Due: clang-format, autopep8, cmake-format

h5md: documentation.
  doc/sphinx/io.rst
  samples/h5md.py
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.hpp
  src/python/espressomd/io/writer/h5md.py
  src/script_interface/h5md/h5md.hpp
  testsuite/python/h5md.py
Due: clang-format, autopep8

h5md: extract globals.
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/script_interface/h5md/h5md.cpp
Due: clang-format

h5md: use( )less globals.
  src/core/io/writer/h5md_core.cpp
Due: clang-format

h5md: use boost mpi.
  src/core/io/writer/h5md_core.cpp
Due: clang-format

h5md: cleanup includes.
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
Due: clang-format

h5md: fix doxygen.
  src/core/io/writer/h5md_core.hpp
Due: clang-format

h5md: fix typo in doc.
  doc/sphinx/io.rst
Due: none

testsuite: trailing whitespace.
  testsuite/python/h5md.py
Due: autopep8

h5md: check for MPI errors.
  src/core/io/writer/h5md_core.cpp
Due: clang-format

Fix Walberla test
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Formatting
  src/core/unit_tests/LbWalberla.cpp
  testsuite/python/lb_thermostat.py
Due: clang-format, autopep8

mda: extend MDAnalysis plugin by bond, angle and dihedral information.
  src/python/espressomd/MDA_ESP/__init__.py
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
