Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Factor out duplicated code
  src/utils/include/utils/mpi/gather_buffer.hpp
Due: clang-format

Walberla: Doxygen
  src/walberla_bridge/LBWalberlaBase.hpp
Due: clang-format

Walberla: Move ResetForce into separate file
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/ResetForce.hpp
Due: clang-format

Walberl: some cleanup
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/ResetForce.hpp
Due: clang-format

Walberla: test get_kT()
  src/core/unit_tests/LBWalberla.cpp
Due: clang-format

core: Make Barnes-Hut fields private
  src/core/actor/DipolarBarnesHut.hpp
Due: clang-format

core: Rename CUDA header file
  src/core/EspressoSystemInterface_cuda.cu
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarDirectSum_cuda.cu
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/cuda_common_cuda.cu
  src/core/cuda_init_cuda.cu
  src/core/cuda_utils.cuh
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/electrostatics_magnetostatics/p3m_gpu_error_cuda.cu
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/fd-electrostatics_cuda.cu
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

python: Cleanup Cython bindings to CUDA functions
  src/python/espressomd/cuda_init.pxd
  src/python/espressomd/cuda_init.pyx
Due: autopep8

fix and test transform_vector_cartesian_to_cylinder
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/tests/coordinate_transformation.cpp
Due: clang-format

fix observable tests
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/tests_common.py
Due: autopep8

core: Introduce exception mechanism for CUDA code
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.cpp
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
  src/core/cuda_utils.cuh
  src/core/cuda_utils.hpp
  src/core/event.cpp
  src/python/espressomd/cuda_init.pxd
  src/python/espressomd/cuda_init.pyx
Due: clang-format, autopep8

core: Remove unused CUDA global variables
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
Due: clang-format

core: Simplify code involving EspressoGpuDevice
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/cuda_init.cpp
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
Due: clang-format

python: Add bindings for cuda_gather_gpus()
  src/core/cuda_init.cpp
  src/core/cuda_init.hpp
  src/python/espressomd/cuda_init.pxd
  src/python/espressomd/cuda_init.pyx
  testsuite/python/gpu_availability.py
Due: clang-format, autopep8

core: Modernize MPI function
  src/core/cuda_init.cpp
Due: clang-format

core: Improve doxygen documentation
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.hpp
  src/core/actor/DipolarBarnesHut_cuda.cuh
  src/core/cuda_common_cuda.cu
  src/core/cuda_init.cpp
  src/core/cuda_init.hpp
  src/core/cuda_init_cuda.cu
  src/core/cuda_utils.cuh
  src/core/event.cpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/io/mpiio/mpiio.hpp
  src/core/polymer.hpp
  src/core/statistics.hpp
Due: clang-format

tests: Check cuda_gather_gpus() on 2 threads
  testsuite/python/CMakeLists.txt
  testsuite/python/gpu_availability.py
Due: autopep8, cmake-format

core: Fix doxygen
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/ResetForce.hpp
Due: clang-format

tests: Fix -Werror
  src/core/unit_tests/LBWalberla.cpp
Due: clang-format

core: Cleanup header files
  src/walberla_bridge/ResetForce.hpp
Due: clang-format

tests: Break dependency between WalberlaBridge and EspressoCore
  src/core/unit_tests/LBWalberla.cpp
Due: clang-format

tests: Move waLBerla test to the WalberlaBridge
  src/core/unit_tests/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberla_test.cpp
Due: clang-format, cmake-format

python: Fix unnecessary fatal exceptions
  src/core/cuda_init.cpp
  src/core/event.cpp
  src/python/espressomd/cuda_init.pyx
Due: clang-format, autopep8

tests: Check CUDA exceptions
  testsuite/python/gpu_availability.py
Due: autopep8

Fix merge regression
  maintainer/configs/maxset-walberla.hpp
Due: clang-format

tests: Add missing feature guard
  testsuite/python/gpu_availability.py
Due: autopep8

core: Fix feature guard
  src/core/electrostatics_magnetostatics/p3m-data_struct.hpp
Due: clang-format

core: Cleanup doxygen comments
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/immersed_boundary/ImmersedBoundaries.cpp
Due: clang-format

core: ELC: Prepare refactoring
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Combine setup_{P,Q}()
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Combine add_{P,Q}_force()
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Combine {P,Q}_energy()
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Cleanup code
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Fix UB due to integer overflow
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: ELC: Fix regressions
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: Factor in duplicated code
  src/utils/include/utils/mpi/gather_buffer.hpp
Due: clang-format

core: Cleanup code
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.cpp
Due: clang-format

core: Use automatic memory allocation
  src/core/cuda_interface.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.cpp
  src/core/virtual_sites/lb_inertialess_tracers_cuda_interface.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
