Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Fix particle double-counting bug
  src/core/statistics.cpp
Due: clang-format

walberla: Bump lbmpy+pystencils to v1.0
  CMakeLists.txt
  cmake/waLBerlaFunctions.patch
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/lees_edwards.py
  maintainer/walberla_kernels/pystencils_espresso.py
  maintainer/walberla_kernels/walberla_lbm_generation.py
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format, autopep8, cmake-format

core: Fix regression in analysis.distribution()
  src/core/statistics.cpp
  src/python/espressomd/analyze.pyx
Due: clang-format, autopep8

core: Remove unused parameter
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/coulomb.hpp
  src/core/forces.cpp
  src/core/interactions.cpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dipoles.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/thole.hpp
Due: clang-format

CMake: Modernize handling of C++ compiler flags
  CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
Due: cmake-format

CMake: Require minimal C++ compiler versions
  CMakeLists.txt
Due: cmake-format

CMake: Separation of concerns
  src/core/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/core/p3m/CMakeLists.txt
  src/core/scafacos/CMakeLists.txt
  src/core/stokesian_dynamics/CMakeLists.txt
Due: cmake-format

CMake: Break Espresso::Utils dependency on MPI
  src/core/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/script_interface/tests/CMakeLists.txt
  src/utils/CMakeLists.txt
  src/utils/tests/CMakeLists.txt
Due: cmake-format

CMake: Use modern CMake for CUDA targets
  CMakeLists.txt
  cmake/FindCUDACompilerClang.cmake
  cmake/FindCUDACompilerNVCC.cmake
  doc/sphinx/installation.rst
  src/core/CMakeLists.txt
Due: cmake-format

CI: Update docker images
  .gitlab-ci.yml
  doc/sphinx/installation.rst
Due: none

maintainer: Lift restrictions on Doxygen
  maintainer/CI/dox_warnings.sh
Due: none

CI: Update codecov paths
  .codecov.yml
Due: none

Remove MDAnalysis bindings
  doc/sphinx/installation.rst
  doc/sphinx/io.rst
  requirements.txt
  samples/MDAnalysisIntegration.py
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/MDA_ESP/__init__.py
  testsuite/python/CMakeLists.txt
  testsuite/python/mdanalysis.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_MDAnalysisIntegration.py
Due: autopep8, cmake-format

python: Improve type safety, use keyword arguments
  samples/grand_canonical.py
  samples/lj_liquid_structurefactor.py
  samples/reaction_methods.py
  samples/widom_insertion.py
  testsuite/python/analyze_chains.py
  testsuite/python/analyze_distance.py
  testsuite/python/cell_system.py
  testsuite/python/coulomb_interface.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/lb_stats.py
  testsuite/python/linear_momentum_lb.py
  testsuite/python/p3m_tuning_exceptions.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/thole.py
Due: autopep8

script_interface: Cleanup
  src/script_interface/CMakeLists.txt
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/initialize.cpp
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
Due: clang-format, cmake-format

script_interface: Modernize interface code
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/script_interface/Variant.hpp
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/get_value.hpp
  src/script_interface/packed_variant.hpp
  src/script_interface/tests/get_value_test.cpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8

python: Break circular dependency
  src/python/espressomd/__init__.py
  src/python/espressomd/code_features.py
  src/python/espressomd/collision_detection.py
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/ekboundaries.py
  src/python/espressomd/electrostatic_extensions.py
  src/python/espressomd/electrostatics.py
  src/python/espressomd/io/writer/h5md.py
  src/python/espressomd/lbboundaries.py
  src/python/espressomd/magnetostatics.py
  src/python/espressomd/virtual_sites.py
  testsuite/python/unittest_decorators.py
  testsuite/scripts/importlib_wrapper.py
Due: autopep8

script_interface: Rewrite Analysis module
  src/core/CMakeLists.txt
  src/core/analysis/CMakeLists.txt
  src/core/analysis/statistics.cpp
  src/core/analysis/statistics.hpp
  src/core/analysis/statistics_chain.cpp
  src/core/analysis/statistics_chain.hpp
  src/core/dpd.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  src/python/espressomd/polymer.pxd
  src/python/espressomd/polymer.pyx
  src/python/espressomd/system.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/analysis/Analysis.hpp
  src/script_interface/analysis/CMakeLists.txt
  src/script_interface/analysis/initialize.cpp
  src/script_interface/analysis/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/analyze_chains.py
  testsuite/python/analyze_distribution.py
  testsuite/python/analyze_mass_related.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite System module
  src/core/EspressoSystemStandAlone.cpp
  src/core/event.cpp
  src/core/grid.cpp
  src/core/grid.hpp
  src/core/integrate.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/rotate_system.cpp
  src/python/espressomd/system.pxd
  src/python/espressomd/system.py
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/system/CMakeLists.txt
  src/script_interface/system/Globals.cpp
  src/script_interface/system/Globals.hpp
  src/script_interface/system/System.cpp
  src/script_interface/system/System.hpp
  src/script_interface/system/initialize.cpp
  src/script_interface/system/initialize.hpp
  testsuite/python/box_geometry.py
  testsuite/python/coulomb_interface.py
  testsuite/python/rescale.py
  testsuite/python/save_checkpoint.py
  testsuite/python/stokesian_thermostat.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite ObservableStat
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.py
  src/python/espressomd/interactions.pxd
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/script_interface/analysis/CMakeLists.txt
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/analysis/ObservableStat.hpp
  src/script_interface/analysis/initialize.cpp
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite Galilei module
  src/core/CMakeLists.txt
  src/core/galilei.cpp
  src/core/galilei/CMakeLists.txt
  src/core/galilei/Galilei.cpp
  src/core/galilei/Galilei.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/galilei.pxd
  src/python/espressomd/galilei.py
  src/python/espressomd/galilei.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/galilei/CMakeLists.txt
  src/script_interface/galilei/Galilei.hpp
  src/script_interface/galilei/initialize.cpp
  src/script_interface/galilei/initialize.hpp
  src/script_interface/initialize.cpp
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite CellSystem module
  src/core/cell_system/CellStructure.hpp
  src/python/espressomd/tuning.pxd
  src/script_interface/cell_system/CMakeLists.txt
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/cell_system/CellSystem.hpp
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite ComFixed module
  src/core/CMakeLists.txt
  src/core/comfixed_global.cpp
  src/core/comfixed_global.hpp
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/galilei/ComFixed.hpp
  src/python/espressomd/comfixed.py
  src/script_interface/galilei/ComFixed.hpp
  src/script_interface/galilei/initialize.cpp
  src/script_interface/initialize.cpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

script_interface: Move CTP to math submodule
  src/python/espressomd/math.py
  src/script_interface/CMakeLists.txt
  src/script_interface/initialize.cpp
  src/script_interface/math/CMakeLists.txt
  src/script_interface/math/CylindricalTransformationParameters.hpp
  src/script_interface/math/initialize.cpp
  src/script_interface/math/initialize.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/shapes/HollowConicalFrustum.hpp
Due: clang-format, autopep8, cmake-format

tests: Fix integral size on 32bit archs
  src/utils/tests/integral_parameter_test.cpp
Due: clang-format

core: Remove unused function
  src/scafacos/src/Scafacos.cpp
Due: clang-format

core: Rewrite ghost serialization code
  src/core/Particle.hpp
  src/core/ghosts.cpp
Due: clang-format

core: Simplify Particle observables
  src/core/observables/ParticleAngularVelocities.hpp
  src/core/observables/ParticleBodyAngularVelocities.hpp
  src/core/observables/ParticleBodyVelocities.hpp
  src/core/observables/ParticleDistances.hpp
  src/core/observables/ParticleForces.hpp
  src/core/observables/ParticlePositions.hpp
  src/core/observables/ParticleTraits.hpp
  src/core/observables/ParticleVelocities.hpp
  src/particle_observables/include/particle_observables/observable.hpp
  src/particle_observables/include/particle_observables/properties.hpp
Due: clang-format

script_interface: Rewrite ParticleHandle
  maintainer/benchmarks/lj.py
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/particle_node.cpp
  src/python/espressomd/grid.pxd
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/visualization.py
  src/script_interface/CMakeLists.txt
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/initialize.cpp
  src/script_interface/particle_data/CMakeLists.txt
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/initialize.cpp
  src/script_interface/particle_data/initialize.hpp
  testsuite/python/engine_lb.py
  testsuite/python/mdanalysis.py
  testsuite/python/particle.py
  testsuite/python/particle_slice.py
  testsuite/python/polymer_diamond.py
  testsuite/python/rotational_dynamics.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite ParticleList
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/script_interface/particle_data/CMakeLists.txt
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleList.hpp
  testsuite/python/particle.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite ParticleSlice
  src/python/espressomd/cluster_analysis.py
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.py
  src/script_interface/particle_data/CMakeLists.txt
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  testsuite/python/particle.py
  testsuite/python/particle_slice.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite Polymer module
  src/core/polymer.cpp
  src/python/espressomd/polymer.pxd
  src/python/espressomd/polymer.py
  src/script_interface/particle_data/CMakeLists.txt
  src/script_interface/particle_data/Polymer.cpp
  src/script_interface/particle_data/Polymer.hpp
  testsuite/python/particle.py
  testsuite/python/polymer_linear.py
Due: clang-format, autopep8, cmake-format

doc: Fix Sphinx regressions in generated methods
  src/python/espressomd/analyze.py
  src/python/espressomd/galilei.py
  src/python/espressomd/interactions.pyx
  src/python/espressomd/particle_data.py
  src/python/espressomd/reaction_methods.py
  src/python/espressomd/system.py
Due: autopep8

CMake: Fix broken test target for label parallel_odd
  testsuite/python/CMakeLists.txt
Due: cmake-format

tests: Unit test P3M/DP3M against simple lattices
  doc/bibliography.bib
  doc/sphinx/appendix.rst
  testsuite/python/CMakeLists.txt
  testsuite/python/p3m_madelung.py
Due: autopep8, cmake-format

maintainer: walberla_kernels: extracted generation statics
  maintainer/walberla_kernels/generate_lb_kernels.py
  maintainer/walberla_kernels/pystencils_espresso.py
Due: autopep8

maintainer: walberla_kernels: added dirty EK generation scripts
  maintainer/walberla_kernels/Boundary.tmpl.h
  maintainer/walberla_kernels/codegen.py
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/ekin.py
Due: autopep8
