Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

formmating corrected
  src/core/reaction_ensemble.cpp
Due: clang-format

tests: Check on 2 MPI ranks
  src/walberla_bridge/tests/CMakeLists.txt
Due: cmake-format

tests: Simplify expressions
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

tests: Check B-spline interpolation
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
Due: clang-format, cmake-format

better tests for HCF
  testsuite/python/constraint_shape_based.py
Due: autopep8

more comments and easier calculation for HCF
  src/shapes/src/HollowConicalFrustum.cpp
Due: clang-format

simplify HCF further, unite gap/non-gap calculation
  src/shapes/src/HollowConicalFrustum.cpp
Due: clang-format

ekin external force on fluid
  doc/sphinx/advanced_methods.rst
  src/core/grid_based_algorithms/electrokinetics.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/python/espressomd/electrokinetics.pxd
  src/python/espressomd/electrokinetics.pyx
  testsuite/python/lb_poiseuille.py
Due: clang-format, autopep8

tests: Add testcase for structure factor
  testsuite/python/CMakeLists.txt
  testsuite/python/sf_simple_lattice.py
Due: autopep8, cmake-format

tests: Test multiple tetragonal lattices
  testsuite/python/sf_simple_lattice.py
Due: autopep8

Walberla: Test coupling of two particles close to each other
  src/core/rotation.cpp
  src/python/espressomd/integrate.pxd
  testsuite/python/lb.py
  testsuite/python/rotational_dynamics.py
Due: clang-format, autopep8

core: Refactor structure factor code
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
  testsuite/python/sf_simple_lattice.py
Due: clang-format, autopep8

core: Combine the two Structure Factor functions
  src/core/statistics.cpp
  src/core/statistics.hpp
  src/python/espressomd/analyze.pxd
  src/python/espressomd/analyze.pyx
Due: clang-format, autopep8

observables: make ids of ID based observable readonly.
  src/core/observables/PidObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/PidObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_profile.py
  testsuite/python/observables.py
Due: clang-format, autopep8

introduce symmetric proposal probability
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/utils.cpp
  src/core/reaction_methods/utils.hpp
Due: clang-format

core: Avoid redundant hash table lookups in particle type map
  src/core/particle_data.cpp
Due: clang-format

core: Clear type map on initialization
  src/core/particle_data.cpp
Due: clang-format

Apply suggestions from code review
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  testsuite/python/lb_poiseuille.py
Due: clang-format, autopep8

Remove code duplications in test of non-bonded interactions.
  testsuite/python/interactions_non-bonded.py
Due: autopep8

Make the particle id less prominent in the new test function.
  testsuite/python/interactions_non-bonded.py
Due: autopep8

Revert accidental change
  src/core/rotation.cpp
  src/python/espressomd/integrate.pxd
Due: clang-format, autopep8

Revert more unintended changes
  testsuite/python/rotational_dynamics.py
Due: autopep8

tests: Remove code duplication
  testsuite/python/constraint_shape_based.py
  testsuite/python/interactions_non-bonded.py
  testsuite/python/tests_common.py
Due: autopep8

tests: Make SF test independent of parameters
  testsuite/python/sf_simple_lattice.py
Due: autopep8

adapt cpH unittest for symmetric acceptance probability
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
Due: clang-format

apply formating
  src/core/reaction_methods/tests/ConstantpHEnsemble_test.cpp
Due: clang-format

observables: make observables immutable.
  .gitignore
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/RDF.hpp
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
  testsuite/python/rdf.py
Due: clang-format, autopep8

observables: make data members private.
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfile.hpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/core/observables/DensityProfile.hpp
  src/core/observables/FluxDensityProfile.hpp
  src/core/observables/ForceDensityProfile.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/LBVelocityProfile.cpp
  src/core/observables/LBVelocityProfile.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
Due: clang-format

tests: Check all methods of LB RNG
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Let ESPResSo handle MPI initialization
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

core: Remove duplicated prototype
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/walberla_bridge/lb_walberla_init.hpp
Due: clang-format

Update Walberal version and generated kernels
  CMakeLists.txt
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
Due: clang-format, cmake-format

tests: Fix merge regression
  src/core/unit_tests/CMakeLists.txt
Due: cmake-format

core: Use aggregate initialization
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/debye_hueckel.cpp
  src/core/electrostatics_magnetostatics/debye_hueckel.hpp
  src/core/electrostatics_magnetostatics/reaction_field.cpp
  src/core/electrostatics_magnetostatics/reaction_field.hpp
Due: clang-format

core: Refactor DH exception mechanism
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/debye_hueckel.cpp
  src/core/electrostatics_magnetostatics/debye_hueckel.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  testsuite/python/electrostaticInteractions.py
Due: clang-format, autopep8

core: Simplify RF force/energy kernels
  src/core/electrostatics_magnetostatics/reaction_field.hpp
Due: clang-format

core: Refactor RF exception mechanism
  src/core/electrostatics_magnetostatics/reaction_field.cpp
  src/core/electrostatics_magnetostatics/reaction_field.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  testsuite/python/electrostaticInteractions.py
Due: clang-format, autopep8

docs: Document DH and RF methods
  doc/doxygen/bibliography.bib
  doc/sphinx/electrostatics.rst
  doc/sphinx/zrefs.bib
  src/core/electrostatics_magnetostatics/debye_hueckel.hpp
  src/core/electrostatics_magnetostatics/reaction_field.hpp
  src/python/espressomd/electrostatics.pyx
Due: clang-format, autopep8

Add new contributors
  AUTHORS
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
