Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

script_interface: pack/unpack
  src/script_interface/pack.hpp
Due: clang-format

utils: Made ObejctId std hashable
  src/utils/include/utils/AutoObjectId.hpp
Due: clang-format

script_interface: Removed old remote handle stuff
  src/core/MpiCallbacks.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/ScriptInterface_test.cpp
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/RemoteObjectHandle.hpp
  src/script_interface/initialize.cpp
Due: clang-format, cmake-format

script_interface: Privatize parameter setters
  src/core/unit_tests/ParallelScriptInterface_test.cpp
  src/core/unit_tests/ScriptInterface_test.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/ParallelScriptInterfaceSlave.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/constraints/ExternalField.hpp
  src/script_interface/constraints/ExternalPotential.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/observables/RDF.hpp
Due: clang-format

script_interface: Formatting
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ScriptInterface.hpp
Due: clang-format

script_interface: recursive_visitor for void
  src/core/MpiCallbacks.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/Serializer.hpp
  src/script_interface/Variant.hpp
Due: clang-format

script_interface: ScriptObjectRegistry -> ObjectList, cleanup
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/lbboundaries/LBBoundaries.hpp
  src/script_interface/shapes/Union.hpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/ObjectHandle.cpp
  src/script_interface/accumulators/Correlator.hpp
Due: clang-format

script_interface: Fixed cython regressions
  src/python/espressomd/script_interface.pyx
Due: autopep8

script_interface: Devirtualize ObjectHandle::get_parameters
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/utils/include/utils/Factory.hpp
Due: clang-format

script_interface: Removed rest of variant CallbackAction
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
Due: clang-format

ParallelScriptInterfaceSlave -> RemoteObjectHandle
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/RemoteObjectHandle.hpp
Due: clang-format

script_interface: Replaced custom packing functions
  src/script_interface/ScriptInterface.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/constraints/couplings.hpp
  src/script_interface/pack.hpp
  src/utils/include/utils/serialization/unordered_map.hpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/cluster_analysis/Cluster.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/ObjectHandle.hpp
  src/script_interface/Variant.hpp
Due: clang-format

script_interface: Reintroduce ObjectHandle::set_state
  src/script_interface/ObjectHandle.cpp
Due: clang-format

utils: De-static Utils::Factory
  src/core/unit_tests/AutoParameter_test.cpp
  src/script_interface/ScriptInterface.hpp
  src/script_interface/ScriptInterfaceBase.cpp
  src/script_interface/auto_parameters/AutoParameter.hpp
  src/utils/include/utils/Factory.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

script_interface: Merge ::NEW and ::CONSTRUCT callbacks
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/RemoteObjectHandle.hpp
Due: clang-format

script_interface: Made ObjectHandle::do_call_method private.
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/RemoteObjectHandle.hpp
Due: clang-format

script_interface: Added ObjectRef to Variant
  src/script_interface/ObjectHandle.cpp
  src/script_interface/Variant.hpp
Due: clang-format

script_interface: Defer creation of remote objects until they are needed.
  src/script_interface/ParallelScriptInterface.cpp
Due: clang-format

script_interface: Reintroduce serialization
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/PackedVariant.hpp
  src/script_interface/Serializer.hpp
Due: clang-format

script_interface: Removed unused function.
  src/script_interface/ObjectHandle.hpp
Due: clang-format

script_interface: Make it work again (mostly)
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/shapes/Union.hpp
Due: clang-format, autopep8

utils: Removed unused function
  src/utils/include/utils/type_id.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/type_id_test.cpp
Due: clang-format, cmake-format

script_interface: Map remote objects by reference
  src/script_interface/ParallelScriptInterfaceSlave.hpp
  src/script_interface/Variant.hpp
Due: clang-format

script_interface: Do proper two-stage construction for ObjectHandle
  src/core/unit_tests/ParallelScriptInterface_test.cpp
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/RemoteObjectHandle.hpp
  src/script_interface/get_value.hpp
Due: clang-format, autopep8

Formatting
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
Due: clang-format

utils: Moved pack/unpack to Utils + test
  src/utils/include/utils/serialization/pack.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/pack_test.cpp
Due: clang-format, cmake-format

utils: type_id + test
  src/utils/include/utils/type_id.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/type_id_test.cpp
Due: clang-format, cmake-format

script_interface: Fixed build
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
Due: clang-format

script_interface: Put global state into namespace
  src/core/MpiCallbacks.hpp
  src/script_interface/CMakeLists.txt
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
Due: clang-format, cmake-format

script_interface: Removed unit test for removed class
  src/core/unit_tests/ParallelScriptInterface_test.cpp
Due: clang-format

python: Shuffel things around
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
Due: clang-format, autopep8

script_interface: Introduced node local context
  src/script_interface/GlobalContext.cpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ObjectManager.cpp
Due: clang-format

script_interface: Moved ObjectManager global to initialize
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
  src/script_interface/ScriptInterface.hpp
  src/script_interface/accumulators/initialize.cpp
  src/script_interface/accumulators/initialize.hpp
  src/script_interface/cluster_analysis/initialize.cpp
  src/script_interface/cluster_analysis/initialize.hpp
  src/script_interface/collision_detection/initialize.cpp
  src/script_interface/collision_detection/initialize.hpp
  src/script_interface/constraints/initialize.cpp
  src/script_interface/constraints/initialize.hpp
  src/script_interface/h5md/initialize.cpp
  src/script_interface/h5md/initialize.hpp
  src/script_interface/initialize.cpp
  src/script_interface/lbboundaries/initialize.cpp
  src/script_interface/lbboundaries/initialize.hpp
  src/script_interface/mpiio/initialize.cpp
  src/script_interface/mpiio/initialize.hpp
  src/script_interface/observables/initialize.cpp
  src/script_interface/observables/initialize.hpp
  src/script_interface/pair_criteria/initialize.cpp
  src/script_interface/pair_criteria/initialize.hpp
  src/script_interface/shapes/initialize.cpp
  src/script_interface/shapes/initialize.hpp
  src/script_interface/virtual_sites/initialize.cpp
  src/script_interface/virtual_sites/initialize.hpp
Due: clang-format

script_interface: Moved object creation + serialization to ObjectManager
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/initialize.cpp
Due: clang-format, autopep8

script_interface: Moved policy check to manager
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectManager.cpp
Due: clang-format

script_interface: const correctness
  src/script_interface/ObjectManager.cpp
  src/script_interface/ObjectManager.hpp
Due: clang-format

script_interface: Removed debug prints
  src/python/espressomd/script_interface.pyx
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
