Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

walberla: Cleanup and modernize code
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Replace UBB by Dynamic UBB
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/UBB.h
Due: clang-format

core: Simplify LB checkpointing code
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

walberla: Fix memory leak
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB.h
Due: clang-format

walberla: Type safety
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

walberla: Remove unused code
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Testing: fix IBMVolCons test
  testsuite/python/ibm.py
Due: autopep8

tests: Re-enable a few sample tests
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_profile.py
Due: autopep8, cmake-format

utils: Product of vector elements
  src/utils/include/utils/Vector.hpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

utils: Custom Array formatter
  src/utils/include/utils/Array.hpp
  src/utils/tests/Array_test.cpp
Due: clang-format

core: Simplify code
  src/core/BoxGeometry.hpp
  src/core/DomainDecomposition.cpp
  src/core/electrostatics_magnetostatics/fft.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

core: Refactor VTK output functions
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

tests: Reduce code complexity
  src/walberla_bridge/tests/LBWalberlaImpl_bspline_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

tests: Add support for GCC 8.4.0 (GCC 9.3.0 can deduce the type)
  src/utils/include/utils/Array.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

installation instructions on windows
  doc/sphinx/installation.rst
Due: none

walberla: Use custom exceptions
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Check exception mechanism
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

tests: Cleanup
  testsuite/python/lb.py
Due: autopep8

tests: Fix regressions
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format

Clang-Tidy
  src/core/grid_based_algorithms/lb_interface.cpp
  src/utils/include/utils/Array.hpp
Due: clang-format

docs: Cleanup BibTeX file
  doc/doxygen/bibliography.bib
  doc/sphinx/zrefs.bib
Due: none

docs: Update user guide
  doc/sphinx/Readme.rst
  doc/sphinx/advanced_methods.rst
  doc/sphinx/conf.py.in
  doc/sphinx/contributing.rst
  doc/sphinx/installation.rst
  doc/sphinx/lb.rst
  doc/tutorials/active_matter/active_matter.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  src/python/espressomd/reaction_ensemble.pyx
Due: autopep8

docs: Restructure Sphinx navigation bar
  doc/sphinx/CMakeLists.txt
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst
  doc/sphinx/ug.rst
Due: cmake-format

walberla: Separation of concerns
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

shapes.is_inside sign change
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lbboundaries/LBBoundary.cpp
  src/shapes/include/shapes/Shape.hpp
Due: clang-format

implement get_nodes_in_shape in core
  src/core/grid_based_algorithms/lb_boundaries.cpp
Due: clang-format

template of the script that we will adopt to set up the MC benchmark
  maintainer/benchmarks/MC-acid-base-reservoir.py
Due: autopep8

expose walberla functions
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
Due: clang-format, autopep8

implement VelocityBounceBack class in python
  src/python/espressomd/lbboundaries.py
Due: autopep8

boundary property
  src/python/espressomd/lb.pyx
  src/python/espressomd/lbboundaries.py
Due: autopep8

walberla: Fix callback
  src/walberla_bridge/BoundaryHandling.hpp
Due: clang-format

remove lb_walberla.py
  src/python/espressomd/lb_walberla.py
Due: autopep8

move node_in_shape to shape, lb properties
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/python/espressomd/lb.pyx
  src/script_interface/shapes/Shape.hpp
  src/shapes/include/shapes/Shape.hpp
Due: clang-format, autopep8

fmt
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/python/espressomd/lbboundaries.py
  src/script_interface/shapes/Shape.hpp
  src/shapes/include/shapes/Shape.hpp
Due: clang-format, autopep8

property boundary force
  src/python/espressomd/lb.pyx
Due: autopep8

'Classify' drude_helpers.
  doc/sphinx/advanced_methods.rst
  doc/sphinx/inter_non-bonded.rst
  samples/drude_bmimpf6.py
  src/python/espressomd/drude_helpers.py
  testsuite/python/drude.py
Due: autopep8

python: Cleanup DrudeHelpers documentation
  doc/sphinx/advanced_methods.rst
  samples/drude_bmimpf6.py
  src/python/espressomd/drude_helpers.py
Due: autopep8

tests: Check DrudeHelpers checkpointing
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

trying to fix passing idxs_to_check from python
  src/python/espressomd/lb.pyx
  src/python/espressomd/shapes.py
  src/script_interface/Variant.hpp
  src/script_interface/shapes/Shape.hpp
Due: clang-format, autopep8
