Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

tests: Fix merge regression
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Check factorial expression
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
  src/core/unit_tests/reaction_ensemble_utils_test.cpp
Due: clang-format

core: Make acceptance probability methods protected
  src/core/reaction_ensemble.hpp
Due: clang-format

tests: Check acceptance probability methods
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

Walberla: Further test restructuring
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format, cmake-format

core: Fix -Wfloat-conversion
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

CMake: Move comment to the right place
  CMakeLists.txt
Due: cmake-format

CMake: Formatting
  CMakeLists.txt
Due: cmake-format

tests: Simplify test
  testsuite/python/lb.py
Due: autopep8

tests: Add feature guards
  testsuite/python/save_checkpoint.py
  testsuite/python/scafacos_interface.py
  testsuite/python/test_checkpoint.py
Due: autopep8

tests: Remove ScaFaCoS P3M checks
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/scafacos_interface.py
Due: autopep8

tests: Make electrophoresis test deterministic
  testsuite/scripts/tutorials/test_raspberry_electrophoresis.py
Due: autopep8

core: icc: function renames, cleanup
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/core/forces.cpp
  src/python/espressomd/electrostatic_extensions.pxd
  src/python/espressomd/electrostatic_extensions.pyx
Due: clang-format, autopep8

python: icc: typecheck order, n_icc, default params
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/python/espressomd/electrostatic_extensions.pxd
  src/python/espressomd/electrostatic_extensions.pyx
Due: clang-format, autopep8

core: icc: remove redundant dielectric permittivity check
  src/core/electrostatics_magnetostatics/icc.cpp
Due: clang-format

core: icc: set_params
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/python/espressomd/electrostatic_extensions.pxd
  src/python/espressomd/electrostatic_extensions.pyx
  src/python/espressomd/utils.pxd
  src/python/espressomd/utils.pyx
Due: clang-format, autopep8

testsuite: icc: added interface testing
  testsuite/python/icc.py
Due: autopep8

tests: Use ScaFaCoS p2nfft instead of ewald
  testsuite/python/scafacos_interface.py
Due: autopep8

tests: Add ScaFaCoS method guards
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/scafacos_interface.py
Due: autopep8

core: Remove prototype without implementation
  src/core/reaction_ensemble.hpp
Due: clang-format

core: Add missing includes
  src/core/reaction_ensemble.cpp
Due: clang-format

core: Fix -Wconversion
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

tests: Check Wang-Landau CV and histogram
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

core: Improve documentation of RE classes
  doc/sphinx/advanced_methods.rst
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

test: Improve clarity of RE unit tests
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

core: Simplify RE code
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

tests: Rename Reaction Ensemble statistical tests
  testsuite/python/CMakeLists.txt
  testsuite/python/constant_pH_stats.py
  testsuite/python/wang_landau_stats.py
Due: autopep8, cmake-format

tests: Create a faster constant pH test
  testsuite/python/CMakeLists.txt
  testsuite/python/constant_pH.py
Due: autopep8, cmake-format

tests: Split Wang-Landau test
  testsuite/python/CMakeLists.txt
  testsuite/python/wang_landau.py
Due: autopep8, cmake-format

tests: Remove UB in unit test
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

core: Run NpT sanity checks at integration start
  src/core/npt.cpp
Due: clang-format

core: Remove unreachable code
  src/core/npt.cpp
  src/core/thermostat.cpp
Due: clang-format

tests: Check NpT sanity checks
  testsuite/python/integrator_npt.py
Due: autopep8

fix clang-tidy-10 not recognized
  cmake/FindClangTidy.cmake
Due: none

script_interface: Moved serialization for ObjectList from cython to C++
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectList.hpp
Due: clang-format, autopep8

script_interface: Added injectable base to ObjectList
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
Due: clang-format

script_interface: Derive Shapes::Union from ObjectList
  src/python/espressomd/shapes.py
  src/script_interface/shapes/Union.hpp
Due: clang-format, autopep8

Formatting
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectList.hpp
Due: clang-format, autopep8

script_interface: Fixed serializaton of ObjectList, separated some concerns, added some tests.
  src/script_interface/ObjectList.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/ObjectList_test.cpp
Due: clang-format, cmake-format

script_interface: Added docstrings to the new methods on ObjectList
  src/script_interface/ObjectList.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
