Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Make strategic vector operations noexcept
  src/core/BoxGeometry.hpp
  src/core/algorithm/periodic_fold.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/tests/Vector_test.cpp
Due: clang-format

Fix regressions from recent PRs
  doc/sphinx/running.rst
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/unit_tests/BoxGeometry_test.cpp
Due: clang-format

Make bookkeeping methods private
  src/python/espressomd/reaction_methods.py
  testsuite/python/reaction_methods_interface.py
  testsuite/python/reaction_trivial.py
Due: autopep8, pylint

benchmarks: discover the perflog instead of assuming local/default
  maintainer/benchmarks/plot_benchmarks.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

formatting changes to performance plot
  maintainer/benchmarks/plot_benchmarks.py
Due: autopep8, pylint

benchmarks: add a compute partition and route GPU tests to it
  maintainer/benchmarks/espresso_benchmarks.py
  maintainer/benchmarks/reframe_config.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

adapt reframe logging config
  maintainer/benchmarks/reframe_config.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

add pint to benchmark venv
  maintainer/benchmarks/espresso_benchmarks.py
Due: autopep8, pylint

remove comments
  maintainer/benchmarks/espresso_benchmarks.py
Due: autopep8, pylint

Fix packaging issues
  CMakeLists.txt
  samples/reaction_methods.py
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/python/espressomd/reaction_methods.py
  testsuite/python/code_info.py
  testsuite/python/constant_pH_stats.py
  testsuite/python/reaction_bookkeeping.py
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8, cmake-format, pylint

Fix regressions
  CMakeLists.txt
  src/python/espressomd/reaction_methods.py
Due: autopep8, cmake-format, pylint

Fedora oddity
  CMakeLists.txt
Due: cmake-format

Fedoraaaaa
  CMakeLists.txt
Due: cmake-format

Fix another regression
  testsuite/python/constant_pH_stats.py
Due: autopep8, pylint

Add pair-bond precondition in GlueToSurface (#5367)
  src/core/collision_detection/GlueToSurface.cpp
  testsuite/python/collision_detection_interface.py
Due: clang-format, autopep8, pylint

Store bonds on all participants, not just the owner (#4390)
  src/core/BondList.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonds.cpp
  src/core/bonds.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/collision_detection/GlueToSurface.cpp
  src/core/collision_detection/common.hpp
  src/core/collision_detection/utils.hpp
  src/core/io/mpiio/mpiio.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/system/System.cpp
  src/core/unit_tests/BondList_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleHandle.hpp
  src/script_interface/particle_data/ParticleSlice.cpp
Due: clang-format

Switch bonded force/energy/pressure kernels to particle-parallel gather (#5046)
  src/core/bond_energy_kokkos.hpp
  src/core/bond_forces_kokkos.hpp
  src/core/bond_pressure_kokkos.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/pressure.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format

Evaluate angle/dihedral bonds once per bond, not once per participant
  src/core/bond_forces_kokkos.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Evaluate pair bonds once per bond, not once per participant
  src/core/bond_forces_kokkos.hpp
  src/core/bonds.cpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
Due: clang-format

Resolve angle/dihedral bond_index via local scan instead of a global hash map
  src/core/cell_system/CellStructure.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Resolve each bond's partners once per loop iteration, not twice
  src/core/cell_system/CellStructure.cpp
Due: clang-format

Fix double-counted force for collision-detection hot-added bonds
  src/core/cell_system/LocalBondState.cpp
Due: clang-format

Compact per-particle bond rows to skip already-resolved slots every step
  src/core/bond_forces_kokkos.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format

Remove sources of UB
  src/core/Observable_stat.cpp
  src/core/electrostatics/scafacos_impl.cpp
  src/utils/include/utils/serialization/memcpy_archive.hpp
Due: clang-format

Use C++20 features
  src/core/MpiCallbacks.hpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/electrostatics/elc.cpp
  src/core/ghosts/HaloPlanValidator.cpp
Due: clang-format

Reduce footprint of particle_node
  src/core/cell_system/CellStructure.cpp
  src/core/cells.cpp
  src/core/observables/PairwiseDistances.hpp
  src/core/pair_criteria/PairCriterion.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/unit_tests/p3m_test.cpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleList.hpp
Due: clang-format

Code cleanup (#5421)
  src/core/MpiCallbacks.hpp
  src/core/Observable_stat.cpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cells.cpp
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/scafacos_impl.cpp
  src/core/ghosts/HaloPlanValidator.cpp
  src/core/observables/PairwiseDistances.hpp
  src/core/pair_criteria/PairCriterion.hpp
  src/core/particle_node.cpp
  src/core/particle_node.hpp
  src/core/unit_tests/p3m_test.cpp
  src/script_interface/particle_data/ParticleList.cpp
  src/script_interface/particle_data/ParticleList.hpp
  src/utils/include/utils/serialization/memcpy_archive.hpp
Due: clang-format

add required missing features to all configs
  maintainer/benchmarks/espresso_benchmarks.py
Due: autopep8, pylint

skip multi-gpu jobs for local and debug execution
  maintainer/benchmarks/espresso_benchmarks.py
Due: autopep8, pylint

Revert particle-parallel gather machinery (#5046 and follow-ups)
  src/core/bond_energy_kokkos.hpp
  src/core/bond_forces_kokkos.hpp
  src/core/bond_pressure_kokkos.hpp
  src/core/bonds.cpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/pressure.cpp
  src/core/short_range_cabana.hpp
  src/core/system/System.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
Due: clang-format

skip configs in debug mode
  maintainer/benchmarks/espresso_benchmarks.py
Due: autopep8, pylint

update cmake version
  maintainer/benchmarks/reframe_config.py
Due: autopep8, pylint

automatic log dir generation
  maintainer/benchmarks/plot_benchmarks.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

Cache primary bond counts on BondList to skip mirror-entry decoding in set_index_map
  src/core/BondList.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/unit_tests/BondList_test.cpp
  src/core/unit_tests/CMakeLists.txt
Due: clang-format, cmake-format

Fix bond-mirror consistency gaps in collision-detection bonds and particle-slice bond removal
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  testsuite/python/collision_detection.py
Due: clang-format, autopep8, pylint

Fixed style
  src/core/BondList.hpp
  src/core/unit_tests/BondList_test.cpp
Due: clang-format

Skip searching a doomed particle's own bond list in remove_particle
  src/core/bonds.cpp
  src/core/bonds.hpp
  src/core/cell_system/CellStructure.cpp
Due: clang-format

Add missing bonds_test.cpp unit test file
  src/core/unit_tests/bonds_test.cpp
Due: clang-format

Fix unresolvable Doxygen refs to private BondList members
  src/core/BondList.hpp
Due: clang-format

Bind BondList range-for loop variables by value, not reference
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonds.cpp
  src/core/cell_system/CellStructure.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
Due: clang-format
