Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,E402,E701,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

pylint:
  name: pylint
  entry: sh maintainer/lint/pylint.sh
  language: system
  always_run: false
  args:
  - --score=no
  - --reports=no
  - --output-format=text
  log_file: pylint.log

Encapsulate comfixed
  src/core/forces.cpp
  src/core/forces.hpp
  src/core/galilei/ComFixed.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/script_interface/galilei/ComFixed.hpp
Due: clang-format

Encapsulate galilei
  src/core/galilei/Galilei.cpp
  src/core/galilei/Galilei.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/script_interface/galilei/Galilei.hpp
Due: clang-format

OIF: Repair OifCell.elastic_forces() feature
  src/python/object_in_fluid/oif_classes.py
Due: autopep8, pylint

tests: Add OIF smoke test
  testsuite/python/oif_volume_conservation.py
Due: autopep8, pylint

Refactor analysis methods
  src/core/CMakeLists.txt
  src/core/PartCfg.cpp
  src/core/PartCfg.hpp
  src/core/analysis/statistics.cpp
  src/core/analysis/statistics.hpp
  src/core/analysis/statistics_chain.cpp
  src/core/analysis/statistics_chain.hpp
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/galilei/Galilei.hpp
  src/core/partCfg_global.cpp
  src/core/partCfg_global.hpp
  src/core/particle_node.cpp
  src/core/polymer.cpp
  src/core/polymer.hpp
  src/core/system/System.cpp
  src/core/tuning.cpp
  src/core/tuning.hpp
  src/python/espressomd/polymer.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/particle_data/Polymer.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/analyze_chains.py
  testsuite/python/analyze_distance.py
  testsuite/python/analyze_energy.py
  testsuite/python/analyze_gyration_tensor.py
Due: clang-format, autopep8, cmake-format, pylint

Refactor ScriptInterface
  src/core/analysis/statistics.cpp
  src/core/analysis/statistics.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/analyze.py
  src/python/espressomd/system.py
  src/script_interface/ObjectContainer.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ObjectList.hpp
  src/script_interface/ObjectMap.hpp
  src/script_interface/ObjectState.hpp
  src/script_interface/Variant.hpp
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/analysis/Analysis.hpp
  src/script_interface/analysis/ObservableStat.cpp
  src/script_interface/analysis/ObservableStat.hpp
  src/script_interface/analysis/initialize.cpp
  src/script_interface/analysis/initialize.hpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/galilei/ComFixed.hpp
  src/script_interface/galilei/Galilei.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
  src/script_interface/system/Leaf.hpp
  src/script_interface/system/System.cpp
  src/script_interface/system/System.hpp
  testsuite/python/analyze_chains.py
  testsuite/python/analyze_mass_related.py
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dds-and-bh-gpu.py
  testsuite/python/galilei.py
  testsuite/python/rescale.py
  testsuite/python/sigint.py
Due: clang-format, autopep8, pylint

Encapsulate bond_breakage
  src/core/bond_breakage/actions.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bond_breakage/bond_breakage.hpp
  src/core/forces.cpp
  src/core/forces_inline.hpp
  src/core/integrate.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/python/espressomd/system.py
  src/script_interface/ObjectMap.hpp
  src/script_interface/bond_breakage/BreakageSpecs.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/system/System.cpp
  src/script_interface/tests/ObjectMap_test.cpp
Due: clang-format, autopep8, pylint

core: Implement ParticlePropertyRange iterator
  src/core/ParticlePropertyIterator.hpp
  src/core/electrostatics/p3m.cpp
Due: clang-format

Encapsulate cell_system
  src/core/cell_system/CellStructure.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/collision.cpp
  src/core/energy.cpp
  src/core/integrate.cpp
  src/core/rattle.cpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  src/python/espressomd/system.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/cell_system/CellSystem.cpp
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/cell_system/initialize.hpp
  src/script_interface/system/System.cpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8, pylint

Encapsulate integrator
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/system/System.hpp
  src/core/tuning.cpp
  src/core/tuning.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/core/unit_tests/Verlet_list_test.cpp
  src/python/espressomd/system.py
  src/script_interface/integrators/BrownianDynamics.cpp
  src/script_interface/integrators/BrownianDynamics.hpp
  src/script_interface/integrators/Integrator.cpp
  src/script_interface/integrators/Integrator.hpp
  src/script_interface/integrators/IntegratorHandle.cpp
  src/script_interface/integrators/IntegratorHandle.hpp
  src/script_interface/integrators/SteepestDescent.cpp
  src/script_interface/integrators/SteepestDescent.hpp
  src/script_interface/integrators/StokesianDynamics.cpp
  src/script_interface/integrators/StokesianDynamics.hpp
  src/script_interface/integrators/VelocityVerlet.cpp
  src/script_interface/integrators/VelocityVerlet.hpp
  src/script_interface/integrators/VelocityVerletIsoNPT.cpp
  src/script_interface/integrators/VelocityVerletIsoNPT.hpp
  src/script_interface/integrators/initialize.hpp
  src/script_interface/system/System.cpp
Due: clang-format, autopep8, pylint

Allow Langevin +LB
  src/core/cluster_analysis/ClusterStructure.cpp
  src/core/event.cpp
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8, pylint

Document Dask scheduler
  doc/bibliography.bib
  doc/sphinx/samples.py
  samples/high_throughput_with_dask/Readme.md
  samples/high_throughput_with_dask/dask_espresso.py
  samples/high_throughput_with_dask/dump_test_output.py
  samples/high_throughput_with_dask/lj_pressure.py
  samples/high_throughput_with_dask/run_pv.py
  samples/high_throughput_with_dask/test_dask_espresso.py
  samples/high_throughput_with_dask/test_dask_esprseso.py
Due: autopep8, pylint

Add tutorial on GCMC
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/grand_canonical_monte_carlo/CMakeLists.txt
  doc/tutorials/grand_canonical_monte_carlo/NotesForTutor.md
  doc/tutorials/grand_canonical_monte_carlo/figures/schematic.svg
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_grand_canonical_monte_carlo.py
Due: autopep8, cmake-format, pylint

Modify GCMC tutorial
  doc/tutorials/grand_canonical_monte_carlo/CMakeLists.txt
  doc/tutorials/grand_canonical_monte_carlo/NotesForTutor.md
  doc/tutorials/grand_canonical_monte_carlo/grand_canonical_monte_carlo.ipynb
  testsuite/scripts/tutorials/test_grand_canonical_monte_carlo.py
Due: autopep8, cmake-format, pylint

progress
  maintainer/CI/doc_warnings.sh
  maintainer/benchmarks/lb.py
  samples/lbf.py
  samples/lj_liquid.py
  samples/p3m.py
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cu
  src/walberla_bridge/src/lattice_boltzmann/generated_kernels/FieldAccessorsSinglePrecisionCUDA.cuh
  testsuite/python/lb_stats.py
Due: clang-format, autopep8, pylint

Remove P3M global state
  src/core/integrate.cpp
  src/core/p3m/common.cpp
  src/core/p3m/common.hpp
  src/core/p3m/fft.cpp
  src/core/p3m/interpolation.hpp
Due: clang-format

Document design patterns
  doc/doxygen/Doxyfile.in
  src/core/system/Leaf.hpp
  src/core/system/System.dox
  src/core/system/System.hpp
  src/script_interface/system/Leaf.hpp
  src/script_interface/system/System.cpp
  src/script_interface/system/System.hpp
Due: clang-format

core: Make CellStructure methods const
  src/core/ParticleIterator.hpp
  src/core/ParticleRange.hpp
  src/core/analysis/statistics.cpp
  src/core/cell_system/AtomDecomposition.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/ParticleDecomposition.hpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/scafacos_impl.cpp
  src/core/integrate.cpp
  src/core/magnetostatics/scafacos_impl.cpp
  src/core/polymer.cpp
  src/core/rattle.cpp
  src/core/scafacos/ScafacosContext.cpp
  src/core/system/GpuParticleData.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
Due: clang-format

LB: Fix rounding error in particle coupling
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Add script interface of VS center of mass and compile
  src/config/features.def
  src/core/virtual_sites/CMakeLists.txt
  src/core/virtual_sites/VirtualSitesCenterOfMass.cpp
  src/core/virtual_sites/VirtualSitesCenterOfMass.hpp
  src/python/espressomd/virtual_sites.py
  src/script_interface/virtual_sites/VirtualSitesCenterOfMass.hpp
  src/script_interface/virtual_sites/initialize.cpp
Due: clang-format, autopep8, cmake-format, pylint

Comment
  src/core/collision.cpp
Due: clang-format

Removed the bind_three_particles collision method
  doc/sphinx/advanced_methods.rst
  src/core/collision.cpp
  src/core/collision.hpp
  src/python/espressomd/collision_detection.py
  src/script_interface/collision_detection/CollisionDetection.hpp
  testsuite/python/collision_detection.py
  testsuite/python/collision_detection_interface.py
Due: clang-format, autopep8, pylint

Removed }
  src/core/collision.cpp
Due: clang-format

Removed weird characters
  src/python/espressomd/collision_detection.py
Due: autopep8, pylint

Improve steepest descent and enable CI
  doc/tutorials/electrodes/electrodes_part2.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

Start of splitting Collision-parameters
  src/core/collision.cpp
  src/core/collision.hpp
Due: clang-format

Splitted Collision parameters into structs
  src/core/collision.cpp
  src/core/collision.hpp
Due: clang-format

Limit Grahame test to 1 point
  testsuite/scripts/tutorials/test_electrodes_2.py
Due: autopep8, pylint

revert RNG seed
  doc/tutorials/electrodes/electrodes_part2.ipynb
Due: none

Removed the variant
  src/core/collision.cpp
  src/core/collision.hpp
Due: clang-format

Add instantiation of VS center of mass with dictionary
  src/core/virtual_sites/VirtualSitesCenterOfMass.hpp
  src/script_interface/virtual_sites/VirtualSitesCenterOfMass.hpp
Due: clang-format

Add virtual_sites() override
  src/core/virtual_sites/VirtualSitesCenterOfMass.hpp
  src/script_interface/virtual_sites/VirtualSitesCenterOfMass.hpp
Due: clang-format

LB+particles: guard against missed coupling due to round-off error
  src/core/lb/particle_coupling.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8, pylint

add cutoff by type
  src/core/collision.cpp
  src/core/collision.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/python/espressomd/system.py
  src/script_interface/system/System.cpp
  testsuite/python/cutoffs.py
  testsuite/python/regular_decomposition.py
Due: clang-format, autopep8, pylint

Bump Sphinx version requirements
  doc/sphinx/conf.py.in
  requirements.txt
Due: pylint

Formatting
  src/core/lb/particle_coupling.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8, pylint

Simplify installation instructions
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  requirements.txt
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|h|cu|cuh) and not (^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)) and not (libs)
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in|^libs/) and not (libs)
  cmake-format: any of: CMakeLists.txt and not (^libs/h5xx/|^libs/Random123-1\.09/) and not (libs)
  pylint: any of: .*\.py, but not: libs
