Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Remove unused function
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
Due: clang-format

docstring
  src/core/CellStructure.hpp
Due: clang-format

Formatting
  src/core/CellStructure.cpp
  src/core/DomainDecomposition.cpp
  src/python/espressomd/cellsystem.pxd
Due: clang-format, autopep8

correlators: Document FCS weight parameter
  src/python/espressomd/accumulators.py
Due: autopep8

cleanup
  src/core/CellStructure.cpp
  src/core/DomainDecomposition.cpp
  src/core/ParticleDecomposition.hpp
Due: clang-format

correlators: Test FCS weight parameter
  testsuite/python/correlation.py
Due: autopep8

scafacos: Update Cython class
  src/python/espressomd/scafacos.pyx
Due: autopep8

scafacos: Fix bytestring bug
  src/python/espressomd/scafacos.pyx
Due: autopep8

scafacos: Remove unused function
  src/core/electrostatics_magnetostatics/scafacos.cpp
Due: clang-format

scafacos: Test scafacos tuning and interface
  testsuite/python/coulomb_cloud_wall.py
Due: autopep8

testsuite: Simplify assertions
  testsuite/python/analyze_chains.py
  testsuite/python/dpd.py
  testsuite/python/field_test.py
  testsuite/python/galilei.py
  testsuite/python/lb_electrohydrodynamics.py
  testsuite/python/lb_poiseuille.py
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/pressure.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/scafacos_dipoles_1d_2d.py
  testsuite/python/test_checkpoint.py
  testsuite/python/widom_insertion.py
Due: autopep8

testsuite: Add missing np.copy()
  testsuite/python/correlation.py
Due: autopep8

core: Remove unused function
  src/core/statistics.cpp
Due: clang-format

Invitation summer school 2020
  Readme.md
Due: none

Apply suggestions from code review
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
  src/core/cells.hpp
Due: clang-format

SD: Test CPU version on multiple OSse
  .gitlab-ci.yml
Due: none

SD: Integrate SD docs into the integrator and thermostat pages
  doc/sphinx/CMakeLists.txt
  doc/sphinx/running.rst
  doc/sphinx/sd.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/ug.rst
Due: cmake-format

missing copyright header
  src/core/ParticleDecomposition.hpp
Due: clang-format

fixed merge regression
  src/core/BoxGeometry.hpp
  src/core/grid.hpp
Due: clang-format

Update src/core/DomainDecomposition.hpp
  src/core/DomainDecomposition.hpp
Due: clang-format

py: faster tests
  testsuite/python/brownian_dynamics.py
  testsuite/python/correlation.py
  testsuite/python/dpd.py
  testsuite/python/integrator_npt.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/thermalized_bond.py
Due: autopep8

Tests: optimize correlator.py
  testsuite/python/correlation.py
Due: autopep8

SD: Improve sample
  samples/dancing.py
Due: autopep8

SD: Accelerate tests
  testsuite/python/CMakeLists.txt
  testsuite/python/stokesian_dynamics.py
  testsuite/python/stokesian_dynamics_cpu.py
  testsuite/python/stokesian_dynamics_gpu.py
Due: autopep8, cmake-format

SD: Test sample
  samples/dancing.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_dancing.py
Due: autopep8, cmake-format

SD: Style fix
  testsuite/python/stokesian_dynamics.py
Due: autopep8

Formatting
  src/config/features.def
Due: none

SD: Mark GPU implementation as experimental
  .gitlab-ci.yml
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  src/config/features.def
Due: none

Fix build system
  maintainer/CI/build_cmake.sh
Due: none

SD: Rename integrator and thermostat
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  samples/dancing.py
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pyx
  testsuite/python/save_checkpoint.py
  testsuite/python/stokesian_dynamics.py
Due: autopep8

SD: Starting with the new implementation
  CMakeLists.txt
  cmake/cmake_config.cmakein
  libs/CMakeLists.txt
  maintainer/configs/maxset.hpp
  samples/dancing.py
  src/config/features.def
  src/config/gen_featureconfig.py
  src/core/CMakeLists.txt
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/stokesian_dynamics/CMakeLists.txt
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/core/thermostat.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/data/dancing.txt
  testsuite/python/stokesian_dynamics.py
Due: clang-format, autopep8, cmake-format

SD: Thermalization, communication, thrust wrapper
  .gitlab-ci.yml
  CMakeLists.txt
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  libs/CMakeLists.txt
  maintainer/configs/maxset.hpp
  src/config/features.def
  src/config/gen_featureconfig.py
  src/core/CMakeLists.txt
  src/core/communication.cpp
  src/core/event.cpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/serialization/SD_particle_data.hpp
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/python/espressomd/globals.pyx
  src/python/espressomd/integrate.pyx
  testsuite/python/array_properties.py
  testsuite/python/stokesian_dynamics.py
Due: clang-format, autopep8, cmake-format

add description for VS Code setup
  doc/sphinx/figures/vs-code-settings.png
  doc/sphinx/installation.rst
Due: none

samples: Fix lb_profile sample test
  samples/lb_profile.py
  testsuite/scripts/samples/CMakeLists.txt
  testsuite/scripts/samples/test_lb_profile.py
Due: autopep8, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
