Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

core: Use same ordering for ctor arguments
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/LBProfileObservable.hpp
  src/core/observables/PidProfileObservable.hpp
  src/core/observables/ProfileObservable.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
Due: clang-format

core: Merge ProfileObservables
  src/core/observables/CylindricalProfileObservable.hpp
Due: clang-format

tests: Improve ProfileObservable tests
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/observable_profile.py
  testsuite/python/observable_profileLB.py
Due: autopep8

tests: Split Brownian/Langevin/DPD tests
  testsuite/python/CMakeLists.txt
  testsuite/python/brownian_dynamics.py
  testsuite/python/brownian_dynamics_stats.py
  testsuite/python/dpd.py
  testsuite/python/dpd_stats.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/langevin_thermostat_stats.py
Due: autopep8, cmake-format

CI: Use YAML environment variables
  .gitlab-ci.yml
Due: none

tests: Write Brownian/Langevin/DPD/NpT RNG checks
  testsuite/python/CMakeLists.txt
  testsuite/python/brownian_dynamics.py
  testsuite/python/dpd.py
  testsuite/python/langevin_thermostat.py
  testsuite/python/npt_thermostat.py
Due: autopep8, cmake-format

CI: Pin Python version in mac runners
  .github/workflows/build.yml
Due: none

docs: Document IBM forces
  doc/sphinx/advanced_methods.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/zrefs.bib
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/immersed_boundary/ibm_triel.hpp
  src/python/espressomd/interactions.pyx
Due: clang-format, autopep8

tests: Rewrite virtual sites / IBM test
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

core: Fix broken BROWNIAN_PER_PARTICLE feature
  src/core/Particle.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/thermostats/langevin_inline.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8

tests: Improve and harmonize accumulator tests
  testsuite/python/CMakeLists.txt
  testsuite/python/accumulator_correlator.py
  testsuite/python/accumulator_mean_variance.py
  testsuite/python/accumulator_time_series.py
  testsuite/python/time_series.py
Due: autopep8, cmake-format

tests: Restructure accumulator test
  testsuite/python/accumulator.py
Due: autopep8

tests: Improve Brownian/Langevin RNG checks
  testsuite/python/brownian_dynamics.py
  testsuite/python/langevin_thermostat.py
Due: autopep8

tests: Split LB test
  testsuite/python/CMakeLists.txt
  testsuite/python/lb.py
  testsuite/python/lb_stats.py
Due: autopep8, cmake-format

core: Remove unused alternative IBM implementation
  src/core/immersed_boundary/ibm_triel.cpp
Due: clang-format

core: Remove unused IBM function
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/immersed_boundary/ibm_triel.hpp
Due: clang-format

CI: Skip slow tests in coverage and sanitizer builds
  .gitlab-ci.yml
  testsuite/python/CMakeLists.txt
Due: cmake-format

core: Remove remnants of old IBM implementation
  src/core/immersed_boundary/ibm_tribend.cpp
Due: clang-format

Fix typos
  src/core/unit_tests/LbWalberla.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

core: Add copyright header
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

core: Remove Boost 1.65.1 patch
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

core: Fixup includes
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

core: Make globals constexpr
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Py: Make vtk dependency in mayavi visualizer optional
  src/python/espressomd/visualization_mayavi.pyx
Due: autopep8

CI: Remove vtk from mac build job
  .github/workflows/build.yml
Due: none

tests: Modernize Reaction Ensemble tests
  testsuite/python/constant_pH.py
  testsuite/python/p3m_electrostatic_pressure.py
  testsuite/python/reaction_ensemble.py
  testsuite/python/wang_landau_reaction_ensemble.py
  testsuite/python/widom_insertion.py
Due: autopep8

tests: Don't place particles in the ELC gap
  testsuite/python/elc.py
Due: autopep8

core: Add exception mechanism to SD
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

tests: Add Stokesian RNG checks
  testsuite/python/CMakeLists.txt
  testsuite/python/stokesian_thermostat.py
Due: autopep8, cmake-format

tests: Check integrator exception mechanism
  testsuite/python/npt_thermostat.py
  testsuite/python/stokesian_dynamics.py
  testsuite/python/stokesian_thermostat.py
Due: autopep8

tests: Check per-particle gamma/temp combinations
  testsuite/python/brownian_dynamics.py
  testsuite/python/langevin_thermostat.py
Due: autopep8

tests: Skip constant_pH in coverage/sanitizer builds
  testsuite/python/CMakeLists.txt
Due: cmake-format

core: Use std exception mechanism for SD
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/python/espressomd/integrate.pxd
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
  testsuite/python/stokesian_thermostat.py
Due: clang-format, autopep8

Walberla: Remove unused code
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
Due: clang-format

utils: Use vector operations
  src/utils/include/utils/math/vec_rotate.hpp
Due: clang-format

Walberla: split out utilities re-usable for non-lb methods
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/walberla_utils.hpp
Due: clang-format

Fix regressions
  .gitlab-ci.yml
  src/core/grid_based_algorithms/walberla_utils.hpp
Due: clang-format

core: Extract agrid and tau (Fixes #4006)
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

lb: Simplify mode relaxation
  src/core/grid_based_algorithms/lb.cpp
Due: clang-format

lb: Implement lb_get_population_from_density_momentum_density_stress by the mode transform
  src/core/grid_based_algorithms/lb.cpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
