Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

fmt
  samples/visualization_constraints.py
  src/python/espressomd/math.py
  src/python/espressomd/visualization_opengl.py
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/shapes/HollowConicalFrustum.hpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  testsuite/python/constraint_shape_based.py
  testsuite/python/es_math.py
Due: clang-format, autopep8

LB: kind of fix clang-tidy.
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

HCF unit test central angle argument
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
Due: clang-format

test file and cmake file
  testsuite/python/CMakeLists.txt
  testsuite/python/test_lb_slice.py
Due: autopep8, cmake-format

testing lb slice
  testsuite/python/CMakeLists.txt
  testsuite/python/test_lb_slice.py
Due: autopep8, cmake-format

Walberla: Remove agrid and tau from walberla bridge
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
  src/walberla_bridge/tests/LBWalberlaImpl_flow_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_statistical_tests.cpp
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/tests_common.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

structure factor testing and CMakeList edit
  testsuite/python/CMakeLists.txt
  testsuite/python/sf_simple_lattice.py
Due: autopep8, cmake-format

updated formatting for sf_simple_lattice.py
  testsuite/python/sf_simple_lattice.py
Due: autopep8

tests: Refactor data loading and RMS calculations
  testsuite/python/coulomb_cloud_wall.py
  testsuite/python/coulomb_cloud_wall_duplicated.py
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/lj.py
Due: autopep8

tests: Apply suggestions from code review
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/field_test.py
  testsuite/python/interactions_bonded.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/interactions_dihedral.py
  testsuite/python/lb_boundary.py
  testsuite/python/lb_switch.py
  testsuite/python/mmm1d.py
  testsuite/python/pair_criteria.py
  testsuite/python/rdf.py
  testsuite/python/rotation_per_particle.py
  testsuite/python/rotational_inertia.py
Due: autopep8

fix HCF in active matter tutorial
  doc/tutorials/active_matter/exercises/rectification_geometry.py
  doc/tutorials/active_matter/exercises/rectification_simulation.py
  doc/tutorials/active_matter/solutions/rectification_geometry.py
  doc/tutorials/active_matter/solutions/rectification_simulation.py
Due: autopep8

walberla: Extract particle coupling methods for testability
  src/core/grid_based_algorithms/OptionalCounter.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

core: Fix CI pipeline
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Walberla: More coupling refactoring
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

Walberla: Fix coupling regressions
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
Due: clang-format

core: rattle: function rename, docstrings
  src/core/integrate.cpp
  src/core/rattle.cpp
  src/core/rattle.hpp
Due: clang-format

core: rattle: rollout of particle property
  src/core/rattle.cpp
Due: clang-format

core: rattle: cleanup
  src/core/rattle.cpp
Due: clang-format

core: rattle: replaced while loop with for loop
  src/core/rattle.cpp
Due: clang-format

core: rattle: unified compute_correction_vector
  src/core/rattle.cpp
Due: clang-format

core: rattle: added early breakout to skip communication if converged
  src/core/rattle.cpp
Due: clang-format

Initial debianization
  debian/changelog
  debian/control
  debian/copyright
  debian/gbp.conf
  debian/rules
  debian/source/format
  debian/watch
Due: none

lib: Partial unit testing of particle coupling
  src/core/grid_based_algorithms/OptionalCounter.hpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/unit_tests/CMakeLists.txt
  src/python/espressomd/lb.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8, cmake-format

core: Use relative tolerance
  src/core/grid_based_algorithms/lbgpu.cpp
Due: clang-format

core: Remove code duplication
  src/core/grid_based_algorithms/lbgpu.cpp
Due: clang-format

lb: More particle coupling tests
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
Due: clang-format

core: Fix LB GPU grid size bug
  src/core/grid_based_algorithms/lbgpu.cpp
Due: clang-format

tests: Check LB grid resize
  testsuite/python/lb.py
Due: autopep8

LB: more Array.
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

LB: simplify the check for commensurability.
  src/core/grid_based_algorithms/lbgpu.cpp
Due: clang-format

core: Use relative error with fixed tolerance
  src/core/grid_based_algorithms/lbgpu.cpp
  testsuite/python/lb.py
Due: clang-format, autopep8

cuda: remove EK_DOUBLE_PREC.
  doc/sphinx/installation.rst
  src/config/features.def
  src/core/grid_based_algorithms/electrokinetics.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/python/espressomd/electrokinetics.pxd
Due: clang-format, autopep8

cuda: remove lbForceFloat.
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

cuda: remove mmm1dgpu_real.
  src/core/actor/Mmm1dgpuForce.hpp
  src/core/actor/Mmm1dgpuForce_cuda.cu
  src/core/actor/specfunc_cuda.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
Due: clang-format, autopep8

cuda: remove dds_float.
  src/core/actor/DipolarBarnesHut.hpp
  src/core/actor/DipolarBarnesHut_cuda.cu
  src/core/actor/DipolarBarnesHut_cuda.cuh
  src/core/actor/DipolarDirectSum.hpp
  src/core/actor/DipolarDirectSum_cuda.cu
Due: clang-format
