Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

Gibbs: Improve aggregation script
  samples/gibbs_ensemble/aggregate.py
Due: autopep8

Gibbs: Include energy in consistency check
  samples/gibbs_ensemble/gibbs.py
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
  samples/gibbs_ensemble/run-for-several-kt
Due: autopep8

mend
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
Due: autopep8

Formatting
  samples/gibbs_ensemble/aggregate.py
  samples/gibbs_ensemble/gibbs.py
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
Due: autopep8

Gibbs: Avoid hang when first move is rejected
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
Due: autopep8

Gibbs: Remove unused import
  samples/gibbs_ensemble/gibbs.py
  samples/gibbs_ensemble/gibbs_ensemble_socket.py
Due: autopep8

Add pylint configuration to pre-commit.
  .pre-commit-config.yaml
  doc/sphinx/conf.py.in
  maintainer/CI/fix_style.sh
Due: none

tutorials: Avoid DP3M B-spline bug
  doc/tutorials/11-ferrofluid/11-ferrofluid_part1.ipynb
  testsuite/scripts/tutorials/test_11-ferrofluid_1.py
Due: autopep8

Spellcheck
  NEWS
  doc/sphinx/installation.rst
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/specfunc.hpp
  testsuite/python/langevin_thermostat.py
Due: clang-format, autopep8

Update version number to 4.1.4
  CMakeLists.txt
  Readme.md
  doc/sphinx/introduction.rst
Due: cmake-format

Add 4.1.4 release notes
  NEWS
Due: none

Spellcheck and grammar check
  doc/sphinx/appendix.rst
  doc/sphinx/introduction.rst
  doc/tutorials/01-lennard_jones/01-lennard_jones.ipynb
  doc/tutorials/11-ferrofluid/11-ferrofluid_part2.ipynb
  doc/tutorials/12-constant_pH/12-constant_pH.ipynb
  src/core/cells.hpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/grid_based_algorithms/halo.hpp
  src/core/rattle.cpp
  src/python/espressomd/particle_data.pyx
  src/script_interface/packed_variant.hpp
  testsuite/python/lb_pressure_tensor.py
Due: clang-format, autopep8

Update version number of latest stable release
  Readme.md
  doc/sphinx/introduction.rst
Due: none

core: Remove unimplemented callback
  src/core/communication.cpp
Due: clang-format

core: Extract bond type check logic
  src/core/communication.cpp
Due: clang-format

core: Fix memory leak for tabulated bonds
  src/core/bonded_interactions/bonded_tab.cpp
  src/core/communication.cpp
Due: clang-format

core: Cleanup comments and doxygen blocks
  src/core/CellStructure.hpp
  src/core/Particle.hpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/galilei.cpp
  src/core/galilei.hpp
  src/core/io/writer/h5md_core.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/pressure_inline.hpp
Due: clang-format

core: Remove callback code duplication
  src/core/communication.cpp
Due: clang-format

core: Rename callback
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
Due: clang-format

core: Extract NpT communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/npt.cpp
  src/core/npt.hpp
Due: clang-format

core: Extract MDLC communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.hpp
Due: clang-format

core: Extract steepest descent communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/integrators/steepest_descent.cpp
  src/core/integrators/steepest_descent.hpp
Due: clang-format

core: Move mpi_rescale_particles()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/grid.cpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
Due: clang-format

core: Move mpi_place_new_particle()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/particle_data.cpp
Due: clang-format

core: Move mpi_place_particle()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
Due: clang-format

core: Move mpi_remove_particle()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/particle_data.cpp
Due: clang-format

core: Move mpi_get_particles()
  src/core/communication.cpp
  src/core/particle_data.cpp
Due: clang-format

core: Move mpi_send_update_message()
  src/core/communication.cpp
  src/core/particle_data.cpp
Due: clang-format

core: Remove CALLBACK_LIST
  src/core/communication.cpp
  src/core/communication.hpp
Due: clang-format

core: Move mpi_resort_particles()
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/python/espressomd/cellsystem.pxd
Due: clang-format, autopep8

core: Extract LB fluid momentum communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

core: Move mpi_send_exclusion()
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
Due: clang-format

core: Extract pressure communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/pressure.cpp
Due: clang-format

core: Extract Coulomb communication
  src/core/actor/DipolarBarnesHut.cpp
  src/core/actor/DipolarDirectSum.cpp
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/electrostatics_magnetostatics/common.cpp
  src/core/electrostatics_magnetostatics/common.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/reaction_field.cpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/magnetostatics.pxd
Due: clang-format, autopep8, cmake-format

core: Extract energy communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/energy.cpp
Due: clang-format

core: Cleanup comments and doxygen blocks
  src/core/cells.cpp
  src/core/cells.hpp
Due: clang-format

core: Extract integrator communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/core/tuning.cpp
  src/python/espressomd/integrate.pxd
Due: clang-format, autopep8

core: Extract trivial callbacks
  src/core/communication.cpp
  src/core/particle_data.cpp
  src/core/rotate_system.cpp
Due: clang-format

core: Extract Galilei communication
  src/core/communication.cpp
  src/core/communication.hpp
  src/core/galilei.cpp
  src/core/galilei.hpp
  src/python/espressomd/galilei.pxd
Due: clang-format, autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
