Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

core: Refactor Wang-Landau write function
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

tests: Simplify code
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
  testsuite/python/reaction_ensemble.py
Due: clang-format, autopep8

core: Simplify file I/O operations
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/python/espressomd/reaction_ensemble.pxd
Due: clang-format, autopep8

core: Refactor Wang-Landau Collective Variable
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
  src/python/espressomd/reaction_ensemble.pxd
Due: clang-format, autopep8

core: Use std::accumulate
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

tests: Remove WidomInsertion unit test
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
Due: clang-format

core: Rename bond force/energy kernels
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
Due: clang-format

utils: documentation for matrix.hpp
  src/utils/include/utils/matrix.hpp
Due: clang-format

core: Replace magic number by named constant
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
Due: clang-format

core: Execute bond loop only when needed
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/immersed_boundary/ibm_volcons.hpp
  src/core/object-in-fluid/oif_global_forces_params.hpp
  src/core/object-in-fluid/oif_local_forces.hpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

utils: documentation for quaternion.hpp
  src/utils/include/utils/quaternion.hpp
Due: clang-format

cyl trafo params: auto generated orientation
  src/python/espressomd/math.py
  src/script_interface/CylindricalTransformationParameters.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  testsuite/python/es_math.py
Due: clang-format, autopep8

remove tutorial numbers.
  doc/tutorials/active_matter/active_matter.ipynb
  doc/tutorials/charged_system/CMakeLists.txt
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part2.ipynb
  doc/tutorials/ferrofluid/ferrofluid_part3.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part1.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part2.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part3.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_part4.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  doc/tutorials/visualization/visualization.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_charged_system.py
Due: autopep8, cmake-format

hcf: use cyl trafo params
  src/script_interface/shapes/HollowConicalFrustum.hpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/src/HollowConicalFrustum.cpp
Due: clang-format

add missing dependency (MDanalysis) to documentation
  doc/sphinx/installation.rst
Due: none

adapt tests to new signature
  src/script_interface/shapes/HollowConicalFrustum.hpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  testsuite/python/constraint_shape_based.py
Due: clang-format, autopep8

utils: Better constraint for Utils::get
  src/utils/include/utils/get.hpp
Due: clang-format

implement central angle gap for HCF
  src/script_interface/shapes/HollowConicalFrustum.hpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/src/HollowConicalFrustum.cpp
Due: clang-format

test HCF with central angle
  testsuite/python/constraint_shape_based.py
Due: autopep8

LB: simplify mode calculation function.
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

LB: use Array for force density.
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

LB: simplify mode calculation function.
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

LB: remove duplication.
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

LBGPU: using Array for populations and added iterator for populations.
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu_cuda.cu
  src/core/virtual_sites/lb_inertialess_tracers_cuda.cu
Due: clang-format

Nonworking version of total stress reduction.
  src/core/grid_based_algorithms/lbgpu.cuh
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

LB: fix dox.
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

Add files via upload
  src/python/espressomd/lb.pyx
Due: autopep8

LB: use thrust implementation for pressure tensor.
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lbgpu.hpp
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

Implement slicing for LB
  src/python/espressomd/lb.pyx
Due: autopep8

Walberla: Test forces in corners
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

testsuite: adjust error tolerance for numerical precision loss of float vs double summation.
  testsuite/python/lb.py
Due: autopep8

LB: use standard thrust customization for binary function.
  src/core/grid_based_algorithms/lbgpu_cuda.cu
Due: clang-format

fix central angle handling, rewrite HCF distance calculation
  src/shapes/src/HollowConicalFrustum.cpp
  testsuite/python/constraint_shape_based.py
Due: clang-format, autopep8

adapt visualizer and sample
  samples/visualization_constraints.py
  src/python/espressomd/visualization_opengl.py
  testsuite/python/constraint_shape_based.py
Due: autopep8

doc
  doc/sphinx/constraints.rst
  doc/sphinx/figures/shape-hollowconicalfrustum_central_angle.png
  src/python/espressomd/shapes.py
Due: autopep8
