Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

walberla: Minor fixes
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

Use LE in walberla
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/lees_edwards_protocol.hpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
Due: clang-format

Add missing file
  testsuite/python/lb_lees_edwards.py
Due: autopep8

Fix regressions
  src/python/espressomd/particle_data.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_lees_edwards.py
Due: autopep8, cmake-format

tests: Disable test cases that fail
  testsuite/python/CMakeLists.txt
Due: cmake-format

Fix LE bridge in LBWalberlaImpl
  src/core/unit_tests/lees_edwards_test.cpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

doc: Rephrase
  doc/sphinx/particles.rst
  doc/tutorials/active_matter/active_matter.ipynb
  src/python/espressomd/accumulators.py
Due: autopep8

python: Document P3M option
  src/python/espressomd/electrostatics.pyx
Due: autopep8

core: Fix compiler warnings
  src/core/LeesEdwardsBC.hpp
  src/python/espressomd/cellsystem.pxd
Due: clang-format, autopep8

tests: Disable tests that depend on UBB
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

python: Bump Sphinx version requirements
  doc/sphinx/CMakeLists.txt
  doc/sphinx/conf.py.in
  requirements.txt
Due: cmake-format

walberla: Stencils
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

doc: Fix reSt formatting issues
  doc/sphinx/advanced_methods.rst
  doc/sphinx/analysis.rst
  doc/sphinx/constraints.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/installation.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/magnetostatics.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/visualization.rst
Due: none

walberla: Remove LatticeModel step 1
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/LatticeModelAccessors.h
  src/walberla_bridge/lb_walberla_init.cpp
Due: clang-format

walberla: Remove LatticeModel step 2
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/LatticeModelAccessors.h
Due: clang-format

walberla: Remove LatticeModel step 3
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.h
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.h
  src/walberla_bridge/generated_kernels/LatticeModelAccessors.h
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.h
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.h
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format, cmake-format

Formatting
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

walberla: Fix field::addToStorage<PdfField> regression
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

tests: Disable LB momentum getter test cases
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

walberla: Type safety
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

doc: Make blockquotes visible
  doc/sphinx/_static/blockquotes.css
  doc/sphinx/conf.py.in
Due: none

doc: Apply suggestions from code review
  src/python/espressomd/electrostatics.pyx
Due: autopep8

walberla: Drop SFINAE and fix LB momentum regression
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/LatticeModelAccessors.h
Due: clang-format

Revert "tests: Disable LB momentum getter test cases"
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

walberla: Cleanup comments
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Fix Clang-Tidy rule modernize-use-nodiscard
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Copy walberla original UBB.h header
  src/walberla_bridge/generated_kernels/UBB.h
Due: none

walberla: Restore original UBB functionality
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/LatticeModelAccessors.h
  src/walberla_bridge/generated_kernels/UBB.h
Due: clang-format

Revert "tests: Disable tests that depend on UBB"
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

walberla: Rename class aliases
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

walberla_bridge: WalberlaBlockForest: first try in BlockForest implementation
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format, cmake-format

cmake: kind-of hacky solution to fixing multiple cmake runs
  CMakeLists.txt
Due: cmake-format

walberla_bridge: WalberlaBlockForest: added [[nodiscard]]
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format

walberla_bridge: walberla_utils: missing imports
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

core/python: WalberlaBlockForest: added WalberlaBlockForest interface
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/walberla_blockforest.cpp
  src/core/grid_based_algorithms/walberla_blockforest.hpp
  src/python/espressomd/walberla.pxd
  src/python/espressomd/walberla.pyx
Due: clang-format, autopep8, cmake-format

walberla_bridge: cmake: added walberla include dirs as public... check later again
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

core: walberla_blockforest: added get_walberla_blockforest and put walberla_blockforest into anonymous namespace
  src/core/grid_based_algorithms/walberla_blockforest.cpp
  src/core/grid_based_algorithms/walberla_blockforest.hpp
Due: clang-format

walberla_bridge: WalberlaBlockForest: removed MPI shared_ptr
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format

core: lb_walberla_instance: removed init_lb_lalberla declaration
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
Due: clang-format

walberla_bridge: WalberlaBlockForest: added get_blocks
  src/walberla_bridge/WalberlaBlockForest.hpp
Due: clang-format
