Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Mark kokkos-fft as a SYSTEM dependency
  CMakeLists.txt
Due: cmake-format

Use braced-init-list return in EspressoCaliLoop::iteration
  src/core/caliper_utils.hpp
Due: clang-format

elc: fix the image force split in the short-range pair correction
  src/core/electrostatics/elc.hpp
  testsuite/python/elc.py
Due: clang-format, autopep8, pylint

A non-singular implementation for dihedral potential (Fixes #5401)
  doc/bibliography.bib
  doc/sphinx/inter_bonded.rst
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/python/espressomd/interactions.py
  testsuite/python/interactions_dihedral.py
Due: clang-format, autopep8, pylint

Fixed bugs
  src/core/cell_system/CellStructure.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
Due: clang-format

Assign ELCIC mirror forces to the correct particles (#5424)
  src/core/electrostatics/elc.hpp
  testsuite/python/elc.py
Due: clang-format, autopep8, pylint

Fixed coverage
  testsuite/python/particle_slice.py
Due: autopep8, pylint

Add bond-type-centric system.bonds[bond].add()/remove() interface
  src/python/espressomd/interactions.py
  src/python/espressomd/system.py
  testsuite/python/particle.py
Due: autopep8, pylint

Fixed style
  src/python/espressomd/interactions.py
Due: autopep8, pylint

Decoupled the new system.bonds[bond] interface from ParticleHandle
  src/python/espressomd/interactions.py
  src/script_interface/interactions/BondedInteraction.hpp
Due: clang-format, autopep8, pylint

Fixed check_sphinx waring
  src/python/espressomd/system.py
Due: autopep8, pylint

Fix soft_sphere energy with r_off > 0 guard (#5355)
  doc/sphinx/inter_non-bonded.rst
  src/core/nonbonded_interactions/soft_sphere.hpp
  testsuite/python/interactions_non-bonded.py
Due: clang-format, autopep8, pylint

fetch espresso from specifed git ref
  maintainer/benchmarks/espresso_benchmarks.py
  maintainer/benchmarks/reframe_config.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

add option to run tests with pre-built espresso
  maintainer/benchmarks/espresso_benchmarks.py
  maintainer/benchmarks/reframe_config.py
  maintainer/benchmarks/suite.sh
Due: autopep8, pylint

Fix CI failures: stale kokkos-fft block and two doxygen references
  CMakeLists.txt
  src/core/electrostatics/p3m.impl.hpp
  src/core/particle_store/StoreGenerationGuard.hpp
Due: clang-format, cmake-format

remove wrong partition access in reframe config
  maintainer/benchmarks/reframe_config.py
Due: autopep8, pylint

Fix CUDA and empty-config builds after the upstream merge
  src/core/cell_system/CellStructure.hpp
  src/core/forces_lj_device.cu
Due: clang-format

Revert the ScatterView spelling change; it fixed nothing
  src/core/cell_system/CellStructure.hpp
Due: clang-format

Fix Propagation enum printing as raw int
  src/python/espressomd/propagation.py
  testsuite/python/particle.py
Due: autopep8, pylint

Support virtual sites with their own rotational propagation
  CHANGELOG.md
  doc/sphinx/magnetodynamics.rst
  doc/sphinx/particles.rst
  src/core/Particle.hpp
  src/core/energy_inline.hpp
  src/core/integrate.cpp
  src/core/propagation.cpp
  src/core/unit_tests/energy_test.cpp
  src/python/espressomd/integrate.py
  src/python/espressomd/propagation.py
  src/script_interface/integrators/IntegratorHandle.cpp
  testsuite/python/propagation_langevin.py
  testsuite/python/propagation_newton.py
  testsuite/python/virtual_sites_relative.py
Due: clang-format, autopep8, pylint

Tighten comments and fix small bugs in bond-mirror storage code
  src/core/BondList.hpp
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonds.cpp
  src/core/bonds.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/collision_detection/BindAtPointOfCollision.cpp
  src/core/collision_detection/GlueToSurface.cpp
  src/core/collision_detection/utils.hpp
  src/core/system/System.cpp
  src/core/unit_tests/BondList_test.cpp
  src/core/unit_tests/bonds_test.cpp
  src/python/espressomd/particle_data.py
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.cpp
  testsuite/python/collision_detection.py
Due: clang-format, autopep8, pylint

Improve support for CUDA 13.4 and Clang 22
  CMakeLists.txt
  doc/sphinx/installation.rst
  src/core/random.hpp
  src/script_interface/thermostat/thermostat.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/LBFluid.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Cache.hpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/demangle.hpp
  src/utils/include/utils/for_each_pair.hpp
  src/utils/include/utils/mask.hpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/include/utils/mpi/all_compare.hpp
  src/utils/include/utils/uniform.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

Skip default_propagation when re-binding a restored integrator
  src/script_interface/integrators/IntegratorHandle.cpp
Due: clang-format

Guard propagates_rotation lambda behind ESPRESSO_ROTATION
  src/core/integrate.cpp
Due: clang-format

Restore missing-feature skip guard on test_propagation
  testsuite/python/propagation_newton.py
Due: autopep8, pylint

Improve support for CUDA 13.4 and Clang 22 (#5432)
  CMakeLists.txt
  doc/sphinx/installation.rst
  src/core/random.hpp
  src/script_interface/thermostat/thermostat.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/LBFluid.hpp
  src/utils/include/utils/Accumulator.hpp
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Cache.hpp
  src/utils/include/utils/Histogram.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/demangle.hpp
  src/utils/include/utils/for_each_pair.hpp
  src/utils/include/utils/mask.hpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/include/utils/matrix.hpp
  src/utils/include/utils/mpi/all_compare.hpp
  src/utils/include/utils/uniform.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/lattice_boltzmann/LBWalberlaBase.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

fix polymer tutorial
  src/python/espressomd/zn.py
Due: autopep8, pylint

Fix sign error in long-range correction formula (md)
  doc/tutorials/lennard_jones/lennard_jones.ipynb
Due: none

Fix sign error in long-range correction formula (#5438)
  doc/tutorials/lennard_jones/lennard_jones.ipynb
Due: none

asebytes
  requirements.txt
Due: none

Fix ZnDraw visualizer forces data exchange (#5435)
  requirements.txt
  src/python/espressomd/zn.py
Due: autopep8, pylint
