Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

unit test for get_particles_properties_test
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/get_particles_properties_test.cpp
Due: clang-format, cmake-format

change profiling to use macros
  src/core/cell_system/CellStructure.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/lb/particle_coupling.cpp
  src/core/profiling.hpp
  src/core/short_range_loop.hpp
Due: clang-format

make caliper and likwid exclusive
  CMakeLists.txt
  src/config/featuredefs.py
  src/config/features.def
  src/config/gen_featureconfig.py
  src/core/profiling.hpp
Due: clang-format, autopep8, cmake-format, pylint

Add ghost communication for the ek flux boundary conditions
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

Test fluxboundary with mpi
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, cmake-format, pylint

fix style
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

added the pending comm flag struct to the ek
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/tests/EKinWalberlaImpl_unit_tests.cpp
Due: clang-format

Fixed bug
  src/core/cell_system/CellStructure.cpp
  src/core/custom_verlet_list.hpp
  src/core/short_range_cabana.hpp
  src/script_interface/integrators/Integrator.cpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8, pylint

Formatting
  src/core/custom_verlet_list.hpp
  src/core/short_range_cabana.hpp
  src/script_interface/integrators/Integrator.cpp
Due: clang-format

fix rebase
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, pylint

throw error when using flux boundaries and mpi combined
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesNode.hpp
  src/script_interface/walberla/EKSpeciesSlice.cpp
  testsuite/python/ek_boundary.py
  testsuite/python/ek_interface.py
  testsuite/python/ek_slice.py
Due: clang-format, autopep8, pylint

fix checkpoint test
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

Implemented automatically switcing to link cell if overflow is detected
  src/core/cell_system/CellStructure.hpp
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8, pylint

Formatting
  src/core/integrate.cpp
  src/core/short_range_cabana.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8, pylint

Fixed coverage
  testsuite/python/cell_system.py
Due: autopep8, pylint

Update comments
  src/core/cell_system/CellStructure.hpp
  src/core/custom_verlet_list.hpp
  src/core/short_range_cabana.hpp
  testsuite/python/cell_system.py
Due: clang-format, autopep8, pylint

cleanup after merge; still not tested
  src/config/features.def
  src/config/myconfig-default.hpp
  src/core/BondList.hpp
  src/core/Particle.hpp
  src/core/integrate.cpp
  src/core/io/writer/h5md_core.cpp
  src/core/io/writer/h5md_core.hpp
  src/core/io/writer/h5md_specification.cpp
  src/core/magnetostatics/dipolar_direct_sum.cpp
  src/core/magnetostatics/dipoles.hpp
  src/python/espressomd/io/writer/vtf.py
  src/python/espressomd/particle_data.py
  src/script_interface/analysis/Analysis.cpp
  src/script_interface/particle_data/ParticleHandle.cpp
  src/utils/include/utils/Vector.hpp
Due: clang-format, autopep8, pylint

fix: accidentaly removed import
  src/core/magnetostatics/dipolar_direct_sum.cpp
Due: clang-format

remove dip_fld duplication in ParticleProperties and ParticleHandle
  src/core/Particle.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format

wip magnetodynamics documentation
  CMakeLists.txt
  doc/bibliography.bib
  doc/sphinx/CMakeLists.txt
  doc/sphinx/index.rst
  doc/sphinx/magnetodynamics.rst
Due: cmake-format

Delete space in region name to make likwid mpi work
  src/core/integrate.cpp
Due: clang-format

disable combined LE and EK in checkpoint testing
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8, pylint

small fixes
  src/script_interface/walberla/EKSpecies.cpp
  src/script_interface/walberla/EKSpeciesNode.cpp
  src/script_interface/walberla/EKSpeciesSlice.cpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, pylint

fixs ingle core testcase
  testsuite/python/ek_interface.py
Due: autopep8, pylint

Test for boltzmann inversion tutorial
  doc/tutorials/CMakeLists.txt
  doc/tutorials/boltzmann_inversion/CMakeLists.txt
  doc/tutorials/boltzmann_inversion/NotesForTutor.md
  doc/tutorials/boltzmann_inversion/boltzmann_inversion.ipynb
  testsuite/tutorials/CMakeLists.txt
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8, cmake-format, pylint

atol increased to 0.18
  testsuite/tutorials/test_boltzmann_inversion.py
Due: autopep8, pylint

Improvements
  src/script_interface/Variant.hpp
  src/script_interface/particle_data/ParticleSlice.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/get_particles_properties_test.cpp
Due: clang-format, cmake-format

Fix regression
  src/python/espressomd/particle_data.py
  testsuite/python/particle_slice.py
Due: autopep8, pylint

More fixes
  src/script_interface/particle_data/ParticleHandle.cpp
  src/script_interface/particle_data/ParticleSlice.hpp
  testsuite/python/particle_slice.py
Due: clang-format, autopep8, pylint

updated for api changes. compiles
  src/core/CMakeLists.txt
  src/core/Particle.hpp
  src/core/integrate.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.cpp
  src/core/magnetostatics/stoner_wolfarth_thermal.hpp
  src/script_interface/particle_data/ParticleHandle.cpp
Due: clang-format, cmake-format

fixed doc; wip CI issues
  doc/sphinx/magnetodynamics.rst
  maintainer/CI/build_cmake.sh
  maintainer/configs/maxset.hpp
  src/config/features.def
Due: clang-format

Solving multi-procs problem, WIP
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/virtual_sites/com.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/particle.py
  testsuite/python/virtual_sites_center_of_mass.py
Due: clang-format, autopep8, cmake-format, pylint

introduce ROT_VS_INDEPENDENT propagator mode for magnetodynamics
  doc/sphinx/particles.rst
  src/core/Particle.hpp
  src/core/PropagationMode.hpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/lb/particle_coupling.hpp
  src/core/propagation.cpp
  src/core/virtual_sites/relative.cpp
  src/python/espressomd/propagation.py
Due: clang-format, autopep8, pylint

formating
  src/python/espressomd/propagation.py
Due: autopep8, pylint

add thermal_stoner_wohlfarth test
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, pylint

refactor thermal_stoner_wohlfarth test
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, pylint

formatting
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, pylint

test guards updated
  testsuite/python/CMakeLists.txt
  testsuite/python/thermal_stoner_wohlfarth.py
Due: autopep8, cmake-format, pylint
