Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

script_interface: EKContainer: removed debug prints
  src/script_interface/walberla/EKContainer.hpp
Due: clang-format

walberla_bridge: EKinWalberlaImpl: new -> unique_ptr
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

script_interface: moved EKSpecies to Scriptinterface and added EKContainer
  src/core/CMakeLists.txt
  src/core/grid_based_algorithms/CMakeLists.txt
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/grid_based_algorithms/ek_boundaries.cpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
  src/core/grid_based_algorithms/ek_interface.cpp
  src/core/grid_based_algorithms/ek_interface.hpp
  src/core/grid_based_algorithms/ekin_walberla_instance.cpp
  src/core/grid_based_algorithms/ekin_walberla_instance.hpp
  src/core/grid_based_algorithms/ekin_walberla_interface.cpp
  src/core/grid_based_algorithms/ekin_walberla_interface.hpp
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/python/espressomd/ekin_walberla.pxd
  src/python/espressomd/ekin_walberla.pyx
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKWalberlaCharge.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, cmake-format

walberla_bridge: EKinWalberla: added get_density_id
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

fixup: walberla_bridge: removed WalberlaBlockForest.hpp from CMake
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

core: EKContainer: missed initialization of m_tau
  src/core/grid_based_algorithms/EKContainer.hpp
Due: clang-format

core: EKWalberlaCharge: added PoissonSolver
  src/core/grid_based_algorithms/EKContainer.hpp
  src/walberla_bridge/EKWalberlaCharge.hpp
  src/walberla_bridge/PoissonSolver/FFT.hpp
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
Due: clang-format

testsuite: ek: added missing solvers
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: autopep8

walberla_bridge: EKinWalberlaImpl: replaced timeloop with manual calls
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

walberla_bridge: PoissonSolver: removed unused ChargeField type
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

fixup: PoissonSolver removed ChargeField
  src/walberla_bridge/PoissonSolver/PoissonSolver.hpp
Due: clang-format

core: EKNone: added None-solver used to not solve the electrostatic potential
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/initialize.cpp
  src/walberla_bridge/PoissonSolver/None.hpp
  testsuite/python/ek_diffusion.py
Due: clang-format, autopep8

walberla_bridge: FFT: remove usage of PS::
  src/walberla_bridge/PoissonSolver/FFT.hpp
Due: clang-format

testsuite: ek_noflux: EKFFT -> EKNone
  testsuite/python/ek_noflux.py
Due: autopep8

walberla_bridge: EKinWalberlaImpl: extraction of individual kernel calls into functions
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

tests: Fix all regressions
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  testsuite/python/engine_lb.py
  testsuite/python/lb_momentum_conservation.py
Due: clang-format, autopep8

lb_walberla: added getter for velocity_field_id and force_field_id
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

tests: Make infrastructure less brittle
  .codecov.yml
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

samples: Use namespaced imports
  samples/gibbs_ensemble/create_fits.py
  samples/visualization_poiseuille.py
Due: autopep8

tests: unit test function shifted_positions()
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

core: EKSpecies: added advection kernel
  src/core/grid_based_algorithms/ek_container.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
  src/walberla_bridge/generated_kernels/AdvectiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/AdvectiveFluxKernel.h
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, cmake-format

walberla_bridge: ekin_walberla_init: removed unused import
  src/walberla_bridge/ekin_walberla_init.cpp
Due: clang-format

core: EKSpecies: added friction_coupling option
  src/core/grid_based_algorithms/ek_container.cpp
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, cmake-format

core: Fix segfaults
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/core/grid_based_algorithms/lb_walberla_instance.hpp
  src/core/lees_edwards.cpp
  src/script_interface/lees_edwards/LinearShear.hpp
  src/script_interface/lees_edwards/Off.hpp
  src/script_interface/lees_edwards/OscillatoryShear.hpp
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/lb_walberla_init.cpp
  src/walberla_bridge/lb_walberla_init.hpp
  src/walberla_bridge/tests/tests_common.hpp
Due: clang-format

walberla: Use temporary pdf field for Lees-Edwards
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

Formatting
  doc/sphinx/system_setup.rst
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/run_sim.py
  samples/reaction_ensemble.py
  samples/reaction_ensemble_complex_reaction.py
  samples/widom_insertion.py
Due: autopep8

walberla: Remove duplicated variable
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

walberla: Copy walberla/python/lbmpy_walberla/templates/LatticeModel.tmpl.h
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
Due: none

walberla: Modify LatticeModel generator to generate only the macroscopic values accessors
  maintainer/walberla_kernels/MacroscopicValuesAccessors.tmpl.h
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

WIP: Use generated macroscopic values accessors
  src/walberla_bridge/LBWalberlaBase.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors.h
Due: clang-format

walberla: Disable UBB
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

tests: Disable tests that depend on UBB
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

core: integrate: added ek-lb coupling timestep, introduced get_steps_per_md_step in EK/LB namespace
  src/core/grid_based_algorithms/ek_container.cpp
  src/core/grid_based_algorithms/ek_container.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/integrate.cpp
Due: clang-format

fixup: missed friction coupling kernels
  src/walberla_bridge/generated_kernels/FrictionCouplingKernel.cpp
  src/walberla_bridge/generated_kernels/FrictionCouplingKernel.h
Due: clang-format

core: EKSpecies: added electrostatic potential contribution to flux
  src/core/grid_based_algorithms/EKContainer.hpp
  src/core/grid_based_algorithms/ek_container.cpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format, cmake-format

fixup: diffusive flux kernels with electrostatics
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernelWithElectrostatic.cpp
  src/walberla_bridge/generated_kernels/DiffusiveFluxKernelWithElectrostatic.h
Due: clang-format

EKSpecies: added ext_efield parameter and replaced zero in diffusive-flux kernel walberla_bridge: removed ekin_walberla_init files
  src/core/grid_based_algorithms/EKContainer.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
  src/walberla_bridge/ekin_walberla_init.cpp
  src/walberla_bridge/ekin_walberla_init.hpp
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8, cmake-format

walberla_bridge: EKinWalberlaImpl: early breakout when diffusion-coefficient is zero
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

core: Improve readability
  src/core/EspressoSystemInterface.hpp
  src/core/cluster_analysis/Cluster.cpp
  src/core/constraints/Constraint.hpp
  src/core/constraints/Constraints.hpp
  src/core/constraints/ExternalField.hpp
  src/core/constraints/ExternalPotential.hpp
  src/core/constraints/HomogeneousMagneticField.cpp
  src/core/constraints/HomogeneousMagneticField.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/field_coupling/fields/Interpolated.hpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/particle_data.cpp
  src/core/unit_tests/periodic_fold_test.cpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
Due: clang-format

python: Cleanup error handling
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/electrostatics.pyx
Due: autopep8
