Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

tests: Fix actor test regressions
  .codecov.yml
  testsuite/python/actor.py
Due: autopep8

core: Fix merge regression
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Fix regression
  testsuite/python/actor.py
Due: autopep8

core: Skip short-range non-bonded loop when possible
  src/core/short_range_loop.hpp
Due: clang-format

CMake: Remove superfluous shared objects
  src/core/cluster_analysis/CMakeLists.txt
  src/core/io/mpiio/CMakeLists.txt
  src/core/io/writer/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/script_interface/tests/CMakeLists.txt
Due: cmake-format

tests: Improve code coverage
  .codecov.yml
  src/core/event.cpp
  src/core/integrate.cpp
  src/core/thermostat.cpp
  src/python/espressomd/integrate.pyx
  src/python/espressomd/thermostat.pyx
  src/script_interface/walberla/FluidNodeWalberla.hpp
  testsuite/python/lb.py
Due: clang-format, autopep8

walberla: More fixes
  .codecov.yml
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_planar_couette.py
Due: autopep8, cmake-format

tests: Minor fixes
  testsuite/python/actor.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

walberla: Disable LEbc for LB in unsupported directions
  doc/sphinx/lb.rst
  src/core/grid_based_algorithms/lb_walberla_instance.cpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  testsuite/python/lb_lees_edwards.py
Due: clang-format, autopep8

core: Add support for recent compilers
  cmake/FindCUDACompilerClang.cmake
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/cells.cpp
  src/core/cuda_interface.cpp
  src/core/energy.cpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/core/grid_based_algorithms/lb_boundaries.cpp
  src/core/io/writer/h5md_core.cpp
  src/python/espressomd/utils.pyx
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
  src/shapes/src/Rhomboid.cpp
  src/utils/tests/serialization_test.cpp
Due: clang-format, autopep8

CI: Use newer images
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  testsuite/python/h5md.py
Due: autopep8

doc: Update installation instructions
  doc/sphinx/installation.rst
Due: none

doc: Add support for Sphinx 5.0.0
  doc/sphinx/_static/custom.css
  doc/sphinx/conf.py.in
Due: none

core: Fix include directive
  src/config/gen_featureconfig.py
Due: autopep8

script_interface: Fix regression in reaction methods
  doc/sphinx/reaction_methods.rst
  src/python/espressomd/reaction_methods.py
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/reaction_methods_interface.py
Due: clang-format, autopep8

core: Move runtime error logic to submodule
  src/core/CMakeLists.txt
  src/core/bond_error.cpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/error_handling/CMakeLists.txt
  src/core/error_handling/RuntimeError.cpp
  src/core/error_handling/RuntimeError.hpp
  src/core/error_handling/RuntimeErrorCollector.cpp
  src/core/error_handling/RuntimeErrorCollector.hpp
  src/core/error_handling/RuntimeErrorStream.cpp
  src/core/error_handling/RuntimeErrorStream.hpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/core/unit_tests/RuntimeErrorCollector_test.cpp
  src/core/unit_tests/RuntimeError_test.cpp
  src/python/espressomd/utils.pxd
  src/script_interface/ParallelExceptionHandler.cpp
Due: clang-format, autopep8, cmake-format

samples: Fixes from the Tag der Wissenschaft 2022
  samples/billiard.py
  samples/chamber_game.py
Due: autopep8

tests: Improve code coverage
  src/core/reaction_methods/ReactionAlgorithm.cpp
  testsuite/python/interactions_dihedral.py
  testsuite/python/lb_stats.py
  testsuite/python/lees_edwards.py
  testsuite/python/npt_thermostat.py
  testsuite/python/utils.py
Due: clang-format, autopep8

doc: Fix issues in user guide
  doc/sphinx/advanced_methods.rst
  doc/sphinx/appendix.rst
  doc/sphinx/ek.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  src/python/espressomd/collision_detection.py
Due: autopep8

doc: spell check and grammar check
  doc/sphinx/lb.rst
  doc/sphinx/reaction_methods.rst
  doc/tutorials/active_matter/active_matter.ipynb
  doc/tutorials/charged_system/NotesForTutor.md
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/constant_pH/NotesForTutor.md
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/ferrofluid/NotesForTutor.md
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  doc/tutorials/lennard_jones/NotesForTutor.md
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  doc/tutorials/polymers/polymers.ipynb
  maintainer/benchmarks/mc_acid_base_reservoir.py
  samples/gibbs_ensemble/run_sim.py
  samples/h5md_trajectory.py
  src/core/cell_system/RegularDecomposition.cpp
  src/core/error_handling/RuntimeErrorStream.hpp
  src/core/errorhandling.hpp
  src/core/pair_criteria/PairCriterion.hpp
  src/core/particle_data.hpp
  src/core/reaction_methods/tests/ReactionEnsemble_test.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/drude_helpers.py
  src/python/espressomd/particle_data.pyx
  testsuite/python/lees_edwards.py
Due: clang-format, autopep8

CI: Fix various regressions
  src/scafacos/CMakeLists.txt
  src/script_interface/ParallelExceptionHandler.cpp
Due: clang-format, cmake-format

doc: Update list of contributors
  AUTHORS
Due: none

maintainer: Cleanup .gitignore
  .gitignore
Due: none

doc: Fix installation instructions
  NEWS
  doc/sphinx/installation.rst
Due: none

core: Remove code duplication
  src/core/electrostatics/coulomb.cpp
Due: clang-format

Add 4.2.0 release notes
  NEWS
Due: none

core: Remove unreachable code
  src/core/cell_system/AtomDecomposition.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/ParticleDecomposition.hpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/lees_edwards/lees_edwards.hpp
Due: clang-format

Update version number to 4.2.0
  CMakeLists.txt
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
Due: cmake-format

CMake: Next version is 4.3
  CMakeLists.txt
  src/config/version.hpp.in
Due: clang-format, cmake-format

Create .gitpod.yml
  .gitpod.yml
Due: none

Fixed typo doc 8.1
  doc/sphinx/inter_bonded.rst
Due: none

corrected expression for quartic bond
  doc/sphinx/inter_bonded.rst
Due: none

doc: Add support for VS Code Jupyter backend
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  doc/tutorials/convert.py
Due: autopep8

doc: Add support for KaTeX
  doc/tutorials/constant_pH/constant_pH.ipynb
  doc/tutorials/electrokinetics/electrokinetics.ipynb
  doc/tutorials/error_analysis/error_analysis_part1.ipynb
  doc/tutorials/error_analysis/error_analysis_part2.ipynb
  doc/tutorials/lattice_boltzmann/lattice_boltzmann_theory.ipynb
  doc/tutorials/polymers/polymers.ipynb
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
Due: none

doc: Document Gitpod and add badge
  Readme.md
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
Due: none

doc: Run tutorials in Gitpod
  .gitpod.yml
  doc/sphinx/running.rst
Due: none

walberla: Replace feature deprecated in jinja2 3.1.0
  maintainer/walberla_kernels/code_generation_context.py
Due: autopep8

python: Remove legacy analysis.v_kappa() method
  src/python/espressomd/analyze.pyx
Due: autopep8

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
