Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

mda: add missing arguments to constructor.
  src/python/espressomd/MDA_ESP/__init__.py
Due: autopep8

mda: Update documentation
  samples/MDAnalysisIntegration.py
  src/python/espressomd/MDA_ESP/__init__.py
Due: autopep8

mda: Add python and sample tests
  testsuite/python/CMakeLists.txt
  testsuite/python/mdanalysis.py
  testsuite/scripts/samples/test_MDAnalysisIntegration.py
Due: autopep8, cmake-format

fix merge conflict
  testsuite/python/lb_thermostat.py
Due: autopep8

testsuite: Increase number of samples for ntp integration test
  testsuite/python/integrator_npt.py
Due: autopep8

Fix checkpoint test
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: autopep8

Walberla: Allow for testing of several lbs in unit test
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Add VTK output mechanism
  src/core/grid_based_algorithms/LbWalberlaBase.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: clang-format, autopep8, cmake-format

maintainer: added support for python coverage.
  maintainer/CI/build_cmake.sh
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Due: cmake-format

maintainer: fix cmake.
  testsuite/python/CMakeLists.txt
Due: cmake-format

maintainer: use coverage config file.
  .coveragerc
  src/python/espressomd/CMakeLists.txt
  src/python/pypresso.cmakein
Due: cmake-format

maintainer: update images used for coverage.
  .gitlab-ci.yml
Due: none

walberla vtk callback
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Fix style
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Test VTK in single frame mode
  testsuite/python/lb_vtk.py
Due: autopep8

maintainer: python -m coverage.
  .coveragerc
  src/python/pypresso.cmakein
Due: none

Formatting
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

Fix VTK python test
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_vtk.py
Due: autopep8, cmake-format

maintainer: fix coverage command.
  maintainer/CI/build_cmake.sh
Due: none

Fix bug in boost::test v1.65.1
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Temporary fix for OpenMPI linker error
  CMakeLists.txt
Due: cmake-format

Fix merge regression
  .gitlab-ci.yml
Due: none

Fix feature guard
  testsuite/python/lb_vtk.py
Due: autopep8

Remove pylint.log.
  pylint.log
Due: none

Added log files to .gitignore.
  .gitignore
Due: none

maintainer: coverage for integration tests.
  .codecov.yml
  .coveragerc
  .gitlab-ci.yml
  maintainer/CI/build_cmake.sh
  src/python/pypresso.cmakein
  testsuite/python/CMakeLists.txt
Due: cmake-format

maintainer: fix paths to generated tests.
  .codecov.yml
Due: none

maintainer: create coverage xml file.
  maintainer/CI/build_cmake.sh
Due: none

maintainer: make codecov not run gcov again.
  maintainer/CI/build_cmake.sh
Due: none

maintainer: disable codecov comments.
  .codecov.yml
Due: none

Walberla: Thermalization
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

Formatting
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

WIP: thermalization
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

core: communication: Simplify openmpi_fix_vader
  src/core/communication.cpp
Due: clang-format

core: communication: Cleanup mpi_init
  src/core/communication.cpp
Due: clang-format

core: communication: Split mpi and global init
  src/core/communication.cpp
Due: clang-format

WIP: test newer macOS CI image
  .gitlab-ci.yml
Due: none

Walberla: Thermalization
  src/core/grid_based_algorithms/FluctuatingMRT_LatticeModel.cpp
  src/core/grid_based_algorithms/LbWalberlaD3Q19FluctuatingMRT.hpp
  src/core/grid_based_algorithms/LbWalberla_impl.hpp
  src/core/unit_tests/LbWalberla.cpp
Due: clang-format

py: Activate some thermalization tests
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_thermostat.py
Due: autopep8, cmake-format
