Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

tests: Fine-tune long-range test cases
  testsuite/python/CMakeLists.txt
  testsuite/python/coulomb_mixed_periodicity.py
  testsuite/python/p3m_madelung.py
Due: autopep8, cmake-format

maintainer: walberla_kernels: fixed EK generation scripts
  maintainer/walberla_kernels/codegen.py
Due: autopep8

walberla_bridge: EK: regenerated EK kernels
  src/walberla_bridge/electrokinetics/generated_kernels/AdvectiveFluxKernel_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/AdvectiveFluxKernel_single_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/ContinuityKernel_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostatic_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostatic_single_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/DiffusiveFluxKernel_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/Dirichlet_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/Dirichlet_single_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/FixedFlux_double_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/FixedFlux_single_precision.cpp
  src/walberla_bridge/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision.cpp
  src/walberla_bridge/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision.cpp
Due: clang-format

maintainer: walberla_kernels: cleanup EK generation
  maintainer/walberla_kernels/codegen.py
  maintainer/walberla_kernels/ekin.py
Due: autopep8

walberla_bridge: EK: removed unused kernels
  src/walberla_bridge/generated_kernels/electrokinetics/AdvectiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/AdvectiveFluxKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/ContinuityKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/ContinuityKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernelWithElectrostatic.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/DiffusiveFluxKernelWithElectrostatic.h
  src/walberla_bridge/generated_kernels/electrokinetics/FrictionCouplingKernel.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/FrictionCouplingKernel.h
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/Dirichlet.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/Dirichlet.h
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/FixedFlux.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/FixedFlux.h
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/NoFlux.cpp
  src/walberla_bridge/generated_kernels/electrokinetics/boundary_conditions/NoFlux.h
Due: clang-format

walberla_bridge: EK: removed copy-pasta
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

EK: removed old TODOs
  src/core/grid_based_algorithms/EKContainer.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
Due: clang-format

BlockDataID treatment
  src/core/grid_based_algorithms/ek_reactions.cpp
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/electrokinetics/PoissonSolver/PoissonSolver.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionImplBulk.cpp
  src/walberla_bridge/electrokinetics/reactions/EKReactionIndexed.hpp
Due: clang-format

tests: Adapt to new definitions
  src/walberla_bridge/tests/kernels_unit_tests.cpp
Due: clang-format

CI: Re-enable AVX builds
  .gitlab-ci.yml
Due: none

walberla: Patch waLBerla CMake
  CMakeLists.txt
  cmake/waLBerla.patch
Due: cmake-format

walberla: Patch the patch
  CMakeLists.txt
  cmake/waLBerla.patch
Due: cmake-format

CI: Disable AVX again
  .gitlab-ci.yml
Due: none

config: Rewrite config generation script
  src/config/gen_featureconfig.py
Due: autopep8

cmake: enabled walberla_build_with_fft
  CMakeLists.txt
Due: cmake-format

walberla: Fix dependencies in CMake
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/waLBerla.patch
Due: cmake-format

maintainer: walberla_kernels: adapted EK to pystencils 1.0
  maintainer/walberla_kernels/codegen.py
  maintainer/walberla_kernels/custom_additional_extensions.py
  maintainer/walberla_kernels/ekin.py
Due: autopep8

walberla: Disable FFT again
  .gitlab-ci.yml
  CMakeLists.txt
  cmake/waLBerla.patch
Due: cmake-format

CMake: Fix Sphinx version check
  cmake/FindSphinx.cmake
Due: none

maintainer: Fix invalid shebang
  doc/doxygen/gen_doxyconfig.py
Due: autopep8

core: small fixes for empty config file
  src/core/p3m/common.hpp
Due: clang-format

walberla: New attempt with AVX
  .gitlab-ci.yml
  CMakeLists.txt
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format, cmake-format

CMake: Modernize handling of Python dependencies
  CMakeLists.txt
  cmake/FindCython.cmake
  cmake/FindNumPy.cmake
  cmake/FindPythonHeaders.cmake
  cmake/FindSphinx.cmake
  doc/doxygen/CMakeLists.txt
  doc/sphinx/CMakeLists.txt
  src/CMakeLists.txt
  src/config/CMakeLists.txt
  src/core/CMakeLists.txt
  src/particle_observables/CMakeLists.txt
  src/python/CMakeLists.txt
  src/python/espressomd/CMakeLists.txt
  src/python/pypresso.cmakein
  src/scafacos/CMakeLists.txt
  src/script_interface/CMakeLists.txt
  src/shapes/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  testsuite/cmake/CMakeLists.txt
  testsuite/cmake/test_install.sh
Due: cmake-format

ekin: Backport bugfixes from 4.2.0 ekin
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
  testsuite/python/lb.py
Due: autopep8

CI: Update images for PFFT
  .gitlab-ci.yml
  CMakeLists.txt
Due: cmake-format

Formatting and typos
  testsuite/python/ek_bulk_reactions.py
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_eof.py
  testsuite/python/ek_fixeddensity.py
  testsuite/python/ek_fixedflux.py
  testsuite/python/ek_indexed_reactions.py
  testsuite/python/ek_noflux.py
  testsuite/python/ek_vtk.py
Due: autopep8

tests: Check EK interface
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_interface.py
Due: autopep8, cmake-format

walberla: Fix regressions
  src/walberla_bridge/CMakeLists.txt
  testsuite/python/ek_vtk.py
Due: autopep8, cmake-format

doc: Restore some of the EK documentation
  doc/sphinx/ek.rst
Due: none

maintainer: Cleanup codegen scripts
  maintainer/walberla_kernels/Readme.md
  maintainer/walberla_kernels/ekin.py
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/python/espressomd/EKSpecies.py
  src/python/espressomd/lb.py
Due: autopep8

Add tutorial on Widom particle insertion
  doc/sphinx/introduction.rst
  doc/tutorials/CMakeLists.txt
  doc/tutorials/Readme.md
  doc/tutorials/widom_insertion/CMakeLists.txt
  doc/tutorials/widom_insertion/widom_insertion.ipynb
Due: cmake-format

walberla: Cleanup script interface
  src/script_interface/walberla/EKContainer.hpp
  src/script_interface/walberla/EKFFT.hpp
  src/script_interface/walberla/EKNone.hpp
  src/script_interface/walberla/EKPoissonSolver.hpp
  src/script_interface/walberla/EKReactant.hpp
  src/script_interface/walberla/EKReaction.hpp
  src/script_interface/walberla/EKReactions.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/FluidNodeWalberla.hpp
  src/script_interface/walberla/FluidWalberla.hpp
  src/script_interface/walberla/LatticeWalberla.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8

CMake: Simplify walberla bridge
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

CI: Use ScaFaCoS images with pinned dependencies
  .gitlab-ci.yml
Due: none

tests: Disable ScaFaCoS tests
  testsuite/python/CMakeLists.txt
Due: cmake-format

script_interface: Rewrite code_info module
  src/python/espressomd/CMakeLists.txt
  src/python/espressomd/code_features.py
  src/python/espressomd/code_info.py
  src/python/espressomd/gen_code_info.py
  src/script_interface/CMakeLists.txt
  src/script_interface/code_info/CMakeLists.txt
  src/script_interface/code_info/CodeInfo.cpp
  src/script_interface/code_info/CodeInfo.hpp
  src/script_interface/code_info/initialize.cpp
  src/script_interface/code_info/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/code_info.py
  testsuite/python/features.py
  testsuite/scripts/test_importlib_wrapper.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite version module
  src/python/espressomd/version.pxd
  src/python/espressomd/version.py
  src/python/espressomd/version.pyx
  src/script_interface/code_info/CMakeLists.txt
  src/script_interface/code_info/Version.cpp
  src/script_interface/code_info/Version.hpp
  testsuite/python/code_info.py
Due: clang-format, autopep8, cmake-format

script_interface: Rewrite cuda_init module
  src/python/espressomd/cuda_init.pxd
  src/python/espressomd/cuda_init.py
  src/python/espressomd/cuda_init.pyx
  src/script_interface/system/CMakeLists.txt
  src/script_interface/system/CudaInitHandle.cpp
  src/script_interface/system/CudaInitHandle.hpp
  testsuite/python/gpu_availability.py
Due: clang-format, autopep8, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
