Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

doc: Sort BibTeX entries
  doc/sphinx/zrefs.bib
Due: none

doc: Combine all BibTeX files into a single file
  doc/bibliography.bib
  doc/doxygen/CMakeLists.txt
  doc/doxygen/bibliography.bib
  doc/sphinx/CMakeLists.txt
Due: cmake-format

doc: Rename Sphinx bibliography chapter
  doc/sphinx/CMakeLists.txt
  doc/sphinx/advanced_methods.rst
  doc/sphinx/bibliography.rst
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst
  doc/sphinx/introduction.rst
  doc/sphinx/lb.rst
  requirements.txt
Due: cmake-format

doc: Shorten links to Python code
  doc/sphinx/analysis.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/inter_bonded.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
Due: none

doc: Improve code samples in the user guide
  doc/sphinx/installation.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
Due: none

maintainer: Bump cmake-format requirements
  .gitlab-ci.yml
  maintainer/format/cmake-format.sh
  requirements.txt
Due: none

CI: Fix for git 2.35.2
  .gitlab-ci.yml
Due: none

CI: Fix flaky MMM1D test
  testsuite/python/mmm1d_gpu.py
Due: autopep8

walberla_bridge: ek: reordered density boundary handling
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

testsuite: added dirichlet-boundary condition testcase for EK
  testsuite/python/CMakeLists.txt
  testsuite/python/ek_fixeddensity.py
Due: autopep8, cmake-format

walberla_bridge: EK: moved to subfolder
  src/core/grid_based_algorithms/ek_container.hpp
  src/script_interface/walberla/EKSpecies.hpp
  src/script_interface/walberla/VTKHandle.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/electrokinetics/reactions/EKReactant.hpp
Due: clang-format

fix math in error calculation
  samples/gibbs_ensemble/Readme.md
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/run_sim.py
Due: autopep8

doc: Document running ESPResSo with MPI
  doc/sphinx/installation.rst
  doc/sphinx/introduction.rst
  doc/sphinx/lb.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/Readme.md
Due: none

doc: Re-organize user guide
  doc/sphinx/CMakeLists.txt
  doc/sphinx/index.rst
  doc/sphinx/installation.rst
  doc/sphinx/integration.rst
  doc/sphinx/introduction.rst
  doc/sphinx/magnetostatics.rst
  doc/sphinx/particles.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/charged_system/charged_system.ipynb
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  testsuite/scripts/utils/test_maintainer_CI_jupyter_warnings.py
Due: autopep8, cmake-format

doc: Create chapter on running ESPResSo
  doc/sphinx/CMakeLists.txt
  doc/sphinx/index.rst
  doc/sphinx/installation.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  doc/tutorials/Readme.md
Due: cmake-format

doc: Document interactions between features
  doc/sphinx/ek.rst
  doc/sphinx/electrostatics.rst
  doc/sphinx/integration.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/reaction_methods.rst
Due: none

doc: Rewrite Contributing and Community pages
  CONTRIBUTING.md
  doc/sphinx/CMakeLists.txt
  doc/sphinx/community.rst
  doc/sphinx/contributing.rst
  doc/sphinx/index.rst
Due: cmake-format

doc: Move ekin and reaction to their own chapters
  doc/sphinx/CMakeLists.txt
  doc/sphinx/advanced_methods.rst
  doc/sphinx/ek.rst
  doc/sphinx/index.rst
  doc/sphinx/reaction_methods.rst
  doc/sphinx/running.rst
Due: cmake-format

doc: Use alabaster theme in Sphinx
  doc/sphinx/_static/bibtex.css
  doc/sphinx/_static/custom.css
  doc/sphinx/conf.py.in
  doc/sphinx/introduction.rst
Due: none

doc: Apply suggestions from code review
  doc/bibliography.bib
  doc/sphinx/_static/custom.css
  doc/sphinx/conf.py.in
  doc/sphinx/constraints.rst
  doc/sphinx/ek.rst
  doc/sphinx/installation.rst
  doc/sphinx/integration.rst
  doc/sphinx/io.rst
  doc/sphinx/lb.rst
  doc/sphinx/particles.rst
  doc/sphinx/reaction_methods.rst
  src/python/espressomd/analyze.pyx
Due: autopep8

Implement HybridDecomposition.
  src/core/AtomDecomposition.hpp
  src/core/CMakeLists.txt
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/CellStructureType.hpp
  src/core/HybridDecomposition.cpp
  src/core/HybridDecomposition.hpp
  src/core/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/event.cpp
  src/core/grid_based_algorithms/lb.cpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/CMakeLists.txt
  testsuite/python/cellsystem.py
  testsuite/python/engine_lb.py
  testsuite/python/engine_lb_hybrid.py
  testsuite/python/hybrid_decomposition.py
  testsuite/python/lb_momentum_conservation_hybrid.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_stats_hybrid.py
  testsuite/python/lb_stats_nsquare.py
  testsuite/python/regular_decomposition.py
Due: clang-format, autopep8, cmake-format

sphinx doc: Hybrid decomposition.
  doc/sphinx/system_setup.rst
Due: none

walberla: Fix regressions
  doc/sphinx/ek.rst
  doc/sphinx/lb.rst
  testsuite/python/lb_stats_nsquare.py
Due: autopep8

formatting
  doc/sphinx/ek.rst
Due: none

Fix merge regression in Lees-Edwards
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

core: Store absolute paths in h5md files
  src/python/espressomd/io/writer/h5md.py
  testsuite/python/h5md.py
Due: autopep8

Fix bond visualization; data handling.
  src/python/espressomd/visualization_opengl.py
Due: autopep8

Fix LB coupling for VirtulalSitesInertialessTracers.
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.hpp
  src/core/virtual_sites/VirtualSitesInertialessTracers.cpp
  testsuite/python/CMakeLists.txt
Due: clang-format, cmake-format

Increase codecov.
  src/core/cells.cpp
  src/core/cells.hpp
  testsuite/python/hybrid_decomposition.py
Due: clang-format, autopep8

python: Fix checkpointing regressions
  doc/sphinx/reaction_methods.rst
  src/python/espressomd/cellsystem.pyx
  src/script_interface/reaction_methods/ReactionAlgorithm.hpp
  testsuite/python/cellsystem.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

core: Fix compiler errors on Intel 19.0.x
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
Due: clang-format

python: Fix checkpointing of HybridDecomposition
  src/python/espressomd/cellsystem.pyx
  testsuite/python/cellsystem.py
Due: autopep8

script_interface: Re-enable checkpointing of ObjectList
  doc/sphinx/constraints.rst
  src/python/espressomd/accumulators.py
  src/python/espressomd/constraints.py
  src/python/espressomd/lbboundaries.py
  src/python/espressomd/script_interface.pyx
  src/python/espressomd/shapes.py
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  src/script_interface/lbboundaries/LBBoundaries.hpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

script_interface: Improve support for dicts
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/Variant.hpp
  src/script_interface/get_value.hpp
  src/script_interface/packed_variant.hpp
  src/script_interface/tests/get_value_test.cpp
  testsuite/python/script_interface.py
Due: clang-format, autopep8

core: Convert collision detection bitfield to enum
  src/core/collision.cpp
  src/core/collision.hpp
  src/core/event.cpp
  src/core/forces.cpp
  src/script_interface/collision_detection/CollisionDetection.hpp
Due: clang-format

script_interface: Rewrite cell system interface
  doc/sphinx/electrostatics.rst
  doc/sphinx/introduction.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
  doc/sphinx/under_the_hood.rst
  doc/tutorials/lennard_jones/lennard_jones.ipynb
  samples/visualization_cellsystem.py
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/HybridDecomposition.hpp
  src/core/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/integrate.hpp
  src/python/espressomd/cell_system.py
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/grid.pxd
  src/python/espressomd/system.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/cell_system/CMakeLists.txt
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/cell_system/initialize.cpp
  src/script_interface/cell_system/initialize.hpp
  src/script_interface/initialize.cpp
  testsuite/python/CMakeLists.txt
  testsuite/python/cell_system.py
  testsuite/python/lb.py
  testsuite/python/pairs.py
  testsuite/python/tune_skin.py
Due: clang-format, autopep8, cmake-format

core: Collect cell system files in a submodule
  src/core/BoxGeometry.hpp
  src/core/CMakeLists.txt
  src/core/LocalBox.hpp
  src/core/ParticleIterator.hpp
  src/core/ParticleRange.hpp
  src/core/actor/Mmm1dgpuForce.cpp
  src/core/cell_system/AtomDecomposition.cpp
  src/core/cell_system/AtomDecomposition.hpp
  src/core/cell_system/CMakeLists.txt
  src/core/cell_system/Cell.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/CellStructureType.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cell_system/HybridDecomposition.hpp
  src/core/cell_system/ParticleDecomposition.hpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/cells.cpp
  src/core/cells.hpp
  src/core/collision.cpp
  src/core/electrostatics_magnetostatics/icc.cpp
  src/core/electrostatics_magnetostatics/icc.hpp
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/event.cpp
  src/core/forces.hpp
  src/core/grid_based_algorithms/lb.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
  src/core/rattle.cpp
  src/core/rattle.hpp
  src/core/unit_tests/LocalBox_test.cpp
  src/core/unit_tests/VerletCriterion_test.cpp
  src/core/unit_tests/link_cell_test.cpp
Due: clang-format, cmake-format

script_interface: MPI-safe exception mechanism
  src/core/RuntimeErrorCollector.cpp
  src/core/RuntimeErrorCollector.hpp
  src/core/errorhandling.cpp
  src/core/errorhandling.hpp
  src/script_interface/CMakeLists.txt
  src/script_interface/Context.hpp
  src/script_interface/ContextManager.cpp
  src/script_interface/ContextManager.hpp
  src/script_interface/GlobalContext.hpp
  src/script_interface/LocalContext.hpp
  src/script_interface/ParallelExceptionHandler.cpp
  src/script_interface/ParallelExceptionHandler.hpp
  src/script_interface/cell_system/CellSystem.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/tests/CMakeLists.txt
  src/script_interface/tests/GlobalContext_test.cpp
  src/script_interface/tests/LocalContext_test.cpp
  src/script_interface/tests/ObjectHandle_test.cpp
  src/script_interface/tests/ObjectList_test.cpp
  src/script_interface/tests/ObjectMap_test.cpp
  src/script_interface/tests/ParallelExceptionHandler_test.cpp
Due: clang-format, cmake-format

core: On one node, don't include bond cutoff in regular decomposition cell size
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/integrate.cpp
  src/core/interactions.cpp
  src/core/interactions.hpp
  src/core/pressure.cpp
  src/core/tuning.cpp
  src/python/espressomd/cell_system.py
  src/script_interface/cell_system/CellSystem.hpp
  testsuite/python/CMakeLists.txt
  testsuite/python/cutoffs.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/polymer_diamond.py
Due: clang-format, autopep8, cmake-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
