Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

Cleanup
  src/core/bonds_kokkos.hpp
Due: clang-format

Fixed style
  src/core/bonds_kokkos.hpp
Due: clang-format

fixes
  src/core/cell_system/CellStructure.cpp
Due: clang-format

move rebuild_bond_listimpl out of CellStructure
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
Due: clang-format

Modified pair_potential argument
  src/core/bonds_kokkos.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
Due: clang-format

Fixed style
  src/core/bonds_kokkos.hpp
  src/core/cell_system/CellStructure.hpp
  src/core/forces_inline.hpp
  src/core/pressure_inline.hpp
Due: clang-format

Refactored BondState
  src/core/bonds_kokkos.hpp
  src/core/cell_system/CMakeLists.txt
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format, cmake-format

Fixed style
  src/core/bonds_kokkos.hpp
  src/core/cell_system/CMakeLists.txt
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces.cpp
  src/core/short_range_cabana.hpp
Due: clang-format, cmake-format

Cleanup
  src/core/bond_forces_kokkos.hpp
  src/core/cell_system/LocalBondState.hpp
  src/core/forces_cabana.hpp
  src/core/short_range_cabana.hpp
Due: clang-format

Fixed coverage
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/LocalBondState.hpp
Due: clang-format

Fixed style
  src/core/cell_system/CellStructure.cpp
Due: clang-format

Added copyright in LocalBondState
  src/core/bond_error.cpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  testsuite/python/interactions_bonded.py
  testsuite/python/oif_volume_conservation.py
Due: clang-format, autopep8, pylint

Fixed style
  src/core/cell_system/LocalBondState.cpp
Due: clang-format

elc: fix tuning
  src/core/electrostatics/elc.cpp
Due: clang-format

Small refactoring
  src/core/bond_breakage/bond_breakage.cpp
  src/core/bonded_interactions/thermalized_bond_kernel.hpp
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/LocalBondState.cpp
  src/core/cell_system/LocalBondState.hpp
  src/core/immersed_boundary/ibm_tribend.hpp
Due: clang-format

WIP: revert test for code coverage
  testsuite/python/oif_volume_conservation.py
Due: autopep8, pylint

Add unit test
  src/core/bond_error.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  testsuite/python/interactions_bonded.py
Due: clang-format, autopep8, pylint

Avoid data copies
  src/core/aosoa_pack.hpp
  src/core/electrostatics/p3m_heffte.impl.hpp
  src/core/magnetostatics/dp3m_heffte.impl.hpp
  src/core/p3m/interpolation.hpp
Due: clang-format

Add unit test
  src/core/cell_system/CellStructure.cpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
Due: clang-format

fix lb gpu vtk field access
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

added a pressure tensor field so that the vtk can be calulated in parallel
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.cuh
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.hpp
Due: clang-format

use pressure tensor slice getter to simplify
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
  src/walberla_bridge/src/lattice_boltzmann/LBWalberlaImpl.hpp
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.cuh
  src/walberla_bridge/src/lattice_boltzmann/lb_fields.hpp
Due: clang-format

fix style
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

CI
  .claude/.nfs000000000350e8c600000003
Due: none

fix vtk writer mpi segfault
  src/walberla_bridge/src/lattice_boltzmann/LBVTK.impl.hpp
Due: clang-format

Implemented energy caluclation with sheared memory parallelization
  src/core/bond_energy_kokkos.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/energy.cpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/solver.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
  src/core/short_range_cabana.hpp
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/caliper.py
Due: clang-format, autopep8, pylint

Fixed style
  src/core/bond_energy_kokkos.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/energy.cpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/magnetostatics/dipoles_inline.hpp
  src/core/magnetostatics/solver.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
Due: clang-format

generate ek openmp kernels
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/AdvectiveFluxKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/ContinuityKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/ContinuityKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelThermalized_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelThermalized_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostaticThermalized_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostaticThermalized_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostatic_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernelWithElectrostatic_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/DiffusiveFluxKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FrictionCouplingKernel_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_1_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_2_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_3_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_4_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelBulk_5_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_1_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_2_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_3_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_4_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/reactions/generated_kernels/ReactionKernelIndexed_5_single_precision.cpp
Due: autopep8, pylint

Fixed caliper test
  src/core/energy.cpp
  src/core/energy_cabana.hpp
  testsuite/python/caliper.py
Due: clang-format, autopep8, pylint

Documented new arguments
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
Due: clang-format

Missing kernels
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/walberla_bridge/src/electrokinetics/generated_kernels/Dirichlet_single_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_double_precision.cpp
  src/walberla_bridge/src/electrokinetics/generated_kernels/FixedFlux_single_precision.cpp
Due: autopep8, pylint

Refactoring bonded energy functions
  src/core/aosoa_pack.hpp
  src/core/bond_energy_kokkos.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
Due: clang-format

Fixed style
  src/core/bond_energy_kokkos.hpp
  src/core/energy_cabana.hpp
  src/core/energy_inline.hpp
  src/core/forces_cabana.hpp
Due: clang-format

Modified for using named constant
  src/core/energy.cpp
  src/core/short_range_cabana_helpers.hpp
Due: clang-format

Fixed style
  src/core/short_range_cabana_helpers.hpp
Due: clang-format

Build with CUDA + OpenMP
  .github/workflows/push_pull.yml
  .gitlab-ci.yml
  CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/tests/CMakeLists.txt
Due: cmake-format

Minor fixes
  src/core/energy_cabana.hpp
  src/core/short_range_cabana_helpers.hpp
Due: clang-format

Cleanup
  src/core/energy_inline.hpp
  src/core/nonbonded_interactions/gay_berne.hpp
Due: clang-format

Fixed caliper.py
  src/core/bond_energy_kokkos.hpp
  src/core/energy.cpp
  src/core/energy_cabana.hpp
  src/core/short_range_cabana_helpers.hpp
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/caliper.py
Due: clang-format, autopep8, pylint
