Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

add cyltrafoparams class
  src/utils/include/utils/math/cyl_trafo_params.hpp
Due: clang-format

inject default behaviour if no ctp is given
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/python/espressomd/math.py
  src/python/espressomd/observables.py
  src/script_interface/CylTrafoParams.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/utils/include/utils/math/cyl_trafo_params.hpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Due: clang-format, autopep8

remove python-level default orientation
  src/python/espressomd/observables.py
Due: autopep8

observables own only pointers to cyk_tafo_params
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/script_interface/CylTrafoParams.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/utils/include/utils/math/cyl_trafo_params.hpp
Due: clang-format

adapt tests tp ctp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Due: autopep8

rename cyltraforparams
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/python/espressomd/math.py
  src/python/espressomd/observables.py
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/initialize.cpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Due: clang-format, autopep8

move ctp default to python
  src/python/espressomd/observables.py
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  testsuite/python/lb_poiseuille_cylinder.py
Due: clang-format, autopep8

Beautification.
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/script_interface/CylTrafoParams.hpp
  src/utils/include/utils/math/cyl_trafo_params.hpp
Due: clang-format

using std::move to pass shared ptrs
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
Due: clang-format

Remove default from scriptinterface.
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
Due: clang-format

Apply suggestions from code review
  doc/sphinx/analysis.rst
  doc/tutorials/charged_system/charged_system-1.ipynb
  samples/lb_profile.py
  src/python/espressomd/observables.py
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8

docs
  doc/sphinx/analysis.rst
  src/python/espressomd/math.py
  src/python/espressomd/observables.py
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
Due: clang-format, autopep8

tutorial, samples
  doc/tutorials/charged_system/charged_system-1.ipynb
  samples/lb_profile.py
Due: autopep8

maintainer: run step if case of failing pipeline.
  .github/workflows/push_pull.yml
Due: none

core: trafo_params -> transform_params
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
Due: clang-format

Refactor coordinate transformation and observables
  doc/sphinx/analysis.rst
  doc/tutorials/charged_system/charged_system-1.ipynb
  samples/lb_profile.py
  src/core/grid_based_algorithms/lb_collective_interface.cpp
  src/core/grid_based_algorithms/lb_collective_interface.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
  src/core/grid_based_algorithms/lb_interpolation.cpp
  src/core/grid_based_algorithms/lb_interpolation.hpp
  src/core/observables/CylindricalDensityProfile.hpp
  src/core/observables/CylindricalFluxDensityProfile.hpp
  src/core/observables/CylindricalLBFluxDensityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/core/observables/CylindricalLBVelocityProfile.cpp
  src/core/observables/CylindricalLBVelocityProfileAtParticlePositions.cpp
  src/core/observables/CylindricalPidProfileObservable.hpp
  src/core/observables/CylindricalProfileObservable.hpp
  src/core/observables/CylindricalVelocityProfile.hpp
  src/python/espressomd/math.py
  src/python/espressomd/observables.py
  src/script_interface/CylindricalTransformationParameters.hpp
  src/script_interface/initialize.cpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/shapes/include/shapes/HollowConicalFrustum.hpp
  src/shapes/src/HollowConicalFrustum.cpp
  src/utils/include/utils/math/coordinate_transformation.hpp
  src/utils/include/utils/math/cylindrical_transformation_parameters.hpp
  src/utils/include/utils/math/orthonormal_vec.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/tests/CMakeLists.txt
  src/utils/tests/coordinate_transformation.cpp
  src/utils/tests/matrix_test.cpp
  src/utils/tests/orthonormal_vec_test.cpp
  src/utils/tests/vec_rotate_test.cpp
  testsuite/python/lb_poiseuille_cylinder.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
  testsuite/python/tests_common.py
Due: clang-format, autopep8, cmake-format

tests: Remove unreachable code
  testsuite/python/dawaanr-and-bh-gpu.py
Due: autopep8

tests: Use Galilei module
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dds-and-bh-gpu.py
Due: autopep8

core: Remove Stokesian getters
  src/core/stokesian_dynamics/sd_interface.cpp
  src/core/stokesian_dynamics/sd_interface.hpp
  src/python/espressomd/integrate.pxd
Due: clang-format, autopep8

core: Remove unused DPD rescale function
  src/core/dpd.cpp
  src/core/dpd.hpp
Due: clang-format

tests: Remove code duplication
  testsuite/python/dawaanr-and-bh-gpu.py
  testsuite/python/dawaanr-and-dds-gpu.py
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/p3m_fft.py
  testsuite/python/tests_common.py
Due: autopep8

core: Remove unused device functions
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
Due: clang-format

core: Remove unused remove_all_exclusions() function
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/python/espressomd/particle_data.pxd
Due: clang-format, autopep8

core: Convert debug statements into assertions
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
Due: clang-format

core: Simplify force kernel in DDS with replica
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
Due: clang-format

tests: Check reference data generation
  testsuite/python/dipolar_direct_summation.py
Due: autopep8

tests: Remove unused utility function
  testsuite/python/tests_common.py
Due: autopep8

tests: Cleanup code
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  testsuite/python/dipolar_direct_summation.py
  testsuite/python/dipolar_interface.py
  testsuite/python/engine_langevin.py
  testsuite/python/observable_cylindrical.py
  testsuite/python/observable_cylindricalLB.py
Due: clang-format, autopep8

core: Move SingleReaction constructor
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

core: ReactionEnsemble: make everything const
  src/core/reaction_ensemble.cpp
  src/core/reaction_ensemble.hpp
Due: clang-format

tests: Unit test ReactionEnsemble classes
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/reaction_ensemble_classes_test.cpp
  src/core/unit_tests/reaction_ensemble_utils_test.cpp
Due: clang-format, cmake-format

Pystencils intrinsics header
  src/walberla_bridge/myintrin.h
Due: none

tests: Increase tolerance of flaky IBM test
  testsuite/python/virtual_sites_tracers_common.py
Due: autopep8

core: Remove duplicated function
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

core: Fix broken force interpolation function
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

WIP: Walberla, restructure tests
  src/walberla_bridge/tests/CMakeLists.txt
  src/walberla_bridge/tests/LBWalberlaImpl_unit_tests.cpp
Due: clang-format, cmake-format

tests: Remove useless cleanup actions
  testsuite/python/lb.py
Due: autopep8

python: Fix typo
  src/python/espressomd/lb.pyx
Due: autopep8

tests: Check force interpolation function
  testsuite/python/lb.py
Due: autopep8

core: Fix AVX regression
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
Due: clang-format

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
