Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

clang-format:
  name: clang-format
  entry: sh maintainer/format/clang-format.sh
  language: system
  always_run: false
  args:
  - -i
  - -style=file

autopep8:
  name: autopep8
  entry: sh maintainer/format/autopep8.sh
  language: system
  always_run: false
  args:
  - --ignore=E266,W291,W293
  - --in-place
  - --aggressive

cmake-format:
  name: cmake-format
  entry: sh maintainer/format/cmake-format.sh
  language: system
  always_run: false
  args:
  - -i

Formatting
  src/python/espressomd/lb.pyx
Due: autopep8

doc: Fix Sphinx warnings
  src/python/espressomd/lb.pyx
Due: autopep8

walberla: Checkpoint LB boundary information
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8

walberla: Remove checkpointing code duplication
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

walberla: Remove superfluous communications
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.cpp
  src/core/grid_based_algorithms/lb_walberla_interface.hpp
  src/walberla_bridge/LBWalberlaNodeState.hpp
Due: clang-format

core: Minor fixes
  src/core/EspressoSystemStandAlone.hpp
  src/core/event.cpp
  src/script_interface/LocalContext.hpp
  src/script_interface/object_container_mpi_guard.hpp
Due: clang-format

tests: Modernize cylindrical Poiseuille testcase
  testsuite/python/lb_poiseuille_cylinder.py
Due: autopep8

core: Hide serialization logic in LB checkpointing code
  src/core/grid_based_algorithms/lb_interface.cpp
Due: clang-format

tests: Check Taylor-Couette flow
  testsuite/python/CMakeLists.txt
  testsuite/python/lb_circular_couette.py
Due: autopep8, cmake-format

tests: Check circular flow against analytical formula
  testsuite/python/lb_circular_couette.py
Due: autopep8

walberla: Rewrite circular Couette testcase
  testsuite/python/lb_circular_couette.py
Due: autopep8

tests: Fix broken tolerance
  testsuite/python/lb.py
Due: autopep8

walberla: Fix AVX kernels and check dependency versions
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

walberla: Regenerate AVX kernels
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
Due: clang-format

walberla: Check AVX in CI
  .gitlab-ci.yml
Due: none

walberla: Fix regression
  maintainer/walberla_kernels/generate_lb_kernels.py
Due: autopep8

REWRITE LB BENCHMARKS
  maintainer/benchmarks/CMakeLists.txt
  maintainer/benchmarks/benchmarks.py
  maintainer/benchmarks/lb.py
Due: autopep8, cmake-format

FFAST-MATH
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

fixup_avx
  maintainer/benchmarks/CMakeLists.txt
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

testsuite: ek_ adapted tests
  testsuite/python/ek_diffusion.py
  testsuite/python/ek_noflux.py
Due: autopep8

merge regression
  src/core/grid_based_algorithms/CMakeLists.txt
Due: cmake-format

merge regressions
  src/python/espressomd/system.pyx
Due: autopep8

testsuite: ek_diffusion added import
  testsuite/python/ek_diffusion.py
Due: autopep8

walberla_bridge: EK: adapted get_lattice interface and adaptions to get_block_and_cell interface change
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

Update for lbmpy and walberla dependencies
  CMakeLists.txt
  maintainer/walberla_kernels/macroscopic_values_accessors.tmpl.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepDoublePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalized.h
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.cpp
  src/walberla_bridge/generated_kernels/CollideSweepSinglePrecisionThermalizedAVX.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_double_precision.h
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB_single_precision.h
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterDoublePrecision.h
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/InitialPDFsSetterSinglePrecision.h
  src/walberla_bridge/generated_kernels/PushPackInfoDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/PushPackInfoDoublePrecision.h
  src/walberla_bridge/generated_kernels/PushPackInfoSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/PushPackInfoSinglePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepDoublePrecisionAVX.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecision.h
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.cpp
  src/walberla_bridge/generated_kernels/StreamSweepSinglePrecisionAVX.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_double_precision.h
  src/walberla_bridge/generated_kernels/macroscopic_values_accessors_single_precision.h
Due: clang-format, cmake-format

EK boundary oython interface
  src/python/espressomd/EKSpecies.py
Due: autopep8

Increase tolerance for node pressure tensor
  testsuite/python/lb_shear.py
Due: autopep8

walberla_bridge: utils: define es2walberla and walberla2es
  src/walberla_bridge/walberla_utils.hpp
Due: clang-format

walberla: generalization of BoundaryHandling
  src/walberla_bridge/BoundaryHandling.hpp
  src/walberla_bridge/LBWalberlaImpl.hpp
Due: clang-format

ek boundary methods in scriptinterface
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKSpecies.hpp
Due: clang-format, autopep8

Revert "Merge pull request #2 from itischler/walberla_ekin_scriptinterface"
  src/python/espressomd/EKSpecies.py
Due: autopep8

walberla: ek: first attempt in boundary_kernels
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/generated_kernels/Dirichlet.cpp
  src/walberla_bridge/generated_kernels/Dirichlet.h
  src/walberla_bridge/generated_kernels/FixedFlux.cpp
  src/walberla_bridge/generated_kernels/FixedFlux.h
Due: clang-format, cmake-format

walberla: ek: new boundary_handling framework
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/EKinWalberlaBase.hpp
  src/walberla_bridge/EKinWalberlaImpl.hpp
Due: clang-format

Revert "Revert "Merge pull request #2 from itischler/walberla_ekin_scriptinterface""
  src/python/espressomd/EKSpecies.py
Due: autopep8

python: boundary_handling framework interface
  src/python/espressomd/EKSpecies.py
  src/script_interface/walberla/EKSpecies.hpp
  testsuite/python/ek_eof.py
  testsuite/python/ek_noflux.py
Due: clang-format, autopep8

tests: Check Verlet list update
  src/core/EspressoSystemStandAlone.cpp
  src/core/EspressoSystemStandAlone.hpp
  src/core/unit_tests/CMakeLists.txt
  src/core/unit_tests/Verlet_list_test.cpp
Due: clang-format, cmake-format

core: Centralize particle resort logic
  src/core/CellStructure.hpp
  src/core/cells.cpp
  src/core/integrate.cpp
  src/core/integrators/brownian_inline.hpp
  src/core/integrators/stokesian_dynamics_inline.hpp
  src/core/integrators/velocity_verlet_inline.hpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/core/virtual_sites/lb_inertialess_tracers.cpp
Due: clang-format

core: Update Verlet list documentation
  src/core/CellStructure.hpp
  src/core/Particle.hpp
Due: clang-format

sphinxdoc
  doc/sphinx/inter_bonded.rst
  doc/sphinx/introduction.rst
  doc/sphinx/io.rst
  doc/sphinx/particles.rst
  doc/sphinx/running.rst
  doc/sphinx/system_setup.rst
Due: none

Path conditions:
  clang-format: any of: .*\.(cpp|hpp|cu|cuh), but not: libs
  autopep8: any of: .*\.(py|pyx|pxd) and not (\.pylintrc|.*.\.py\.in) and not (libs)
  cmake-format: any of: CMakeLists.txt, but not: libs
