Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Check magnetostatics MPI error messages
  testsuite/python/CMakeLists.txt
  testsuite/python/dipolar_mpi_exceptions.py
Due: autopep8, cmake-format

core: Warn about DDS+MDLC metallic epsilon only once
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
Due: clang-format

core: Move DLC range checks to the core setter
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/python/espressomd/magnetostatic_extensions.pyx
  testsuite/python/dipolar_interface.py
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

core: Check DDS parameter
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
Due: clang-format

core: Remove outdated comment
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
Due: clang-format

core: Reduce code duplication
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/python/espressomd/magnetostatic_extensions.pyx
Due: clang-format, autopep8

core: Make DDS setter failsafe
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.cpp
  src/core/electrostatics_magnetostatics/magnetic_non_p3m_methods.hpp
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  testsuite/python/dipolar_interface.py
Due: clang-format, autopep8

core: Make DLC setter failsafe
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/dipole.hpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.hpp
  src/python/espressomd/magnetostatic_extensions.pxd
  src/python/espressomd/magnetostatic_extensions.pyx
Due: clang-format, autopep8

core: Split DLC from DP3M
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.hpp
  src/python/espressomd/magnetostatic_extensions.pxd
  src/python/espressomd/magnetostatic_extensions.pyx
Due: clang-format, autopep8

core: Simplify DLC sanity checks
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.hpp
  src/python/espressomd/magnetostatic_extensions.pxd
Due: clang-format, autopep8

tests: Check LB coupling broadcast
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

core: Make function take const Particle
  src/core/forces.cpp
  src/core/grid_based_algorithms/lb_particle_coupling.cpp
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Improve clarity
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Check coupling_particle_lattice_ia()
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

CI: Apply code review suggestions
  .github/actions/deploy_docs/action.yml
  .github/workflows/deploy.yml
Due: none

Formatting
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

Fix regression from VTK waLBerla code
  .gitlab-ci.yml
Due: none

CI: Fix schedule name
  .github/workflows/deploy.yml
Due: none

maintainer: Do not run scheduled github workflow on forks.
  .github/workflows/push_pull.yml
Due: none

WIP: convert to collide-push lb
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/CMakeLists.txt
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.h
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.h
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.h
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.h
  src/walberla_bridge/tests/CMakeLists.txt
  testsuite/python/lb_stats.py
Due: clang-format, autopep8, cmake-format

Test: Narrow tolerance and remove todo
  testsuite/python/engine_lb.py
  testsuite/python/lb_stats.py
  testsuite/python/lb_thermostat.py
Due: autopep8

test: Enable lb-related tutorial tests
  testsuite/scripts/tutorials/CMakeLists.txt
Due: cmake-format

Remove unintended addition
  src/walberla_bridge/tests/CMakeLists.txt
Due: cmake-format

Walberla generated packinfo and bc
  src/walberla_bridge/generated_kernels/Dynamic_UBB.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB.h
  src/walberla_bridge/generated_kernels/PushPackInfo.cpp
  src/walberla_bridge/generated_kernels/PushPackInfo.h
Due: clang-format

Walberla: Remove unused file form cmake
  src/walberla_bridge/CMakeLists.txt
Due: cmake-format

script_interface: Fix return statements
  src/script_interface/ObjectList.hpp
Due: clang-format

script_interface: Improve documentation
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectList.hpp
Due: clang-format, autopep8

tests: Add check to ObjectList test case
  src/script_interface/tests/ObjectList_test.cpp
Due: clang-format

core: Fix error messages in Correlator
  src/core/accumulators/Correlator.cpp
Due: clang-format

tests: Check correlator exception mechanism
  testsuite/python/accumulator_correlator.py
Due: autopep8

tests: Check correlator compression algorithms
  doc/sphinx/analysis.rst
  testsuite/python/accumulator_correlator.py
Due: autopep8

Test: Update effective radisu for lb Poiseuille cylindrical
  testsuite/python/lb_poiseuille_cylinder.py
Due: autopep8

Modernize test
  testsuite/python/lb_boundary_velocity.py
Due: autopep8

core: Handle optional args in the script interface
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/script_interface/accumulators/Correlator.hpp
  testsuite/python/accumulator_correlator.py
Due: clang-format, autopep8

maintainer: Skip deploy workflow on forks
  .github/workflows/deploy.yml
Due: none

docs: Update Readme file
  Readme.md
Due: none

Walberla: Avoid use of patched Walberla and Lbmpy
  maintainer/walberla_kernels/generate_lb_kernels.py
  src/walberla_bridge/LBWalberlaImpl.hpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB.cpp
  src/walberla_bridge/generated_kernels/Dynamic_UBB.h
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModel.h
  src/walberla_bridge/generated_kernels/FluctuatingMRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.cpp
  src/walberla_bridge/generated_kernels/MRTLatticeModel.h
  src/walberla_bridge/generated_kernels/MRTLatticeModelAvx.cpp
  src/walberla_bridge/generated_kernels/PushPackInfo.cpp
Due: clang-format, autopep8

core: elc: removed custom inverse box dimensions
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: rollout of length_inv and length_half
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/grid.cpp
  src/core/integrators/velocity_verlet_npt.cpp
  src/core/statistics.cpp
Due: clang-format

core: mmm1d: removed private inverse box_l implementation
  src/core/electrostatics_magnetostatics/mmm1d.cpp
Due: clang-format
