Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

tests: Improve SF test clarity
  testsuite/python/sf_simple_lattice.py
Due: autopep8

tests: Simplify non-bonded test syntax
  testsuite/python/interactions_non-bonded.py
Due: autopep8

Spellcheck and grammar check
  Readme.md
  doc/sphinx/electrostatics.rst
  doc/tutorials/lennard_jones/NotesForTutor.md
  samples/gibbs_ensemble_socket.py
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/reaction_methods/WangLandauReactionEnsemble.cpp
  src/python/espressomd/constraints.py
  src/script_interface/ObjectList.hpp
  src/utils/include/utils/matrix.hpp
  testsuite/python/es_math.py
  testsuite/python/sf_simple_lattice.py
Due: clang-format, autopep8

remove numerical particle IDs from samples where possible
  samples/MDAnalysisIntegration.py
  samples/billiard.py
  samples/chamber_game.py
  samples/constraints.py
  samples/diffusion_coefficient.py
  samples/electrophoresis.py
  samples/espresso_logo.py
  samples/gibbs_ensemble_client.py
  samples/gibbs_ensemble_socket.py
  samples/lbf.py
  samples/minimal-charged-particles.py
  samples/observables_correlators.py
  samples/save_checkpoint.py
  samples/visualization_npt.py
  samples/wang_landau_reaction_ensemble.py
Due: autopep8

Walberla: Adapt relaxation rates to Esprseso LB
  src/walberla_bridge/LBWalberlaD3Q19FluctuatingMRT.hpp
  src/walberla_bridge/LBWalberlaD3Q19MRT.hpp
Due: clang-format

CMake: Go back to C++14
  CMakeLists.txt
Due: cmake-format

tests: Clarify how the expected result is derived
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

core: Add callback for LB force to be applied
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
Due: clang-format

tests: Pack LB parameters in a struct
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Set up domain decomposition
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Unit test swimmers
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

tests: Unit test particle coupling
  src/core/unit_tests/lb_particle_coupling_test.cpp
Due: clang-format

Fix C++17 regressions
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
  src/utils/tests/tuple_test.cpp
Due: clang-format, cmake-format

Fixup
  maintainer/CI/build_cmake.sh
Due: none

Walberla: Build Es as C++17 and Cuda stuff as C++14
  CMakeLists.txt
Due: cmake-format

update particles.rst to prefer particle handles instead of IDs
  doc/sphinx/particles.rst
Due: none

update bonded_inter.rst to prefer particle handles instead of IDs
  doc/sphinx/inter_bonded.rst
Due: none

tests: Make check C++17-compliant
  src/utils/tests/tuple_test.cpp
Due: clang-format

tests: Check build with C++17
  .gitlab-ci.yml
  CMakeLists.txt
  maintainer/CI/build_cmake.sh
Due: cmake-format

docs: Cleanup code examples
  doc/sphinx/inter_bonded.rst
  doc/sphinx/particles.rst
Due: none

docs: Document particle slices with gaps
  doc/sphinx/particles.rst
Due: none

samples: Simplify code
  samples/electrophoresis.py
  samples/minimal-charged-particles.py
  samples/save_checkpoint.py
Due: autopep8

make EKRoutines inherit from LBFluidRoutines
  doc/sphinx/advanced_methods.rst
  src/core/grid_based_algorithms/electrokinetics.hpp
  src/core/grid_based_algorithms/electrokinetics_cuda.cu
  src/python/espressomd/electrokinetics.pxd
  src/python/espressomd/electrokinetics.pyx
  src/python/espressomd/lb.pxd
  src/python/espressomd/lb.pyx
  testsuite/python/ek_common.py
  testsuite/python/ek_eof_one_species.py
Due: clang-format, autopep8

fix ek tutorial
  doc/tutorials/electrokinetics/electrokinetics.ipynb
Due: none

docs: Document bond info location
  doc/sphinx/inter_bonded.rst
Due: none

core: Fix ELC parameters setter regression
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: Simplify ELC sanity checks
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb.hpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
  src/python/espressomd/electrostatics.pxd
Due: clang-format, autopep8

tests: Check ELC exception mechanism
  testsuite/python/p3m_tuning_exceptions.py
Due: autopep8

core: Make ELC setter failsafe
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
Due: clang-format

CI: Disable deploy stage
  .gitlab-ci.yml
Due: none

core: Remove macro and global variable
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: Rewrite ELC core setter
  src/core/electrostatics_magnetostatics/elc.cpp
  src/core/electrostatics_magnetostatics/elc.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
Due: clang-format, autopep8

core: Update ELC parameter h on box_l change
  src/core/electrostatics_magnetostatics/elc.cpp
Due: clang-format

core: Move ELC range checks to the core setter
  src/core/electrostatics_magnetostatics/elc.cpp
  src/python/espressomd/electrostatics.pyx
  testsuite/python/p3m_tuning_exceptions.py
Due: clang-format, autopep8

python: Remove call to make_bond_type_exist()
  src/python/espressomd/interactions.pxd
  src/python/espressomd/interactions.pyx
  src/python/espressomd/particle_data.pyx
Due: autopep8

tests: Move and rewrite ParticleFactory
  src/core/reaction_methods/tests/WangLandauReactionEnsemble_test.cpp
  src/core/reaction_methods/tests/particle_tracking_test.cpp
  src/core/unit_tests/ParticleFactory.hpp
Due: clang-format

core: Forward argc/argv to boost::mpi::environment
  src/core/communication.cpp
  src/core/communication.hpp
Due: clang-format

core: Run ESPResSo without a script interface
  src/core/CMakeLists.txt
  src/core/EspressoSystemStandAlone.cpp
  src/core/EspressoSystemStandAlone.hpp
Due: clang-format, cmake-format

core: Replace raw pointers by Utils::Vector3d
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/tests/ParticleFactory.hpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
Due: clang-format, autopep8
