Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

python/core: thermostat: implemented mpi_set_brownian_gamma_rot
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_BROWNIAN_GAMMA
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/thermostat.pxd
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_RIGIDBONDS
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: thermalized_bond: implemented mpi_set_n_thermalized_bond
  src/core/bonded_interactions/thermalized_bond.cpp
  src/core/bonded_interactions/thermalized_bond.hpp
Due: clang-format

core: npt: removed on_param_change abuse
  src/core/npt.cpp
Due: clang-format

core/python: oif: implemented mpi_set_max_oif_objects
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/system.pyx
Due: clang-format, autopep8

core: removed FIELD_LATTICE_SWITCH
  src/core/event.cpp
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: event: removed on_parameter_change
  src/core/event.cpp
  src/core/event.hpp
Due: clang-format

core: event: removed check_global_consistency
  src/core/event.cpp
Due: clang-format

core: lb_interface: implemented mpi_set_lattice_switch
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/grid_based_algorithms/lb_interface.hpp
Due: clang-format

core: removed FIELD_MAX_OIF_OBJECTS
  src/core/global.cpp
  src/core/global.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/system.pyx
Due: clang-format, autopep8

core/python: global: removed mpi_bcast_parameter
  src/core/event.hpp
  src/core/global.cpp
  src/core/global.hpp
  src/core/grid.hpp
  src/python/espressomd/_espresso.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/system.pyx
  src/python/espressomd/thermostat.pyx
Due: clang-format, autopep8

core: removed FIELD_THERMALIZEDBONDS
  src/core/global.cpp
  src/core/global.hpp
Due: clang-format

core: global: removed file
  src/core/CMakeLists.txt
  src/core/EspressoSystemStandAlone.cpp
  src/core/bonded_interactions/rigid_bond.cpp
  src/core/electrostatics_magnetostatics/mdlc_correction.cpp
  src/core/electrostatics_magnetostatics/p3m_gpu_cuda.cu
  src/core/event.cpp
  src/core/forcecap.cpp
  src/core/global.cpp
  src/core/global.hpp
  src/core/grid_based_algorithms/lb_interface.cpp
  src/core/integrate.cpp
  src/core/npt.cpp
  src/core/tuning.cpp
Due: clang-format, cmake-format

python: thermostat: reorder IF/ELSE structure
  src/python/espressomd/thermostat.pyx
Due: autopep8

python: thermostat: removed kT/gamma default logic
  src/python/espressomd/thermostat.pyx
Due: autopep8

core: Remove external linkage of time_step, sim_time
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/lb.pyx
Due: clang-format, autopep8

core: Remove callback duplication
  src/core/thermostat.cpp
  src/core/thermostat.hpp
  src/python/espressomd/thermostat.pxd
Due: clang-format, autopep8

docs: Fix raspberry tutorial, but keep TODO
  doc/tutorials/raspberry_electrophoresis/raspberry_electrophoresis.ipynb
  testsuite/scripts/tutorials/CMakeLists.txt
  testsuite/scripts/tutorials/test_raspberry_electrophoresis.py
Due: autopep8, cmake-format

docs: Make ferrofluid tutorial part 1 deterministic
  doc/tutorials/ferrofluid/CMakeLists.txt
  doc/tutorials/ferrofluid/ferrofluid_part1.ipynb
  testsuite/scripts/tutorials/test_ferrofluid_1.py
Due: autopep8, cmake-format

WidomInsertion::measure_excess_chemical_potential now takes a SingleReaction as argument
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/reaction_methods/WidomInsertion.hpp
  src/python/espressomd/reaction_ensemble.pxd
  src/python/espressomd/reaction_ensemble.pyx
Due: clang-format, autopep8

core: Simplify reaction methods code
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
  src/core/reaction_methods/WidomInsertion.cpp
  src/core/reaction_methods/WidomInsertion.hpp
Due: clang-format

core: Refactor reaction methods
  src/core/reaction_methods/ReactionAlgorithm.cpp
  src/core/reaction_methods/ReactionAlgorithm.hpp
Due: clang-format

core: Skip distance calculation when exclusion_radius = 0
  src/core/reaction_methods/ReactionAlgorithm.cpp
Due: clang-format

core: Remove name of unused variables
  src/core/reaction_methods/ConstantpHEnsemble.cpp
  src/core/reaction_methods/ConstantpHEnsemble.hpp
  src/core/reaction_methods/ReactionEnsemble.cpp
  src/core/reaction_methods/ReactionEnsemble.hpp
Due: clang-format

New intro in Langevin dynamics tutorial (by mbrito) and minor updates to tutorial
  doc/tutorials/langevin_dynamics/langevin_dynamics.ipynb
  testsuite/scripts/tutorials/test_langevin_dynamics.py
Due: autopep8

Split LB tutorials: update tutorials Readme
  doc/tutorials/Readme.md
Due: none

Split LB tutorial: fix CMakeLists.txt
  doc/tutorials/langevin_dynamics/CMakeLists.txt
  doc/tutorials/polymers/CMakeLists.txt
Due: cmake-format

added testing in lb.py and lb_slice.py for new methods __eq__(),__hash__() and __iter__()
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: autopep8

fixed issues reported by pylint
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: autopep8

applied formatting as sugested
  testsuite/python/lb.py
  testsuite/python/lb_slice.py
Due: autopep8

core: Remove code duplication
  src/core/reaction_methods/ReactionAlgorithm.cpp
Due: clang-format

tests: Check Reaction Methods particle moves
  src/core/reaction_methods/tests/ReactionAlgorithm_test.cpp
Due: clang-format

samples: New Gibbs Ensemble scripts
  samples/gibbs_ensemble/Readme.md
  samples/gibbs_ensemble/client_system.py
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/gibbs_ensemble.py
  samples/gibbs_ensemble/run_for_several_kT.sh
  samples/gibbs_ensemble/run_sim.py
  samples/gibbs_ensemble_client.py
  samples/gibbs_ensemble_socket.py
Due: autopep8

samples: Reduce Gibbs Ensembe code complexity
  samples/gibbs_ensemble/create_fits.py
  samples/gibbs_ensemble/gibbs_ensemble.py
  samples/gibbs_ensemble/run_for_several_kT.sh
  samples/gibbs_ensemble/run_sim.py
Due: autopep8

samples: Remove unused functions
  samples/gibbs_ensemble/client_system.py
Due: autopep8

core: Remove external linkage of verlet_reuse
  src/core/integrate.cpp
  src/core/integrate.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  src/python/espressomd/globals.pxd
Due: clang-format, autopep8

core: Pass timings by function argument
  src/core/electrostatics_magnetostatics/mmm1d.cpp
  src/core/electrostatics_magnetostatics/mmm1d.hpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.cpp
  src/core/electrostatics_magnetostatics/p3m-dipolar.hpp
  src/core/electrostatics_magnetostatics/p3m.cpp
  src/core/electrostatics_magnetostatics/p3m.hpp
  src/core/tuning.cpp
  src/core/tuning.hpp
  src/python/espressomd/electrostatics.pxd
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/globals.pxd
  src/python/espressomd/globals.pyx
  src/python/espressomd/magnetostatics.pxd
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/system.pyx
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8
