Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

utils: vector: boost qvm operator/=.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm dot.
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: vector: boost qvm cross.
  src/utils/include/utils/Vector.hpp
Due: clang-format

tests: Add cylindrical transformation test case
  src/utils/tests/coordinate_transformation.cpp
Due: clang-format

cells: Made verlet lists private, removed inconsistent perferct forwarding for pair kernels.
  src/core/CellStructure.hpp
Due: clang-format

cells: Avoid copy of particles when switch the decomposition.
  src/core/CellStructure.hpp
Due: clang-format

core: shor_range_loop: Execute bond loop only when needed.
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/pressure.cpp
  src/core/short_range_loop.hpp
Due: clang-format

pairs by type
  src/core/cells.cpp
  src/core/cells.hpp
  src/python/espressomd/cellsystem.pxd
  src/python/espressomd/cellsystem.pyx
  testsuite/python/pairs.py
  testsuite/python/random_pairs.py
Due: clang-format, autopep8

cells: Split velet list/link cell non-bonded loop.
  src/core/CellStructure.hpp
Due: clang-format

move maximum range to ParticleComposition
  src/core/AtomDecomposition.cpp
  src/core/AtomDecomposition.hpp
  src/core/CellStructure.cpp
  src/core/CellStructure.hpp
  src/core/DomainDecomposition.cpp
  src/core/DomainDecomposition.hpp
  src/core/ParticleDecomposition.hpp
  src/core/cells.cpp
  src/core/integrate.cpp
  src/core/tuning.cpp
Due: clang-format

core: Removed default cutoff range from short_range_loop
  src/core/short_range_loop.hpp
Due: clang-format

cells: Made mutable access to the particle decommposittion private
  src/core/CellStructure.hpp
Due: clang-format

utils: vector: restrict operator*.
  src/utils/include/utils/Vector.hpp
Due: clang-format

core: Replace magic number by named constant
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
Due: clang-format

utils: added dedicated Quaternion type.
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/quaternion_test.cpp
Due: clang-format

utils: replace Vector based quaternion test.
  src/utils/include/utils/math/quaternion.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/quaternion_test.cpp
Due: clang-format

core: roll out quaternion type.
  src/core/Particle.hpp
  src/core/particle_data.cpp
  src/core/particle_data.hpp
  src/core/rotation.cpp
  src/core/rotation.hpp
  src/core/thermostats/brownian_inline.hpp
  src/core/unit_tests/random_test.hpp
  src/core/virtual_sites.cpp
  src/core/virtual_sites/VirtualSitesRelative.cpp
  src/python/espressomd/particle_data.pxd
  src/python/espressomd/particle_data.pyx
  src/python/espressomd/utils.pxd
  src/utils/include/utils/Array.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/rotation_matrix.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/interpolation_gradient_test.cpp
  src/utils/tests/quaternion_test.cpp
  src/utils/tests/rotation_matrix_test.cpp
Due: clang-format, autopep8

qvm: fix unit tests.
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/include/utils/math/coordinate_transformation.hpp
Due: clang-format

core: guard vector normalizations.
  src/core/observables/CylindricalLBProfileObservable.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/vec_rotate.hpp
Due: clang-format

config: Removed feature UMBRELLA
  doc/sphinx/installation.rst
  src/config/features.def
  src/core/bonded_interactions/umbrella.cpp
  src/core/bonded_interactions/umbrella.hpp
  src/core/energy_inline.hpp
  src/core/forces_inline.hpp
Due: clang-format

utils: revert changes on the vector class.
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
  src/utils/include/utils/Vector.hpp
Due: clang-format

utils: added missing license header.
  src/utils/include/utils/quaternion.hpp
Due: clang-format

utils: rotation: use boost qvm.
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/include/utils/quaternion.hpp
Due: clang-format

added accidentally deleted line.
  src/utils/tests/quaternion_test.cpp
Due: clang-format

utils: test for absolute precision in shape test.
  src/shapes/unit_tests/HollowConicalFrustum_test.cpp
Due: clang-format

utils: quaternion: bring boost qvm overloads into scope of quaternion.
  src/utils/include/utils/quaternion.hpp
Due: clang-format

core: remove usage of custom rotation code (1/?).
  src/core/rotation.hpp
  src/utils/include/utils/math/vec_rotate.hpp
Due: clang-format

core: remove usage of custom rotation code (2/?).
  src/core/rotation.hpp
Due: clang-format

core: remove usage of custom rotation code (3/?).
  src/core/rotation.hpp
  src/utils/include/utils/Vector.hpp
  src/utils/include/utils/math/vec_rotate.hpp
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/Vector_test.cpp
  src/utils/tests/quaternion_test.cpp
Due: clang-format

tests: Fix broken ScaFaCoS test
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
Due: autopep8

tests: Cleanup and remove code duplication
  testsuite/python/dipolar_mdlc_p3m_scafacos_p2nfft.py
  testsuite/python/scafacos_dipoles_1d_2d.py
Due: autopep8

core: Simplify ScaFaCoS interface
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/scafacos/Scafacos.cpp
Due: clang-format

core: Couple ScaFaCoS interface to its context
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
Due: clang-format

core: Split ScaFaCoS Coulomb/Dipoles
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/python/espressomd/scafacos.pxd
Due: clang-format, autopep8

core: use member function for zero quat.
  src/core/Particle.hpp
Due: clang-format

utils: quaternion: remove Utils::Vector dependency in Utils::Quaternion.
  src/core/particle_data.cpp
  src/utils/include/utils/quaternion.hpp
Due: clang-format

core: Completely separate ScaFaCoS Coulomb/Dipoles
  src/core/electrostatics_magnetostatics/CMakeLists.txt
  src/core/electrostatics_magnetostatics/ScafacosContext.cpp
  src/core/electrostatics_magnetostatics/ScafacosContext.hpp
  src/core/electrostatics_magnetostatics/coulomb.cpp
  src/core/electrostatics_magnetostatics/coulomb_inline.hpp
  src/core/electrostatics_magnetostatics/dipole.cpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/core/event.cpp
  src/python/espressomd/electrostatics.pyx
  src/python/espressomd/magnetostatics.pyx
  src/python/espressomd/scafacos.pxd
  src/python/espressomd/scafacos.pyx
Due: clang-format, autopep8, cmake-format

core: Pull out ScaFaCoS tuning
  src/core/electrostatics_magnetostatics/ScafacosContext.cpp
  src/core/electrostatics_magnetostatics/ScafacosContext.hpp
  src/core/electrostatics_magnetostatics/scafacos.cpp
  src/core/electrostatics_magnetostatics/scafacos.hpp
  src/python/espressomd/scafacos.pxd
Due: clang-format, autopep8

utils: quaternion: use Utils::Array as Quaternion data type.
  src/utils/include/utils/quaternion.hpp
  src/utils/tests/quaternion_test.cpp
Due: clang-format

python: Fix bug in getter
  src/python/espressomd/scafacos.pyx
Due: autopep8
