Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in'
        args: ["--ignore=E266,W291,W293", "--in-place", "--aggressive"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

VTK fixture
  testsuite/python/lb_vtk.py
Due: autopep8

test: electrophoresis sampel increase tolerance
  testsuite/scripts/samples/test_electrophoresis.py
Due: autopep8

core: Factored out and documented openmpi quirk
  src/core/communication.cpp
Due: clang-format

testsuite: do not randomize seeds by default in sample tests.
  testsuite/scripts/importlib_wrapper.py
Due: autopep8

core/pythonn: Directly expose communication init, give cython shared ownership of mpi
  src/core/communication.cpp
  src/core/communication.hpp
  src/python/espressomd/_init.pyx
  src/python/espressomd/boost.pxd
  src/python/espressomd/communication.pxd
Due: clang-format, autopep8

Formatting
  src/python/espressomd/boost.pxd
  src/python/espressomd/communication.pxd
Due: autopep8

core: Removed redundant static
  src/core/communication.cpp
Due: clang-format

testsuite: make electrophoresis sample test deterministic.
  samples/electrophoresis.py
  testsuite/scripts/samples/test_electrophoresis.py
Due: autopep8

script_interface: Removerd checkpointing
  src/script_interface/ScriptInterface.hpp
  src/script_interface/ScriptInterfaceBase.cpp
  src/script_interface/ScriptInterfaceBase.hpp
  src/script_interface/Serializer.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
Due: clang-format

script_interface: cleanup
  src/script_interface/ParallelScriptInterface.hpp
Due: clang-format

script_interface: Removed redundant ParallelScriptInterface::get_parameters
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
Due: clang-format

script_interface: Don't swallow exceptions for object creation
  src/python/espressomd/script_interface.pyx
Due: autopep8

script_interface: Removed unused id stuff
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/utils/include/utils/AutoObjectId.hpp
Due: clang-format, autopep8

script_interface: ScriptInterfaceBase -> ObjectHandle
  src/core/unit_tests/ParallelScriptInterface_test.cpp
  src/core/unit_tests/ScriptInterface_test.cpp
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/CMakeLists.txt
  src/script_interface/ComFixed.hpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/ParallelScriptInterfaceSlave.hpp
  src/script_interface/ScriptInterface.dox
  src/script_interface/ScriptInterface.hpp
  src/script_interface/ScriptObjectRegistry.hpp
  src/script_interface/Variant.hpp
  src/script_interface/auto_parameters/AutoParameters.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/get_value.hpp
  src/script_interface/observables/Observable.hpp
Due: clang-format, autopep8, cmake-format

Formatting
  src/core/unit_tests/ParallelScriptInterface_test.cpp
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/RemoteObjectHandle.hpp
  src/script_interface/ScriptInterface.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
Due: clang-format

script_interface: Reintroduce interanl state serialization
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/PackedVariant.hpp
  src/script_interface/Variant.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/constraints/couplings.hpp
  src/utils/tests/pack_test.cpp
Due: clang-format

script_interface: Split of PackedVariant
  src/script_interface/ObjectHandle.cpp
  src/script_interface/PackedVariant.hpp
  src/script_interface/Serializer.hpp
  src/script_interface/pack.hpp
Due: clang-format

script_interface: Removed code returning object ids
  src/script_interface/ScriptObjectRegistry.hpp
  src/script_interface/auto_parameters/AutoParameter.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/virtual_sites/ActiveVirtualSitesHandle.hpp
Due: clang-format

script_interface: boost::get -> get_value
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterfaceSlave.hpp
  src/script_interface/ScriptInterface.dox
  src/script_interface/ScriptInterface.hpp
  src/script_interface/ScriptInterfaceBase.cpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/auto_parameters/AutoParameter.hpp
  src/script_interface/cluster_analysis/Cluster.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/pack.hpp
  src/script_interface/pair_criteria/pair_criteria.hpp
  src/utils/include/utils/Factory.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
Due: clang-format

Formatting
  src/script_interface/ObjectHandle.cpp
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/lbboundaries/LBBoundaries.hpp
Due: clang-format

script_interface: Slightly better names
  src/script_interface/ObjectHandle.cpp
Due: clang-format

Formatting
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ScriptObjectRegistry.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/cluster_analysis/Cluster.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/constraints/ExternalField.hpp
  src/script_interface/constraints/ExternalPotential.hpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/mpiio/si_mpiio.hpp
  src/script_interface/observables/Observable.hpp
  src/script_interface/pair_criteria/pair_criteria.hpp
  src/script_interface/shapes/Shape.hpp
Due: clang-format

script_interface: Removed unused function
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
Due: clang-format

script_interface: ObjectHandle::call_method -> ObjectHandle::do_call_method
  src/core/unit_tests/ParallelScriptInterface_test.cpp
  src/core/unit_tests/ScriptInterface_test.cpp
  src/python/espressomd/script_interface.pxd
  src/script_interface/ObjectHandle.hpp
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
  src/script_interface/RemoteObjectHandle.hpp
  src/script_interface/ScriptInterface.dox
  src/script_interface/ScriptObjectRegistry.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/cluster_analysis/Cluster.hpp
  src/script_interface/cluster_analysis/ClusterStructure.hpp
  src/script_interface/collision_detection/CollisionDetection.hpp
  src/script_interface/constraints/ExternalField.hpp
  src/script_interface/constraints/ExternalPotential.hpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/h5md/h5md.cpp
  src/script_interface/h5md/h5md.hpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/mpiio/si_mpiio.hpp
  src/script_interface/observables/CylindricalLBProfileObservable.hpp
  src/script_interface/observables/CylindricalPidProfileObservable.hpp
  src/script_interface/observables/LBProfileObservable.hpp
  src/script_interface/observables/Observable.hpp
  src/script_interface/observables/PidProfileObservable.hpp
  src/script_interface/pair_criteria/pair_criteria.hpp
  src/script_interface/shapes/Shape.hpp
  src/script_interface/shapes/Union.hpp
Due: clang-format, autopep8

script_interface: cleanup
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/ParallelScriptInterface.hpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/PackedVariant.hpp
  src/script_interface/Serializer.hpp
Due: clang-format

script_interface: const&
  src/script_interface/ObjectList.hpp
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/lbboundaries/LBBoundaries.hpp
Due: clang-format

utils: Avoid some heap allocations in Factory
  src/utils/include/utils/Factory.hpp
Due: clang-format

script_interface: Pack state into string
  src/script_interface/ScriptInterfaceBase.cpp
Due: clang-format

script_interface: Factored out packing functions
  src/core/unit_tests/Variant_test.cpp
  src/script_interface/Variant.hpp
  src/script_interface/constraints/couplings.hpp
  src/script_interface/pack.hpp
Due: clang-format

script_interface: Hide implementation of ObjectHandle::construct
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
Due: clang-format

script_interface: Reorder communication during obejct creation
  src/script_interface/ParallelScriptInterface.cpp
  src/script_interface/RemoteObjectHandle.hpp
Due: clang-format

script_interface: Keep alive all parameters
  src/script_interface/ObjectHandle.hpp
Due: clang-format

script_interface: Handle exceptions on the head node
  src/script_interface/ObjectHandle.cpp
Due: clang-format

utils: Removed unused method from Factory
  src/utils/include/utils/Factory.hpp
  src/utils/include/utils/type_id.hpp
  src/utils/tests/Factory_test.cpp
Due: clang-format

script_interface: Removed AutoObjectId stuff
  src/python/espressomd/script_interface.pxd
  src/python/espressomd/script_interface.pyx
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/Variant.hpp
  src/utils/include/utils/AutoObjectId.hpp
Due: clang-format, autopep8

script_interface: Fixed python object creation
  src/python/espressomd/script_interface.pyx
Due: autopep8

script_interface: Customization point for destructor, fixed mpi deadlock in h5md
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/h5md/h5md.hpp
Due: clang-format

script_interface: Cleanup
  src/script_interface/ObjectHandle.cpp
  src/script_interface/ObjectHandle.hpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/initialize.cpp
  src/script_interface/lbboundaries/LBBoundary.hpp
  src/script_interface/virtual_sites/ActiveVirtualSitesHandle.hpp
  src/utils/include/utils/AutoObjectId.hpp
Due: clang-format
