Repository espressomd/espresso: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, autopep8, cmake-format, pylint

.pre-commit-config.yaml:

fail_fast: false
exclude: 'libs'
repos:
-   repo: local
    hooks:
    -   id: clang-format
        name: clang-format
        entry: sh maintainer/format/clang-format.sh
        language: system
        always_run: false
        files: '.*\.(cpp|hpp|h|cu|cuh)'
        exclude: '^libs/|^src/walberla_bridge/src/.*/generated_kernels/.*\.(cpp|cu)|^maintainer/walberla_kernels/templates/.*\.tmpl\.(cpp|hpp|h|cu|cuh)'
        args: ["-i", "-style=file"]

    -   id: autopep8
        name: autopep8
        entry: sh maintainer/format/autopep8.sh
        language: system
        always_run: false
        files: '.*\.(py|pyx|pxd)'
        exclude: '\.pylintrc|.*.\.py\.in|^libs/'
        args: ["--ignore=E266,E402,E701,W291,W293", "--in-place"]

    -   id: cmake-format
        name: cmake-format
        entry: sh maintainer/format/cmake-format.sh
        language: system
        always_run: false
        files: 'CMakeLists.txt'
        exclude: '^libs/h5xx/|^libs/Random123-1\.09/'
        args: ["-i"]

    -   id: ex-flags
        name: executable flags
        entry: sh maintainer/format/ex_flag.sh
        language: system
        always_run: false
        exclude: '.*\.(sh|py|sh\.in|cmakein)|.git'
        types: [file, executable]

    -   id: pylint
        name: pylint
        entry: sh maintainer/lint/pylint.sh
        language: system
        always_run: false
        files: '.*\.py'
        args: ["--score=no", "--reports=no", "--output-format=text"]
        log_file: pylint.log

LB+LE: fix halo position calculation
  src/core/lb/particle_coupling.cpp
Due: clang-format

Encapsulate auto-update accumulators
  src/core/CMakeLists.txt
  src/core/accumulators.cpp
  src/core/accumulators.hpp
  src/core/accumulators/AccumulatorBase.hpp
  src/core/accumulators/AutoUpdateAccumulators.cpp
  src/core/accumulators/AutoUpdateAccumulators.hpp
  src/core/accumulators/CMakeLists.txt
  src/core/accumulators/Correlator.cpp
  src/core/accumulators/Correlator.hpp
  src/core/accumulators/MeanVarianceCalculator.cpp
  src/core/accumulators/MeanVarianceCalculator.hpp
  src/core/accumulators/TimeSeries.cpp
  src/core/accumulators/TimeSeries.hpp
  src/core/integrate.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/python/espressomd/accumulators.py
  src/python/espressomd/system.py
  src/script_interface/ObjectList.hpp
  src/script_interface/accumulators/AccumulatorBase.hpp
  src/script_interface/accumulators/AutoUpdateAccumulators.hpp
  src/script_interface/accumulators/Correlator.hpp
  src/script_interface/accumulators/MeanVarianceCalculator.hpp
  src/script_interface/accumulators/TimeSeries.hpp
  src/script_interface/system/System.cpp
  src/script_interface/system/System.hpp
  src/script_interface/tests/ObjectList_test.cpp
  testsuite/python/accumulator_correlator.py
  testsuite/python/accumulator_mean_variance.py
  testsuite/python/accumulator_time_series.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format, pylint

Encapsulate constraints
  src/core/CMakeLists.txt
  src/core/constraints.cpp
  src/core/constraints.hpp
  src/core/constraints/CMakeLists.txt
  src/core/constraints/Constraint.hpp
  src/core/constraints/Constraints.cpp
  src/core/constraints/Constraints.hpp
  src/core/constraints/ExternalField.hpp
  src/core/constraints/ExternalPotential.hpp
  src/core/constraints/HomogeneousMagneticField.hpp
  src/core/constraints/ShapeBasedConstraint.cpp
  src/core/constraints/ShapeBasedConstraint.hpp
  src/core/energy.cpp
  src/core/forces.cpp
  src/core/polymer.cpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/python/espressomd/constraints.py
  src/python/espressomd/system.py
  src/script_interface/constraints/Constraint.hpp
  src/script_interface/constraints/Constraints.hpp
  src/script_interface/constraints/ShapeBasedConstraint.hpp
  src/script_interface/system/System.cpp
  testsuite/python/constraint_shape_based.py
  testsuite/python/script_interface.py
Due: clang-format, autopep8, cmake-format, pylint

Encapsulate MMM1D polygamma functions
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/mmm-common.hpp
  src/core/electrostatics/mmm-modpsi.cpp
  src/core/electrostatics/mmm-modpsi.hpp
  src/core/electrostatics/mmm1d.cpp
  src/core/electrostatics/mmm1d.hpp
  src/core/electrostatics/specfunc.hpp
Due: clang-format

Encapsulate non-bonded interactions
  src/core/nonbonded_interactions/nonbonded_interaction_data.cpp
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/core/system/System.cpp
  src/python/espressomd/interactions.py
  src/python/espressomd/system.py
  src/script_interface/ObjectHandle.hpp
  src/script_interface/interactions/NonBondedInteraction.hpp
  src/script_interface/interactions/NonBondedInteractions.hpp
  src/script_interface/system/System.cpp
  testsuite/python/interactions_non-bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, pylint

Encapsulate Mpiio
  doc/sphinx/io.rst
  src/core/io/mpiio/mpiio.cpp
  src/core/io/mpiio/mpiio.hpp
  src/python/espressomd/io/mpiio.py
  src/script_interface/mpiio/mpiio.hpp
  testsuite/python/mpiio.py
  testsuite/python/mpiio_exceptions.py
Due: clang-format, autopep8, pylint

Encapsulate IBM
  src/core/CMakeLists.txt
  src/core/bonded_interactions/bonded_interaction_data.cpp
  src/core/forces.cpp
  src/core/immersed_boundaries.cpp
  src/core/immersed_boundaries.hpp
  src/core/immersed_boundary/CMakeLists.txt
  src/core/immersed_boundary/ImmersedBoundaries.cpp
  src/core/immersed_boundary/ImmersedBoundaries.hpp
  src/core/immersed_boundary/ibm_common.cpp
  src/core/immersed_boundary/ibm_common.hpp
  src/core/immersed_boundary/ibm_tribend.cpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/immersed_boundary/ibm_triel.cpp
  src/core/immersed_boundary/ibm_triel.hpp
  src/core/immersed_boundary/ibm_volcons.cpp
  src/core/immersed_boundary/ibm_volcons.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/python/espressomd/interactions.py
  src/script_interface/interactions/BondedInteraction.hpp
  src/script_interface/interactions/BondedInteractions.hpp
  testsuite/python/ibm.py
  testsuite/python/interactions_bonded_interface.py
  testsuite/python/save_checkpoint.py
  testsuite/python/test_checkpoint.py
Due: clang-format, autopep8, cmake-format, pylint

Encapsulate OIF
  src/core/forces.cpp
  src/core/object-in-fluid/oif_global_forces.cpp
  src/core/object-in-fluid/oif_global_forces.hpp
  src/core/system/System.cpp
  src/core/system/System.hpp
  src/core/system/System.impl.hpp
  src/script_interface/system/System.cpp
Due: clang-format

Remove unused bond serialization mechanism
  src/core/bonded_interactions/angle_cosine.hpp
  src/core/bonded_interactions/angle_cossquare.hpp
  src/core/bonded_interactions/angle_harmonic.hpp
  src/core/bonded_interactions/bonded_coulomb.hpp
  src/core/bonded_interactions/bonded_coulomb_sr.hpp
  src/core/bonded_interactions/bonded_interaction_data.hpp
  src/core/bonded_interactions/bonded_interactions.dox
  src/core/bonded_interactions/bonded_tab.hpp
  src/core/bonded_interactions/dihedral.hpp
  src/core/bonded_interactions/fene.hpp
  src/core/bonded_interactions/harmonic.hpp
  src/core/bonded_interactions/quartic.hpp
  src/core/bonded_interactions/rigid_bond.hpp
  src/core/bonded_interactions/thermalized_bond.hpp
  src/core/immersed_boundary/ibm_tribend.hpp
  src/core/immersed_boundary/ibm_triel.hpp
  src/core/immersed_boundary/ibm_volcons.hpp
  src/core/object-in-fluid/oif_global_forces_params.hpp
  src/core/object-in-fluid/oif_local_forces.hpp
Due: clang-format

Fix testsuite regressions
  testsuite/python/ibm.py
  testsuite/python/lb_lees_edwards_particle_coupling.py
Due: autopep8, pylint

Regular decomposition with fully connected boundaries
  src/core/cell_system/CellStructure.cpp
  src/core/cell_system/CellStructure.hpp
  src/core/cell_system/HybridDecomposition.cpp
  src/core/cell_system/RegularDecomposition.cpp
  src/core/cell_system/RegularDecomposition.hpp
  src/core/system/System.cpp
  src/python/espressomd/cell_system.py
  src/script_interface/cell_system/CellSystem.cpp
  testsuite/python/lees_edwards.py
  testsuite/python/regular_decomposition.py
Due: clang-format, autopep8, pylint

Allow part of cluster analysis with Lees Edwards
  src/core/cluster_analysis/ClusterStructure.cpp
Due: clang-format

Fix regressions
  src/core/nonbonded_interactions/nonbonded_interaction_data.hpp
  src/python/espressomd/CMakeLists.txt
Due: clang-format, cmake-format

Split FFT functions
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/data_struct.hpp
Due: clang-format

Split FFT operations from halo communication
  src/core/electrostatics/p3m.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/data_struct.hpp
Due: clang-format

add metatensor to cmake
  CMakeLists.txt
  cmake/espresso_cmake_config.cmakein
  src/config/features.def
Due: cmake-format

np.mat error using pyMBE
  src/python/espressomd/visualization.py
Due: autopep8, pylint

Add ZnDraw connector
  doc/bibliography.bib
  doc/sphinx/conf.py.in
  doc/sphinx/installation.rst
  doc/sphinx/visualization.rst
  maintainer/CI/doc_warnings.sh
  src/python/espressomd/zn.py
Due: autopep8, pylint

system
  src/core/ml_metatensor/system.hpp
Due: clang-format

neighbor list
  src/core/ml_metatensor/CMakeLists.txt
  src/core/ml_metatensor/add_neighbor_list.hpp
Due: clang-format, cmake-format

load model
  src/core/ml_metatensor/load_model.hpp
Due: clang-format

add metatensor lj test
  lennard-jones.pt
Due: none

update
  src/core/ml_metatensor/compute.hpp
  src/core/ml_metatensor/load_model.hpp
Due: clang-format

metatensor dependencies cmake
  src/core/ml_metatensor/stub.cpp
  src/core/ml_metatensor/stub.hpp
Due: clang-format

s
  CMakeLists.txt
  src/core/CMakeLists.txt
  src/core/ml_metatensor/CMakeLists.txt
  src/core/ml_metatensor/load_model.hpp
  src/core/ml_metatensor/stub.cpp
Due: clang-format, cmake-format

Formatting
  src/script_interface/lees_edwards/OscillatoryShear.hpp
Due: clang-format

doc
  src/python/espressomd/lees_edwards.py
Due: autopep8, pylint

cluster analysis+Lees Edwares: adapt test
  testsuite/python/cluster_analysis.py
Due: autopep8, pylint

MLIP Tutorial
  doc/tutorials/mlip/mlip.ipynb
Due: none

linting
  doc/tutorials/mlip/mlip.ipynb
Due: none

core: Extract P3M packing function and add test
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/p3m/packing.hpp
  src/core/p3m/send_mesh.cpp
  src/core/unit_tests/fft_test.cpp
Due: clang-format

core: Remove dipolar flag from FFT backend
  src/core/electrostatics/coulomb.cpp
  src/core/electrostatics/elc.cpp
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/magnetostatics/dipoles.cpp
  src/core/magnetostatics/dlc.cpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/common.hpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format

core: Split FFT backend from FFT buffers
  src/core/electrostatics/p3m.cpp
  src/core/electrostatics/p3m.hpp
  src/core/electrostatics/p3m.impl.hpp
  src/core/fft/fft.cpp
  src/core/fft/fft.hpp
  src/core/magnetostatics/dp3m.cpp
  src/core/magnetostatics/dp3m.hpp
  src/core/magnetostatics/dp3m.impl.hpp
  src/core/p3m/CMakeLists.txt
  src/core/p3m/FFTBackendLegacy.cpp
  src/core/p3m/FFTBackendLegacy.hpp
  src/core/p3m/FFTBuffersLegacy.cpp
  src/core/p3m/FFTBuffersLegacy.hpp
  src/core/p3m/data_struct.hpp
  src/core/unit_tests/EspressoSystemStandAlone_test.cpp
  src/script_interface/electrostatics/CoulombP3M.hpp
  src/script_interface/magnetostatics/DipolarP3M.hpp
Due: clang-format, cmake-format

Fix EKSpecies setters
  maintainer/walberla_kernels/generate_ek_kernels.py
  src/script_interface/walberla/EKSpecies.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/EKinWalberlaBase.hpp
  src/walberla_bridge/include/walberla_bridge/electrokinetics/ek_walberla_init.hpp
  src/walberla_bridge/src/electrokinetics/EKinWalberlaImpl.hpp
  src/walberla_bridge/src/electrokinetics/ek_walberla_init.cpp
  testsuite/python/ek_interface.py
Due: clang-format, autopep8, pylint

remove ipsuite dependency
  doc/tutorials/mlip/mlip.ipynb
Due: none

add notes for tutor file
  doc/tutorials/mlip/NotesForTutor.md
Due: none

add more resources
  doc/tutorials/mlip/mlip.ipynb
Due: none
